<div id="featured-product">
    <div class="click" id="featured_img"
        data-title="{{ data.product.name }}"
        data-desc="{{ data.description }}"
        data-price="{{ data.product.price }}"
        data-img="{{ data.get_image.get_url }}|{% for url in data.product.media.all %}{{ url.get_url|striptags }}|{% endfor %}"
        data-url="{{ data.product.original_url }}"
        >
        <img src="{{ data.get_image.get_url }}">
    </div>
    <div class="text">
        {% autoescape off %}
        <h3>{{ data.product.name }}</h3>
        <h4 id="featured_price">{{ data.product.price }}</h4>
        <p id="featured_desc">{{ data.description }}</p>
        {% endautoescape %}
    </div>
    <div id="featured-social">
        <div class="pinterest_buttons"></div>
        <div class="fb_buttons"></div>
        <div class="twitter_buttons"></div>
    </div>
</div>
<div id="divider"></div>
