{% with media=data.media.all %}
{% with firstMedia=media|first %}
{% with firstImage=firstMedia.get_url %}

<div id="featured-product">
    <div class="click" id="featured_img"
        data-title="{{ data.name|striptags }}"
        data-desc="{{data.description}}"
        data-price="{{ data.price|striptags }}"
        data-img="{% for url in media %}{{ url.get_url|striptags }}|{% endfor %}"
        data-url="{{ data.original_url|striptags }}"
        >
        <img src="{{ firstImage }}">
    </div>
    <div class="text">
        {% autoescape off %}
        <h3>{{ data.name|striptags }}</h3>
        <h4 id="featured_price">{{ data.price|striptags }}</h4>
        <p id="featured_desc">{{ data.description }}</p>
        {% endautoescape %}
    </div>
    <div id="featured-social">
        <div class="pinterest_buttons"></div>
        <div class="fb_buttons"></div>
        <div class="twitter_buttons"></div>
    </div>
</div>
<div id="divider"></div>

{% endwith %}
{% endwith %}
{% endwith %}
