{% extends "pinpoint/admin_base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block page_title %}
    {{ block.super }}: {{ store }}
{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static "css/jquery.dataTables.css" %}">
    <link rel="stylesheet" href="{% static "js/DataTables/css/demo_page.css" %}">
    <link rel="stylesheet" href="{% static "js/DataTables/css/demo_table.css" %}">

    <style>
        .online {
            color :#13b240;
        }
        .offline {
            color: #b23739;
        }

        table a, table a:visited {
            color: #4398aa;
        }

        th {
            text-align: center;
        }

        #new_page_button {
            position: absolute;
            z-index: 9001;
        }

        #pageList_wrapper {
            padding-top: 20px;
        }

        #pageList .toggle-status-button {
            vertical-align: none;
            height: 25px;
        }
    </style>
{% endblock %}

{% block extra_js_includes %}
    <script src="{% static "js/jquery.dataTables.min.js" %}"></script>
{% endblock %}

{% block document_ready %}
    var dataRowOptions = { sWidth: '5px', bSortable: false },
        pageListTable = $("#pageList").dataTable({
            "bScrollInfinite": true,
            "bScrollCollapse": true,
            "sScrollY": "400px",
            "bPaginate": false,
            "fnDrawCallback": function() {
                $("#pageList tr.even").removeClass('even').addClass('odd');
            },
            "bAutoWidth": false,
            "aoColumns" : [
                null,
                null,
                null,
                dataRowOptions,
                dataRowOptions,
                null,
                dataRowOptions
            ],
            "aaSorting": [[5, "desc"]]
        });

    var ajax_urls = {
        "save_as_draft": "{% url ajax-campaign-save-draft %}",
        "publish": "{% url ajax-campaign-publish %}"
    };

    $("button[data-type='ajax']").click(function (e) {
        e.preventDefault();

        $.ajax({
            url: ajax_urls[$(this).data("action")],
            type: "POST",
            dataType: 'json',
            data: {'campaign_id': $(this).data("content")},
            success: function(data) {
                if (data.success) {
                    window.location.href = "{% url store-admin store.id %}";
                }
            }
        });
    });

    $("#pageList_filter input").unbind("keyup").keyup(function() {
        pageListTable.fnFilter( this.value, 0 );
    })
{% endblock %}

{% block top_section %}
    <div class="grid_3 prefix_9">
        <ul>
            <li class="selected">Pages</li>
            <li>Analytics</li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <a id="new_page_button" class="button" href="{% url new-campaign-admin store.id %}">New Page</a>
    <table id="pageList" cellpadding="0" cellspacing="0" border="0" class="display" >
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Date Modified</th>
                <th></th>
                <th></th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for campaign in store.campaign_set.all %}
            <tr>
                <td><div><a href="{% url campaign-overview-admin campaign.store.id campaign.id %}">{{ campaign.name }}</a></div></td>
                <td><div>{{ campaign.description|truncatewords:10 }}</div></td>
                <td><div>{{ campaign.last_modified|naturalday }}</div></td>
                <td><div><a href="{% url analytics-campaign-admin campaign.id %}">Analytics</a></div></td>
                <td><div><a href="{% url campaign campaign.id %}" target="_blank">View Page</a></div></td>

                <td>
                    <div class="{% if campaign.enabled %}online{% else %}offline{% endif %}">
                    {% if campaign.enabled %}Online{% else %}Offline{% endif %}
                    </div>
                </td>
                {% if campaign.enabled %}
                    <td><div><button class="toggle-status-button" data-type="ajax" data-action="save_as_draft" data-content="{{ campaign.id }}">Take Offline</button></div></td>
                {% else %}
                    <td><div><button class="toggle-status-button" data-type="ajax" data-action="publish" data-content="{{ campaign.id }}">Publish</button></div></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
