{% extends "pinpoint/admin_base.html" %}
{% load staticfiles %}

{% block page_title %}
    {{ block.super }}: {{ store }}
{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static "pinpoint/css/jquery.dataTables.css" %}">
    <link rel="stylesheet" href="{% static "pinpoint/css/demo_table_jui.css" %}">

{% endblock %}

{% block extra_js_includes %}
    <script src="{% static "pinpoint/js/jquery.dataTables.min.js" %}"></script>
{% endblock %}

{% block document_ready %}
    var dataRowOptions = { sWidth: '5px', bSortable: false },
        pageListTable = $("#pageList").dataTable({
            "bScrollInfinite": true,
            "bScrollCollapse": true,
            "sScrollY": "400px",
            "bPaginate": false,
            "fnDrawCallback": function() {
                $("#pageList tr.even").removeClass('even').addClass('odd');
            },
            "bAutoWidth": false,
            "aoColumns" : [
                null,
                null,
                null,
                dataRowOptions,
                dataRowOptions,
                dataRowOptions,
                dataRowOptions
            ]
        });
{% endblock %}

{% block top_section %}
    <nav class="grid_3 prefix_9">
        <ul>
            <li class="selected">Pages</li>
            <li>Analytics</li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <a href="{% url new-campaign-admin store.id %}">New Page</a>
    <table id="pageList" cellpadding="0" cellspacing="0" border="0" class="display" >
        <thead>
            <tr>
                <th>Name</th>
                <th>Buys and Shares</th>
                <th>Date Modified</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for campaign in store.campaign_set.all %}
            <tr>
                <td><div>{{ campaign.name }}</div></td>
                <td><div>0 buys, 0 shares</div></td>
                <td><div>{{ campaign.last_modified }}</div></td>
                <td><div><a href="{% url campaign campaign.id %}" target="_blank">Link</a></div></td>
                <td><div><a href="{% url analytics-campaign-admin campaign.id %}">Analytics</a></div></td>
                <td><div><button class="edit">Edit</button></div></td>
                <td><div><button class="deletePage">Hide</button></div></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}