<!DOCTYPE html>
{% load staticfiles %}
{% load compress %}
{% load cache %}
<html>
    <head>
        {% cache 99999999999 css request.get_full_path %}
        {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static "pinpoint/css/pinpointAdmin.scss" %}">
        <link rel="stylesheet" href="{% static "css/960.css" %}">
        <link rel="stylesheet" href="{% static "css/reset.css" %}">
        <link rel="stylesheet" href="{% static "css/text.css" %}">
        <title>{% block title %}Second Funnel{% endblock %}</title>
        <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" />

        {% block extra_head %}{% endblock %}
        <style>
            /* this needs to be here to use the static template tag */
            ul.messages li {
                background-image: url('{% static "pinpoint/images/stop32.png" %}');
            }
        </style>
        {% endcompress %}
        {% endcache %}
    </head>

    <body>

        <div class="banner">
            <div class="bannerBody">
                <h1>
                    <img id="second_funnel_logo" src="{% static "images/logo.png" %}"
                         alt="Second Funnel Logo">
                </h1>
                <div class="bannerRight">
                    <ul>
                        {% if user.is_authenticated %}
                        <li><a href="{% url login-redirect %}">Dashboard</a></li>
                        <li><a href="{% url password_change %}">Change Password</a></li>
                        <li><a href="{% url logout %}">Logout</a></li>
                        {% else %}
                        <li><a href="{% url login %}">Login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="container_12">
            {% if messages %}
                <ul class="messages grid_12">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <div class="grid_12 top_section">
                {% block top_section %}{% endblock %}
            </div>

            <div class="grid_12 content">
                <div class="top_bar">
                    <div class="page_title">
                        {% block page_title %}{% endblock %}
                    </div>
                </div>

                <div class="inner_content">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>

        {% cache 99999999999 js request.get_full_path %}
        {% compress js %}
        <script src="{% static "js/jquery-1.8.1.min.js" %}"></script>
        <script src="{% static "js/jquery.cookie.js" %}"></script>
        <script>
            {% if store.id %}
            $("#cancel_to_admin").click(function(){
                var cancel = confirm("Are you sure you want to cancel your " +
                        "changes?");
                if (cancel) {
                    window.location.href = "{% url store-admin store.id %}";
                }
            });
            {% endif %}
        </script>
        {% block extra_js_includes %}{% endblock %}

        <script type="text/javascript">
            $(function() {
                $(document).ajaxSend(function(event, xhr, settings) {
                    function sameOrigin(url) {
                        // url could be relative or scheme relative or absolute
                        var host = document.location.host; // host + port
                        var protocol = document.location.protocol;
                        var sr_origin = '//' + host;
                        var origin = protocol + sr_origin;
                        // Allow absolute or scheme relative URLs to same origin
                        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                            // or any other URL that isn't scheme relative or absolute i.e relative.
                            !(/^(\/\/|http:|https:).*/.test(url));
                    }
                    function safeMethod(method) {
                        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                    }

                    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
                        xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
                    }
                });

                {% block document_ready %}{% endblock %}
            });
        </script>
        {% endcompress %}
        {% endcache %}
    </body>
</html>
