{% extends "pinpoint/admin_base.html" %}
{% load staticfiles %}
{% load analytics_ui %}

{% block title %}
    Analytics
{% endblock %}

{% block page_title %}
    Analytics
{% endblock %}

{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "analytics/css/analytics_style.css" %}">
    <link rel="stylesheet" href="{% static "css/jquery-ui.css" %}">

    <style>
        .top_analytics_menu {
            background-color: #fff;
            padding: 20px 0 0 20px;
            margin: 0;
            height: 50px;
            width: 920px;

            box-shadow: 0px 0px 5px #888;
        }

        .page_selector {
            display: inline;
        }

        .page_selector, .page_selector select {
            font-size: 18px;
        }

        .range_selector {
            display: inline;
            margin-left: 20px;
        }

        .range_selector input {
            font-size: 12px;
            padding: 3px;
            width: 80px;
        }

        .range_pair {
            margin-left: 15px;
        }

        .section_content {
            margin-left: 0;
        }

        .section_overview {
            border-right: 1px solid #d6d6d6;
            border-bottom: 1px solid #d6d6d6;
            margin-left: 0;
        }

        .section_overview_block {
            padding: 10px;
            border-top: 1px solid #d6d6d6;
        }

        .section_overview_block.selected, .section_overview_block:hover {
            background-color: #fff;
            cursor: pointer;
        }

        .section_overview_title {
            font-size: 18px;
        }

        .section_overview_metrics {
            font-size: 14px;
        }

        .section_data {
            padding-top: 10px;
        }

        .data_title {
            font-size: 24px;
        }
    </style>
{% endblock %}

{% block extra_js_includes %}
    <script src="{% static "js/jquery-ui.js" %}"></script>
{% endblock %}

{% block top_section %}
    <nav class="grid_3 prefix_9">
        <ul>
            {% if store %}
                <li><a href="{% url store-admin store.id %}">Pages</a></li>
                <li class="selected"><a href="{% url analytics-store-admin store.id %}">Analytics</a></li>
            {% else %}
                <li><a href="{% url store-admin campaign.store.id %}">Pages</a></li>
                <li class="selected"><a href="#">Analytics</a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}

{% block document_ready %}
    {% if store %}
        var store_id = '{{ store.id }}';
    {% else %}
        var store_id = '{{ campaign.store.id }}';
    {% endif %}

    $("#campaign_list li").live("click", function() {
        $("#analytics_title").html($(this).html());

        if ($(this).attr("id") == "overview") {
            loadAnalyticsData({
                store_id: store_id
            });
        } else {
            loadAnalyticsData({
                campaign_id: $(this).attr("id")
            });
        }

        $("#campaign_list li").removeClass("selectedPage");
        $(this).addClass("selectedPage");
    });

    google.setOnLoadCallback(function () {
        {% if store %}
            loadAnalyticsData({
                store_id: store_id
            });
        {% else %}
            loadAnalyticsData({
                campaign_id: '{{ campaign.id }}'
            });
        {% endif %}
        $("#analytics_title").html($(".selectedPage").html());
    });

    $( "#start_range" ).datepicker({
        defaultDate: "+1w",
        changeMonth: true,
        numberOfMonths: 3,
        onClose: function( selectedDate ) {
            $( "#end_range" ).datepicker( "option", "minDate", selectedDate );
        }
    });
    $( "#start_range" ).datepicker("setDate", "-2w");

    $( "#end_range" ).datepicker({
        defaultDate: "+1w",
        changeMonth: true,
        numberOfMonths: 3,
        onClose: function( selectedDate ) {
            $( "#start_range" ).datepicker( "option", "maxDate", selectedDate );
        }
    });
    $( "#end_range" ).datepicker("setDate", new Date());
{% endblock %}

{% block content %}
    <div class="top_analytics_menu">
        <div class="page_selector">
            <label for="campaign_list">Page:</label>
            <select id="campaign_list" name="campaign_list">
                <option value="overview" {% if is_overview %}selected{% endif %}>Overview</option>
                {% for c in store.campaign_set.all %}
                    <option value="{{ c.id }}" {% if c.id == campaign.id %}selected{% endif %}>{{ c.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="range_selector">
            <span class="range_pair">
                <label for="start_range">Start:</label>
                <input type="text" id="start_range" name="start_range">
            </span>

            <span class="range_pair">
                <label for="end_range">End:</label>
                <input type="text" id="end_range" name="end_range">
            </span>
        </div>
    </div>

    <div class="grid_12 section_content">
        <div class="grid_3 section_overview">
            <div class="section_overview_block selected">
                <div class="section_overview_title">
                    Overview
                </div>
            </div>
            {% for category in categories %}
                <div class="section_overview_block" id="{{ category.id }}">
                    <div class="section_overview_title">
                        {{ category.name }}
                    </div>

                    <div class="section_overview_metrics">
                        <ul>
                        {% for metric in category.enabled_metrics.all %}
                            <li>{{ metric.name }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="grid_8 section_data">
            <div class="data_title">
                Overview
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        function set_percentage(id, perc) {
            $("#" + id).html(perc.toFixed(2) + "%");
        }

        function loadAnalyticsData(o) {
            $.getJSON(
                "{% url ajax-analytics-pinpoint %}",
                {
                    store_id: o.store_id,
                    campaign_id: o.campaign_id
                },

                function(analytics_data) {
                    var dataset = [['Year', 'Visits', 'Interactions']],
                    i, google_data, google_options, chart, social_shares_count;

                    $("#visitors_count").html(analytics_data.visits);
                    $("#interaction_count").html(analytics_data.interactions.total);

                    social_shares_count = analytics_data.interactions.shares.featured + analytics_data.interactions.shares.popup;
                    $("#social_shares_count").html(social_shares_count);
                    $("#shared_featured_count").html(analytics_data.interactions.shares.featured);
                    $("#shared_popup_count").html(analytics_data.interactions.shares.popup);
                    $("#open_popup_count").html(analytics_data.interactions.open_popup);
                    $("#clickthrough_count").html(analytics_data.interactions.clickthrough);

                    set_percentage("visitors_to_interaction", analytics_data.interactions.total / analytics_data.visits * 100);
                    set_percentage("social_shares_perc", social_shares_count / analytics_data.interactions.total * 100);
                    set_percentage("shared_featured_perc", analytics_data.interactions.shares.featured / social_shares_count * 100);
                    set_percentage("shared_popup_perc", analytics_data.interactions.shares.popup / social_shares_count * 100);
                    set_percentage("open_popup_perc", analytics_data.interactions.popup / analytics_data.interactions.total * 100);
                    set_percentage("clickthrough_perc", analytics_data.interactions.clickthrough / analytics_data.interactions.total * 100);

                    for (var i in analytics_data.daily) {
                        dataset.push([analytics_data.daily[i].date, analytics_data.daily[i].visits, analytics_data.daily[i].interactions.total]);
                    }

                    google_data = google.visualization.arrayToDataTable(dataset);

                    google_options = {
                        title: 'Traffic Overview',
                        legend: {'position': 'bottom', 'fontSize': 16},
                        backgroundColor: "#e9e9e9",
                        chartArea: {width: '87%'},
                        colors: ["#8E9E82", "#607890"]
                    };

                    chart = new google.visualization.LineChart(document.getElementById('analytics_chart'));
                    chart.draw(google_data, google_options);
                }
            );
        }

        google.load("visualization", "1", {packages:["corechart"]});
    </script>
{% endblock %}
