{% extends "pinpoint/admin_base.html" %}
{% load staticfiles %}
{% load humanize %}
{% load i18n %}
{% load base62 %}

{% block page_title %}
    {{ store }}
{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static "css/jquery.qtip.min.css" %}">
    <link rel="stylesheet" href="{% static "css/jquery.dataTables.css" %}">
    <link rel="stylesheet" href="{% static "css/jquery.qtip.min.css" %}">
    <link rel="stylesheet" href="{% static "js/DataTables/css/demo_page.css" %}">
    <link rel="stylesheet" href="{% static "js/DataTables/css/demo_table.css" %}">

    <style>
        @font-face {
          font-family: 'Shadows Into Light Two';
          font-style: normal;
          font-weight: 400;
          src: local('Shadows Into Light Two'), local('ShadowsIntoLightTwo-Regular'), url(http://themes.googleusercontent.com/static/fonts/shadowsintolighttwo/v1/gDxHeefcXIo-lOuZFCn2xU9H8fLq5zs1M0-u6-ewBcM.woff) format('woff');
        }
        .online {
            color :#13b240;
        }
        .offline {
            color: #b23739;
        }

        .container_12 .prefix_9, .container_16 .prefix_12 {
            padding-left: 620px;
            width: 310px;
        }

        table a, table a:visited {
            color: #4398aa;
        }

        th {
            text-align: center;
        }

        #new_page_button {
            position: absolute;
            z-index: 9001;
        }

        p {
            margin: 0;
        }

        /* table */
        #pageList {
            visibility: hidden;
        }

        #pageList td {
            white-space: nowrap;
            overflow: hidden;
            margin: 0;
            padding:0;
            border-bottom: 1px solid #ccc;
            text-align: center;
        }

        #pageList td div {
            text-align: center;
            white-space: nowrap;
            height: 23px;
            margin:auto;
            padding: 5px 5px;
        }

        #pageList td div * {
            height: 100%;
            display: inline;
            text-align: center;
            vertical-align: middle;
        }

        #pageList tr.odd {
            background-color: transparent;
        }

        #pageList tr.odd td.sorting_1 {
            background-color: #fff;
        }

        table.display thead th {
            border-bottom: 1px solid #ccc;
        }

        .dataTables_scrollBody {
            height: 400px;
        }

        #pageList_wrapper {
            height: 435px;
            padding: 10px;
        }

        #pageList_wrapper #pageList {
            visibility: visible;
        }

        #pageList_info {
            display: none;
        }

        #pageList_wrapper input {
            padding: 2px;
        }

        #pageList_filter {
            position: relative;
            top: -10px;
        }

        #pageList_wrapper {
            padding-top: 20px;
        }

        /* end table */

        /* Tooltip styles */
        .ui-tooltip.ui-tooltip-willet {
            border-color: transparent; /*#385a71;*/
            background-color: transparent; /* #6f98ac; */
        }

        .ui-tooltip.ui-tooltip-willet .ui-tooltip-content {
            color: #000;
            font-size: 18px;
            font-weight: bold;
            font-family: 'Shadows Into Light Two', cursive;
            overflow: visible;
        }

        .ui-tooltip {
            border-width: 2px;
            border-color: #385A71;
            padding-right: 5px;
        }

        .ui-tooltip, .ui-tooltip .ui-tooltip-titlebar {
            background-color: #6F98AC;
        }

        .ui-tooltip input {
            width: 100%;
        }

        .ui-tooltip-titlebar div, .ui-tooltip-titlebar .keyboard {
            color: #EEE;
            font-size: 13px;
        }

        #pageList td.delete a {
            color: #ae432e;
        }
    </style>
{% endblock %}

{% block extra_js_includes %}
    <script src="{% static "js/jquery-ui.js" %}"></script>
    <script src="{% static "js/jquery.qtip.min.js" %}"></script>
    <script src="{% static "js/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "js/jquery.qtip.min.js" %}"></script>
{% endblock %}

{% block document_ready %}
            jQuery.extend(jQuery.fn.dataTableExt.oSort, {
                "timestamp-numeric-pre": function ( a ) {
                    var x = a.match(/data-timestamp="*(-?[0-9\.]+)/)[1];
                    return parseFloat( x );
                },

                "timestamp-numeric-asc": function ( a, b ) {
                    return ((a < b) ? -1 : ((a > b) ? 1 : 0));
                },

                "timestamp-numeric-desc": function ( a, b ) {
                    return ((a < b) ? 1 : ((a > b) ? -1 : 0));
                }
            });

            var dataRowOptions = { sWidth: '50px', bSortable: false },
                pageListTable = $("#pageList").dataTable({
                    "bScrollInfinite": true,
                    "bScrollCollapse": true,
                    "sScrollY": "400px",
                    "bPaginate": false,
                    "fnDrawCallback": function() {
                        $("#pageList tr.even").removeClass('even').addClass('odd');
                    },
                    "bAutoWidth": false,
                    "aoColumns" : [
                        null,
                        { "sType": "timestamp-numeric"},
                        dataRowOptions,
                        dataRowOptions,
                        dataRowOptions,
                        dataRowOptions,
                        {'sWidth': '25px', 'bSortable': false}
                    ],
                    "aaSorting": [[1, "desc"]],
                    "oLanguage": {
                        "sZeroRecords": "{% trans "No pages match that search." %}",
                        "sEmptyTable": "{% trans "Sorry, you haven't made any pages yet :(" %}"
                    }
                });

            var ajax_urls = {
                "save_as_draft": "{% url ajax-campaign-save-draft %}",
                "publish": "{% url ajax-campaign-publish %}"
            };

            $("button[data-type='ajax']").click(function (e) {
                e.preventDefault();

                $.ajax({
                    url: ajax_urls[$(this).data("action")],
                    type: "POST",
                    dataType: 'json',
                    data: {'campaign_id': $(this).data("content")},
                    success: function(data) {
                        if (data.success) {
                            window.location.href = "{% url store-admin store.id %}";
                        }
                    }
                });
            });

            $("#pageList_filter input").unbind("keyup").keyup(function() {
                pageListTable.fnFilter( this.value, 0 );
            })

            $("ul.messages li").on('click', function() {
                $(this).slideUp();
            });

            // If we had messages, flash the most recent entry...
            if ($("ul.messages").length >= 1 &&
                !$("ul.messages:contains('deleted')").length) {
                $("#pageList tbody tr:first div").delay(500).effect("highlight", {"color": "#6F98AC"}, 2000);
            }

            if (pageListTable.fnGetNodes().length == 0) {
                $("#new_page_button").addClass('wiggle');
                $("#new_page_button").qtip({
                    'content': '&larr; {% trans "Make your first page" %}',
                    'position': {
                        'my': 'left center',
                        'at': 'right center'
                    },
                    'show': {
                        'event': false,
                        'ready': true
                    },
                    'hide': 'false',
                    'style': {
                        'classes': 'ui-tooltip-willet wiggle'
                    }
                })
            }

            $(".get_link").qtip({
                content: {
                    text: '<input type="textbox" value="" />',
                    title: {
                    text: 'Press <span class="keyboard">Ctrl-C</span> or <span class="keyboard">&#8984;-C</span> to copy'
                    }
                },
                position: {
                    my: "left center",
                    at: "right center"
                },
                show: {
                    event: false, // Don't specify a show event...
                    ready: false // ... but show the tooltip when ready
                },
                hide: true,
                events: {
                    show: function() {
                        $(this).addClass('rounded');
                        var tooltip = $(this)
                        var input = $('input', tooltip);
                        var link = $(".get_link[aria-describedby=" + tooltip.attr('id') + "]");
                        var url = "{{ store.public_base_url }}" + link.data("cid");
                        input.val(url);
                        input[0].select();
                        input.unbind('click').click(function() {
                            input[0].select();
                        });
                        input.unbind('focusout').focusout(function() {
                            tooltip.qtip('hide');
                        });
                    }
                },
            })

            $(".get_link").click(function() {
                $('.get_link').qtip('hide');
                $(this).qtip('show');
                $("#" + $(this).attr('aria-describedby') + " input")[0].select();
            });

            $(".delete a").click(function(e) {
                var cancel = confirm("{% trans "Are you sure you want to delete this page?" %}");
                if (!cancel) {
                    e.preventDefault();
                }
            });
{% endblock %}

{% block top_section %}
    <div class="tab_bar">
        <ul>
            {# TODO: This should be part of the base template, probably #}
            {% with features=store.features_list %}
                {% if 'pages' in features %}
                    <li class="selected"><a href="{% url store-admin store.id %}">Pages</a></li>
                {% endif %}
                {% if 'asset-manager' in features %}
                    <li><a href="{% url asset-manager store.id %}">Asset Manager</a></li>
                {% endif %}
                {% if 'analytics' in features %}
                    <li><a href="{% url analytics-store-admin store.id %}">Analytics</a></li>
                {% endif %}
            {% endwith features %}
        </ul>
    </div>
{% endblock %}

{% block content %}
    <a id="new_page_button" class="button focus" href="{% url new-campaign-admin store.id %}">New Page</a>
    <table id="pageList" cellpadding="0" cellspacing="0" border="0" class="display" >
        <thead>
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Date Modified" %}</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for campaign in store.campaign_set.all %}
            {% if campaign.live %}
            <tr>
                <td><div>{{ campaign.name }}</div></td>
                <td><div data-timestamp='{{ campaign.last_modified|date:"U" }}'>{% blocktrans with day=campaign.last_modified|naturalday %}{{ day }}{% endblocktrans %}</div></td>
                <td><div><a class="get_link" href="#" data-cid="{{ campaign.id }}">Get Link</a></div></td>
                <td><div><a href="{% url analytics-campaign-admin campaign.store.id campaign.id %}">{% trans "Analytics" %}</a></div></td>
                <td><div><a class="view_page" href="{% url campaign_short campaign.id|base62_encode %}" target="_blank">{% trans "View Page" %}</a></div></td>
                <td><div><a href="{% url edit-campaign-admin campaign.store.id campaign.id %}">{% trans "Edit Page" %}</a></div></td>
                <td class='delete'>
                    <div>
                        <a href="{% url delete-campaign-admin campaign.store.id campaign.id %}" title='Delete Page'>&#215;</a>
                    </div>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
