{% extends "pinpoint/admin_base.html" %}
{% load staticfiles %}
{% load analytics_ui %}

{% block title %}
    Analytics
{% endblock %}

{% block page_title %}
    Analytics
{% endblock %}

{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "analytics/css/analytics_style.css" %}">
{% endblock %}

{% block extra_js_includes %}
{% endblock %}

{% block document_ready %}
    {% if store %}
        var store_id = '{{ store.id }}';
    {% else %}
        var store_id = '{{ campaign.store.id }}';
    {% endif %}

    $("#campaign_list li").live("click", function() {
        $("#analytics_title").html($(this).html());

        if ($(this).attr("id") == "overview") {
            loadAnalyticsData({
                store_id: store_id
            });
        } else {
            loadAnalyticsData({
                campaign_id: $(this).attr("id")
            });
        }

        $("#campaign_list li").removeClass("selectedPage");
        $(this).addClass("selectedPage");
    });

    google.setOnLoadCallback(function () {
        {% if store %}
            loadAnalyticsData({
                store_id: store_id
            });
        {% else %}
            loadAnalyticsData({
                campaign_id: '{{ campaign.id }}'
            });
        {% endif %}
    });
{% endblock %}

{% block top_section %}
    <nav class="grid_3 prefix_9">
        <ul>
            {% if store %}
                <li><a href="{% url store-admin store.id %}">Pages</a></li>
                <li class="selected"><a href="{% url analytics-store-admin store.id %}">Analytics</a></li>
            {% else %}
                <li><a href="{% url store-admin campaign.store.id %}">Pages</a></li>
                <li class="selected"><a href="#">Analytics</a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <div class="grid_12">
        <div class="grid_2 alpha campaign_menu">
            <ul id="campaign_list">
                <li id="overview" {% if store %}class="selectedPage"{% endif %}><strong>Overview</strong></li>

                {% if store %}
                    {% for c in store.campaign_set.all %}
                        <li id="{{ c.id }}">{{ c.name }}</li>
                    {% endfor %}
                {% else %}
                    {% for c in campaign.store.campaign_set.all %}
                        <li id="{{ c.id }}" {% if c.id == campaign.id %}class="selectedPage"{% endif %}>{{ c.name }}</li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>

        {% ui_analytics_data store=store campaign=campaign %}
    </div>
{% endblock %}
