{% extends "pinpoint/admin_base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
    {% trans "New Page" %}
{% endblock %}

{% block page_title %}
    {% trans "New Page" %}
{% endblock %}

{% block extra_head %}
    <style type="text/css">
        .block_types {
            height: 400px;
        }

        .block_types .block_type {
            width: 200px;
            padding: 5px;
            margin-left: 0px;
            text-align: center;
        }

        .dimmed img {
            opacity: 0.6;
        }

        .disabled {
            display: block;
            color: #9e9e9e;
        }

        .button {
            float: right;
            position: relative;
        }

        .block_type.enabled.selected, .block_type.enabled:hover {
            background-color: #C43;
            -webkit-border-radius: 5px;
            border-radius: 5px;
        }
    </style>
{% endblock %}

{% block extra_js_includes %}
<script>
    $('.block_type:not(.dimmed)').click(function() {
        $('.block_type').removeClass('selected');
        $(this).closest('.block_type').addClass('selected');

        $('.button.next').removeClass('disabled');
        $('.button.next').addClass('wiggle');
    });
    $('.button.next').click(function() {
        window.location.href = $('.block_type.selected .url').text();
    });
</script>
{% endblock %}

{% block document_ready %}

{% endblock %}

{% block top_section %}
    <div class="grid_3 prefix_9">
        <ul>
        </ul>
    </div>
{% endblock %}

{% block content %}
<h2>{% trans "Select page focus:" %}</h2>
    <div class="block_types">
    {% for block_type in block_types %}
        {% include "pinpoint/snippets/block_type_admin.html" with block_type=block_type %}
    {% endfor %}
    </div>
    <div class="actions">
        <input class="button next focus disabled" type="submit" value="Next &rarr;">
        <input id="cancel_to_admin" class="button" type="button" value="&times; Cancel">
    </div>
{% endblock %}
