{% extends "pinpoint/admin_base.html" %}
{% load staticfiles %}
{% load pinpoint_ui %}

{% block page_title %}
    <div class='connection_bar' style=''>
        <ul class='services'>
            {% for account in accounts %}
            {% if account.connected %}
            <li class='service {{ account.type }}'>
                &nbsp;
            </li>
            {% endif %}
            {% endfor %}
            <li>
                <a href='#' class='connect'>+ Connect More</a>
            </li>
        </ul>
    </div>
    {{ store }}
{% endblock %}

{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/smoothness/jquery-ui.css" %}">
    <link rel="stylesheet" href="{% static "css/jquery.tagit.css" %}">

    <style>
        .container_12 .prefix_9, .container_16 .prefix_12 {
            padding-left: 620px;
            width: 310px;
        }

        .page_title {
            position: relative;
        }

        .connection_bar {
            position: absolute;
            right: 15px;
            font-size: 14px;
            line-height: 33px;
        }

        .connection_bar .services {
            list-style: none;
            display: inline;
        }

        .connection_bar .services li {
            display: inline-block;
            margin: 0px;
        }

        .connection_bar .services .service {
            width: 32px;
            height: 32px;
            margin-left: 5px;
        }

        .connection_bar .service:after {
            background: url("{% static 'pinpoint/images/icon-check-12x12.png'%}") no-repeat;
            display: block;
            width: 12px;
            height: 12px;
            content: '';
            position: relative;
            top: -13px;
            left: 23px;
        }

        .service.instagram {
            background-image: url("{% static 'pinpoint/images/icon-instagram-32.png'%}")
        }

        .service.youtube, .service.google-oauth2 {
            background-image: url("{% static 'pinpoint/images/icon-youtube-32.png'%}")
        }

        .service.tumblr {
            background-image: url("{% static 'pinpoint/images/icon-tumblr-32.png'%}")
        }

        .service .text, .icon .text {
            visibility: hidden;
        }

        .connection_bar a {
            border-bottom: 1px solid #eee;
            font-weight: bold;
            margin-left: 16px;
        }

        .connection_bar a:hover {
            text-decoration: none;
        }

        .connection_bar a, .connection_bar a:visited {
            color: #eee;
        }

        .ui-dialog.no-title .ui-dialog-titlebar {
            display: none;
        }

        .connect-text {
            font-size: 18px;
            padding-bottom: 20px;
        }

        .filter-row {
            clear:both;
            padding:10px 20px 0px 20px;
        }

        .filter-row .filter-block {
            margin-right:10px;
            display:inline-block;
        }

        #filter-menu .filter.ui-state-active a, #filter-menu li.filter.ui-state-active {
            background:grey !important;
        }

        #filter-menu .filter.ui-state-active a:hover, #filter-menu li.filter.ui-state-active:hover {
            background:#D3D3D3 !important;
        }

        .ui-menu {
            z-index:99;
            width:150px;
        }

        .account-row {
            margin-left: auto;
            margin-right: auto;
            width: 350px;
            line-height: 48px;
            padding-top: 10px;
        }

        .account-row .icon, .account-row .connection-status,
        .account-row .disconnection-status {
            display: inline-block;
        }

        .account-row .connection-status {
            width: 180px;
        }

        .account-row .disconnection-status {
            width: 100px;
        }

        .account-row .connection-status .status {
            display: block;
            background: url("{% static 'pinpoint/images/icon-check-16x16.png'%}") center center no-repeat;
            height: 48px;
            width:  32px;
            float: left;
        }

        .account-row .icon {
            width: 60px;
            height: 48px;
            background: no-repeat center center;
        }

        .account-row .button {
            height: 48px;
            padding: 0px 10px;
        }

        .account-row .disconnection-status a {
            text-decoration: underline;
            font-size: 12px;
        }

        .icon.large, .icon {
            background-image: url('{% static "loading.gif" %}')
        }

        .icon.instagram.large {
            background-image: url("{% static 'pinpoint/images/icon-instagram-alt-48.png'%}")
        }

        .icon.youtube.large, .icon.google-oauth2.large {
            background-image: url("{% static 'pinpoint/images/icon-youtube-alt-48.png'%}")
        }

        .icon.tumblr.large {
            background-image: url("{% static 'pinpoint/images/icon-tumblr-alt-48.png'%}")
        }

        .icon.file.large {
            background-image: url("{% static 'pinpoint/images/icon-folder-alt-48.png'%}")
        }

        .icon.instagram {
            background-image: url("{% static 'pinpoint/images/icon-instagram-alt-32.png'%}")
        }

        .icon.youtube, .icon.google-oauth2 {
            background-image: url("{% static 'pinpoint/images/icon-youtube-alt-32.png'%}")
        }

        .icon.tumblr {
            background-image: url("{% static 'pinpoint/images/icon-tumblr-alt-32.png'%}")
        }

        .ui-widget-overlay {
            background: rgba(255,255,255,0.7);
            cursor: -webkit-zoom-out;
            cursor: -moz-zoom-out;
            cursor: zoom-out;
        }

        .connections .service {
            width: 180px;
            display: inline-block;
            text-align: center;
        }

        .connections .icon {
            margin-left: auto;
            margin-right: auto;
        }


        .connections .icon {
            display: block;
            width: 48px;
            height: 48px;
            background-repeat: no-repeat;
            background-position: center center;
        }

        .qq-upload-list {
            display: none;
        }

        .tablecell {
            display: table-cell;
            vertical-align: middle;
            position: static;
        }

        .review_area {
            margin-bottom: 20px;
        }

        .review-row {
            clear:both;
            padding-top:10px;
        }

        .approval_block {
            margin-bottom: 20px;
        }

        .image {
            display: inline;
        }

        .approval_form label {
            display: block;
            font-weight: bolder;
        }

        .approval_form textarea {
            width: 440px;
            height: 70px;
        }

        .approval_form .tags{
            width: 450px !important;
        }

        .grid_5.approval_form {
            padding-left: 0px;
        }

        .grid_5.approval_form textarea {
            width: 314px;
        }

        .grid_5.approval_form .tags {
            width:  324px !important;
        }

        .actions {
            /*float: right;*/
        }

        .saved {
            margin-right: 20px;
            display: none;
        }

        .image_box {
            width: 240px;
            height: 240px;
            position: relative;
            background-repeat: no-repeat;
            background-position: center center;
            background-color: #ddd;
        }

        .video_box {
            width: 426px !important;
            height: 240px;
            position: relative;
            background-repeat: no-repeat;
            background-position: center center;
            background-color: #ddd;
        }

        .video_box:before {
            background-image: url('//s3-us-west-2.amazonaws.com/static-misc-secondfunnel/images/playbtn.png');
            content: "";
            width: 426px;
            height: 240px;
            position: absolute;
            background-repeat: no-repeat;
            left: 58px;
            top:  0px;

        }

        .image_ribbon {
          -webkit-transform: rotate(-45deg);
             -moz-transform: rotate(-45deg);
              -ms-transform: rotate(-45deg);
               -o-transform: rotate(-45deg);
                  transform: rotate(-45deg);

            border: 25px solid transparent;
            position: absolute;
            bottom: 20px;
            right: -50px;
            padding: 0 10px;
            width: 120px;
            color: white;
            font-family: sans-serif;
            size: 11px;
        }

        .needs_review {
            border-top: 25px solid #757575;
        }

        .approved {
            border-top: 25px solid #407544;
        }

        .rejected {
            border-top: 25px solid #75372a;
        }

        .image_ribbon .label {
            position: absolute;
            top: -23px;
            left: 20px;
        }
    </style>
{% endblock %}

{% block extra_js_includes %}
    <script src="{% static "js/jquery-ui.js" %}" type="text/javascript"></script>
    <script src="{% static "js/tag-it.js" %}" type="text/javascript"></script>
    <script src="{% static "js/fileuploader.js" %}"></script>
    <script src="{% static "js/jquery.imagesloaded.min.js" %}"></script>
{% endblock %}

{% block document_ready %}
    // Load Youtube IFrame Player API code asynchronously
    var tag = document.createElement('script');
    tag.src = "//www.youtube.com/iframe_api";

    var firstScriptTag = document.getElementsByTagName('script')[0],
        console = window.console || {
            log: function() {},
            debug: function() {}
        },
        sort = 'Newest';

    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    $("#tabs").tabs();
    $("#scroll_with_review").button();

    var tag_associations = {}, products = {},
        scroll_with_review = function () {
            return $("#scroll_with_review").prop("checked");
        },
        store_id = "{{ store.id }}";

    $(document).ajaxError(function (event, request, settings) {
        alert("There was an error performing your action.");
        console.log(event, request, settings);
    });

    var tasty_api = function (o) {
        var type;
        if (!("processData" in o)) {
            o.processData = true;
        }
        o.resource_id = (o.resource_id) ? o.resource_id + "/" : "";

        type = o.type || 'GET';

        $.ajax({
            url: o.resource_uri || '/api/assets/v1/' + o.resource_name + '/' + o.resource_id,
            type: type,
            contentType: 'application/json',
            data: o.data,
            dataType: 'json',
            processData: o.processData,
            headers: {'X-HTTP-Method-Override': type},
            success: function (result) {
                o.success && o.success(result);
            }
        });
    };

    var patch_api = function (oid, data, callback) {
        tasty_api({
            resource_name: 'external_content',
            resource_id: oid,

            // not using PUT because we don't have to pass in
            // the whole object this way, just what we want to change
            type: 'PATCH',

            data: JSON.stringify(data),
            success: function (results) {
                callback && callback(results);
            }
        })
    };

    var post_tags = function (oid) {
        patch_api(oid, {
            "products": $.map(tag_associations[oid], function (pid) {
                return "/api/assets/v1/product/" + pid + "/";
            })
        });
    };

    var do_action = function (target, action) {
        var $p = $(target).parents('.approval_block'),
            oid = $p.data("oid"),
            $ribbon = $(".image_ribbon[data-oid='" + oid + "']"),
            db_approved, db_active, post_action;

        if (action == "approve") {
            post_action = function () {
                $ribbon.removeClass("needs_review");
                $ribbon.removeClass("rejected");
                $ribbon.addClass("approved");
                $ribbon.children('.label').html("Approved");
            }
            db_approved = db_active = true;
        } else {
            post_action = function () {
                $ribbon.removeClass("needs_review");
                $ribbon.removeClass("approved");
                $ribbon.addClass("rejected");
                $ribbon.children('.label').html("Rejected");
            }
            db_approved = db_active = false;
        }

        patch_api(
            oid,
            {
                "active": db_active,
                "approved": db_approved,
                "text_content": $p.children(".approval_form").children("textarea")[0].value
            },
            function () {
                post_action();

                if (scroll_with_review()) {
                    $('html, body').animate({
                        scrollTop: $p.next().offset().top
                    }, 700);
                }

                $(target).hide();
                $(target).siblings().show();
            }
        );
    };

    function attachListeners( $content ) {

        // Render images and indicate if an image is broken

        var $images = $content.find("div.grid_3.image_box");
        $images.each(function(){
            var style = "position:relative; left:45%; top:45%;",
                $spinner = $('<img/>', { 'style': style,
                    'src': '{% static "images/ajax-spinner.gif" %}'
                }),
                // http://stackoverflow.com/questions/6397529/get-url-from-background-image-property  
                bg_url = $(this).css('background-image').replace(/^url\(["']?/, '').replace(/["']?\)$/, ''), 
                $bg_image = $('<img>').attr('src', bg_url),
                instance = $(this).prepend($spinner).css('background-image', '');

            $bg_image.imagesLoaded(function($images, $proper, $broken) {
                if ($broken.length >= 1) {
                    {% if request.user.is_superuser %}
                        instance.click(function(){
                            window.location = "/admin/assets/externalcontent/" + instance.parent().attr('data-oid');
                        }).css('cursor', 'pointer');
                    {% endif %}
                    instance.css('background-image', 'url({% static "images/broken_image_icon.png" %})');
                    
                } else {
                    instance.css('background-image', 'url("' + bg_url + '")');
                }
                $spinner.remove();
            });
        });

        /* Youtube */
        $content.find('.video_box').css('cursor', 'pointer').on('click', function() {
            var $me = $(this),
                id = $me.data('videoId');

            player = new YT.Player($me.attr('id'), {
                height: 240,
                width: 426,
                videoId: id,
                playerVars: {
                    'autoplay': 1,
                    'controls': 1
                },
                events: {
                    'onReady': function (e) {},
                    'onStateChange': function(e) {},
                    'onError': function (e) {}
                }
            });
        });

        $content.find(".approve").button({
            icons: {
                primary: 'ui-icon-check'
            }
        }).on('click', function (event) {
            event.preventDefault();
            do_action(this, "approve");
        });

        $content.find(".reject").button({
            icons: {
                primary: 'ui-icon-trash'
            }
        }).on('click', function (event) {
            event.preventDefault();
            do_action(this, "reject");
        });

        $content.find("textarea").on('input propertychange', function (event) {
            var $p = $(this).parents(".approval_block"),
                oid = $p.data("oid");

            patch_api(oid, {"text_content": $(this).val()}, function () {
                $p.children(".approval_form").children("label").children(".saved").show("slow");
            });
        });

        $(".done_review").button().on('click', function (event) {
            event.preventDefault();
            window.location.reload();
        });

        // this is a bit of a hack
        // template renders IDs for each product tag; tagit loses these
        // once it renders the widget and loads initial tags via li elems.
        // So, we need to preserve the associations, and associate product
        // names (tags) with product IDs for future use.
        $content.find(".tags").each(function(index) {
            var oid = $(this).parents(".approval_block").data("oid");

            $(this).children("li").each(function(index) {
                tag_associations[oid] = tag_associations[oid] || [];

                tag_associations[oid].push($(this).data("pid"));
                products[$(this).text()] = $(this).data("pid");
            });
        });

        $content.find(".tags").tagit({
            autocomplete: {
                autoFocus: true,
                source: function(request, response) {
                    var term = request.term;
                    tasty_api({
                        resource_name: "product",
                        data: {
                            'store': store_id,
                            'format': 'json',
                            'name_or_url': term
                        },
                        success: function (data) {
                            //convert object to usable form
                            var results = [];
                            $.each(data.objects, function(index, value) {
                                results.push({'label': value.name, 'id': value.id})
                            });
                            response(results);
                        }
                    });
                },

                minLength: 2,

                // we're handling addition here and not in beforeTagAdded
                // because we need access to product id (ui.item.id)
                select: function( event, ui ) {
                    var oid = $(this).parents(".approval_block").data("oid");

                    if (ui.item) {
                        if (tag_associations[oid] && tag_associations[oid].indexOf(ui.item.id) != -1) {
                            return;
                        }

                        products[ui.item.value] = ui.item.id;

                        if (tag_associations[oid] === undefined) {
                            tag_associations[oid] = [ui.item.id];
                        } else {
                            tag_associations[oid].push(ui.item.id);
                        }

                        post_tags(oid);

                        $("ul#" + oid).tagit("createTag", ui.item.label);

                        // prevent the tag input from being updated with the chosen value
                        // we already did it just above
                        return false;
                    }
                }
            },

            beforeTagRemoved: function (event, ui) {
                var oid = $(this).parents(".approval_block").data("oid"),
                    pid = products[ui.tagLabel];

                tag_associations[oid].splice(tag_associations[oid].indexOf(pid), 1);
                post_tags(oid);
            }
        });

        /* File Upload */
        var $fileUpload = $content.find('.file-upload');
        if ($fileUpload.length) {
            makeUploader($fileUpload);
            $fileUpload.find(".qq-upload-button").addClass('button');
        }
    }

    function makeUploader( $elem ) {
        uploader = new qq.FileUploader({
                element: $elem[0],
                action: '{% url upload-asset store.id %}',
                csrfToken: $.cookie('csrftoken'),
                allowedExtensions: ['jpg' ,'png', 'jpeg'],
                uploadButtonText: 'Upload from file',
                onSubmit: function() {
                    $('.qq-upload-button').parents('.service').find('.icon').removeClass('file');
                    // TODO: Actual disable clicking on the button
                    $('.qq-upload-button').addClass('disabled');
                    $('.qq-upload-button').text('Uploading...');
                },
                onComplete: function(id, fileName, response) {
                    location.reload();
                },
                onError: function(id, fileName, reason) {
                    console.log(reason);
                }
            });
    }

    // Create our persistent file-upload button
    $('.persistent-file-upload').each(function(){
        makeUploader($(this));
        $(this).find(".qq-upload-button").button({
            icons: {
                primary: 'ui-icon-plus'
            }
        });
    });

    // Setup our menus using the defined menu propeties
    var menuProperties = {
        icons: {
            submenu: 'ui-icon-carat-1-s'
        },
        position: { my: 'left top', at: 'left bottom'}
    };

    $("#sort-menu").menu(menuProperties);
    $("#sort-menu").find("a").on("click", function(event){
        if ($(this).parent().hasClass("filter")) {
            var sorted = $(this).text();
            $("#sort-menu a:first span:last").text(sorted);
            sort = sorted.split(" ")[0];
            reload_content();
        }   
        $("#sort-menu").menu( "collapseAll", null, true );
        return false; 
    });

    $("#filter-menu").menu(menuProperties);
    $("#filter-menu").find("a").on('click', function(e){
        if ($(this).parent().hasClass("filter")) {
            var $mainText = $("#filter-menu a:first span:last"),
                $parent   = $(this).parent();
            if ($parent.hasClass('ui-state-active')) {
                $mainText.text("Select Filters");
                $parent.removeClass('ui-state-active');
            } else {
                $mainText.text($(this).text());
                $parent.addClass('ui-state-active').siblings().removeClass('ui-state-active');
            }
            reload_content();       
        }
        $("#filter-menu").menu( "collapseAll", null, true );
        return false;
    });

    
    /* Connection bar*/
    $('.connect').on('click', function() {
        $('.connect-window').dialog({
            'width': 400,
            'modal': true,
            'resizable': false,
            'draggable': false,
            'dialogClass': 'no-title'
        });
    });

    // Did you know that jquery UI has no way to close a dialog
    // via the overlay? I certainly didn't.
    $('body').on('click', '.ui-widget-overlay', function() {
        $('.connect-window').dialog('close');
    });

    // Initial loading content for current container
    load_content(1);
    
    $('#tabs ul li').on('click', function(){
        var $currentTab = $($(this).children('a').attr('href'));
        if ($currentTab.find('.review-row').children().length == 0) {
            $currentTab.attr('page-number', 1);
        }
        reload_content();
    }); 

    
    $(window).scroll(function(){
        var break_point = $(document).height() - ($(window).height() * 1.02),
            $currentTab = $($('.ui-tabs-active a').attr('href'));
        if ($(window).scrollTop() >= break_point) {
            var next_page = $currentTab.find('.review-row').children().last().attr('data-next');
            if (next_page) {
                load_content(next_page);
            }
        }
    });

    var loadingContent = false;

    function reload_content() {
        var $currentTab = $($('.ui-tabs-active a').attr('href')),
            current_page = parseInt($currentTab.attr('page-number'), 10);
        // Reload with the sorted content
        $currentTab.find(".review-row").children().remove();
        load_content(1);
    }

    function load_content( page ) {
        if (!loadingContent) {
            loadingContent = true;
            var url = "{% url asset-manager store.id %}",
                $currentTab = $($('.ui-tabs-active a').attr('href')),
                filter = "";

            $.each($("#filter-menu li.filter a"), function(){
                if ($(this).parent().hasClass("ui-state-active")) {
                    filter = $(this).text();
                    return false;
                }
            });

            $.get(url, {
                "content_type": $currentTab.attr('id').replace('#', ''),
                "sortby": sort,
                "page": page,
                "filterby": filter
                }, function( response ) {
                       if ($.isEmptyObject(response)) {
                           console.log("End of page.");
                       } else {
                           var $newcontent = $(response);
                           $currentTab.find('.review-row').append($newcontent);
                           $currentTab.attr('page-number', page);
                           attachListeners($newcontent);
                           loadingContent = false;
                       }
            });
        }
    }
{% endblock %}

{% block top_section %}
    <div class="tab_bar">
        <ul>
            {# TODO: This should be part of the base template, probably #}
            {% with features=store.features_list %}
                {% if 'pages' in features %}
                <li><a href="{% url store-admin store.id %}">Pages</a></li>
                {% endif %}
                {% if 'asset-manager' in features %}
                <li class="selected"><a href="{% url asset-manager store.id %}">Asset Manager</a></li>
                {% endif %}
                {% if 'analytics' in features %}
                <li><a href="{% url analytics-store-admin store.id %}">Analytics</a></li>
                {% endif %}
            {% endwith %}
        </ul>
    </div>
{% endblock top_section %}

{% block content %}
    
    {# Internal code, for now #}
    <div class="grid_11 review_area" id="tabs">
        <ul>
            {% for content_label, content_type, content_data in content %}
                <li><a href="#{{ content_type }}">{{ content_label }} ({{ content_data }})</a></li>
            {% endfor %}
        </ul>

       <div class="filter-row">
           <span class="filter-block">Sort By</span>
           <ul id="sort-menu" class="filter-block">
               <li><a href="#"><span>Newest Content</span></a>
                   <ul>
                       <li class="filter"><a href="#"><span>Newest Content</span></a></li>
                       <li class="filter"><a href="#"><span>Oldest Content</span></a></li>
                   </ul>
               </li>
           </ul>
           <span class="filter-block" style="margin-left:20px;">Filter By</span>
           <ul id="filter-menu" class="filter-block">
               <li><a href="#"><span>Select Filters</span></a>
                   <ul>
                       {% for type in external_content_types %}
                       <li class="filter"><a href="#">{{ type }}</a></li>
                       {% endfor %}
                   </ul>
               </li>
           </ul>
           <span class="filter-block persistent-file-upload" style="float:right;"></span>
           <span class="filter-block" style="float:right;">
               <input type="checkbox" id="scroll_with_review" class="scroll_with_review">
               <label for="scroll_with_review">Scroll as I review</label>
           </span>
       </div>

       {% for content_label, content_type, content_data in content %}
           <div id="{{ content_type }}"><div class="review-row"></div></div>
       {% endfor %}
    </div>

    <div class='connect-window' style='display: none;'>
        <div class='window-content'>
            <div class='connect-text'>
                Connect social accounts:
            </div>

            {% for account in accounts %}
            <div class='account-row'>
                <div class='icon large {{ account.type }}'>
                    <span class='text'>&nbsp;</span>
                </div>
                {% if account.connected %}
                <div class='connection-status'>
                    <span class='status'></span>
                    <span class='username'>
                        {{ account.data.username|default:'<em>Unavailable</em>' }}
                    </span>
                </div>
                <div class='disconnection-status'>
                    <a href='
                    {% url socialauth_disconnect account.type %}'>
                        Disconnect
                    </a>
                </div>
                {% else %}
                <div class='connection-status'>
                    <a href='{% url socialauth_associate_begin account.type %}'
                       class='button'>Connect Account</a>
                </div>
                {% endif %}

            </div>
            {% empty %}
            <div style='text-align: center'>
                There are no services to connect with.
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
