{% extends "pinpoint/admin_base.html" %}
{% load staticfiles %}
{% load pinpoint_ui %}

{% block page_title %}
    <div class='connection_bar' style=''>
        <ul class='services'>
            {% for account in accounts %}
            {% if account.connected %}
            <li class='service {{ account.type }}'>
                &nbsp;
            </li>
            {% endif %}
            {% endfor %}
            <li>
                <a href='#' class='connect'>+ Connect More</a>
            </li>
        </ul>
    </div>
    {{ store }}
{% endblock %}

{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/smoothness/jquery-ui.css" %}">
    <link rel="stylesheet" href="{% static "css/jquery.tagit.css" %}">

    <style>
        .container_12 .prefix_9, .container_16 .prefix_12 {
            padding-left: 620px;
            width: 310px;
        }

        .page_title {
            position: relative;
        }

        .connection_bar {
            position: absolute;
            right: 15px;
            font-size: 14px;
            line-height: 33px;
        }

        .connection_bar .services {
            list-style: none;
            display: inline;
        }

        .connection_bar .services li {
            display: inline-block;
            margin: 0px;
        }

        .connection_bar .services .service {
            width: 32px;
            height: 32px;
            margin-left: 5px;
        }

        .connection_bar .service:after {
            background: url("{% static 'pinpoint/images/icon-check-12x12.png'%}") no-repeat;
            display: block;
            width: 12px;
            height: 12px;
            content: '';
            position: relative;
            top: -13px;
            left: 23px;
        }

        .service.instagram {
            background-image: url("{% static 'pinpoint/images/icon-instagram-32.png'%}")
        }

        .service.youtube, .service.google-oauth2 {
            background-image: url("{% static 'pinpoint/images/icon-youtube-32.png'%}")
        }

        .service.tumblr {
            background-image: url("{% static 'pinpoint/images/icon-tumblr-32.png'%}")
        }

        .service .text, .icon .text {
            visibility: hidden;
        }

        .connection_bar a {
            border-bottom: 1px solid #eee;
            font-weight: bold;
            margin-left: 16px;
        }

        .connection_bar a:hover {
            text-decoration: none;
        }

        .connection_bar a, .connection_bar a:visited {
            color: #eee;
        }

        .ui-dialog.no-title .ui-dialog-titlebar {
            display: none;
        }

        .connect-text {
            font-size: 18px;
            padding-bottom: 20px;
        }

        .account-row {
            margin-left: auto;
            margin-right: auto;
            width: 350px;
            line-height: 48px;
            padding-top: 10px;
        }

        .account-row .icon, .account-row .connection-status,
        .account-row .disconnection-status {
            display: inline-block;
        }

        .account-row .connection-status {
            width: 180px;
        }

        .account-row .disconnection-status {
            width: 100px;
        }

        .account-row .connection-status .status {
            display: block;
            background: url("{% static 'pinpoint/images/icon-check-16x16.png'%}") center center no-repeat;
            height: 48px;
            width:  32px;
            float: left;
        }

        .account-row .icon {
            width: 60px;
            height: 48px;
            background: no-repeat center center;
        }

        .account-row .button {
            height: 48px;
            padding: 0px 10px;
        }

        .account-row .disconnection-status a {
            text-decoration: underline;
            font-size: 12px;
        }

        .icon.large, .icon {
            background-image: url('{% static "loading.gif" %}')
        }

        .icon.instagram.large {
            background-image: url("{% static 'pinpoint/images/icon-instagram-alt-48.png'%}")
        }

        .icon.youtube.large, .icon.google-oauth2.large {
            background-image: url("{% static 'pinpoint/images/icon-youtube-alt-48.png'%}")
        }

        .icon.tumblr.large {
            background-image: url("{% static 'pinpoint/images/icon-tumblr-alt-48.png'%}")
        }

        .icon.file.large {
            background-image: url("{% static 'pinpoint/images/icon-folder-alt-48.png'%}")
        }

        .icon.instagram {
            background-image: url("{% static 'pinpoint/images/icon-instagram-alt-32.png'%}")
        }

        .icon.youtube, .icon.google-oauth2 {
            background-image: url("{% static 'pinpoint/images/icon-youtube-alt-32.png'%}")
        }

        .icon.tumblr {
            background-image: url("{% static 'pinpoint/images/icon-tumblr-alt-32.png'%}")
        }

        .ui-widget-overlay {
            background: rgba(255,255,255,0.7);
            cursor: -webkit-zoom-out;
            cursor: -moz-zoom-out;
            cursor: zoom-out;
        }

        .connections .service {
            width: 180px;
            display: inline-block;
            text-align: center;
        }

        .connections .icon {
            margin-left: auto;
            margin-right: auto;
        }


        .connections .icon {
            display: block;
            width: 48px;
            height: 48px;
            background-repeat: no-repeat;
            background-position: center center;
        }

        .qq-upload-list {
            display: none;
        }

        .tablecell {
            display: table-cell;
            vertical-align: middle;
            position: static;
        }

        .review_area {
            margin-bottom: 20px;
        }

        .approval_block {
            margin-bottom: 20px;
        }

        .image {
            display: inline;
        }

        .approval_form label {
            display: block;
            font-weight: bolder;
        }

        .approval_form textarea {
            width: 440px;
            height: 70px;
        }

        .actions {
            float: right;
        }

        .saved {
            margin-right: 20px;
            display: none;
        }

        .image_box {
            width: 240px;
            height: 240px;
            position: relative;
            background-repeat: no-repeat;
            background-position: center center;
            background-color: #ddd;
        }

        .image_ribbon {
          -webkit-transform: rotate(-45deg);
             -moz-transform: rotate(-45deg);
              -ms-transform: rotate(-45deg);
               -o-transform: rotate(-45deg);
                  transform: rotate(-45deg);

            border: 25px solid transparent;
            position: absolute;
            bottom: 20px;
            right: -50px;
            padding: 0 10px;
            width: 120px;
            color: white;
            font-family: sans-serif;
            size: 11px;
        }

        .needs_review {
            border-top: 25px solid #757575;
        }

        .approved {
            border-top: 25px solid #407544;
        }

        .rejected {
            border-top: 25px solid #75372a;
        }

        .image_ribbon .label {
            position: absolute;
            top: -23px;
            left: 20px;
        }
    </style>
{% endblock %}

{% block extra_js_includes %}
    <script src="{% static "js/jquery-ui.js" %}" type="text/javascript"></script>
    <script src="{% static "js/tag-it.js" %}" type="text/javascript"></script>
    <script src="{% static "js/fileuploader.js" %}"></script>
{% endblock %}

{% block document_ready %}
    var console = window.console || {
        log: function() {},
        debug: function() {}
    }
    $("#tabs").tabs();
    $("#scroll_with_review").button();

    var tag_associations = {}, products = {};

    var scroll_with_review = function () {
        return $("#scroll_with_review").prop("checked");
    };

    var store_id = "{{ store.id }}";

    $(document).ajaxError(function (event, request, settings) {
        alert("There was an error performing your action.");
        console.log(event, request, settings);
    });

    var tasty_api = function (o) {
        var type;
        if (!("processData" in o)) {
            o.processData = true;
        }
        o.resource_id = (o.resource_id) ? o.resource_id + "/" : "";

        type = o.type || 'GET';

        $.ajax({
            url: o.resource_uri || '/api/assets/v1/' + o.resource_name + '/' + o.resource_id,
            type: type,
            contentType: 'application/json',
            data: o.data,
            dataType: 'json',
            processData: o.processData,
            headers: {'X-HTTP-Method-Override': type},
            success: function (result) {
                o.success && o.success(result);
            }
        });
    };

    var patch_api = function (oid, data, callback) {
        tasty_api({
            resource_name: 'external_content',
            resource_id: oid,

            // not using PUT because we don't have to pass in
            // the whole object this way, just what we want to change
            type: 'PATCH',

            data: JSON.stringify(data),
            success: function (results) {
                callback && callback(results);
            }
        })
    };

    var post_tags = function (oid) {
        patch_api(oid, {
            "products": $.map(tag_associations[oid], function (pid) {
                return "/api/assets/v1/product/" + pid + "/";
            })
        });
    };

    var do_action = function (target, action) {
        var $p = $(target).parents('.approval_block'),
            oid = $p.data("oid"),
            $ribbon = $(".image_ribbon[data-oid='" + oid + "']"),
            db_approved, db_active, post_action;

        if (action == "approve") {
            post_action = function () {
                $ribbon.removeClass("needs_review");
                $ribbon.removeClass("rejected");
                $ribbon.addClass("approved");
                $ribbon.children('.label').html("Approved");
            }
            db_approved = db_active = true;
        } else {
            post_action = function () {
                $ribbon.removeClass("needs_review");
                $ribbon.removeClass("approved");
                $ribbon.addClass("rejected");
                $ribbon.children('.label').html("Rejected");
            }
            db_approved = db_active = false;
        }

        patch_api(
            oid,
            {
                "active": db_active,
                "approved": db_approved,
                "text_content": $p.children(".approval_form").children("textarea")[0].value
            },
            function () {
                post_action();

                if (scroll_with_review()) {
                    $('html, body').animate({
                        scrollTop: $p.next().offset().top
                    }, 700);
                }

                $(target).hide();
                $(target).siblings().show();
            }
        );
    };

    $(".approve").button({
        icons: {
            primary: 'ui-icon-check'
        }
    }).click(function (event) {
        event.preventDefault();
        do_action(this, "approve");

    });

    $(".reject").button({
        icons: {
            primary: 'ui-icon-trash'
        }
    }).click(function (event) {
        event.preventDefault();
        do_action(this, "reject");
    });

    $("textarea").on('input propertychange', function (event) {
        var $p = $(this).parents(".approval_block"),
            oid = $p.data("oid");

        patch_api(oid, {"text_content": $(this).val()}, function () {
            $p.children(".approval_form").children("label").children(".saved").show("slow");
        });
    });

    $(".done_review").button().click(function (event) {
        event.preventDefault();
        window.location.reload();
    });

    // this is a bit of a hack
    // template renders IDs for each product tag; tagit loses these
    // once it renders the widget and loads initial tags via li elems.
    // So, we need to preserve the associations, and associate product
    // names (tags) with product IDs for future use.
    $(".tags").each(function(index) {
        var oid = $(this).parents(".approval_block").data("oid");

        $(this).children("li").each(function(index) {
            tag_associations[oid] = tag_associations[oid] || [];

            tag_associations[oid].push($(this).data("pid"));
            products[$(this).text()] = $(this).data("pid");
        });
    });

    $(".tags").tagit({
        autocomplete: {
            autoFocus: true,
            source: function(request, response) {
                var term = request.term;
                tasty_api({
                    resource_name: "product",
                    data: {
                        'store': store_id,
                        'format': 'json',
                        'name_or_url': term
                    },
                    success: function (data) {
                        //convert object to usable form
                        var results = [];
                        $.each(data.objects, function(index, value) {
                            results.push({'label': value.name, 'id': value.id})
                        });
                        response(results);
                    }
                });
            },

            minLength: 2,

            // we're handling addition here and not in beforeTagAdded
            // because we need access to product id (ui.item.id)
            select: function( event, ui ) {
                var oid = $(this).parents(".approval_block").data("oid");

                if (ui.item) {
                    if (tag_associations[oid] && tag_associations[oid].indexOf(ui.item.id) != -1) {
                        return;
                    }

                    products[ui.item.value] = ui.item.id;

                    if (tag_associations[oid] === undefined) {
                        tag_associations[oid] = [ui.item.id];
                    } else {
                        tag_associations[oid].push(ui.item.id);
                    }

                    post_tags(oid);

                    $("ul#" + oid).tagit("createTag", ui.item.label);

                    // prevent the tag input from being updated with the chosen value
                    // we already did it just above
                    return false;
                }
            }
        },

        beforeTagRemoved: function (event, ui) {
            var oid = $(this).parents(".approval_block").data("oid"),
                pid = products[ui.tagLabel];

            tag_associations[oid].splice(tag_associations[oid].indexOf(pid), 1);
            post_tags(oid);
        }
    });

    /* Connection bar*/
    $('.connect').on('click', function() {
        $('.connect-window').dialog({
            'width': 400,
            'modal': true,
            'resizable': false,
            'draggable': false,
            'dialogClass': 'no-title'
        });
    });

    // Did you know that jquery UI has no way to close a dialog
    // via the overlay? I certainly didn't.
    $('body').on('click', '.ui-widget-overlay', function() {
        $('.connect-window').dialog('close');
    });

    /* File Upload */
    var $fileUpload = $('.file-upload');
    if ($fileUpload.length) {
        uploader = new qq.FileUploader({
            element: $fileUpload[0],
            action: '{% url upload-asset store.id %}',
            csrfToken: $.cookie('csrftoken'),
            allowedExtensions: ['jpg' ,'png', 'jpeg'],
            uploadButtonText: 'Upload from file',
            onSubmit: function() {
                $('.qq-upload-button').parents('.service').find('.icon').removeClass('file');
                // TODO: Actual disable clicking on the button
                $('.qq-upload-button').addClass('disabled');
                $('.qq-upload-button').text('Uploading...');
            },
            onComplete: function(id, fileName, response) {
                location.reload();
            },
            onError: function(id, fileName, reason) {
                console.log(reason);
            }
        });
        $(".qq-upload-button").addClass('button');
    }
{% endblock %}

{% block top_section %}
    <div class="grid_3 prefix_9">
        <ul>
            <li><a href="{% url store-admin store.id %}">Pages</a></li>
            <li class="selected"><a href="{% url asset-manager store.id %}">Asset Manager</a></li>
            <li><a href="{% url analytics-store-admin store.id %}">Analytics</a></li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <p>
        <input type="checkbox" id="scroll_with_review"><label for="scroll_with_review">Scroll as I review</label>
    </p>

    {# Internal code, for now #}
    <div class="grid_11 review_area" id="tabs">
        <ul>
            {% for content_label, content_type, content_data in content %}
                <li><a href="#{{ content_type }}">{{ content_label }} ({{ content_data.count }})</a></li>
            {% endfor %}
        </ul>


        {% for content_label, content_type, content_data in content %}
            <div id="{{ content_type }}">
                {% for data in content_data %}
                    <div class='grid_11 approval_block' data-oid="{{ data.id }}">
                        <div class="grid_3 image_box" style="background-image: url({{ data.image_url|size:"medium" }});">
                            <div class="image_ribbon {{ content_type }}" data-oid="{{ data.id }}">
                                <div class="label">
                                    {% if content_type == "needs_review" %}
                                        Not Reviewed
                                    {% elif content_type == "approved" %}
                                        Approved
                                    {% else %}
                                        Rejected
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="grid_6 prefix_1 approval_form">
                            <label for="caption_{{ data.id }}">Caption <span class="saved">Saved</span></label>
                            <textarea id="caption_{{ data.id }}">{{ data.text_content }}</textarea>
                            <div class="actions">
                                <strong>Tagged Products:</strong>
                                <ul class="tags" id="{{ data.id }}" style="width: 350px; max-height: 80px;">
                                    {% for product in data.tagged_products.all %}
                                    <li data-pid="{{ product.id }}">{{ product.name }}</li>
                                    {% endfor %}
                                </ul>
                                <span class="reject" {% if content_type == "rejected" %}style="display:none;"{% endif %}>Reject</span>
                                <span class="approve" {% if content_type == "approved" %}style="display:none;"{% endif %}>Approve</span>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <p>No items here.</p>
                    <div class='connect-text'>
                        Import content by connecting social accounts
                        or by uploading from file:
                        {%  csrf_token %}
                    </div>
                    <div class='connections'>
                    {% for account in accounts %}
                        {% if not account.connected %}
                        <div class='service'>
                            <div class='icon {{ account.type }} large'>
                            </div>
                            <a href='{% url socialauth_associate_begin account.type %}'
                               class='button'>
                                Connect Account
                            </a>
                        </div>
                        {%  endif %}
                    {% endfor %}
                        <div class='service'>
                            <div class='icon file large'></div>
                            <div class='file-upload'></div>
                        </div>
                    </div>
                {% endfor %}

                {% if content_data %}
                    {% if content_type == "needs_review" %}
                        <span class="done_review" style="float:right;">Done Reviewing</span>
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <div class='connect-window' style='display: none;'>
        <div class='window-content'>
            <div class='connect-text'>
                Connect social accounts:
            </div>

            {% for account in accounts %}
            <div class='account-row'>
                <div class='icon large {{ account.type }}'>
                    <span class='text'>&nbsp;</span>
                </div>
                {% if account.connected %}
                <div class='connection-status'>
                    <span class='status'></span>
                    <span class='username'>
                        {{ account.data.username|default:'<em>Unavailable</em>' }}
                    </span>
                </div>
                <div class='disconnection-status'>
                    <a href='
                    {% url socialauth_disconnect account.type %}'>
                        Disconnect
                    </a>
                </div>
                {% else %}
                <div class='connection-status'>
                    <a href='{% url socialauth_associate_begin account.type %}'
                       class='button'>Connect Account</a>
                </div>
                {% endif %}

            </div>
            {% empty %}
            <div style='text-align: center'>
                There are no services to connect with.
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
