<div class='discovery-area'>
</div>
<!-- JS TEMPLATES -->
<script type="text/template" id="discovery_product_template">
    <div class='block product' data-botox="false">
        <% if (typeof lifestyle !== "undefined") { %>
        <div class='lifestyle'>
            <img class='lifestyle' src='<%= image %>' />
        </div>
        <% } %>
        <div class='product'>
            <div class='img-container'>
                <img src='<%= image %>'/>
                <div class='social'>
                    <% include social_buttons %>
                </div>
            </div>
            <div class='title'><b><%= title %></b></div>
        </div>
    </div>
</script>
<script type="text/template" id="social_buttons_template">
    <div class='social-buttons'>
        <% if (!product_featured) { %>
        <div class="loading-container">
            <% } %>
            <div class='button facebook<% if (!product_featured { %> no-count <% } %>'>
                <fb:like href="<%= product_url %>"
                         width="48"
                         layout="button_count"
                         show_faces="false"></fb:like>
            </div>
            <div class='button twitter'>
                <% if (product_featured) { %>
                <a href="https://twitter.com/share?url=<%= url %>"
                   class="twitter-share-button"
                   data-lang="en">
                    Tweet
                </a>
                <% } else { %>
                <a href="https://twitter.com/share?url=<%= url %>"
                   target="_blank">
                    <img src="/pinpoint/images/twitterButton.png"/>
                </a>
                <% } %>
            </div>
            <div class='button pinterest'>
                <a href="http://pinterest.com/pin/create/button/?url=<%= url %>&media=<%= image %>"
                   target="_blank">
                    <img src="/pinpoint/images/pinpointButton.png" />
                </a>
            </div>
            <% if (!product_featured) { %>
        </div>
        <% } %>
    </div>
</script>
<script type="text/template" id="youtube_video_template">
    <div class='block youtube wide'>
        <div class="pin click video">
            <div class="inner-pin">
                <iframe <% if (video_width) { %>width="<%= video_width %>"<% } %>
                        <% if (video_height) { %>height="<%= video_height %>"<% } %>
                        class='youtube video'
                        src="http://www.youtube.com/embed/<%= video_id %><% if (video_autoplay) { %>?autoplay=1<% } %>"
                        frameborder="0"
                        allowfullscreen></iframe>
            </div>
        </div>
    </div>
</script>