{% load staticfiles %}
{% load compress %}

{% compress js %}
<script type="text/javascript">
    window.PAGES_INFO = {
        'debug': ('{{ debug|default:0 }}' === 'True'),  // django built-in
        'base_url': '{{ base_url }}',
        'discoveryTarget': '{{ discovery_target|default:"#discovery-area" }}',
        'discoveryItemSelector': '{{ discovery_item_selector|default:".tile" }}',
        'store': {
            'id': '{{ campaign.store.id }}',  // TODO: why was ID slug?
            'slug': '{{ campaign.store.slug }}',  // required for store-specific themes
            'name': '{{ campaign.store.name }}',
            'displayName': '{{ campaign.store.display_name|default:'' }}'  // leave blank to use "Gap"
        },
        'page': {  // required
            'id': '{{ campaign.default_intentrank.id|default:campaign.id }}',  // required
            'product': {{ product.json|safe }},
            'pubDate': '{{ pub_date }}',  // for verifying the original upload date of a static campaign. for human use only
            'offline': false,  // optional (if true, loads .content immediately)

            // you will still need to make elements with data-category="96" on the page.
            'categories': [
                {% with categories=campaign.intentrank.all%}
                {% if categories|length > 1 %}
                {% for category in categories %}
                    {
                        'id': '{{ category.id }}',
                        'name': '{{ category.name }}'
                    }{% if not forloop.last %},{% endif %}
                {% endfor %}
                {% endif %}
                {% endwith %}
            ],

            'main-block-template': '{{ campaign.template }}',  // DEPRECATED
            'SHUFFLE_RESULTS': {{ campaign.shuffle_results|default:'true' }},  // DEPRECATED
            'stl-image': '{{ campaign.stl_image }}',  // DEPRECATED
            'featured-image': '{{ campaign.featured_image }}',  // DEPRECATED
            'description': '{{ campaign.description|escapejs }}'  // DEPRECATED
        },
        'campaign': '{{ campaign.default_intentrank.id|default:campaign.id }}',
        'columnWidth': function($element) {
            return 240 + 15;
        },
        'maxColumnCount': {{ campaign.column_count|default:4 }},  // optional (default: 4)
        'events': undefined,  // page event bindings (optional)
        'socialButtons': [
            "facebook",
            "twitter",
            "pinterest",
            "tumblr",
            "share"  // who requested this feature?
         ], // optional
        //'shareSocialButtons': [], // optional; default: all
        'shareSources': {},  // optional: default: see sharing module
        'socialButtonsEnableCondition': function (button) {
            // required.
            // this function must return true for a social button to show
            // and return false for a social button not to show
            return true;
        },
        'showCount': false,  // for social buttons
        'enableTracking': true, // optional; default: true
        'eventMap': undefined,  // optional
        'tileElement': undefined,  // optional. alters the type of tag used by tiles.
        'imageTileWide': 0.25,
        'imageSizes': undefined,  // optional, overrides built-in size map
        'tapIndicatorText': undefined,  // optional
        'previewAnimationDuration': 100,  // in ms
        'previewMobileAnimationDuration': 0,
        'masonryAnimationDuration': 0.4,  // in seconds
        'masonryMobileAnimationDuration': 0,
        'featured': {% include "pinpoint/snippets/product_object.js" with product=product featured=True only %},
        // stuff that loads when page loads, even if IR is available
        {% if initial_results %}
            'initialResults': {{ initial_results|safe }},
        {% elif backup_results %}
            'initialResults': [
                {# keep 4 backup results as inital results by default #}
                {% for result in backup_results|slice:":4" %}
                    {% include "pinpoint/snippets/product_object.js" with product=result only %}
                    {% if not forloop.last %},{% endif %}
                {% endfor %}
            ],
        {% endif %}
        'IRResultsCount': 10,
        'IRTimeout': 5000,
        'IRSource': "{{ base_url }}", // optional, defaults to intentrank-test
        'gaAccountNumber': '{{ ga_account_number }}',  // required

        // number of viewports worth of results to keep below the page.
        // 0 is not an acceptable value, but 0.0001 is. default is 1,
        // i.e. there will always be one page worth of results
        // underneath, no matter how fast you scroll.
        'prefetchHeight': 1,

        'lockWidth': undefined,  // must be true (not 1, {}, ...) or a function that returns true. undefined means auto.
        'desiredWidth': 0,  // number, or a function that returns a number. 0 means auto.

        {% if backup_results %}
            // stuff that loads when IR doesn't respond within PAGES_INFO.IRTimeout.
            // it really should contain at least 10 products.
            'backupResults': [
                {% for result in backup_results %}
                    {% include "pinpoint/snippets/product_object.js" with product=result only %}
                    {% if not forloop.last %},{% endif %}
                {% endfor %}
            ]
        {% endif %}
    };

    var _gaq = _gaq || [];
</script>
{% endcompress %}