{% load staticfiles %}
{% load compress %}

{% compress js %}
<script type="text/javascript">
    if (window.SecondFunnel) {
        // Start the SecondFunnel app
        SecondFunnel.start();
        window.sizeImage = SecondFunnel.utils.pickImageSize;  // deprecated
    }
</script>
<script type="text/javascript" src="{% static 'js/css3-mediaqueries.js' %}"></script><!-- IE8 -->
{% endcompress %}
<script type="text/javascript" src="//connect.facebook.net/en_US/all.js"></script>
<!-- End Javascript -->

<!-- Social -->
<div id="fb-root"></div>
<!-- End Social -->
