{% load staticfiles %}
<!-- Additional Head Contents -->
{% for sheet in stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ sheet }}" />
{% endfor %}
<link rel="stylesheet" href="{% static "pinpoint/css/pinpoint.css" %}">
<script src="{% static "js/jquery-1.8.1.min.js" %}"></script>
<script src="{% static "js/infinity.min.js" %}"></script>
<!--script src="{% static "pinpoint/js/tracking.js" %}"></script>
<script src="{% static "pinpoint/js/analytics.js" %}"></script>
<script src="{% static "pinpoint/js/buttons.js" %}"></script-->
<script src="{% static "pinpoint/js/pinpoint.js" %}"></script>