{% load staticfiles %}
{% load pinpoint_ui %}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        {% for sheet in stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ sheet }}" />
        {% endfor %}
        <link rel="stylesheet" href="{% static "pinpoint/css/pinpoint.css" %}">
        <script src="{% static "js/jquery-1.8.1.min.js" %}"></script>
        <script src="{% static "js/infinity.min.js" %}"></script>

        <script type="text/javascript">
            var _pptimeout, pinpointTracking = (function ($, window, document) {
                var referrerName = function () {
                    var host;

                    if (document.referrer === "") {
                        return "noref";
                    }

                    host = parseUri(document.referrer).host;
                    // want top level domain name (i.e. tumblr.com, not site.tumblr.com)
                    host = host.split(".").slice(host.split(".").length - 2, host.split(".").length).join(".");

                    if (host === "") {
                        return "noref";
                    }

                    return host;
                },

                trackEvent = function (o) {
                    var category = "appname=pinpoint|"
                        + "storeid={{ campaign.store.id }}|"
                        + "campaignid={{ campaign.id }}|"
                        + "referrer=" + referrerName() + "|"
                        + "domain=" + parseUri(window.location.href).host;

                    // console.log(['_trackEvent', category, o.action, o.label, o.value || undefined]);
                    _gaq.push(['_trackEvent', category, o.action, o.label, o.value || undefined]);
                },

                registerEvent = function (o) {
                    var actionData = [
                        "network=" + o.network || "",
                        "actionType=" + o.type,
                        "actionSubtype=" + o.subtype || "",
                        "actionScope=" + pinpointTracking.socialShareType,
                    ];

                    trackEvent({
                        "action": actionData.join("|"),
                        "label": o.label || pinpointTracking.socialShareUrl
                    });
                },

                setSocialShareVars = function (o) {
                    if (o['default'] === true) {
                        pinpointTracking.socialShareUrl = $("#featured_img").data("url");
                        pinpointTracking.socialShareType = "featured";
                    } else {
                        pinpointTracking.socialShareUrl = o.url;
                        pinpointTracking.socialShareType = o.sType;
                    }
                },

                clearTimeout = function () {
                    if (typeof _pptimeout == "number") {
                        window.clearTimeout(_pptimeout);
                        delete _pptimeout;
                    }
                },

                init = function() {
                    // load scripts
                    window.twttr = (function (d,s,id) {
                       var t, js, fjs = d.getElementsByTagName(s)[0];
                       if (d.getElementById(id)) return; js=d.createElement(s); js.id=id; js.async=true;
                       js.src="//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs);
                       return window.twttr || (t = { _e: [], ready: function(f){ t._e.push(f) } });
                    }(document, "script", "twitter-wjs"));

                    twttr.ready(function (twttr) {
                        twttr.events.bind('tweet', function(event) {
                            pinpointTracking.registerEvent({
                                "network": "Twitter",
                                "type": "share",
                                "subtype": "shared"
                            });
                        });

                        twttr.events.bind('click', function(event) {
                            var sType;
                            if (event.region == "tweet") {
                                sType = "clicked";
                            } else if (event.region == "tweetcount") {
                                sType = "leftFor";
                            } else {
                                sType = event.region;
                            }
                            pinpointTracking.registerEvent({
                                "network": "Twitter",
                                "type": "share",
                                "subtype": sType
                            });
                        });
                    });
                },

                // parseUri 1.2.2
                // (c) Steven Levithan <stevenlevithan.com>
                // MIT License

                parseUri = function (str) {
                    var o   = parseUri.options,
                    m   = o.parser[o.strictMode ? "strict" : "loose"].exec(str),
                    uri = {},
                    i   = 14;

                    while (i--) uri[o.key[i]] = m[i] || "";

                    uri[o.q.name] = {};
                    uri[o.key[12]].replace(o.q.parser, function ($0, $1, $2) {
                        if ($1) uri[o.q.name][$1] = $2;
                    });

                    return uri;
                };

            parseUri.options = {
                strictMode: false,
                key: ["source","protocol","authority","userInfo","user","password","host","port","relative","path","directory","file","query","anchor"],
                q:   {
                    name:   "queryKey",
                    parser: /(?:^|&)([^&=]*)=?([^&]*)/g
                },
                parser: {
                    strict: /^(?:([^:\/?#]+):)?(?:\/\/((?:(([^:@]*)(?::([^:@]*))?)?@)?([^:\/?#]*)(?::(\d*))?))?((((?:[^?#\/]*\/)*)([^?#]*))(?:\?([^#]*))?(?:#(.*))?)/,
                    loose:  /^(?:(?![^:@]+:[^:@\/]*@)([^:\/?#.]+):)?(?:\/\/)?((?:(([^:@]*)(?::([^:@]*))?)?@)?([^:\/?#]*)(?::(\d*))?)(((\/(?:[^?#](?![^?#\/]*\.[^?#\/.]+(?:[?#]|$)))*\/?)?([^?#\/]*))(?:\?([^#]*))?(?:#(.*))?)/
                }
            };

            this.socialShareType = undefined;
            this.socialShareUrl = undefined;

            return {
                "init": init,
                "registerEvent": registerEvent,
                "setSocialShareVars": setSocialShareVars,
                "clearTimeout": clearTimeout
            }

            }(jQuery, window, document));

pinpointTracking.init();

</script>

<script type="text/javascript" charset="utf-8">
    var _gaq = _gaq || [];

    _gaq.push(['_setAccount', '{{ google_property_id }}']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
    </head>
    <body>
        <div id="fb-root"></div>
        <script>
            window.fbAsyncInit = function() {
                FB.XFBML.parse($("#featured-social .fb_buttons")[0]);

                FB.Event.subscribe('xfbml.render', function(response) {
                    $(".fbLoaded").children(".loading").hide();
                    $(".fbLoaded").children(".buttons").hide();
                    $(".fbLoaded").children(".buttons").css('left', 0);
                    $(".fbLoaded").children(".buttons").fadeIn('fast');
                });
            };

            // Load the FB SDK's source Asynchronously
            (function(d, debug){
             var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
             if (d.getElementById(id)) {return;}
             js = d.createElement('script'); js.id = id; js.async = true;
             js.src = "//connect.facebook.net/en_US/all" + (debug ? "/debug" : "") + ".js";
             ref.parentNode.insertBefore(js, ref);
            }(document, /*debug*/ false));
        </script>

        {% if preview %}
            <div id="preview_header">
                <p>This bar is only visible to you. Analytics for this page will not count when this bar is shown.</p>
            </div>
            <div id="preview_header_spacing">
            </div>
        {% endif %}
        <div id="willet-main">
            <div id="wrapper">
                {% if banner %}
                <div id="banner">
                    <img src="{{ banner }}" />
                </div>
                {% endif %}
                {% for content in campaign.content_blocks.all %}
                    {% render_ui_block content %}
                {% endfor %}
                <div id="waterfall">
                    {% for col in columns reversed %}
                        <div class="column" id="{{col}}">
                            {% for prod in campaign.store.product_set.all %}
                                {% with columns|length as mod %}
                                    {% if forloop.counter|add:col|divisibleby:mod %}
                                        {% include "pinpoint/ui_blocks/discovery-block.html" %}
                                    {% endif %}
                                {% endwith %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
                <div style="clear:both"></div>
            </div>
            <div id="light" style="display: none;">
                <div id="light-inner">
                    <div id="light-content" class="box-content">
                        <div class="x">
                            x
                        </div>
                        <div class="social">
                            <div class="pinterest_buttons"></div>
                            <div class="fb_buttons"></div>
                            <div class="twitter_buttons"></div>
                        </div>
                        <div id="light_img_div"><a class="link"><img id="light_img" /></a></div>
                        <div id="pic_selector">
                            <span class="arrow pic_left">&lsaquo;</span>
                            &nbsp;&nbsp;&nbsp;
                            <span id="pic_index"></span>
                            &nbsp;&nbsp;&nbsp;
                            <span class="arrow pic_right">&rsaquo;</span>
                        </div>
                        <div class="content">
                            <div class="buttons">
                                <div class="buy"><a id="light_buy"><img src="https://static.shopify.com/s/files/1/0029/8962/t/8/assets/willet-buynow.png?106515" /></a></div>
                            </div>
                            <div class="text">
                                <h3><a id="light_title" class="link">Title goes here</a></h3>
                                <h4 id="light_price"></h4>
                                <p id="light_desc"></p>
                            </div>
                            <div id="showmore"></div>
                        </div>
                    </div>
                </div>
                <div id="fade" class="overlay"></div>
            </div>
        </div>

        <div id="fb-root"></div>
        <script>
            $(document).ready(function() {
                listView = new infinity.ListView($("#waterfall"));

                // analytics
                pinpointTracking.setSocialShareVars({"default": true});

                // track the buy now button
                $("#light_buy").click(function() {
                    pinpointTracking.registerEvent({
                        "type": "clickthrough",
                        "subtype": "buy",
                        "label": $(this).attr("href")
                    });
                });

                $("#featured-social").hover(function() {
                    pinpointTracking.clearTimeout();
                    pinpointTracking.setSocialShareVars({"default": true});
                }, function() {});

                $(".click .inner-pin").click(function(){
                    pinpointTracking.registerEvent({
                        "type": "inpage",
                        "subtype": "openpopup",
                        "label": $(this).data("url")
                    });
                });

                $(".socila-hover").click()

                $("img[id='light_img']").click(function(e) {
                    var url = $(this).parent().attr("href");

                    pinpointTracking.registerEvent({
                        "type": "clickthrough",
                        "subtype": "image",
                        "label": url
                    });
                });

                $(".pinterest_buttons a, #light .pinterest_buttons a").live("click", function(e) {
                    pinpointTracking.registerEvent({
                        "network": "Pinterest",
                        "type": "share",
                        "subtype": "click"
                    });
                });

                function mod(num, mod) {
                    return ((num % mod) + mod) % mod;
                };

                function resizeImgMax(img, maxWidth, maxHeight) {
                    var $img = $(img);
                    $img.removeAttr("width");
                    $img.removeAttr("height");
                    $img.removeAttr("style");

                    var w = $img.width();
                    var h = $img.height();

                    if ($img.width() > $img.height()) {
                        var scale = maxWidth / $img.width();
                        $img.height($img.height() * scale);
                        $img.width(maxWidth);
                        } else {
                        var scale = maxHeight / $img.height();
                        $img.width($img.width() * scale);
                        $img.height(maxHeight);
                    }
                };

                function firstN(list, n) {
                    selected = "";
                    for (var i = 0; i < list.length && i < n; i++) {
                        selected += (list[i]);
                    }
                    return selected;
                };

                function splitAfterN(text, n) {
                    var selected = "";
                    var after = "";
                    for (var i = 0; i < text.length; i++) {
                        if (i < n) {
                            selected += (text[i]);
                            } else {
                            after += text[i];
                        }
                    }
                    return [selected, after];
                };

                function splitAfterNPreserveTags(text, n) {
                    // get first section
                    // close unclosed tags
                    // add cooresponding beginning tags to rest
                    // return both parts

                    var selected = "";
                    var rest = "";
                    var inTag = false;
                    var inWord = false;
                    var wordCounter = 0;
                    var counter = 0;
                    for (var i = 0; i < text.length; i++) {
                        var asdf = text.charAt(i);
                        if (counter == 240) {
                            var x = 0;
                        }
                        if (text.charAt(i) == ">") {
                            inTag = false;
                            inWord = false;
                            counter += wordCounter;
                            wordCounter = 0;
                            } else if (text.charAt(i) == "<") {
                            inTag = true;
                            inWord = false;
                            counter += wordCounter;
                            wordCounter = 0;
                            } else if (text.charAt(i) == " " || text.charAt(i) == "\n") {
                            inWord = false;
                            counter += wordCounter;
                            counter++;
                            wordCounter = 0;
                            } else if (inWord) {
                            wordCounter++;
                            } else if (!inTag) {
                            inWord = true;
                        }

                        if (counter < n) {
                            selected += (text.charAt(i));
                            } else {
                            rest += text.charAt(i);
                        }
                    }

                    //var beginningTagReg = /<([^\/ >][^ >]*)[^>]*[^\/]>/g;
                    var beginningTagReg = /<([^\/>][^>]*[^\/]|[^\/>])>/g;
                    var endingTagReg = /<\/[^>]*>/g;
                    var tags = selected.match(beginningTagReg);
                    var endingTags = selected.match(endingTagReg);

                    function type(tag) {
                        return tag.replace(/<\/?([^> ]*)[^>]*>/, function(match, g1){return g1;});
                    };

                    if (tags != null) {
                        var selectedTags = ""
                        var restTags = "";
                        for(var i = 0; i < tags.length; i++) {
                            var beginningType = type(tags[i]);
                            var foundEnd = false;
                            //alert([tags[i], beginningType]);
                            for (var j = endingTags.length - 1; j >= 0; j--) {
                                //alert([endingTags[j], type(endingTags[j])]);
                                if (type(endingTags[j]) == beginningType) {
                                    foundEnd = true;
                                    endingTags.splice($.inArray(endingTags[j], endingTags), 1);
                                    break;
                                }
                            }
                            if (!foundEnd) {
                                restTags += tags[i];
                                selectedTags = "</" + beginningType + ">" + selectedTags;
                            }
                        }

                        selected += selectedTags;
                        rest = restTags + rest;
                    }

                    return [selected, rest];
                };

                var getCSSNumericValue = function ($elem, rule) {
                    // Get pixel value, remove 'px' from end of string, convert to a number
                    return Number($elem.css(rule).substring(0, $elem.css(rule).length - 2));
                };

                var showPinOf = function(elem, readMore) {
                    $("#light_img").hide();
                    var imgs = $(elem).attr("data-img").split("|")
                    imgs.pop();
                    var img_index = 0;
                    var data = {
                        'title': $(elem).attr("data-title"),
                        'desc': $(elem).attr("data-desc"),
                        'price': $(elem).attr("data-price"),
                        'img': imgs,
                        'link': $(elem).attr("data-url"),
                        'buy': $(elem).attr("data-url")
                    };

                    pinpointTracking.clearTimeout();
                    pinpointTracking.setSocialShareVars({"sType": "popup", "url": data.link});

                    $("#light .fb_buttons").html('<div class="fb-like" data-href="' + data.link + '" data-send="false" data-layout="button_count" data-width="80" data-show-faces="false"></div>')
                    FB.XFBML.parse($("#light .fb_buttons")[0]);
                    $("#light .fb_buttons, #light .fb-like").show();

                    $("#light .twitter_buttons").html('' +
                    '<a href="https://twitter.com/share?url=' + data.link +
                        '&text=' + data.title + '" class="twitter-share-button" data-lang="en">Tweet</a>');

                    $("#light .pinterest_buttons").html('' +
                    '<a href="http://pinterest.com/pin/create/button/' +
                        '?url=' + data.link +
                        '&media=' + imgs[0] +
                        '&description=' + data.title +
                        '" target="_blank"' +
                        ' class="pin-it-button" count-layout="horizontal">' +
                        '<img border="0" src="//assets.pinterest.com/images/PinExt.png" ' +
                        'title="Pin It" /></a>');

                    function updateImage() {
                        $("#light_img").hide();
                        $("#light_img").removeAttr("src");
                        $("#light_img").unbind('load').load(function() {
                            resizeImgMax($("#light_img")[0], 500, 400);
                            $("#light_img").css("padding-top",
                            (($("#light_img_div").height() - $("#light_img").height()) / 2)
                            + "px");
                            $("#light_img").show();
                        });
                        $("#light_img").attr("src", data.img[img_index]);
                        $("#pic_index").text((img_index + 1) + " out of " + data.img.length);
                    };

                    var textParts = splitAfterNPreserveTags(data.desc, 250);
                    $("#light_title").html(data.title);
                    $("#light_desc").html(
                    textParts[0] +
                    textParts[1]);
                    $("#light .link").attr("href", data.link);

                    $("#light").fadeIn(100);
                    $("#fade").fadeIn(100);

                    updateImage();

                    $("#light .pic_right").click(function() {
                        img_index = mod((img_index + 1), data.img.length);
                        updateImage();
                    });

                    $("#light .pic_left").click(function() {
                        img_index = mod((img_index - 1), data.img.length);
                        updateImage();
                    });

                    var buy_url = data.buy;
                    $("#light_buy").attr("href", buy_url);
                    $("#light_price").text(data.price);

                    $(".pinterest_buttons>div").hide();
                    $(".pinterest_buttons div[data-id='" + data.title + "']").show();

                    $(".twitter_buttons>div").hide();
                    $(".twitter_buttons div[data-id='" + data.title + "']").show();

                    $(".fb_buttons>div").hide();
                    $(".fb_buttons div[data-id='" + data.title + "']").show();

                    var $box = $(".box-content");
                    var box_height = $box.height()
                    //var box_height = 490 + getCSSNumericValue($box,'padding-top') + getCSSNumericValue($box,'padding-bottom');
                    //$box.css('top', ($(window).height() - box_height) / 2 );

                    // need to register twitter buttons we've created above
                    twttr.widgets.load();
                };
                var showPin = function () {
                    showPinOf(this);
                };
                //$("#featured_img img").width($("#featured_img img").width() * 0.5);
                //$("#featured_img img").height($("#featured_img img").height() * 0.5);
                $("#featured_img img").load(function() {
                    resizeImgMax($("#featured_img img")[0]);
                    $("#featured_img img").css("margin-top",
                    (($("#featured_img").height() - $("#featured_img img").height()) / 2) +
                    "px");
                });

                $("#light").hide();
                $("#fade").hide();
                $("#fade, .x").click(function(){
                    $("#light").fadeOut(100);
                    $("#fade").fadeOut(100);
                });
                $(".x").click(function() {
                    pinpointTracking.setSocialShareVars({"default": true});
                });
                $(".click .inner-pin, #featured-product .click").click(function() {
                    showPinOf($(this).closest(".click")[0]);
                });

                $featuredDesc = $("#featured_desc");
                if ($featuredDesc.length > 0 && $featuredDesc.html().length > 250) {
                    $featuredDesc.html(firstN($featuredDesc.html(), 250) +
                    "... <a class='click' id='featured-read-more'>Read more</a>")
                }

                $("#featured-read-more").click(function() {
                    showPinOf($("#featured_img"), true);
                });

                $(".social-hover").closest(".pin").hover(function () {
                    pinpointTracking.setSocialShareVars({"sType": "discovery", "url": $(this).data("url")});
                    pinpointTracking.clearTimeout();

                    $(this).children(".social-hover").fadeIn('fast');

                    var $share = $(".social-hover", this);
                    if (!$share.hasClass('fbLoaded') && window.FB) {
                        $(".loading", $share).show();
                        $share.addClass('fbLoaded');
                        FB.XFBML.parse($('.fb_buttons', $share)[0]);
                    }
                    }, function() {
                    pinpointTracking.clearTimeout();
                    if (pinpointTracking.socialShareType !== "popup") {
                        _pptimeout = window.setTimeout('pinpointTracking.setSocialShareVars({"default": true})', 2000);
                    }
                    $(this).children(".social-hover").fadeOut('fast');
                });
            });
            </script>
        </body>
    </html>
