{% load static %}
<div class='discovery-area'>
</div>
<!-- JS TEMPLATES -->
{% block discovery_block %}
<script type="text/template" id="discovery_product_template">
    <div class='block product' data-botox="false">
        <% if (product.lifestyle_image) { %>
        <div class='lifestyle'>
            <img class='lifestyle' src='<%= product.lifestyle_image %>' />
        </div>
        <% } %>
        <div class='product'>
            <div class='img-container'>
                <img src='<%= product.image %>'/>
                <div class='social'>
                    <% include social_buttons %>
                </div>
            </div>
            <div class='title'><b><%= product.title %></b></div>
        </div>
    </div>
</script>
{% endblock discovery_block %}
<script type="text/template" id="social_buttons">
    <% var image = product.featured_image || product.image || undefined %>
    <div class='social-buttons'>
        <% if (!product.featured_image) { %>
        <div class="loading-container">
            <% } %>
            <div class='button facebook<% if (!product.featured_image) { %> no-count <% } %>'>
                <fb:like href="<%= product.url %>"
                         width="48"
                         layout="button_count"
                         show_faces="false"></fb:like>
            </div>
            <div class='button twitter'>
                <% if (product.featured_image) { %>
                <a href="https://twitter.com/share?url=<%= product.url %>"
                   class="twitter-share-button"
                   data-lang="en">
                    Tweet
                </a>
                <% } else { %>
                <a href="https://twitter.com/share?url=<%= product.url %>"
                   target="_blank">
                    <img src="{% static "pinpoint/images/twitterButton.png" %}"/>
                </a>
                <% } %>
            </div>
            <div class='button pinterest'>
                <a href="http://pinterest.com/pin/create/button/?url=<%= product.url %>&media=<%= image %>"
                   target="_blank">
                    <img src="
                    {% static "pinpoint/images/pinpointButton.png" %}"/>
                </a>
            </div>
            <% if (!product.featured_image) { %>
        </div>
        <% } %>
    </div>
</script>
<script type="text/template" id="youtube_video_template">
    <div class='block youtube wide'>
        <div class="pin click video">
            <div class="inner-pin">
                <div id="<%= video_id %>"></div>
            </div>
        </div>
    </div>
</script>
<script type="text/template" id="instagram_external_template">
    <div class='block external-content instagram'>
        <div class='product'>
            <div class='img-container'>
                <img src='<%= content['image-url'] %>' alt='<%= content['original-id'] %>' />
            </div>
        </div>
    </div>
</script>