{% load staticfiles %}
<!-- Additional Head Contents -->
{% for sheet in stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ sheet }}" />
{% endfor %}

{# Required CSS #}
<link rel="stylesheet" href="{% static "pinpoint/css/pages.css" %}">
<!-- Allows for transparent background in ie8 -->
<!--[if IE 8]>
<style>
    .preview .mask {
        background:transparent;
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2FFFFFF,endColorstr=#B2FFFFFF);
        zoom: 1;
    }
</style>
<![endif]-->

