<!DOCTYPE html>
<html lang="en">
    <head>
        {{ opengraph_tags }}
        {{ head_content }}
    </head>

    <body>

        {{ body_content }}

        <!-- remove this line if you have replaced all default templates -->
        {{ js_templates }}

        <div class="waterfall container">
            <div id="discovery-area" class="discovery-area"></div>
            <div class="no-noscript loading"></div>
            <noscript>
                <div class="alert alert-danger">
                    <b>Oh no!</b> We need JavaScript enabled to show you this page.
                </div>
            </noscript>
        </div>

    </body>
</html>
