{% load staticfiles %}
{% load compress %}

{% compress js %}
    <script src="{% static "js/underscore.js" %}"></script>
    <script src="{% static "js/jquery-1.8.1.min.js" %}"></script>
    <script src="{% static "js/jquery.viewport.js" %}"></script>
    <script src="{% static "js/jquery.masonry.min.js" %}"></script>
    <script src="{% static "js/jquery.imagesloaded.min.js" %}"></script>

    <script type="text/javascript">
        (function() {
            window.PINPOINT_INFO = {
                'store': {
                    'id': '{{ campaign.store.slug }}',
                    'name': '{{ campaign.store.name }}'
                },
                'campaign': {
                    'id': '{{ campaign.id }}'
                },
                'featured': {
                    'id': '{{ product.id }}',
                    'lifestyle_image': '{{ product.lifestyle_image }}',
                    'featured_image': '{{ product.featured_image }}',
                    'description': '{{ product.description }}',
                    'name': '{{ product.name }}',
                    'title': '{{ product.name }}',
                    'price': '{{ product.price }}',
                    'url': '{{ product.url }}'
                }
            };
        })();
    </script>

    <script src="{% static "pinpoint/js/tracking.js" %}"></script>
    <script src="{% static "pinpoint/js/pinpoint.js" %}"></script>

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ ga_account_number }}']);

        _gaq.push(['_setCustomVar',
            1,                          // slot id
            'StoreID',                  // name
            '{{ campaign.store.id }}',  // value
            3                           // scope: page-level
        ]);

        _gaq.push(['_setCustomVar',
            2,
            'CampaignID',
            '{{ campaign.id }}',
            3
        ]);

        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
{% endcompress %}