{% load staticfiles %}
{% load compress %}

{% compress js %}

<script src="{% static "js/jquery.mobile-1.2.1.min.js" %}"></script>
<script src="{% static "js/mbp.js" %}"></script>
<script src="{% static "js/swipe.js" %}"></script>

<script type="text/javascript">
    var local_data = {};

    function render_to_view(view_selector, template_name, context, append) {
        var template = $("[data-template-id='" + template_name + "']").html(),
            rendered_block;

        // template does not exist
        if (template === undefined) {
            return;
        }

        rendered_block = _.template(template, context);

        if (append) {
            $(view_selector).append(rendered_block);
        } else {
            $(view_selector).html(rendered_block);
        }
    }

    PAGES.init(

        // ready
        function () {

            MBP.hideUrlBarOnLoad();
            MBP.preventZoom();

            $(window).scroll(PAGES.pageScroll);
            $(window).resize(PAGES.pageScroll);

            PAGES.loadInitialResults();
        },

        // layoutResults
        function (jsonData, belowFold) {
            _.each(jsonData, function (data, index, list) {

                console.log("rendering", index);

                var object_id = data.id || data['original-id'];

                // cache content's data for future rendering
                local_data[data.template + object_id] = data;

                // render object if possible
                render_to_view(".content_list", data.template, {
                    data: data
                }, true);

                // just rendered last element
                if (index == (list.length - 1)) {
                    PAGES.setLoadingBlocks(false);
                }
            });
        }
    );
</script>

{% endcompress %}