{% load staticfiles %}
{% load compress %}

<script type="text/javascript" src="//connect.facebook.net/en_US/all.js"></script>
{% compress js %}
<script type="text/javascript" src="{% static 'js/respond.min.js' %}"></script><!-- "as early after the css as possible" -->
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.mobile.swipeonly.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.viewport.min.js' %}"></script><!-- after jquery -->
<script type="text/javascript" src="{% static 'js/json2.js' %}"></script>
<script type="text/javascript" src="{% static 'js/underscore.js' %}"></script>
<script type="text/javascript" src="{% static 'js/backbone.js' %}"></script>
<script type="text/javascript" src="{% static 'js/backbone.marionette.min.js' %}"></script><!-- after backbone -->
<script type="text/javascript" src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.masonry.pkgd.min.js' %}"></script>
<script type="text/javascript" src="{% static 'pinpoint/js/jquery.masonry.extensions.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'pinpoint/js/pages.marionette.preinit.js' %}"></script><!-- after marionette -->
<script type="text/javascript" src="{% static 'pinpoint/js/pages.marionette.js' %}"></script><!-- after preinit -->
<script type="text/javascript" src="{% static 'pinpoint/js/pages.marionette.observable.js' %}"></script><!-- after marionette -->
<script type="text/javascript" src="{% static 'pinpoint/js/pages.marionette.tracker.js' %}"></script><!-- after marionette -->
<script type="text/javascript" src="{% static 'pinpoint/js/pages.marionette.layoutengine.js' %}"></script><!-- after marionette -->
<script type="text/javascript" src="{% static 'pinpoint/js/pages.marionette.sharing.js' %}"></script><!-- after marionette -->
<script type="text/javascript" src="{% static 'pinpoint/js/pages.marionette.ir.js' %}"></script><!-- after marionette -->
<script type="text/javascript" src="{% static 'pinpoint/js/pages.marionette.viewport.js' %}"></script><!-- after pages -->
<script type="text/javascript" src="{% static 'pinpoint/js/pages.marionette.init.js' %}"></script><!-- after pages -->
<script type="text/javascript" src="{% static 'pinpoint/js/pages.marionette.widget.gallery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/css3-mediaqueries.js' %}"></script><!-- IE8 -->
<script type="text/javascript">
    if (window.SecondFunnel) {
        // Start the SecondFunnel app
        SecondFunnel.start(SecondFunnel.options);
        window.sizeImage = SecondFunnel.utils.pickImageSize;  // export for designers
    }
</script>
<!-- End Javascript -->
{% endcompress %}

<!-- Social -->
<div id="fb-root"></div>
<!-- End Social -->
