{% load static %}
<div class='preview product' style='display: none;'>
    <div class="mask"></div>
    <div class="tablecell">
        <div class="content">
            <span class="close">X</span>
            <div class='template target' data-src="preview"></div>
        </div>
    </div>
</div>
<script type="text/template" data-template-id="social_buttons">
    <% var product = data || page.product; %>
    <% var has_featured_img = !data.title; %>
    <% var image = (has_featured_img) ? (page['stl-image'] || page['featured-image']) : product.image;%>
    <div class='social-buttons'>
        <% if (!has_featured_img) { %>
        <div class="loading-container">
            <% } %>
            <div class='button facebook<% if (!has_featured_img) { %> no-count <% } %>'>
                <fb:like href="<%= product.url %>"
                         width="48"
                         layout="button_count"
                         show_faces="false"></fb:like>
            </div>
            <div class='button twitter'>
                <% if (has_featured_img) { %>
                <a href="https://twitter.com/share?url=<%= product.url %>"
                   class="twitter-share-button"
                   data-lang="en">
                    Tweet
                </a>
                <% } else { %>
                <a href="https://twitter.com/share?url=<%= product.url %>"
                   target="_blank">
                    <img src="{% static "pinpoint/images/twitterButton.png" %}"/>
                </a>
                <% } %>
            </div>
            <div class='button pinterest'>
                <a href="http://pinterest.com/pin/create/button/?url=<%= product.url %>&media=<%= image %>"
                   target="_blank">
                    <img src="
                    {% static "pinpoint/images/pinpointButton.png" %}"/>
                </a>
            </div>
            <% if (!has_featured_img) { %>
        </div>
        <% } %>
    </div>
</script>
<script type="text/template" data-template-id="youtube_video_template">
    <div class='block youtube wide'>
        <div class="pin click video">
            <div class="inner-pin">
                <div id="<%= data.id %>"></div>
            </div>
        </div>
    </div>
</script>
<script type="text/template" data-template-id="instagram"
        data-appearance-probability="0.25">
    <div class='block product external-content instagram'>
        <div class='product'>
            <div class='img-container'>
                <img src='<%= data["image-url"] %>'
                     alt='Instagram image'
                     data-original-id='<%= data["original-id"] %>' />
            </div>
        </div>
    </div>
</script>