{% load static %}
<script type="text/template" id="disabled_featured_template">
    <div class='featured product'>
        <!-- Main Display Area -->
        <img class='img-responsive pull-left' src='<%= obj.image %>' />
        <div class='pull-right'><%= obj.title %></div>
            <div class='price'><%= obj.price %></div>
            <div>
                <a href='<%= obj.url %>' target='_blank'>BUY NOW</a>
            </div>
        </div>
    </div>

    <div class='spacer'></div>
</script>

<script type="text/template" id="product_tile_template">
    <div class="tap-indicator-target"></div>
    <img class="focus" src="<%= obj.defaultImage.url %>" alt="<%= caption %>" />
    <% if (SecondFunnel.option('debug', 0) > 1) { %>
        <span class="type"><%= obj['content-type'] %></span>
    <% } %>
    <div class="social-buttons"></div>
</script>

<script type="text/template" id="product_mobile_tile_template">
    <div class="tap-indicator-target"></div>
    <img class="focus" src="<%= obj.defaultImage.url %>" alt="<%= caption %>" />
    <% if (SecondFunnel.option('debug', 0) > 1) { %>
        <span class="type"><%= obj['content-type'] %></span>
    <% } %>
    <% if (obj.name) { %>
        <div class="caption">
            <span><%= obj.name.truncate(40, false, true) %></span>
        </div>
    <% } %>
    <div class="social-buttons"></div>
</script>

<script type="text/template" id="image_tile_template">
    <div class="tap-indicator-target"></div>
    <img class="focus" src="<%= obj.defaultImage.url %>" alt="<%= caption %>" />
    <% if (SecondFunnel.option('debug', 0) > 1) { %>
        <span class="type"><%= obj['content-type'] %></span>
    <% } %>
    <div class="social-buttons"></div>
    <!-- if (obj['related-products'].length) { %>
        <div class="combobox-enabled" style="display:none"></div>
    <% } -->
</script>

<script type="text/template" id="youtube_tile_template">
    <div class="img-responsive thumbnail"
         style="background-image: url('<%= obj.thumbnail || obj.defaultImage.url %>');">
      &nbsp;
      <img src="" alt="this img tag intentionally left blank" style="visibility:hidden"/>
    </div>
    <%= obj.caption || obj.name %>
    <div class="social-buttons"></div>
</script>

<script type="text/template" id="preview_container_template">
    <div class="tablecell">
        <div class="content">
            <span class="close">&#x00D7;</span>
            <div class="scrollable">
                <div class="template target"></div>
            </div>
        </div>
    </div>
    <div class="mask"></div>
</script>

<script type="text/template" id="tile_preview_template">
    <h2><span class="label label-info"><%= obj.template %>_preview_template</span> is missing.</h2>
    <p>You can define one in your template.</p>
    <ul>
        <% for (i in obj) { %>
            <li><b><%= i %></b>: <%= obj[i] %></li>
        <% } %>
    </ul>
</script>

<script type="text/template" id="tap_indicator_template">
    +
    <div>
        <%= SecondFunnel.option('tapIndicatorText', 'tap to see more') %>
    </div>
</script>
<script type="text/template" id="facebook_social_button_template">
    <div class='button facebook'>
        <img src="//s3-us-west-2.amazonaws.com/static-misc-secondfunnel/images/fb-like-0.png" alt="Like" class="placeholder" />
        <fb:like href="<%= url %>" width="48" layout="button_count"
                 show_faces="false"></fb:like>
    </div>
</script>

<script type="text/template" id="twitter_social_button_template">
    <% if (showCount) { %>
        <div class='button twitter' style='height: 13px; width: 77px;'>
            <a href="https://twitter.com/share"
               class="twitter-share-button"
               data-text="{{ campaign.description|default:'' }} <%= url %>"
               data-lang="en" data-height= "15">
              Tweet
            </a>
        </div>
    <% } else { %>
        <div class='button twitter'>
            <a href="https://twitter.com/share?url=<%= url %>&text={{ campaign.description|default:'' }}"
               target="_blank">
                <img src="//elasticbeanstalk-us-east-1-056265713214.s3.amazonaws.com/pinpoint/images/twitterButton.png"/>
            </a>
        </div>
    <% } %>
</script>

<script type="text/template" id="pinterest_social_button_template">
    <div class='button pinterest'>
        <a href="http://pinterest.com/pin/create/button/?url=<%= url %>&media=<%= image %>&description={{ campaign.description|default:'' }}"
           target="_blank"><img src="//elasticbeanstalk-us-east-1-056265713214.s3.amazonaws.com/pinpoint/images/pinpointButton.png"/></a>
    </div>
</script>

<script type="text/template" id="reddit_social_button_template">
    <div class="button reddit">
        <a href="http://www.reddit.com/submit"
           onclick="window.location = 'http://www.reddit.com/submit?url=<%= url %>'; return false"
          ><img src="http://www.reddit.com/static/spreddit7.gif"
               alt="submit to reddit"
               border="0" /></a>
    </div>
</script>

<script type="text/template" id="tumblr_social_button_template">
    <div class="button tumblr">
        <a href="http://www.tumblr.com/share/photo?source=<%= url %>&caption=<%= caption %>&click_thru=<%= url %>"
             target='_blank'><img src="http://platform.tumblr.com/v1/share_1.png"/></a>
    </div>
</script>

<script type="text/template" id="share_social_button_template">
    <div class="button share-this">
        <a href=""><img src="//s3-us-west-2.amazonaws.com/static-misc-secondfunnel/images/Sharethis-draft1.png"
                        alt="Share this" border="0" /></a>
    </div>
</script>

<script type="text/template" id="share_popup_template">
    <div class="mask"></div>
    <div class="tablecell">
        <div class="content">
            <span class="close">&#x00D7;</span>
            <h2> Share This </h2>
            <div class="share"></div>
        </div>
    </div>
</script>

<script type="text/template" id="share_popup_option_template">
    <a href="<%= url %>" target="_blank">
        <div style="position: relative;">
            <div class="share_img"></div>
            <span class="share_text"><%= text %></span>
        </div>
    </a>
</script>

<script type="text/template" id="product_preview_template">
    <img src="<%= obj.defaultImage.url %>" alt=""/>
    <%= obj.price %>
    <div class="social-buttons"></div>
</script>

<script type="text/template" id="image_preview_template">
    <h4>
        <span class="label label-info"><%= obj.template %></span>
        <%= obj.caption || obj.title || obj.name %>
        <!-- in that order (it may still have none of those) -->
    </h4>
    <img src="<%= obj.defaultImage.url %>" alt=""/>
    <div class="social-buttons"></div>
</script>