
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ campaign.name|default:"NewEgg Holiday Gift Guide" }}</title>
        <!-- CSS -->
        {{ opengraph_tags }}
        {{ campaign_config }}
        {{ head_content }}
        <style type="text/css">
            /* why did she leave this in? */
            @charset "UTF-8";
            .main-image-container {
                padding-left: 0;
                padding-right: 0;
            }

            @media (min-width: 768px) {
                .accordion-container {
                    /* Allow scrolling accordion on tablet and desktop */
                    overflow-y: auto;
                    height: 345px;
                    padding-left: 0;
                }

                .panel-group .panel .panel-body{
                    max-height: 209px!important;
                    overflow-y: auto;
                    /* constant height */
                    height: 209px;
                }
            }

            .panel-default>a>.panel-heading {
                background-color: #f8f8f8;
                color: #333;
                border-color: #ddd;
                border-bottom: 0;
            }
            .panel-default>a:hover {
                cursor: pointer;
            }
            .buttons-container {
                padding: 0 0 7px 9px;
            }

            .nav-tabs>li>a:hover {
                cursor: pointer;
            }
        </style>
        <link rel="stylesheet" type="text/css" href="https://s3-us-west-2.amazonaws.com/static-misc-secondfunnel/css/newegg20131129.css" />
        <style type="text/css">
            /* late stage patches */
            .tile .social-buttons {
                bottom: 40px;
            }
        </style>
        <!-- End CSS -->
    </head>

    <body>
        <header>
            <nav class="navbar navbar-static-top" role="navigation">
                <div class="container">
                    <ul class="nav navbar-nav">
                        <li><a href="http://www.newegg.com/">
                            <img class="navbar-brand-logo" src="http://images10.newegg.com/WebResource/Themes/2005/Nest/neLogoUS.png" alt="Newegg.com"></a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown dropdown-xs">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Find us:<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a class="facebook" href="http://www.facebook.com/Newegg">Facebook</a></li>
                                <li><a class="twitter" href="http://www.twitter.com/NeweggHotDeals">Twitter</a></li>
                                <li><a class="instagram" href="http://www.instagram.com/newegg">Instagram</a></li>
                                <li><a class="pinterest" href="http://www.pinterest.com/newegg">Pinterest</a></li>
                                <li><a class="youtube" href="http://www.youtube.com/newegg">Youtube</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right hidden-xs">
                        <li class="sharing">
                            Find us:
                            <ul>
                                <li class="icon facebook">
                                    <a href="http://www.facebook.com/Newegg"
                                       target="_blank">&nbsp;</a>
                                </li>
                                <li class="icon twitter">
                                    <a href="http://www.twitter.com/NeweggHotDeals"
                                       target="_blank">&nbsp;</a>
                                </li>
                                <li class="icon instagram">
                                    <a href="http://www.instagram.com/newegg"
                                       target="_blank">&nbsp;</a>
                                </li>
                                <li class="icon pinterest">
                                    <a href="http://www.pinterest.com/newegg"
                                       target="_blank">&nbsp;</a>
                                </li>
                                <li class="icon youtube">
                                    <a href="http://www.youtube.com/newegg"
                                       target="_blank">&nbsp;</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="waterfall container"><!-- .container is bootstrap magic, and has a viewport-dependent width. -->
            <a href='http://www.newegg.com'> <div id="hero-area"></div> </a>
            <div class="menu-area" id="menu">
                <div class="menu-heading"> Gift Guides</div>
                <img class="menu-background" src="http://explore.newegg.com/static/images/menu_background_desktop.png">
                    <div class="feed-menu">
                        <li class="dropdown dropdown-xs">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Stocking Stuffers<div class="dropdown-arrow"> <b class="caret"> </b></div></a>
                                <ul class="dropdown-menu">
                                    <li><a class="stocking-stuffers selected" href="#StockingStuffers" data-campaign-id="97">Stocking Stuffers</a></li>
                                    <li><a class="entertainment" href="#Entertainment" data-campaign-id="97">Entertainment Guru</a></li>
                                    <li><a class="diy" href="#DIY-PC-Geek" data-campaign-id="97">DIY PC Geek</a></li>
                                    <li><a class="computing" href="#HomeComputing" data-campaign-id="97">Home Computing</a></li>
                                    <li><a class="geeky" href="#GeekyLiving" data-campaign-id="97">Geeky Living</a></li>
                                    <li><a class="kids" href="#ForKids" data-campaign-id="97">For Kids</a></li>
                                    <li><a class="him" href="#ForHim" data-campaign-id="97">For Him</a></li>
                                    <li><a class="her" href="#ForHer" data-campaign-id="97">For Her</a></li>
                                </ul>
                        </li>
                    </div>

                    <div class="feed-menu hidden-xs">
                        <a href="#StockingStuffers" data-campaign-id="97"><img class="opacity_img stocking-stuffers selected" src='http://explore.newegg.com/static/images/menu_stocking_stuffers.png'/></a>
                        <a href="#Entertainment" data-campaign-id="97"><img class="opacity_img entertainment" src='http://explore.newegg.com/static/images/menu_entertainment.png'/></a>
                        <a href="#DIY-PC-Geek" data-campaign-id="97"><img class="opacity_img diy" src='http://explore.newegg.com/static/images/menu_diy.png'/></a>
                        <a href="#HomeComputing" data-campaign-id="97"><img class="opacity_img computing" src='http://explore.newegg.com/static/images/menu_computing.png'/></a>
                        <a href="#GeekyLiving" data-campaign-id="97"><img class="opacity_img geeky" src='http://explore.newegg.com/static/images/menu_geeky.png'/></a>
                        <a href="#ForKids" data-campaign-id="97"><img class="opacity_img kids" src='http://explore.newegg.com/static/images/menu_kids.png'/></a>
                        <a href="#ForHim" data-campaign-id="97"><img class="opacity_img him" src='http://explore.newegg.com/static/images/menu_him.png'/></a>
                        <a href="#ForHer" data-campaign-id="97"><img class="opacity_img her" src='http://explore.newegg.com/static/images/menu_her.png'/></a>
                    </div>

            </div>
            <div id="discovery-area" class="discovery-area"></div>
            <div class="no-noscript loading"></div>
            <div id='preview'></div>
	    <div id='jump_to_categories' class='jump'>
		    <a class="jump-link" href='#menu'><b class="caret transform"></b>Top</a>
	    </div>
            <noscript>
                <!-- promotions to show when user does not have javascript.
                     this is a 'we need javascript' message by default.
                 -->
                <div class="alert alert-danger">
                    <b>Oh no!</b> We need JavaScript enabled to show you this page.
                </div>
            </noscript>
        </div>

        <!-- Templates -->
        <div>
            <script type="text/template" id="disabled_featured_template">
                <div class='featured product'>
                    <!-- Main Display Area -->
                    <img class='img-responsive pull-left' src='<%= obj.image.url %>' />
                    <div class='pull-right'><%= obj.title %></div>
                        <div class='price'><%= obj.price %></div>
                        <div>
                            <a href='<%= obj.url %>' target='_blank'>BUY NOW</a>
                        </div>
                    </div>

                <div class='spacer'></div>
            </script>
        <!--Modified this template to create a mobile hero banner -->
            <script type="text/template" id="hero_template">
                <div class="visible-mobile jumbotron"></div>
                <div class="visible-xs jumbotron"></div>
                <div class="visible-sm jumbotron"></div>
                <div class="visible-md visible-lg jumbotron"></div>
            </script>
            <script type="text/template" id="product_tile_template">
                <div class="tap-indicator-target"></div>
                <img class="focus"
                     src="<%= obj.image.url %>"
                     style="background-color:<%= obj.image.color %>;"
                     alt="<%= obj.caption %>" />
                <% if (SecondFunnel.option('debug', 0) > 1) { %>
                    <span class="type"><%= obj['content-type'] %></span>
                <% } %>
                <div class="social-buttons"></div>
            </script>
            <script type="text/template" id="product_mobile_tile_template">
                <div class="tap-indicator-target"></div>
                <img class="focus" src="<%= obj.image.url %>"
                     alt="<%= obj.caption %>"
                     style="background-color:<%= obj.image.color %>;"
                     width="<%= obj.image.width %>" />
                <% if (SecondFunnel.option('debug', 0) > 1) { %>
                    <span class="type"><%= obj['content-type'] %></span>
                <% } %>
                <% if (obj.name) { %>
                    <div class="caption">
                        <span><%= obj.name.truncate(40, false, true) %></span>
                    </div>
                <% } %>
                <div class="social-buttons"></div>
            </script>
            <script type="text/template" id="image_tile_template">
                <div class="tap-indicator-target"></div>
                <img class="focus" src="<%= obj.image.url %>"
                     alt="<%= caption %>"
                     style="background-color:<%= obj.image.color %>;"
                     width="<%= obj.image.width %>" />
                <% if (SecondFunnel.option('debug', 0) > 1) { %>
                    <span class="type"><%= obj['content-type'] %></span>
                <% } %>
                <div class="social-buttons"></div>
            </script>
            <script type="text/template" id="youtube_tile_template">
                <div class="img-responsive thumbnail"
                     style="background-image: url('<%= obj.image.url %>');">
                  &nbsp;
                  <img src="" alt="this img tag intentionally left blank" style="visibility:hidden"/>
                </div>
                <%= obj.caption || obj.name %>
                <div class="social-buttons"></div>
            </script>
            <script type="text/template" id="preview_container_template">
                <div class="tablecell">
                    <div class="content">
                        <span class="close">&#x00D7;</span>
                        <div class="scrollable">
                            <div class="template target"></div>
                        </div>
                    </div>
                </div>
                <div class="mask"></div>
            </script>
            <script type="text/template" id="tile_preview_template">
                <h2><span class="label label-info"><%= obj.template %>_preview_template</span> is missing.</h2>
                <p>You can define one in <code>index.html</code>.</p>
                <ul>
                    <% for (i in obj) { %>
                        <li><b><%= i %></b>: <%= obj[i] %></li>
                    <% } %>
                </ul>
            </script>
            <script type="text/template" id="tap_indicator_template">
                +
                <div>
                    <%= SecondFunnel.option('tapIndicatorText', 'tap to see more') %>
                </div>
            </script>
            <script type="text/template" id="facebook_social_button_template">
                <div class='button facebook'>
                    <img src="//s3-us-west-2.amazonaws.com/static-misc-secondfunnel/images/fb-like-0.png" alt="Like" class="placeholder" />
                    <fb:like href="<%= url %>" width="48" layout="button_count"
                             show_faces="false"></fb:like>
                </div>
            </script>
            <script type="text/template" id="twitter_social_button_template">
                <% if (showCount) { %>
                    <div class='button twitter' style='height: 13px; width: 77px;'>
                        <a href="https://twitter.com/share?url=<%= url %>"
                           class="twitter-share-button"
                           data-lang="en" data-height= "15">
                          Tweet
                        </a>
                    </div>
                <% } else { %>
                    <div class='button twitter'>
                        <a href="https://twitter.com/share?url=<%= url %>" target="_blank">
                            <img src="//elasticbeanstalk-us-east-1-056265713214.s3.amazonaws.com/pinpoint/images/twitterButton.png"/>
                        </a>
                    </div>
                <% } %>
            </script>
            <script type="text/template" id="pinterest_social_button_template">
                <div class='button pinterest'>
                    <a href="http://pinterest.com/pin/create/button/?url=<%= url %>&media=<%= image %>"
                       target="_blank"><img src="//elasticbeanstalk-us-east-1-056265713214.s3.amazonaws.com/pinpoint/images/pinpointButton.png"/></a>
                </div>
            </script>
            <script type="text/template" id="reddit_social_button_template">
                <div class="button reddit">
                    <a href="http://www.reddit.com/submit"
                       onclick="window.location = 'http://www.reddit.com/submit?url=<%= url %>'; return false"
                      ><img src="http://www.reddit.com/static/spreddit7.gif"
                           alt="submit to reddit"
                           border="0" /></a>
                </div>
            </script>
            <script type="text/template" id="tumblr_social_button_template">
                <div class="button tumblr">
                    <a href="http://www.tumblr.com/share/photo?source=<%= url %>&caption=<%= caption %>&click_thru=<%= url %>"
                         target='_blank'><img src="http://platform.tumblr.com/v1/share_1.png"/></a>
                </div>
            </script>
            <script type="text/template" id="share_social_button_template">
                <div class="button share-this">
                    <a href=""><img src="//s3-us-west-2.amazonaws.com/static-misc-secondfunnel/images/Sharethis-draft1.png"
                                    alt="Share this" border="0" /></a>
                </div>
            </script>
            <script type="text/template" id="share_popup_template">
                <div class="mask"></div>
                <div class="tablecell">
                    <div class="content">
                        <span class="close">&#x00D7;</span>
                        <h2> Share This </h2>
                        <div class="share"></div>
                    </div>
                </div>
            </script>
            <script type="text/template" id="share_popup_option_template">
                <a href="<%= url %>" target="_blank">
                    <div style="position: relative;">
                        <div class="share_img"></div>
                        <span class="share_text"><%= text %></span>
                    </div>
                </a>
            </script>
            <script type="text/template" id="product_preview_template">
                <img src="<%= obj.defaultImage.size('large') %>" alt=""/>
                <%= obj.price %>
                <div class="social-buttons"></div>
            </script>
            <script type="text/template" id="image_preview_template">
                <h4>
                    <span class="label label-info"><%= obj.template %></span>
                    <%= obj.caption || obj.title || obj.name %>
                    <!-- in that order (it may still have none of those) -->
                </h4>
                <img src="<%= obj.defaultImage.get('url') %>" alt=""/>
                <div class="social-buttons"></div>
            </script>



            <!-- store-specific templates -->

            <script type="text/template" id="newegg_product_tile_template">
                <div class="tap-indicator-target"></div>
                <img class="focus"
                     src="<%= obj.image.url %>"
                     style="background-color:<%= obj.image.color %>;"
                     alt="<%= obj.caption %>" />
                <% if (SecondFunnel.option('debug', 0) > 1) { %>
                    <span class="type"><%= obj['content-type'] %></span>
                <% } %>
                <div class="social-buttons"></div>
                <div class="title"><%= obj.name %></div>
                <div class='price text right'><span style="font-size: 10px">from</span> <div class='price'> <%= obj.price%></div></div>
            </script>

            <script type="text/template" id="newegg_product_preview_template">
                <!-- any (store.name)_(type)_... templates will be used in place
                     of default templates if they exist. -->
                <div class='content-wrapper row'>
                    <div class='image-div col-sm-6 col-md-6'>
                        <div class='image'>
                            <img class='img-rounded' src='<%= obj.defaultImage.get("url") %>'/>
                        </div>
                         <% if(obj.images.length >1) { %>
                            <div class='gallery'></div>
                        <% } %>
                    </div>
                    <div class='info col-sm-6 col-md-6'>
                        <div class='title'><%= obj.name %></div>
                        <div>
                            <div class="social-buttons"></div>
                        </div>
                        <div class='description'>
                            <ul>
                                <% var sentences = _.compact(obj.description.split('.')); %>
                                <% _.each(sentences, function(sentence) { %>
                                    <li><%= SecondFunnel.utils.safeString(sentence) %></li>
                                <% }); %>
                            </ul>
                        </div>
                        <div class='price text right'><span style="font-size: 14px">from</span> <%= obj.price.replace('.','<sup>.') + '</sup>' %>
                        </div>
                        <div class='text left'><a class='buy url' target='_blank' href='<%= obj.url %>'>SHOP NOW</a></div>
                    </div>
                </div>
            </script>

            <script type="text/template" id="newegg_product_mobile_preview_template">
                <!-- any (store.name)_(type)_... templates will be used in place
                     of default templates if they exist. -->
                 <div class='content-wrapper row mobile'>
                 <div class='back close'> &lt; Back </div>
                    <div class='mobile image-div col-sm-6 col-md-6'>
                        <div class='image'>
                            <img class='img-rounded' src='<%= obj.defaultImage.get("url") %>'/>
                        </div>
                        <% if(obj.images.length >1) { %>
                            <div class='gallery'></div>
                        <% } %>
                    </div>
                    <div class='info col-sm-6 col-md-6'>
                        <div class='title'><%= obj.name %></div>
                        <div class="description">
                                <% var sentences = _.compact(obj.description.split('.')); %>
                                <% _.each(sentences, function(sentence) { %>
                                <%= SecondFunnel.utils.safeString(sentence) %>.
                                <% }); %>
                        </div>
                        <div class='price text'><span style="font-size: 14px">from</span> <%= obj.price%>
                        </div>

                        <div class='text center'><a target='_blank' href='<%= obj.url %>' class='shop-now cart-icon'><span>Shop Now</span></a></div>
                    </div>
                </div>
            </script>
            <script type="text/template" id="newegg_product_mobile_tile_template">
                <div class="tap-indicator-target"></div>
                <img class="focus" src="<%= obj.image.url %>"
                     alt="<%= obj.caption %>"
                     style="background-color:<%= obj.image.color %>;"
                     width="<%= obj.image.width %>" />
                <% if (SecondFunnel.option('debug', 0) > 1) { %>
                    <span class="type"><%= obj['content-type'] %></span>
                <% } %>
                <div class="title"><%= obj.name %></div>
                <div class='price text right'><span style="font-size: 10px">from</span> <div class='price'> <%= obj.price%></div></div>
            </script>
            <script type="text/template" id="newegg_image_mobile_preview_template">
                <div class='back close'> &lt; Back </div>
                <h4 style="clear:both;">
                    <%= obj.caption || obj.title || obj.name %>
                    <!-- in that order (it may still have none of those) -->
                </h4>
                <img src="<%= obj.defaultImage.get('url') %>" alt=""/>
                <div class="social-buttons"></div>
            </script>

        </div>

        <!-- End Templates -->
        {{ body_content }}

        <script type="text/javascript">
            // newegg only
            $(document).ready(function () {
                var urlMap = {  // hash:class
                        'StockingStuffers': 'stocking-stuffers',
                        'Entertainment': 'entertainment',
                        'DIY': 'diy',
                        'HomeComputing': 'computing',
                        'GeekyLiving': 'geeky',
                        'ForKids': 'kids',
                        'ForHim': 'him',
                        'ForHer': 'her'
                    },
                    clearSelected = function () {
                        $('.feed-menu img, .dropdown-menu a', '.waterfall')
                            .removeClass('selected');
                    };

                // clear "active gift guide" highlighting
                clearSelected();

                _.each(urlMap, function (val, key, lst) {
                    if (window.location.href.toLowerCase()
                            .indexOf(key.toLowerCase()) > -1) {  // aka found it
                        $('.waterfall .feed-menu img.' + val)
                            .addClass('selected');
                    }
                });

                $('.feed-menu a, .dropdown-menu a', '.waterfall')
                    .click(function (ev) {
                        var link = $(ev.currentTarget);

                        clearSelected();
                        link.addClass('selected');

                        window.PAGES_INFO.page.id
                            = window.PAGES_INFO.campaign
                            = link.data('campaign-id') || 0;
                        if (window.SecondFunnel) {
                            // hot patch existing options
                            window.SecondFunnel.options = window.PAGES_INFO;
                            reinitialize(window.SecondFunnel);
                        }
                    });
            });
        </script>
    </body>
</html>
