{% extends "pinpoint/admin_base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
    {% trans "New Page" %}
{% endblock %}

{% block page_title %}
    {% trans "Theme Editor" %}
{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static "css/smoothness/jquery-ui.css" %}">
    <style type="text/css">
        .button {
            float: right;
            position: relative;
        }

        .button.submit, .button.preview {
            height: 50px;
            width: 150px;
            font-size: 14px;
        }

        .actions {
            line-height: 60px;
            height: 65px;
        }

        .field {
            display: inline-block;
            width: 150px;
            text-align: right;
            font-size:  16px;
            vertical-align: top;
            margin-top: 5px;
            margin-right: 5px;
        }

        .row {
            margin-bottom: 10px;
        }

        .row input, .row textarea {
            width: 640px;
        }

        #preview-iframe {
            width:1115px;
            height:1600px; /* enough to trigger waterfall */

            -moz-transform: scale(0.75);
            -moz-transform-origin: 0 0;
            -o-transform: scale(0.75);
            -o-transform-origin: 0 0;
            -webkit-transform: scale(0.75);
            -webkit-transform-origin: 0 0;
        }
    </style>
    <!--[if IE 8]>
        <style>
            #preview-iframe {
                zoom: 0.75; /* ie8 hack */
            }
        </style>
    <![endif]-->
{% endblock %}

{% block extra_js_includes %}
    <script src="{% static "js/jquery-ui.js" %}"></script>
    <script>
        $(document).ready(function () {
            var form = $('#theme_parts_form');
            $('#preview_button').click(function () {
                // can't do direct GET/POST
                $.ajax({
                    'url': '{% url preview-theme store_id theme_id %}',
                    'type': 'POST',
                    'data': form.serializeArray(),
                    'success': function (data) {
                        $('#preview-iframe').prop('src', data.nextUrl);
                        $('#tabs').tabs({active: 1});
                        $('html, body').animate({
                            'scrollTop': $('#tabs').offset().top
                        }, 650);
                    }
                });
            });
            $('.tabs').tabs();
        });
    </script>
{% endblock %}

{% block document_ready %}

{% endblock %}

{% block top_section %}
    {% include 'pinpoint/admin_tabs.html' with selected='theme-manager' %}
{% endblock %}

{% block content %}
    <form id="theme_parts_form" method="POST"
          action="{% url edit-theme store_id theme_id %}">
        <div id="tabs" class="tabs">
            <ul>
                <li><a href="#edit-tab">Edit theme</a></li>
                <li><a href="#preview-tab">Preview</a></li>
            </ul>
            <div id="edit-tab">
                {% csrf_token %}
                {{ formset.management_form }}
                {% for form in formset %}
                    {% for field in form %}
                        {% if field.errors %}
                        <div class='row error'>{{ field.errors }}</div>
                        {% endif %}
                        <div class='row'>
                            <span class='field'>{{ field.label }}:</span>
                            {{ field }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            <div id="preview-tab">
                <iframe id="preview-iframe" name="preview-iframe"
                        src="" frameborder="0"></iframe>
            </div>
        </div>
        <div class="actions">
            {% if preview_enabled %}
                <input class="preview button" id="preview_button"
                       type="button" value="{% trans "Preview" %}" />
            {% endif %}
            <input class="button submit focus"
                   type="submit" value="{% trans "Save" %}" />
        </div>
    </form>
{% endblock %}
