{% extends "pinpoint/admin_base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
    {% trans "New Page" %}
{% endblock %}

{% block page_title %}
    {% trans "Theme Editor" %}
{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static "css/smoothness/jquery-ui.css" %}">
    <style type="text/css">
        .button {
            float: right;
            position: relative;
        }

        .button.submit, .button.preview {
            height: 50px;
            width: 150px;
            font-size: 14px;
        }

        .actions {
            line-height: 60px;
            height: 65px;
        }

        .field {
            display: inline-block;
            width: 150px;
            text-align: right;
            font-size:  16px;
            vertical-align: top;
            margin-top: 5px;
            margin-right: 5px;
        }

        .row {
            margin-bottom: 10px;
        }

        .row input, .row textarea {
            width: 640px;
        }
    </style>
{% endblock %}

{% block extra_js_includes %}
    <script src="{% static "js/jquery-ui.js" %}"></script>
    <script>
        $(document).ready(function () {
            var form = $('#theme_parts_form');
            $('#preview_button').click(function (e) {
                e.preventDefault();

                form.target = 'preview-iframe';
                form.action = '{% url preview-theme store_id theme_id %}';
                form.submit();
                return false;
                /*
                $.ajax({
                    'url': '{% url preview-theme store_id theme_id %}',
                    'type': 'POST',
                    'data': form.serializeArray(),
                    'success': function (data) {
                        $('#preview-iframe').html(data.page);
                    }
                });
                */
            });
            $('.tabs').tabs();
        });
    </script>
{% endblock %}

{% block document_ready %}

{% endblock %}

{% block top_section %}
    {% include 'pinpoint/admin_tabs.html' with selected='theme-manager' %}
{% endblock %}

{% block content %}
    <div class="tabs">
    <ul>
        <li><a href="#tabs-1">Source</a></li>
        <li><a href="#tabs-2">Preview</a></li>
    </ul>
    <div id="tabs-1">
        <form id="theme_parts_form" method="POST"
              action="{% url edit-theme store_id theme_id %}">
            {% csrf_token %}
            {{ formset.management_form }}
            {% for form in formset %}
                {% for field in form %}
                    {% if field.errors %}
                    <div class='row error'>{{ field.errors }}</div>
                    {% endif %}
                    <div class='row'>
                        <span class='field'>{{ field.label }}:</span>
                        {{ field }}
                    </div>
                {% endfor %}
            {% endfor %}
            <div class="actions">
                <input class="preview button" id="preview_button" type="button" value="{% trans "Preview" %}" />
                <input class="button submit focus" type="submit" value="{% trans "Save" %}" />
            </div>
        </form>
    </div>
    <div id="tabs-2">
        <iframe id="preview-iframe" name="preview-iframe" src="" frameborder="1"></iframe>
    </div>
{% endblock %}
