<html>
<head>
    <style type="text/css">
        html, body {
            margin: 0;
            padding: 0;
        }
        #preview_frame {
            width:100%;
            height:100%;
        }
        #overlay {
            position: fixed;
            z-index: 100;
            width: 100%;
            height: 200px;
            bottom: 0;
            background: rgba(0,0,0,0.9);
        }
    </style>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
</head>
<body>
    <div id="overlay"></div>
    <iframe id="preview_frame" src="/pinpoint/admin/120/theme/1/preview"
            frameborder="0"></iframe>
    <script type="text/javascript">
        $(document).ready(function () {
            var page, pageFrame = $('#preview_frame'), pageWindow;

            var highlightClass = function (className, invert) {
                var selector;
                if (!page) return;
                if (invert) {
                    selector = ':not(.' + className + ')';
                } else {
                    selector = '.' + className;
                }
                page.find(selector).each(function (idx, obj) {
                    var $obj = $(obj);
                    $obj.data('preview-outline', $obj.css('outline'))
                        .css('outline', '3px solid red');
                });
            };

            var unhighlightClass = function (className) {
                if (!page) return;
                page.find('.' + className).each(function (idx, obj) {
                    var $obj = $(obj);
                    $obj.css('outline', $obj.data('preview-outline'));
                });
            };

            var injectScript = function (url) {
                if (!page) return;
                var script = document.createElement('script');
                script.type = 'text/javascript';
                script.src = url;
                page.find('head').append(script);
            };

            pageFrame.load(function (){
                page = pageFrame.contents();
                pageWindow = $(pageFrame[0].contentWindow);

                // debug
                console.log(page);
                window.page = page;
                window.pageWindow = pageWindow;
                window.highlightClass = highlightClass;
                window.unhighlightClass = unhighlightClass;
                window.injectScript = injectScript;
            });
        });
    </script>
</body>
</html>