{% load staticfiles %}
{% load i18n %}
{% load pinpoint_ui %}

<html>
<head>
    <link rel="stylesheet" href="{% static "css/960.css" %}">
    <link rel="stylesheet" href="{% static "css/reset.css" %}">
    <link rel="stylesheet" href="{% static "css/text.css" %}">
    <link rel="stylesheet" href="{% static "css/smoothness/jquery-ui.css" %}">

    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" />
    <style type="text/css">
        html, body {
            margin: 0;
            padding: 0;
        }
        #preview_frame {
            width: 100%;
            height: 100%;
        }
        #overlay {
            position: fixed;
            z-index: 100;
            width: 300px;
            height: 100%;
            right: 0;
            padding: 15px;
            background: rgba(255,255,255,0.9);
            box-shadow: 0 0 15px #222;
            overflow: auto;
        }
        #overlay textarea {
            width: 280px;
        }
    </style>
    <script type="text/javascript"
            src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
</head>
<body>
    <div id="overlay">
        <h1>Edit Theme</h1>
        <p>Here, you can edit styles for your theme.</p>
        <form id="themer" action="">
            <h2>Featured product area</h2>
            <textarea data-target=".cell" name="" id="" cols="30" rows="10"></textarea>

            <h2>Shop-the-look area</h2>
            <textarea data-target=".lifestyle.cell" name="" id="" cols="30" rows="10"></textarea>

            <h2>Generic block</h2>
            <textarea data-target=".block" name="" id="" cols="30" rows="10"></textarea>

            <h2>Product block</h2>
            <textarea data-target=".product.block" name="" id="" cols="30" rows="10"></textarea>

            <h2>Featured product area</h2>
            <textarea data-target=".featured.product" name="" id="" cols="30" rows="10"></textarea>

            <h2>Preview area</h2>
            <textarea data-target=".preview" name="" id="" cols="30" rows="10"></textarea>

            <h2>Instagram preview area</h2>
            <textarea data-target=".preview.container .content .instagram" name="" id="" cols="30" rows="10"></textarea>
        </form>
    </div>
    <iframe id="preview_frame" src="/pinpoint/admin/120/theme/1/preview"
            frameborder="0"></iframe>
    <script type="text/javascript">
        $(document).ready(function () {
            var page, pageFrame = $('#preview_frame'), pageWindow, pageQuery;

            var highlight = function (selector) {
                if (!page) return;
                unhighlight();
                setTimeout(function () {
                    pageQuery(selector).expose({
                        color: '#555',
                        loadSpeed: 200,
                        closeSpeed: 200
                });
                }, 300);
            };

            var unhighlight = function () {
                if (!page) return;
                pageQuery.mask.close();  // this call is non-blocking.
            };

            var getClassStyle = function (doc, className) {
                doc = doc || document;
                // retrieve existing style text for the given className.
                var classes = doc.styleSheets[0].rules || doc.styleSheets[0].cssRules;
                var rules = [];
                for(var x=0;x<classes.length;x++) {
                    if(classes[x].selectorText === className) {  // TODO: multi-selector rules
                        rules.push({
                            'selector': classes[x].selectorText,
                            'style': classes[x].cssText || classes[x].style.cssText
                        })
                    }
                }
                return rules;
            };

            var injectScript = function (url) {
                if (!page) return;
                var script = document.createElement('script');
                script.type = 'text/javascript';
                script.src = url;
                page.find('head').append(script);
            };

            var compileSelectorStyles = function (selector, styleMap) {
                var styleName, ssBuffer = selector + '{';
                for (styleName in styleMap) {
                    if (styleMap.hasOwnProperty(styleName)) {
                        ssBuffer = ssBuffer + styleName + ':' +
                                styleMap[styleName] + ';';
                    }
                }
                return ssBuffer;
            };

            var applyStyles = function (computedCSS) {
                // adds the css into the target page.
                var injectLocation = pageQuery('#style_inject_target');
                if (!injectLocation.length) {
                    // make one up
                    pageQuery('body').append(pageQuery('<' +
                        'style id="#style_inject_target"><' + '/style>'));
                    injectLocation = pageQuery('#style_inject_target');
                }
                injectLocation.html(computedCSS);  // override previous
            };

            pageFrame.load(function (){
                page = pageFrame.contents();
                pageWindow = $(pageFrame[0].contentWindow);
                pageQuery = $(pageWindow)[0].$;

                $('#themer textarea').mouseenter(function (that) {
                    highlight($.trim($(that.target).data('target')));
                }).mouseleave(unhighlight);

                $('textarea').keyup(function (ev) {
                    $theElement = $(ev.target);
                    var combinedStyles = '';
                    $('textarea').map(function (idx, obj) {
                        combinedStyles += $(obj).data('target') +
                                ' {' + $(obj).val() + '}';
                    });
                    applyStyles(combinedStyles);
                });

                // debug
                console.log(page);
                window.page = page;
                window.pageWindow = pageWindow;
                window.highlight = highlight;
                window.unhighlight = unhighlight;
                window.injectScript = injectScript;
                window.applyStyles = applyStyles;
            });
        });
    </script>
</body>
</html>