{% load staticfiles %}
{% load i18n %}
{% load pinpoint_ui %}

<html>
<head>
    <link rel="stylesheet" href="{% static "css/960.css" %}">
    <link rel="stylesheet" href="{% static "css/reset.css" %}">
    <link rel="stylesheet" href="{% static "css/text.css" %}">
    <link rel="stylesheet" href="{% static "css/smoothness/jquery-ui.css" %}">

    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" />
    <style type="text/css">
        html, body {
            margin: 0;
            padding: 0;
        }
        h2 {
            margin: 20px 0 0 0;
        }
        #preview_frame {
            width: 100%;
            height: 100%;
        }
        #overlay {
            position: fixed;
            z-index: 100;
            width: 300px;
            height: 100%;
            right: 0;
            padding: 15px;
            background: rgba(255,255,255,0.9);
            box-shadow: 0 0 15px #222;
            overflow: auto;
        }
        #overlay textarea {
            width: 280px;
        }
        #themer {
            padding-bottom: 30px;
        }
    </style>
    <script type="text/javascript"
            src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
</head>
<body>
    <div id="overlay">
        <h1>Edit Theme</h1>
        {% if theme_saved %}
            <p class="ui-state-highlight ui-corner-all">
                <span class="ui-icon ui-icon-info"
                      style="float: left; margin: .15em;"></span>
                Your theme has been saved.</p>
        {% else %}
            <p>Here, you can edit styles for your theme.</p>
        {% endif %}

        <form id="themer" action="{% url live-theme store_id theme_id %}" method="POST">
            <input class="button submit focus"
                   type="submit" value="Save theme" />

            {% csrf_token %}
            <input type="hidden" id="combined_styles" name="combined_styles"
                   value="" />

            {% for field_data in themable_fields %}
                <h2>{{ field_data.hint }}</h2>
                <textarea placeholder='try "border: 1px solid red;"'
                          name="{{ field_data.selector }}"
                    data-target="{{ field_data.selector }}"
                    cols="30" rows="5">{{ field_data.styles }}</textarea>
            {% endfor %}
            <input class="button submit focus"
                   type="submit" value="Save theme" />
        </form>
    </div>
    <iframe id="preview_frame" src="/pinpoint/admin/{{ store_id }}/theme/{{ theme_id }}/preview"
            frameborder="0"></iframe>
    <script type="text/javascript">
        $(document).ready(function () {
            var page, pageFrame = $('#preview_frame'), pageWindow, pageQuery;

            var highlight = function (selector) {
                if (!page) return;
                unhighlight();  // need to manually cancel the current highlight
                setTimeout(function () {
                    pageQuery(selector).expose({
                        color: '#555',
                        loadSpeed: 200,
                        closeSpeed: 200
                    });
                }, 300);
            };

            var unhighlight = function () {
                if (!page) return;
                pageQuery.mask.close();  // this call is non-blocking.
            };

            var injectScript = function (url) {
                if (!page) return;
                var script = document.createElement('script');
                script.type = 'text/javascript';
                script.src = url;
                page.find('head').append(script);
            };

            var compileSelectorStyles = function (selector, styleMap) {
                // generate a string for the selector {prop:style} map.
                var styleName, ssBuffer = selector + '{';
                for (styleName in styleMap) {
                    if (styleMap.hasOwnProperty(styleName)) {
                        ssBuffer = ssBuffer + styleName + ':' +
                                styleMap[styleName] + ';';
                    }
                }
                return ssBuffer;
            };

            var getCombinedStyles = function () {
                // returns a string containing all added styles.
                // does NOT necessarily validate.
                var combinedStyles = '';
                $('textarea').map(function (idx, obj) {
                    combinedStyles += $(obj).data('target') +
                            ' {' + $(obj).val() + '}';
                });
                return combinedStyles;
            };

            var applyStyles = function (computedCSS) {
                // adds the css into the target page.
                if (!page) return;
                var injectLocation = pageQuery('#style_inject_target');
                if (!injectLocation.length) {
                    // make one up
                    pageQuery('body').append(pageQuery('<' +
                        'style id="style_inject_target"><' + '/style>'));
                    injectLocation = pageQuery('#style_inject_target');
                }
                injectLocation.html(computedCSS);  // override previous
            };

            pageFrame.load(function (){
                // create convenience variables
                page = pageFrame.contents();
                pageWindow = $(pageFrame[0].contentWindow);
                pageQuery = $(pageWindow)[0].$;

                $('#themer #combined_styles').val(getCombinedStyles());

                $('#themer textarea')
                    .mouseenter(function (that) {
                        highlight($.trim($(that.target).data('target')));
                    })
                    .mouseleave(unhighlight)
                    .focus(function (that) {
                        highlight($.trim($(that.target).data('target')));
                    })
                    .blur(unhighlight)
                    .keyup(function (ev) {
                        // export newly entered css to the bottom of the page.
                        // it does not validate, because
                        // http://stackoverflow.com/questions/4803518
                        $theElement = $(ev.target);
                        var combinedStyles = getCombinedStyles();
                        $('#themer #combined_styles').val(combinedStyles);

                        // for debug or reference only
                        window.combinedStyles = combinedStyles;
                        applyStyles(combinedStyles);
                    });
            });
        });
    </script>
</body>
</html>