$aero-pink: #EE2841;

@import "lib/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
@import "src/components/landingpage/styles/base.scss";
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

@font-face {
    font-family: "SaaSeriesFD";
    src: url("/static/light/aeropostale/landingpage/default/fonts/SaaSeriesFD.ttf") format('truetype'),
         url("/static/light/aeropostale/landingpage/default/fonts/SaaSeriesFD.woff") format('woff');
}

body {
    background: none;
    font-family: "Lato", Helvetica, sans-serif;
}
.jumbotron {
    margin-top: 0;
}

.navbar {
    height: 50px;
    min-height: inherit;
    border-bottom: 1px solid #333;
}

.navbar .container {
    font-size: 0;
    letter-spacing: 0;
}

.navbar .container a {
    display: inline-block;
    height: 100%;
}

#category-area {
    display: none;
    padding: 12px 0;
    font-family: "SaaSeriesFD", Helvetica, sans-serif;
    background-color: #FFF;
    z-index: 1;

    .category {
        color: #000;
        border: none;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 24px;
        position: relative;
        width: 250px;
        padding: 0 10px;
        >span {
            padding: 0 5px;
            display: inline-block;
            border-bottom: 2px solid #000;
            white-space: nowrap;
        }
        .sub-categories {
            position: absolute;
            z-index: 1;
            background: white;
            border: 2px solid #000;
            border-top: none;
            border-bottom: none;
            left: 10px;
            right: 10px;
            top: 100%;
        }
        .sub-category {
            display: none;
            width: 100%;
            color: #000;
            border-bottom: none;
            >span {
                padding: 0 5px;
                white-space: nowrap;
            }
        }
        .sub-category.selected {
            display: inline-block;
        }
        .sub-category.selected,
        .sub-category:hover {
            color: $aero-pink;
        }
        &.expanded {
            color: $aero-pink;
            background-color: #FFF;
            .sub-categories {
                display: inline-block;
                border: 2px solid #000;
                margin-top: -2px;
                z-index: 10;
            }
            .sub-category,
            .sub-category.selected {
                display: inline-block;
                border: none;
                margin-top: 0;
            }
        }
    }

    .category.selected {
        color: $aero-pink;
        background-color: #FFF;
        > span {
            border-color: $aero-pink;
        }

        .sub-categories {
            margin-top: -2px;
            border-top: 2px solid $aero-pink;
            border-color: $aero-pink;
        }
        .sub-category.selected {
            border-bottom: 2px solid $aero-pink;
        }
    }
    .category.selected.expanded .sub-category.selected {
        border-bottom: none;
    }
}

.tile {
    width: 33%;
    padding: 7px;
    text-align: center;
    color: #000;
    font-size: 13px;
    font-family: Arial, sans-serif;
}
.tile.wide {
    width: 66%;
}
.tile:hover .overlay:nth-child(n) {
    cursor: pointer;
}

.tile.image,
.tile.tumblr {
    padding: 10px 7px 9px 7px;
    .overlay {
        background-color: rgba(238, 40, 65, 0.5);
        color: #FFF;
        font-size: 21px;
        text-transform: uppercase;
        .cell {
            font-family: SaaSeriesFD, Helvetica, sans-serif;
        }
    }
}
.tile.tumblr {
    .cell {
        line-height: 50px;
        .artist {
            font-style: italic;
        }
    }
}
.tile.image.wide.portrait {
    padding: 8px 7px 7px 7px;
}

.tile.banner a,
.tile.giftcard a,
.tile.tumblr a {
    pointer-events: none;
}

.tile .tile-border {
    padding: 5px;
}

.tile .price {
    font-size: 18px;
    line-height: 21px;
    font-weight: bold;
}

.tile .price .strike {
    font-size: 12px;
    margin-right: 3px;
    color: #999;
    font-weight: normal;
}

.tile .name {
    font-size: 15px;
    line-height: 17px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.tile.banner,
.tile.giftcard  {
    .image-border {
        padding: 20px 15px;
        
        .image-container {
            padding: 133% 0 0 0;
            position: relative;
            height: 0;
            
            .focus {
                display: block;
                position: absolute;
                max-width: 100%;
                max-height: 100%;
                margin: auto;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
            }
        }
    }
}
.tile.giftcard {
    padding: 22px 7px 23px 7px;
    cursor: pointer;
}

.grooveshark-placeholder {
    width: 324px;
    height: 465px;
}
.grooveshark-tile-overlay {
    position: absolute;
    left: -10000px;
    z-index: 1;
    width: 324px;
    height: 465px;
    padding-top: 80px;
    cursor: default;

    .title {
        height: 70px;
        font-family: "SaaSeriesFD", Helvetica, sans-serif;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0;
        color: $aero-pink;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        padding: 0 45px;
    }
    .grooveshark-container {
        padding: 0 35px;
    }
}

.tile .buy .button,
.previewContainer .buy .button {
    font-family: "SaaSeriesFD", Helvetica, sans-serif;
    font-size: 21px;
    line-height: 18px;
    letter-spacing: 0;
    color: #FFF;
    background-color: $aero-pink;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
    text-align: center;
    padding: 10px;
    pointer-events: none;
    cursor: pointer;
}

.tile .buy .button:hover,
.previewContainer .buy .button {
    text-decoration: none;
}

.previewContainer {
    color: #000;
    font-family: Arial, sans-serif;
    .buy {
        cursor: pointer;
    }
    .content {
        padding: 0 2px 0 0;
    }
    .close {
        background-color: $aero-pink;
        color: #FFF;
        padding: 10px 13px;
        font-size: 19px;
        font-weight: normal;
    }
    .cell.info {
        padding-top: 42px;
        padding-bottom: 10px;
        padding-right: 10px;
        width: 334px;
    }
    .cell.shop {
        width: 120px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-right: 1px solid #333;
        border-left: 1px solid #333;
    }
    .cell.image-cell {
        position: relative;
        &.desktop-only {
            padding-right: 0;
        }
    }
    .tumblr {
        position: absolute;
        bottom: 5px;
        left: 0;
        width: 100%;
        text-align: center;
        color: #555;
        font-family: "SaaSeriesFD", Helvetica, sans-serif;
    }
    .title {
        font-size: 15px;
        line-height: 17px;
    }
    .price {
        font-size: 18px;
        line-height: 21px;
        font-weight: bold;
    }
    .description {
        text-align: left;
        font-family: Helvetica, sans-serif;
        font-size: 11px;
        color: #3E3E3E;
    }
    .stl-title {
        font-family: "SaaSeriesFD", Helvetica, sans-serif;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
    }
    .stl-look {
        width: auto;
        max-height: 577px;
        font-size: 12px;
        line-height: 14px;
    }
    .landscape .stl-look .stl-item {
        margin: 0 5px;
        width: auto;
        img {
            opacity: 1;
            filter: alpha(opacity=100);
        }
    }
    .main-image-container {
        width: 50%;
        margin: auto;
    }
    .gallery-swipe-right {
        border-left-color: #D8D8D8;
    }
    .gallery-swipe-left {
        border-right-color: #D8D8D8;
    }
}

@media (max-width: 768px) {
    .navbar {
        display: none;
    }
    #category-area {
        padding-bottom: 0px;

        .category-area {
            .category {
                width: 200px;
                padding: 0 20px;
                font-size: 20px;
                line-height: 20px;
                margin-bottom: 10px;
            }
            .sub-category {
                font-size: 14px;
                line-height: 30px;
            }
            .category:first-child .sub-categories {
                margin-right: -20%;
                width: 110%;
            }
            .category:last-child .sub-categories {
                margin-left: -20%;
                width: 110%;
            }
            .category.expanded .sub-categories,
            .category.selected .sub-category.selected {
                padding-top: 5px;
            }
            .category.selected.expanded .sub-category.selected {
                padding-top: 0px;
            }
        }
    }
    #category-area.stuck {
        width: 100%;
    }
    .tile,
    .tile.wide {
        width: 50% !important;
    }
    .tile .buy .button,
    .previewContainer .buy .button {
        font-size: 16px;
    }

    .tile .name {
        font-size: 12px;
        line-height: 14px;
    }

    .tile .price {
        font-size: 14px;
        line-height: 17px;
    }

    .previewContainer .cell.info {
        padding-top: 5px;
        width: auto;
    }

    .previewContainer .cell.image-cell {
        padding-top: 0;
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media (min-width: 769px) {
    #category-area,
    #category-area-fixed {
        .category {
            font-size: 16px;
        }
    }
}

@media (max-width: 991px) {
    .tile.grooveshark,
    .grooveshark-tile-overlay {
        display: none;
    }
}

@media (min-width: 992px) {
    .container {
        width: 1024px; /* remind me why the fuck we use bootstrap again? */
    }
}