<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    @@include('shared/campaign_head.html')
    @@include('shared/campaign_opengraph_tags.html')
    <link rel="shortcut icon" href="http://www.thebodyshop-usa.com/img/icon/favicon.ico" />
    <link rel="stylesheet" href="/static/light/bodyshop/landingpage/default/styles/main.css"/>
    @@include('shared/campaign_respond.html')
    <!-- Add Optimizer Tests here -->
    <script type="text/javascript">
        window.TRACKING_PIXELS = {
            'A': {
                'view': 'http://pixel.watch/yhnc',
                'click': 'http://pixel.watch/xod1'
            }
        };
        window.ACTIVE_TEST = 'A';
    </script>
    {% if environment == 'production' %}
        <script type='text/javascript'>
            var interval = setInterval(function() {
                var test, bindFn;

                if (!window.ACTIVE_TEST) {
                    return;
                }

                // Because we need to bind some events before anything else, use this fn
                // http://stackoverflow.com/a/2641047
                $.fn.bindFirst = function(name, fn) {
                    // bind as you normally would
                    // don't want to miss out on any jQuery magic
                    this.on(name, fn);

                    // Thanks to a comment by @Martin, adding support for
                    // namespaced events too.
                    this.each(function() {
                        var handlers = $._data(this, 'events')[name.split('.')[0]];
                        // take out the handler we just inserted from the end
                        var handler = handlers.pop();
                        // move it at the beginning
                        handlers.splice(0, 0, handler);
                    });
                };

                bindFn = function() {
                    (new Image).src = window.TRACKING_PIXELS[test].click;
                };

                clearInterval(interval);
                test = window.ACTIVE_TEST;

                // Append click pixel
                if (/Android|iPhone|iPad|iPod/i.test(navigator.userAgent)) {
                    $('.tile').bindFirst('click', bindFn);
                } else {
                    // Why doesn't bindFirst work on desktop?
                    $('body').on('click', '.tile', bindFn);
                }


                // Append page view pixel
                (new Image).src = window.TRACKING_PIXELS[test].view;
            }, 1000);
        </script>
    {% endif %}
    <title>{{ page.name|default:"The Body Shop" }}</title>
</head>
<body class="{% if tile %}stl{% endif %}">
    <div class='navbar'>
        <div class="container">
            <div class='logo'>
                <a href="http://www.thebodyshop-usa.com/" target="_blank">
                    <img src="/static/light/bodyshop/landingpage/default/images/logo.png" />
                </a>
            </div>
            <div class='store-locator'>
                <a href="http://www.thebodyshop-usa.com/services/storelocator-result.aspx" target="_blank">
                    <img src="/static/light/bodyshop/landingpage/default/images/locator-sm.png" />
                    <span>find a store</span>
                </a>
            </div>
        </div>
    </div>

    @@include('shared/campaign_body.html')

    <div>
        <!-- Custom templates here -->
    </div>

    <div class="container">
        <!-- .container is bootstrap magic, and has a viewport-dependent width. -->
        <div id="category-area" class="mobile-dropdown"></div>
        <div id="hero-area"></div>
        <div id="hero-sub-banner">
            {% if legal_copy %}
                <div class="legal us">
                    {{ legal_copy }}
                </div>
            {% endif %}
        </div>
        <div id="discovery-area" class="discovery-area"></div>
        <div class="tile-sizer tile"></div>
        <div class="no-noscript loading"></div>
        <noscript>
            <!-- promotions to show when user does not have javascript.
             this is a 'we need javascript' message by default.
             -->
            <div class="alert alert-danger">
                <b>Oh no!</b> We need JavaScript enabled to show you this page.
            </div>
        </noscript>
    </div>

    <!-- TILE TEMPLATES -->
    <script type="text/template" id="banner_tile_template">
        <div class="tile-border">
            <div class="image-container">
                <div>
                    <img class="focus" src="<%= obj.images[0].url %>" alt="<%= caption %>" />
                </div>
            </div>
            <% if (App.option('debug', 0) > 1) { %>
                <span class="type"><%= obj['content-type'] %></span>
            <% } %>
            <div class="name"><%= obj.title || obj.name %></div>
            <div class="price"><%= obj.price %></div>
        </div>
        <div class="overlay">
            <div class='table'>
                <div class='cell'>
                    <div class="buy">
                        <a class='button' href='<%= obj.url %>'>
                            Shop Now
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="image_tile_template">
        <div class='relative'>
            <img class="focus" src="<%= obj.images[0].url %>" alt="<%= obj.caption %>" />
        </div>
        <% if (App.option("debug", 0) > 1) { %>
            <span class="type"><%= obj["content-type"] %></span>
        <% } %>
        <div class="overlay">
            <div class='table'>
                <div class='cell'>
                    <div class="explore">
                        <a class='button' href='<%= obj.url %>'>
                            Explore The Collection
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/template" id="image_preview_template">
        <% if (obj['tagged-products'].length) { %>
            <% var product = obj['tagged-products'][0]; %>
            <div class="image-with-tagged-products">
                <div class="table">
                    <div class="row">
                        <div class="cell desktop-only image-cell">
                            <img src="<%= obj.images[0].url %>" alt="image" class="image" />
                                <% if (obj['tagged-products'].length > 1 && obj.orientation === 'landscape') { %>
                                <div class="landscape">
                                    <div class="stl-title">
                                        Shop The Set
                                    </div>
                                    <div class="stl-look">
                                        <% var related = obj['tagged-products']; %>
                                        <% for (var i = 0; i < related.length; i++) { %>
                                            <div class="stl-item" data-index="<%- i %>">
                                                <div class="image-container">
                                                    <img src="<%- related[i].images[0].url %>" />
                                                    <%- related[i].name %>
                                                </div>
                                                <div class="overlay">
                                                    <div class="buy">
                                                        <a class='button' href='<%= obj.url %>'>
                                                            Shop Now
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        <% } %>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                        <div class="cell mobile-only image-cell">
                            <img src="<%= obj.images[0].url %>" alt="image" />
                        </div>
                        <% if (obj['tagged-products'].length > 1 && obj.orientation !== 'landscape') { %>
                            <div class="cell desktop-only shop-set">
                                <div class="stl-title">
                                    Shop The Set
                                </div>
                                <div class="stl-look">
                                    <% var related = obj['tagged-products']; %>
                                    <% for (var i = 0; i < related.length; i++) { %>
                                        <div class="stl-item" data-index="<%- i %>">
                                            <div class="holder">
                                                <div class="image-container">
                                                    <div>
                                                        <img src="<%- related[i].images[0].url %>" />
                                                    </div>
                                                </div>
                                                <div class="name"><%= related[i].name %></div>
                                                <div class="price"><%= related[i].price %></div>
                                            </div>
                                            <div class="overlay">
                                                <div class="table">
                                                    <div class="cell">
                                                        <div class="buy">
                                                            <a class='button' href='<%= obj.url %>'>
                                                                Shop Now
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                        <% } %>
                        <% if (obj['tagged-products'].length > 1) { %>
                            <div class="cell mobile-only shop-set">
                                <div class="stl-title">
                                    Shop The Set
                                </div>
                                <div class="stl-look">
                                    <% var related = obj['tagged-products']; %>
                                    <% for (var i = 0; i < related.length; i++) { %>
                                        <div class="stl-item" data-index="<%- i %>">
                                            <div class="holder">
                                                <div class="image-container">
                                                    <div>
                                                        <img src="<%- related[i].images[0].url %>" />
                                                    </div>
                                                </div>
                                                <div class="name"><%= related[i].name %></div>
                                                <div class="price"><%= related[i].price %></div>
                                            </div>
                                            <div class="overlay">
                                                <div class="table">
                                                    <div class="cell">
                                                        <div class="buy">
                                                            <a class='button' href='<%= obj.url %>'>
                                                                Shop Now
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                        <% } %>
                        <% if (obj['tagged-products'].length === 1) { %>
                            <div class="cell info">
                                <% if (App.support.mobile()) { %>
                                    <div class='title'></div>
                                    <div class='price'></div>
                                <% } %>
                                <div class='relative'>
                                    <div class="gallery-main-image"></div>
                                    <div class='gallery-dots<% if (product.images.length < 2) { %> hide<% } %>'></div>
                                    <% if (App.support.mobile()) { %>
                                        <div class='buy'></div>
                                    <% } %>
                                </div>
                                <% if (!App.support.mobile()) { %>
                                    <div>
                                        <div class='title'></div>
                                        <div class='price'></div>
                                    </div>
                                    <div class='buy'></div>
                                    <div class='description'></div>
                                <% } %>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        <% } else { %>
            <div class="image-without-tagged-products">
                <div class="table">
                    <div class="row">
                        <div class="cell">
                            <img src="<%= obj.images[0].url %>" alt="image" class="main-image" />
                        </div>
                        <div class="cell info">
                            <div class="title">
                                Coming Soon to The Body Shop!
                            </div>
                            <div class="buy">
                                <a class='button' href='http://www.thebodyshop-usa.com/'>
                                    Shop On The Body Shop
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
    </script>

    <img src="{% url 'apps.tracking.views.pixel' %}"/>
    <div>
        @@include('shared/default_templates.html')
    </div>
    <script type="text/javascript" src="/static/light/bodyshop/landingpage/default/scripts/main.js" async></script>
</body>
</html>
