<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    @@include('shared/campaign_opengraph_tags.html')
    @@include('shared/campaign_head.html')
    <link rel="shortcut icon"
         href="http://a-ec1.apartmenttherapy.com/assets/favicons/at-apple-touch-icon-114x114-920ce927659e121c58d71b772ffa677a.png" />
    <link rel="stylesheet"
          href="/static/light/dotandbo/landingpage/default/styles/main.css"/>
    @@include('shared/campaign_respond.html')
    <!-- Add Optimizer Tests here -->
    <script type="text/javascript">
        window.TRACKING_PIXELS = {
            'A': {
                'view': 'http://9nl.cc/zoer',
                'click': 'http://9nl.cc/xrd8'
            }
        };
        window.ACTIVE_TEST = 'A';
    </script>
    {% if environment == 'production' %}
        <script type='text/javascript'>
            var interval = setInterval(function() {
                var test, bindFn;

                if (!window.ACTIVE_TEST) {
                    return;
                }

                // Because we need to bind some events before anything else, use this fn
                // http://stackoverflow.com/a/2641047
                $.fn.bindFirst = function(name, fn) {
                    // bind as you normally would
                    // don't want to miss out on any jQuery magic
                    this.on(name, fn);

                    // Thanks to a comment by @Martin, adding support for
                    // namespaced events too.
                    this.each(function() {
                        var handlers = $._data(this, 'events')[name.split('.')[0]];
                        // take out the handler we just inserted from the end
                        var handler = handlers.pop();
                        // move it at the beginning
                        handlers.splice(0, 0, handler);
                    });
                };

                bindFn = function() {
                    (new Image).src = window.TRACKING_PIXELS[test].click;
                };

                clearInterval(interval);
                test = window.ACTIVE_TEST;

                // Append click pixel
                if (/Android|iPhone|iPad|iPod/i.test(navigator.userAgent)) {
                    $('.tile').bindFirst('click', bindFn);
                } else {
                    // Why doesn't bindFirst work on desktop?
                    $('body').on('click', '.tile', bindFn);
                }


                // Append page view pixel
                (new Image).src = window.TRACKING_PIXELS[test].view;
            }, 1000);
        </script>
    {% endif %}
    <title>{{ page.name|default:"Apartment Therapy" }}</title>
</head>
<body class="{% if tile %}stl{% endif %}">
    <div id="apartment-therapy-header">
        <a href="http://www.apartmenttherapy.com/">
            <img class="logo" src="/static/light/dotandbo/landingpage/default/images/apartment-therapy-logo.png" />
        </a>
        <div class="menu-bar inline">
            <a href="http://www.apartmenttherapy.com/style">
                Style
            </a>
            <a href="http://www.apartmenttherapy.com/diy">
                DIY
            </a>
            <a href="http://www.apartmenttherapy.com/homekeeping">
                Homekeeping
            </a>
            <a href="http://www.apartmenttherapy.com/family">
                Family
            </a>
            <a href="http://www.apartmenttherapy.com/tech">
                Tech
            </a>
            <a href="http://www.apartmenttherapy.com/renovating">
                Renovating
            </a>
            <a href="http://www.apartmenttherapy.com/shopping">
                Shopping
            </a>
            <a href="http://www.apartmenttherapy.com/outdoor">
                Outdoor
            </a>
            <a href="http://www.thekitchn.com/">
                The Kitchn
            </a>
        </div>
        <div class="social-area">
            <a class="facebook" href="https://www.facebook.com/apartmenttherapy">
                <div class="icon"></div>
            </a>
            <a class="pinterest" href="http://www.pinterest.com/apttherapy/">
                <div class="icon"></div>
            </a>
            <a class="twitter" href="https://twitter.com/AptTherapy">
                <div class="icon"></div>
            </a>
            <a class="instagram" href="http://instagram.com/apartmenttherapy">
                <div class="icon"></div>
            </a>
            <a class="tumblr" href="http://apartmenttherapy.tumblr.com/">
                <div class="icon"></div>
            </a>
            <a class="rss" href="http://feeds.apartmenttherapy.com/apartmenttherapy/main">
                <div class="icon"></div>
            </a>
            <a class="plus" href="http://www.apartmenttherapy.com/follow-us">
                <div class="icon"></div>
            </a>
        </div>
    </div>
    <div id="apartment-therapy-sidebar" class="inline">
        <div class="title">
            Browse
        </div>
        <a class="red" href="http://www.apartmenttherapy.com/contests/color/2014">
            Room for Color
        </a>
        <a class="red" href="http://www.apartmenttherapy.com/renovation-diary-archive-186532">
            Renovation Diaries
        </a>
        <a class="red" href="http://www.apartmenttherapy.com/maker_talks">
            Maker Talks
        </a>
        <a href="http://www.apartmenttherapy.com/categories/tours">
            Tours
        </a>
        <a href="http://www.apartmenttherapy.com/categories/rooms">
            Rooms
        </a>
        <a href="http://www.apartmenttherapy.com/categories/projects">
            Projects
        </a>
        <a href="http://www.apartmenttherapy.com/categories/life_at_home">
            Life at Home
        </a>
        <a href="http://www.apartmenttherapy.com/categories/decor_styles">
            Decor Styles
        </a>
        <a href="http://www.apartmenttherapy.com/categories/before_after">
            Before & After
        </a>
        <a href="http://www.apartmenttherapy.com/categories/small_spaces">
            Small Spaces
        </a>
        <a href="http://www.apartmenttherapy.com/categories/budget_living">
            Budget Living
        </a>
        <a href="http://www.apartmenttherapy.com/categories/video">
            Video
        </a>
        <a href="http://classifieds.apartmenttherapy.com/">
            Classifieds
        </a>
        <a class="red" href="http://www.apartmenttherapy.com/categories">
            All Categories
        </a>
    </div>
    <div id="page-content">
        <div class='navbar'>
            <div class="container">
                <a href="http://www.dotandbo.com/" target="_blank">
                    See what everyone is shopping for the most at Dot & Bo
                </a>
            </div>
        </div>

        @@include('shared/campaign_body.html')

        <div>
            <script type="text/template" id="product_price_template">
                <% if (obj.sale_price) { %>
                    <div>
                        <%- obj.sale_price %>
                    </div>
                    <div class="strike inline">
                        <%- obj.price %>
                    </div>
                    <% if (obj.percent_off) { %>
                        <div class="discount inline">
                            -<%- obj.percent_off %>%
                        </div>
                    <% } %>
                <% } else { %>
                    <%- obj.price %>
                <% } %>
            </script>

            <script type="text/template" id="product_buy_template">
                <a class='button' href='<%= obj.url %>' target='_blank'>
                    Shop on Dot & Bo
                </a>
            </script>

            <script type="text/template" id="product_preview_template">
                <div class="table product">
                    <div class='content-wrapper row'>
                        <div class='cell image-cell'>
                            <div class='relative'>
                                <div class="gallery-main-image"></div>
                                <% if (obj.images.length > 1 && App.support.mobile()) { %>
                                    <div class='gallery-dots'></div>
                                <% } %>
                            </div>
                        </div>
                        <% if (!App.support.mobile()) { %>
                            <div class='cell info'>
                                <div class='title'></div>
                                <div class='price'></div>
                                <div class='description'></div>
                                <div class='buy'></div>
                                <div class="gallery<% if (obj.images.length < 2) { %> hide<% } %>"></div>
                            </div>
                        <% } %>
                        <% if (App.support.mobile()) { %>
                            <div class='cell info'>
                                <div class='title'></div>
                                <div class='price'></div>
                                <div class='buy'></div>
                            </div>
                        <% } %>
                    </div>
                </div>
            </script>

            <script type="text/template" id="image_preview_template">
                <% if (obj['tagged-products'].length) { %>
                    <% var product = obj['tagged-products'][0]; %>
                    <div class="image-with-tagged-products">
                        <div class="table">
                            <div class="row">
                                <div class="cell desktop-only image-cell">
                                    <img src="<%= obj.images[0].url %>" alt="image" class="image"/>
                                        <% if (obj['tagged-products'].length > 1 && obj.orientation === 'landscape') { %>
                                        <div class="landscape">
                                            <div class="stl-title">
                                                Shop the look
                                            </div>
                                            <div class="stl-look">
                                                <% var related = obj['tagged-products']; %>
                                                <% for (var i = 0; i < related.length; i++) { %>
                                                    <div class="stl-item" data-index="<%- i %>">
                                                        <img src="<%- related[i].images[0].url %>" />
                                                        <%- related[i].name %>
                                                    </div>
                                                <% } %>
                                            </div>
                                        </div>
                                    <% } %>
                                </div>
                                <div class="cell mobile-only">
                                    <img src="<%= obj.images[0].url %>" alt="image"/>
                                </div>
                                <% if (obj['tagged-products'].length > 1 && obj.orientation !== 'landscape') { %>
                                    <div class="cell desktop-only shop">
                                        <div class="stl-title">
                                            Shop the look
                                        </div>
                                        <div class="stl-look">
                                            <% var related = obj['tagged-products']; %>
                                            <% for (var i = 0; i < related.length; i++) { %>
                                                <div class="stl-item" data-index="<%- i %>">
                                                    <img src="<%- related[i].images[0].url %>" />
                                                    <%- related[i].name %>
                                                </div>
                                            <% } %>
                                        </div>
                                    </div>
                                <% } %>
                                <div class="cell info">
                                    <% if (App.support.mobile()) { %>
                                        <div class='title'></div>
                                        <div class='price'></div>
                                    <% } %>
                                    <div class='relative'>
                                        <div class="gallery-main-image"></div>
                                        <div class='gallery-dots<% if (product.images.length < 2) { %> hide<% } %>'></div>
                                        <% if (App.support.mobile()) { %>
                                            <div class='buy'></div>
                                        <% } %>
                                    </div>
                                    <% if (!App.support.mobile()) { %>
                                        <div class='title'></div>
                                        <div class='price'></div>
                                        <div class='buy'></div>
                                    <% } %>
                                </div>
                                <% if (obj['tagged-products'].length > 1) { %>
                                    <div class="cell mobile-only">
                                        <div class="stl-title">
                                            Shop the look
                                        </div>
                                        <div class="stl-look">
                                            <% var related = obj['tagged-products'] %>
                                            <% for (var i = 0; i < related.length; i++) { %>
                                                <div class="stl-item" data-index="<%- i %>">
                                                    <img src="<%- related[i].images[0].url %>" />
                                                    <%- related[i].name %>
                                                </div>
                                            <% } %>
                                        </div>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                <% } else { %>
                    <div class="image-without-tagged-products">
                        <div class="table">
                            <div class="row">
                                <div class="cell">
                                    <img src="<%= obj.images[0].url %>" alt="image" class="main-image" />
                                </div>
                                <div class="cell info">
                                    <div class="title">
                                        Coming soon to Dot & Bo!
                                    </div>
                                    <div class="buy">
                                        <a class='button' href='http://www.dotandbo.com/' target='_blank'>
                                            Shop On Dot & Bo
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            </script>

            <script type="text/template" id="hero_template">
            </script>
        </div>

        <div class="container">
            <!-- .container is bootstrap magic, and has a viewport-dependent width. -->
            <div id="hero-area"></div>
            <div id="hero-sub-banner">
                {% if legal_copy %}
                    <div class="legal us">
                        {{ legal_copy }}
                    </div>
                {% endif %}
                <a href="http://www.dotandbo.com/" target="_blank">
                    Shop more best sellers from Dot & Bo
                </a>
            </div>
            <div id="category-area"></div>
            <div id="discovery-area" class="discovery-area"></div>
            <div class="tile-sizer tile"></div>
            <div class="no-noscript loading"></div>
            <noscript>
                <!-- promotions to show when user does not have javascript.
                 this is a 'we need javascript' message by default.
                 -->
                <div class="alert alert-danger">
                    <b>Oh no!</b> We need JavaScript enabled to show you this page.
                </div>
            </noscript>
        </div>

        <img src="{% url 'apps.tracking.views.pixel' %}"/>
    </div>
    @@include('shared/default_templates.html')
    <script type="text/javascript" src="/static/light/dotandbo/landingpage/default/scripts/main.js" async></script>
</body>
</html>
