{% extends "website/base.html" %}
{% load staticfiles %}
{% block title %}{{ block.super }} | About Us{% endblock title %}

{%  block content %}
        <div class="about area one"> 
            <div class="body">
                <div class="text">
                    <h2> About Us </h2> <br>
                    <p> 
                        Our mission is to optimize the eCommerce funnel around 
                        the social web, turning browsers into shoppers.
                    </p>
                    <p>
                        Until now, eCommerce has been optimized for shoppers: people
                        arriving from search engines with the intent to buy.
                        But social media has created a shift in consumer behavior.
                        People now spend 25% of their time online on social networks.
                        The discovery-driven nature of social networking means social
                        traffic arrives at eCommerce sites without intent to buy.
                        As a result, this traffic buys 6x less often compared to
                        traffic arriving from other sources.
                    </p>
                    <p>
                        Second Funnel is a social marketing automation platform for
                        online retailers. It identifies hidden purchase intentions in
                        store visitors, and engages with them on the social network of
                        their choice to close the sale.
                    </p>
                </div>
            </div>
        </div>
{% endblock content %}