@charset "UTF-8";

@import 'src/components/ad/styles/base';

#topbar {
    background: #fff;
    color: #000;
    box-sizing: border-box;
    margin: -8px 0 8px 0;
    padding: 16px 8px 8px 8px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    left: 0;
}

#topbar .piece {
    float: right;
    font-size: 12px;
}

#topbar img {
    max-height: 30px;
    vertical-align: middle;
}

#discovery-area .tile .caption {
    background-color: transparent;
    color: black;
    position: relative;
    padding-top: 5px;
}

.tile {
    padding: 3px;
}

html, .container {
    overflow: hidden;
}
