{% load jsonify %}

<script>
    window.PAGES_INFO2 = {
          'debug': ('{{ debug|default:0 }}' === 'True')  // django built-in
        , 'itemSelector': '.tile'
        , 'store': {
            'id': '{{ store.id }}',
            'slug': '{{ store.slug|default:"store" }}',  // required for store-specific themes
            'name': '{{ store.name|default:"Store" }}',
            'displayName': '{{ store.display_name|default:'' }}'  // leave blank to use "Gap"
        }
        , 'page': {  // required
            'id': '{{ campaign.intentrank_id|default:campaign.id }}'  // required
            , 'pubDate': '{{ pub_date }}'  // for verifying the original upload date of a static campaign. for human use only

            , 'name': '{{ campaign.name|default:"" }}'  // provided by campaign manager
            , 'slug': '{{ campaign.url_slug|default:"" }}'

            , 'layout': '{{ campaign.layout|default:"hero" }}'  // provided by campaign manager

            // you will still need to make elements with data-category="96" on the page.
            , 'categories': {{ campaign.categories|default:"[]"|safe }}  // string representation of [{id: 123, name: 'gap'}, ...]

            , 'description': "{{ campaign.description|escapejs }}"
        }
        , 'campaign': '{{ campaign.intentrank_id|default:campaign.id }}' // required
        , 'columnWidth': {{ column_width|default:'undefined' }}  // optional. controls how often tiles are wide.  // optional (defaults to 255, pixels)
        , 'maxColumnCount': {{ campaign.column_count|default:4 }}  // optional (default: 4)
        , 'overlayButtonColor': '{{ campaign.overlay_button_color|default:"" }}'
        , 'overlayMobileButtonColor': '{{ campaign.overlay_mobile_button_color|default:"" }}'
        , 'disableBannerRedirectOnMobile': {{ campaign.disable_banner_redirect_on_mobile|default:"false" }}
        , 'mobileTabletView': {{ campaign.mobile_table_view|default:"false" }}
        , 'widableTemplates': {{ campaign.widable_templates|jsonify }}
        , 'socialButtons':
            {% if social_buttons %}
                {{ social_buttons|safe }}{# social-buttons must be a json array of strings -- see below #}
            {% else %}
                [
                    "facebook",
                    "twitter",
                    "pinterest",
                    "tumblr"
                ]
            {% endif %}
        , 'conditionalSocialButtons': {{ conditional_social_buttons|safe }}
        , 'categoryHome': true // a string or boolean indicating if there should be a home button/what the home button should be
        , 'showCount': true  // optional, for social buttons (default: true)
        , 'enableTracking': {{ enable_tracking|default:"true" }}  // optional; default: true
        // , 'eventMap': undefined  // optional
        // , 'tileElement': undefined  // optional. alters the type of tag used by tiles.
        , 'imageTileWide': {{ image_tile_wide }}  // optional. controls how often tiles are wide.
        // , 'imageSizes': undefined  // optional, overrides built-in size map
        , 'minImageWidth': {{ campaign.minImageWidth|default:450 }} // minimum width a Cloudinary image can have
        , 'minImageHeight': {{ campaign.minImageHeight|default:100 }} // minimum height a Cloudinary image can have
        // , 'tapIndicatorText': undefined,  // optional
        , 'previewAnimationDuration': 100  // in ms
        , 'previewMobileAnimationDuration': 0
        , 'masonry': {  // passed to masonry
            'transitionDuration': 0.4,  // in seconds
            'minDesktopColumns': {{ campaign.minDesktopColumns|default:2 }}, // minimum number of columns on desktop for masonry
            'minMobileColumns': {{ campaign.minMobileColumns|default:2 }} // minimum number of columns to show on mobile for masonry
        }
        , 'featured': {{ tile|safe|default:"undefined" }}  // default: undefined
        // stuff that loads when page loads, even if IR is available
        , 'IRResultsCount': 10
        // , 'IRFailuresAllowed': undefined  // optional. defaults to 5
        , 'IRSource': "{{ campaign.ir_base_url|default:ir_base_url }}"  // optional
        , 'IRAlgo': "{{ algorithm|default:"generic" }}"  // optional
        , 'IRTileSet': "{{ tile_set }}"  // "content", "products", or anything else for both content and product
        , 'IRReqNum': 0  // optional
        , 'IROffset': 0
        , 'gaAccountNumber': '{{ campaign.ga_account_number|default:ga_account_number }}'  // required
        , 'keen': {
            'projectId': '{{ keen_io.projectId }}',
            'writeKey': '{{ keen_io.writeKey }}'
        }
        , 'openTileInPopup': {{ open_tile_in_popup|default:"false"|lower|safe }}
        , 'tilePopupUrl': '{{ campaign.tile_popup_url|default:""|safe }}'
        // number of viewports worth of results to keep below the page.
        // 0 is not an acceptable value, but 0.0001 is. default is 2.5,
        // i.e. there will always be two pages worth of results
        // underneath, no matter how fast you scroll.
        // , 'prefetchHeight': undefined

        // , 'lockWidth': undefined  // must be true (not 1, {}, ...) or a function that returns true. undefined means auto.
        // , 'desiredWidth': 0,  // number, or a function that returns a number. 0 means auto.

        , 'resultsThreshold': {{ campaign.results_threshold|default:"undefined"|safe }}  // {[tileId: num,]}

        , 'initialResults': {{ initial_results|default:"[]"|safe }}

        , 'urlParams': {{ url_params|default:"{}"|safe }}
    };

    window.PAGES_INFO = {{ PAGES_INFO|jsonify }};
</script>
