<script type="text/template" id="hero_template">
    <div class="hero-image-wrapper">
        <div class="visible-xs jumbotron">
            <img src="<%= obj.mobileHeroImage %>" alt="Hero" />
        </div>
        <div class="hidden-xs jumbotron">
            <img src="<%= obj.desktopHeroImage %>" alt="Hero" />
        </div>
    </div>
    {% if legal_copy %}
        <div class="legal us">
            {{ legal_copy }}
        </div>
    {% endif %}
</script>

<script type="text/template" id="herovideo_template">
    <div class="hero-video-wrapper">
        <div class="hero-banner-image mobile-only">
            <img src="<%= images[1].url %>" />
        </div>
        <div class="hero-banner-image desktop-only">
             <img src="<%= images[0].url %>" />
        </div>
        <div class="hero-video"></div>
    </div>
    <% var thumbnails = (obj["thumbnails"] || []) %>
    <% if (thumbnails.length) { %>
        <div class="hero-thumbnail">
            <% for(i = 0; i < thumbnails.length; i++) { %>
                <div class="thumbnail-item" data-index="<%- i %>">
                    <div class="thumbnail-image <% if (i == 0) { %>playing<% } %>"
                        style="background-image: url('<%= thumbnails[i].url %>');">
                    </div>
                    <p>Ep.<%= i + 1 %> - <%= thumbnails[i].date %></p>
                </div>
            <% } %>
        </div>
    <% } %>
</script>

<script type="text/template" id="youtube_video_template">
    <div class="youtube-container">
        <div class="responsive-video">
            <div class="yt-placeholder"></div>
        </div>
    </div>
</script>

<script type="text/template" id="tile_preview_template">
    <h2><span class="label labelinfo"><%= obj.template %>_preview_template</span> is missing.</h2>
    <p>You can define one in your template.</p>
    <ul>
        <% for (i in obj) { %>
            <li><b><%= i %></b>: <%= obj[i] %></li>
        <% } %>
    </ul>
</script>

<script type="text/template" id="category_template">
    <span data-name="<%- obj.name %>">
        <% if (obj.displayName) { %>
            <%- obj.displayName %>
        <% } else { %>
            <%- obj.name %>
        <% } %>
    </span>
    <% if (obj.subCategories) { %>
        <div class="sub-categories">
            <% for (var i = 0; i < obj.subCategories.length; i++) { %>
                <span class="sub-category" data-name="<%- obj.subCategories[i].name %>">
                    <% if (obj.subCategories[i].displayName) { %>
                        <%- obj.subCategories[i].displayName %>
                    <% } else { %>
                        <%- obj.subCategories[i].name %>
                    <% } %>
                </span>
            <% } %>
        </div>
    <% } %>
</script>

<script type="text/template" id="hero_container_template">
    <div class='content'></div>
</script>

<script type="text/template" id="product_tile_template">
    <div class="tile-border">
        <div class="image-container">
            <img class="focus" src="<%= obj.images[0].url %>" alt="<%= caption %>" />
        </div>
        <% if (App.option('debug', 0) > 1) { %>
            <span class="type"><%= obj['content-type'] %></span>
        <% } %>
        <div class="name"><%= obj.title || obj.name %></div>
    </div>
</script>

<script type="text/template" id="image_tile_template">
    <div class='relative'>
        <img class="focus" src="<%= obj.images[0].url %>" alt="<%= obj.caption %>" />
    </div>
    <% if (App.option("debug", 0) > 1) { %>
        <span class="type"><%= obj["content-type"] %></span>
    <% } %>
</script>

<script type="text/template" id="gif_tile_template">
    <div class='relative'>
        <img class="focus" src="<%= obj.defaultImage.url %>" alt="<%= obj.caption %>" />
    </div>
    <% if (App.option("debug", 0) > 1) { %>
        <span class="type"><%= obj["content-type"] %></span>
    <% } %>
</script>

<script type="text/template" id="video_tile_template">
    <iframe src="<%- obj.url %>" width="100%" height="425" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
</script>

<script type="text/template" id="youtube_tile_template">
    <div class="img-responsive thumbnail"
         style="background-image: url('<%= obj.thumbnail || obj.images[0].url %>');">
      &nbsp;
      <img src="" alt="this img tag intentionally left blank" style="visibility:hidden"/>
    </div>
    <%= obj.caption || obj.name %>
</script>

<script type="text/template" id="preview_container_template">
    <div class="fullscreen">
        <div class="content">
            <span class="close">X</span>
            <div class="scrollable">
                <div class="template target"></div>
            </div>
        </div>
    </div>
    <div class="mask"></div>
</script>

<script type="text/template" id="image_preview_template">
    <% var image_src = (obj.gifUrl || obj.images[0].url); %>
    <% if (obj['tagged-products'].length) { %>
    <% var product = obj['tagged-products'][0]; %>
        <div class="image-with-tagged-products">
            <div class="table <%= obj.orientation %>">
                <div class="row">
                <% if (App.support.mobile()) { %>
                    <% include("mobile_tagged_products") %>
                <% } else { %>
                    <% include("desktop_tagged_products") %>
                <% } %>
                </div>
            </div>
        </div>
    <% } else { %>
        <div class="image-without-tagged-products">
            <div class="table <%= obj.orientation %>">
                <div class="row">
                    <% include("no_tagged_products") %>
                </div>
            </div>
        </div>
    <% } %>
</script>

<script type="text/template" id="gif_preview_template">
    <% include("image_preview_template") %>
</script>

<script type="text/template" id="product_info_template">
    <div class="tagged-product">
        <div class="product-details">
            <div class='title'>
                <% include("product_title_template") %>
            </div>
            <div class='price'>
                <% include("product_price_template") %>
            </div>
        </div>
        <div class="gallery-main-image">
            <% include("product_galleryMainImage_template") %>
            <div class="gallery-dots <% if (obj.images.length < 2) { %> hide <% } %>">
                <% include("product_galleryDots_template") %>
            </div>
        </div>
        <div class='buy'>
            <a class='button' href='<%= obj.url %>' target='_blank'>
                Shop Now
            </a>
        </div>
    </div>
</script>

<script type="text/template" id="image_info_template">
    <% include("product_info_template") %>
</script>

<script type="text/template" id="gif_info_template">
    <% include("image_info_template") %>
</script>

<script type="text/template" id="product_price_template">
    <% if (obj.sale_price) { %>
        <div class="strike inline">
            <%- obj.price %>
        </div>
        <%- obj.sale_price %>
    <% } else { %>
        <%- obj.price %>
    <% } %>
</script>

<script type="text/template" id="product_title_template">
    <%- obj.title || obj.name %>
</script>

<script type="text/template" id="product_buy_template">
    <a class='button in-store' href='<%= obj.url %>' target='_blank'>
        Shop Now
    </a>
</script>

<script type="text/template" id="product_description_template">
    <%= obj.description %>
</script>

<script type="text/template" id="product_galleryMainImage_template">
    <div class="main-image-container">
        <% if (obj.images.length > 1) { %>
            <div class="gallery-swipe-left"></div>
            <div class="gallery-swipe-right"></div>
        <% } %>
        <div class="main-image">
            <% for (var i = 0; i < obj.images.length; i++) { %>
                <img class="image" src="<%- obj.images[i].url %>" />
            <% } %>
        </div>
    </div>
</script>

<script type="text/template" id="product_gallery_template">
    <% for (var i = 0; i < obj.images.length; i++) { %>
        <img class="item" data-index="<%- i %>" src="<%- obj.images[i].url %>" />
    <% } %>
</script>

<script type="text/template" id="product_galleryDots_template">
    <% for (var i = 0; i < obj.images.length; i++) { %>
        <div class="item" data-index="<%- i %>"></div>
    <% } %>
</script>

<script type="text/template" id="facebook_social_button_template">
    <div class='button facebook'>
        <iframe src="//www.facebook.com/plugins/like.php?href=<%= url %>&amp;width&amp;layout=button&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:35px;" allowTransparency="true"></iframe>
    </div>
</script>

<script type="text/template" id="twitter_social_button_template">
    <% var desc = caption || description || name; %>
    <% var cleanDesc = desc.replace(/<(?:.|\n)*?>/gm, ''); %>
    <% if (showCount) { %>
        <div class='button twitter' style='height: 13px; width: 77px;'>
            <a href="//twitter.com/share"
               class="twitter-share-button"
               data-text="<%= cleanDesc %> <%= url %>"
               data-lang="en" data-height= "15">
              Tweet
            </a>
        </div>
    <% } else { %>
        <div class='button twitter'>
            <a href="//twitter.com/share?url=<%= url %>&text=<%= cleanDesc %>"
               target="_blank">
                <img src="/static/light/images/twitterButton.png"/>
            </a>
        </div>
    <% } %>
</script>

<script type="text/template" id="pinterest_social_button_template">
    <% var desc = caption || description || name; %>
    <% var cleanDesc = desc.replace(/<(?:.|\n)*?>/gm, ''); %>
    <div class='button pinterest'>
        <a href="http://pinterest.com/pin/create/button/?url=<%= url %>&media=<%= image %>&description=<%= cleanDesc %>"
           target="_blank"><img src="/static/light/images/pinpointButton.png"/></a>
    </div>
</script>

<script type="text/template" id="tumblr_social_button_template">
    <% var desc = caption || description || name; %>
    <% var cleanDesc = desc.replace(/<(?:.|\n)*?>/gm, ''); %>
    <div class="button tumblr">
        <a href="http://www.tumblr.com/share/photo?source=<%= image %>&caption=<%= cleanDesc %>&click_thru=<%= url %>"
             target='_blank'><img src="http://platform.tumblr.com/v1/share_1.png"/></a>
    </div>
</script>
