<script type="text/template" id="hero_template">
    <div class="hero-image-wrapper">
        <div class="visible-xs jumbotron">
            <% if (obj.heroTitle) { %><span class="title"><%= obj.heroTitle %></span><% } %>
            <% if (obj.mobileHeroImage) { %><img src="<%= obj.mobileHeroImage %>" alt="Hero" /><% } %>
        </div>
        <div class="hidden-xs jumbotron">
            <% if (obj.heroTitle) { %><span class="title"><%= obj.heroTitle %></span><% } %>
            <% if (obj.heroImage) { %><img src="<%= obj.heroImage %>" alt="Hero" /><% } %>
        </div>
    </div>
</script>

<script type="text/template" id="herovideo_template">
    <div class="hero-video-wrapper">
        <div class="hero-banner-image mobile-only">
            <img src="<%= images[1].url %>" />
        </div>
        <div class="hero-banner-image desktop-only">
             <img src="<%= images[0].url %>" />
        </div>
        <div class="hero-video"></div>
    </div>
    <% var thumbnails = (obj["thumbnails"] || []) %>
    <% if (thumbnails.length) { %>
        <div class="hero-thumbnail">
            <% for(i = 0; i < thumbnails.length; i++) { %>
                <div class="thumbnail-item" data-index="<%- i %>">
                    <div class="thumbnail-image <% if (i == 0) { %>playing<% } %>"
                        style="background-image: url('<%= thumbnails[i].url %>');">
                    </div>
                    <p>Ep.<%= i + 1 %> - <%= thumbnails[i].date %></p>
                </div>
            <% } %>
        </div>
    <% } %>
</script>

<script type="text/template" id="youtube_video_template">
    <div class="youtube-container">
        <div class="responsive-video">
            <div class="yt-placeholder"></div>
        </div>
    </div>
</script>

<script type="text/template" id="tile_preview_template">
    <h2><span class="label labelinfo"><%= obj.template %>_preview_template</span> is missing.</h2>
    <p>You can define one in your template.</p>
    <ul>
        <% for (i in obj) { %>
            <li><b><%= i %></b>: <%= obj[i] %></li>
        <% } %>
    </ul>
</script>

<script type="text/template" id="category_template">
    <span data-name="<%- obj.name %>">
        <% if (obj.displayName) { %>
            <%- obj.displayName %>
        <% } else { %>
            <%- obj.name %>
        <% } %>
    </span>
    <% if (obj.subCategories) { %>
        <div class="sub-categories">
            <% for (var i = 0; i < obj.subCategories.length; i++) { %>
                <span class="sub-category" data-name="<%- obj.subCategories[i].name %>">
                    <% if (obj.subCategories[i].displayName) { %>
                        <%- obj.subCategories[i].displayName %>
                    <% } else { %>
                        <%- obj.subCategories[i].name %>
                    <% } %>
                </span>
            <% } %>
        </div>
    <% } %>
</script>

<script type="text/template" id="hero_container_template">
    <div class='content'></div>
</script>

<script type="text/template" id="product_tile_template">
    <div class="tile-border">
        <div class="image-container">
            <img class="focus" src="<%= obj.defaultImage.url %>" alt="<%= caption %>" />
        </div>
        <% if (App.option('debug', 0) > 1) { %>
            <span class="type"><%= obj['content-type'] %></span>
        <% } %>
        <div class="name"><%= obj.name %></div>
    </div>
</script>

<script type="text/template" id="image_tile_template">
    <div class='relative'>
        <img class="focus" src="<%= obj.defaultImage.url %>" alt="<%= obj.caption %>" />
    </div>
    <% if (App.option("debug", 0) > 1) { %>
        <span class="type"><%= obj["content-type"] %></span>
    <% } %>
</script>

<script type="text/template" id="banner_tile_template">
    <div class='relative'>
        <img class="focus" src="<%= obj.defaultImage.url %>" alt="<%= obj.caption %>" />
    </div>
    <% if (App.option("debug", 0) > 1) { %>
        <span class="type"><%= obj["content-type"] %></span>
    <% } %>
    <div class="overlay">
        <div class='table'>
            <div class='cell'>
                <div class="buy">
                    <% include("product_buy_template") %>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="gif_tile_template">
    <div class='relative'>
        <img class="focus" src="<%= obj.defaultImage.url %>" alt="<%= obj.caption %>" />
    </div>
    <% if (App.option("debug", 0) > 1) { %>
        <span class="type"><%= obj["content-type"] %></span>
    <% } %>
</script>

<script type="text/template" id="video_tile_template">
    <iframe src="<%- obj.video.url %>" width="100%" height="425" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
</script>

<script type="text/template" id="youtube_tile_template">
    <div class="img-responsive thumbnail"
         style="background-image: url('<%= obj.thumbnail || obj.images[0].url %>');">
      &nbsp;
      <img src="" alt="this img tag intentionally left blank" style="visibility:hidden"/>
    </div>
    <%= obj.caption || obj.name %>
</script>

<script type="text/template" id="preview_container_template">
    <div class="fullscreen <% if (scrollable) { %>scrollable<% } %>">
        <div class="content">
            <span class="close">X</span>
            <div class="template target"></div>
        </div>
    </div>
    <div class="mask"></div>
    <img class="load-image image" src="/static/light/images/icon-check-16x16.png" alt="this img tag intentionally left blank" />
</script>

<script type="text/template" id="image_preview_template">
    <% var image = obj.defaultImage; %>
    <% if (obj.taggedProducts.length) { %>
    <% var product = obj.taggedProducts[0]; %>
        <div class="image-with-tagged-products">
            <div class="table <%= image.get('orientation') %> <% if (showFeed) { %>feed<% } %>">
                <% if (App.support.mobile()) { %>
                    <% include("mobile_tagged_products") %>
                <% } else { %>
                    <% include("desktop_tagged_products") %>
                <% } %>
            </div>
            <img class="load-image image" src="/static/light/images/icon-check-16x16.png" alt="this img tag intentionally left blank" />
        </div>
    <% } else { %>
        <div class="image-without-tagged-products">
            <div class="table <%= image.get('orientation') %>">
                <% include("no_tagged_products") %>
            </div>
            <img class="load-image image" src="/static/light/images/icon-check-16x16.png" alt="this img tag intentionally left blank" />
        </div>
    <% } %>
</script>

<script type="text/template" id="gif_preview_template">
    <% include("image_preview_template") %>
</script>

<script type="text/template" id="collection_preview_template">
    <% include("image_preview_template") %>
</script>

<script type="text/template" id="product_preview_template">
    <div class="product-info table feature <% if (showFeed) { %>feed<% } %>"></div>
    <img class="load-image image" src="/static/light/images/icon-check-16x16.png" alt="this img tag intentionally left blank" />
    <div class="similar-products cell overflow"></div>
</script>

<script type="text/template" id="product_info_template">
    <div class="tagged-product">
        <div class="product-details">
            <div class='title'>
                <% include("product_title_template") %>
            </div>
            <div class='price'>
                <% include("product_price_template") %>
            </div>
        </div>
        <div class="gallery-main-image">
            <% include("product_galleryMainImage_template") %>
            <div class="gallery-dots <% if (obj.images.length < 2) { %> hide <% } %>">
                <% include("product_galleryDots_template") %>
            </div>
        </div>
        <div class='buy'>
            <a class='button' href='<%= obj.url %>' target='_blank'>
                Shop Now
            </a>
        </div>
    </div>
</script>

<script type="text/template" id="image_info_template">
    <% include("product_info_template") %>
</script>

<script type="text/template" id="gif_info_template">
    <% include("image_info_template") %>
</script>

<script type="text/template" id="product_price_template">
    <% if (obj.salePrice) { %>
        <div class="strike inline">
            <%- obj.price %>
        </div>
        <%- obj.salePrice %>
    <% } else { %>
        <%- obj.price %>
    <% } %>
</script>

<script type="text/template" id="product_title_template">
    <%- obj.title || obj.name %>
</script>

<script type="text/template" id="product_buy_template">
    <a class='button in-store' href='<%= obj.url %>' target='_blank'>
        Shop Now
    </a>
</script>

<script type="text/template" id="product_description_template">
    <%= obj.description %>
</script>

<script type="text/template" id="product_galleryMainImage_template">
    <div class="main-image-container">
        <% if (obj.images.length > 1) { %>
            <div class="gallery-swipe-left"></div>
            <div class="gallery-swipe-right"></div>
        <% } %>
        <div class="main-image">
            <% for (var i = 0; i < obj.images.length; i++) { %>
                <img class="image" data-id="obj.images[i].id"  src="<%- obj.images[i].url %>" />
            <% } %>
        </div>
    </div>
</script>

<script type="text/template" id="product_gallery_template">
    <% for (var i = 0; i < obj.images.length; i++) { %>
        <img class="item" data-index="<%- i %>" src="<%- obj.images[i].url %>" />
    <% } %>
</script>

<script type="text/template" id="product_galleryDots_template">
    <% for (var i = 0; i < obj.images.length; i++) { %>
        <div class="item" data-index="<%- i %>"></div>
    <% } %>
</script>

<script type="text/template" id="similar_products_template">
    <div class="similar-cta desktop-only">Similar products</div>
    <div class="tiles"></div>
</script>

<script type="text/template" id="similar_product_template">
    <div class='relative'>
        <img class="focus" src="<%= obj.defaultImage.url %>" alt="<%= obj.caption %>" />
    </div>
    <div class="overlay">
        <div class='table'>
            <div class='cell'>
                <div class="title">
                    <span>Get Details</span>
                    <br/>
                    <span class="tile-name"><%= (obj.name) %></span>
                    <span class="tile-price"><% (obj.salePrice || obj.price )%></span>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="product_thumbnails_template">
    <div class="stl-title"><span>You May Also Like</span></div>
    <div class="stl-carousel carousel-view">
        <div class="stl-swipe-left carousel-swipe-left"></div>
        <div class="stl-swipe-right carousel-swipe-right"></div>
        <div class="stl-swipe-up carousel-swipe-up"></div>
        <div class="stl-swipe-down carousel-swipe-down"></div>
        <div class="stl-look-container carousel-container">
            <div class="stl-look carousel-slide">
                <div class="look-thumbnail mobile-only">
                    <img src="<%= obj.attrs['lookImageSrc'] %>" class="image" />
                    <div class="name">
                        <%= obj.attrs['lookName'] %>
                    </div>
                </div>
                <% for (var i = 0, item; i < obj.items.length; i++) { 
                    item = obj.items[i]; %>
                <div class="stl-item" data-index="<%- i %>">
                    <img src="<%- item.images[0].url %>" class="image" />
                    <div class="name desktop-only"><%- item.title || item.name %></div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="carousel_template">
    <div class="carousel-view">
        <div class="carousel-swipe-left"></div>
        <div class="carousel-swipe-right"></div>
        <div class="carousel-swipe-up"></div>
        <div class="carousel-swipe-down"></div>
        <div class="carousel-container">
            <div class="carousel-slide">
                <% include("carousel_items_template") %>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="carousel_items_template">
    <% var items = obj.items; %>
    <% for (var i = 0; i < items.length; i++) { %>
    <div class="item" data-index="<%- i %>">
        <img src="<%= items[i].url %>" class="image" />
        <div class="name desktop-only">
            <%- items[i].title || items[i].name %>
        </div>
    <% } %>
</script>

<script type="text/template" id="facebook_social_button_template">
    <div class='button facebook'>
        <iframe src="//www.facebook.com/plugins/like.php?href=<%= url %>&amp;width&amp;layout=button&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:35px;" allowTransparency="true"></iframe>
    </div>
</script>

<script type="text/template" id="twitter_social_button_template">
    <% var desc = caption || description || name; %>
    <% var cleanDesc = desc.replace(/<(?:.|\n)*?>/gm, ''); %>
    <% if (showCount) { %>
        <div class='button twitter' style='height: 13px; width: 77px;'>
            <a href="//twitter.com/share"
               class="twitter-share-button"
               data-text="<%= cleanDesc %> <%= url %>"
               data-lang="en" data-height= "15">
              Tweet
            </a>
        </div>
    <% } else { %>
        <div class='button twitter'>
            <a href="//twitter.com/share?url=<%= url %>&text=<%= cleanDesc %>"
               target="_blank">
                <img src="/static/light/images/twitterButton.png"/>
            </a>
        </div>
    <% } %>
</script>

<script type="text/template" id="pinterest_social_button_template">
    <% var desc = caption || description || name; %>
    <% var cleanDesc = desc.replace(/<(?:.|\n)*?>/gm, ''); %>
    <div class='button pinterest'>
        <a href="http://pinterest.com/pin/create/button/?url=<%= url %>&media=<%= image %>&description=<%= cleanDesc %>"
           target="_blank"><img src="/static/light/images/pinpointButton.png"/></a>
    </div>
</script>

<script type="text/template" id="tumblr_social_button_template">
    <% var desc = caption || description || name; %>
    <% var cleanDesc = desc.replace(/<(?:.|\n)*?>/gm, ''); %>
    <div class="button tumblr">
        <a href="http://www.tumblr.com/share/photo?source=<%= image %>&caption=<%= cleanDesc %>&click_thru=<%= url %>"
             target='_blank'><img src="http://platform.tumblr.com/v1/share_1.png"/></a>
    </div>
</script>
