<script type="text/template" id="category_template">
    <span><%= obj.name %></span>
</script>

<script type="text/template" id="shopthelook_template">
    <div class='content'></div>
</script>

<script type="text/template" id="product_tile_template">
    <div class="tile-border">
        <div class="tap-indicator-target"></div>
        <img class="focus" src="<%= obj.images[0].url %>" alt="<%= caption %>" />
        <% if (App.option('debug', 0) > 1) { %>
            <span class="type"><%= obj['content-type'] %></span>
        <% } %>
        <div class="name"><%= obj.title || obj.name %></div>
    </div>
</script>

<script type="text/template" id="image_tile_template">
    <div class="tap-indicator-target"></div>
    <div class='relative'>
        <img class="focus" src="<%= obj.images[0].url %>" alt="<%= obj.caption %>" />
    </div>
    <% if (App.option("debug", 0) > 1) { %>
        <span class="type"><%= obj["content-type"] %></span>
    <% } %>
</script>

<script type="text/template" id="video_tile_template">
    <iframe src="<%- obj.url %>" width="100%" height="425" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
</script>

<script type="text/template" id="youtube_tile_template">
    <div class="img-responsive thumbnail"
         style="background-image: url('<%= obj.thumbnail || obj.images[0].url %>');">
      &nbsp;
      <img src="" alt="this img tag intentionally left blank" style="visibility:hidden"/>
    </div>
    <%= obj.caption || obj.name %>
</script>

<script type="text/template" id="preview_container_template">
    <div class="fullscreen">
        <div class="content">
            <span class="close">X</span>
            <div class="scrollable">
                <div class="template target"></div>
            </div>
        </div>
    </div>
    <div class="mask"></div>
</script>

<script type="text/template" id="product_price_template">
    <% if (obj.sale_price) { %>
        <div class="strike inline">
            <%- obj.price %>
        </div>
        <%- obj.sale_price %>
    <% } else { %>
        <%- obj.price %>
    <% } %>
</script>

<script type="text/template" id="product_title_template">
    <%- obj.title || obj.name %>
</script>

<script type="text/template" id="product_buy_template">
    <a class='button' href='<%= obj.url %>' target='_blank'>
        Shop Now
    </a>
</script>
