{% extends "pinpoint/admin_base.html" %}

{% block extra_head %}
    
    <style>
        #positioning_table {
            height: 400px;
        }

        td {
            vertical-align: middle;
            text-align: center;
        }

        #outer_wrapper {
            position: relative;
            float: left;
            left: 50%;
        }

        #inner_wrapper {
            position: relative;
            float: left;
            left: -50%;
        }

        #centered-content {
            padding: 10px;
            box-shadow:0px 0px 5px rgba(0,0,0,.5);
            -webkit-box-shadow:0px 0px 5px rgba(0,0,0,.5);
            -moz-box-shadow:0px 0px 5px rgba(0,0,0,.5);
        }
    </style>
    
{% endblock %}

{% block content %}
    
    <div id="outer_wrapper">
        <div id="inner_wrapper">
            <table id="positioning_table">
                <td>
                    <div id="centered-content">
                    {% block centered %}{% endblock %}
                    </div>
                <td>
            </table>
        </div>
    </div>
    
{% endblock %}
