{% extends "registration/centered.html" %}

{% block title %}Password Reset{% endblock %}

{% block page_title %}Enter New Password{% endblock %}

{% block extra_head %}
{{ block.super }}
    <style>
        p {
            margin: 0;
        }

        input {
            width: 200px;
        }

        table {
            margin: auto;
        }
    </style>
{% endblock %}

{% block centered %}
    {% if validlink %}
        <p>Please enter your new password:</p>
        <form action="" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    {{ form.new_password1.errors }}
                </tr>
                <tr>
                    <td><label for="id_new_password1">New password:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    {{ form.new_password2.errors }}
                </tr>
                <tr>
                    <td><label for="id_new_password2">Verify password:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
            </table>
            <input type="submit" value="Change my password" />
        </form>
    {% else %}
        <h1>Password reset unsuccessful</h1>
        <p>The password reset link was invalid, possibly because it has already been used.  Please <a href="{% url password_reset %}">request a new password reset.</a></p>
    {% endif %}
{% endblock %}
