{% extends "pinpoint/admin_base.html" %}

{% block title %}Password Reset{% endblock %}

{% block page_title %}Password reset{% endblock %}

{% block extra_head %}
    
    <style>
        #id_email {
            padding: 2px;
        }
    </style>
    
{% endblock %}

{% block content %}
    <p>Enter your email below and a link to reset your password will be sent to you.</p>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.email.errors }}
        <label for="id_email" >Email address:</label>
        {{ form.email }}
        <input type="submit" value="Send Reset Url"/>
    </form>
{% endblock %}
