{% extends "registration/centered.html" %}

{% block title %}Password Reset{% endblock %}

{% block page_title %}Enter New Password{% endblock %}

{% block extra_head %}
    {{ block.super }}
    <style>
        input {
            width: 200px;
        }

        table {
            margin: auto;
        }
    </style>
{% endblock %}

{% block centered %}
    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
            {% if field.errors %}{{ field.errors }}<br />{% endif %}
	    {% endfor %}
        <table>
            <tr>
                <td><label for="id_old_password">Old password:</label></td>
                <td>{{ form.old_password }}</td>
            </tr>
            <tr>
                <td><label for="id_new_password1">New password:</label></td>
                <td>{{ form.new_password1 }}</td>
            </tr>
            <tr>
                <td><label for="id_new_password2">Verify password:</label></td>
                <td>{{ form.new_password2 }}</td>
            </tr>
        </table>
        <input class="button focus" type="submit" value="Change my password" />
    </form>
{% endblock %}
