$icon-font-path: "/static/light/fonts/";
$slt-modern-font: MrEavesModern, sans-serif;
$slt-sans-font: MrEavesSans, sans-serif;
$slt-basic-font: Verdana, Arial, Helvetica, sans-serif;
$slt-main-color: #405700;
$slt-basic-color: #444444;
$slt-grey-color: #a8a8a8;
$slt-dark-grey-color: #828282;
$slt-black-color: #333333;
$slt-green-color: #6b8e00;
$slt-pastel-green-color: #829253;
$slt-purple-color: #651e44;
$slt-sale-price-color: #F00;
$slt-orange-color: #EF842C;
$slt-thumbnail-height: 111px;

@import "lib/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
@import "src/components/landingpage/styles/base.scss";

                
@font-face{ 
    font-family: MrEavesModern;
    src: url('/static/light/surlatable/landingpage/default/fonts/mreavesmodaltr-071211005EmigreWebOnly.eot');
    src: url('/static/light/surlatable/landingpage/default/fonts/mreavesmodaltr-071211005EmigreWebOnly.eot?#iefix') format('embedded-opentype'),
         url('/static/light/surlatable/landingpage/default/fonts/mreavesmodaltr-071211005EmigreWebOnly.woff') format('woff');
}
                
@font-face{ 
    font-family: MrEavesModern;
    src: url('/static/light/surlatable/landingpage/default/fonts/mreavesmodaltb-071211001EmigreWebOnly.eot');
    src: url('/static/light/surlatable/landingpage/default/fonts/mreavesmodaltb-071211001EmigreWebOnly.eot?#iefix') format('embedded-opentype'),
         url('/static/light/surlatable/landingpage/default/fonts/mreavesmodaltb-071211001EmigreWebOnly.woff') format('woff');
    font-weight: bold;
}

@font-face{
    font-family: MrEavesModern;
    src: url('/static/light/surlatable/landingpage/default/fonts/MrEavesModOT-Light.otf') format("opentype");
    font-weight: 200;
    font-style: normal;
}

@font-face{
    font-family: MrEavesModern;
    src: url('/static/light/surlatable/landingpage/default/fonts/MrEavesModOT-LightItalic.otf') format("opentype");
    font-weight: 200;
    font-style: italic;
}
            
@font-face{ 
    font-family: MrEavesSans;
    src: url('/static/light/surlatable/landingpage/default/fonts/mreavessanaltr-071211002EmigreWebOnly.eot');
    src: url('/static/light/surlatable/landingpage/default/fonts/mreavessanaltr-071211002EmigreWebOnly.eot?#iefix') format('embedded-opentype'),
         url('/static/light/surlatable/landingpage/default/fonts/mreavessanaltr-071211002EmigreWebOnly.woff') format('woff');
}

@font-face {
    font-family: MrEavesSans;
    font-weight: bold;
    src: url("/static/light/surlatable/landingpage/default/fonts/mreavessanaltb-071211002EmigreWebOnly.eot");
    src: url("/static/light/surlatable/landingpage/default/fonts/mreavessanaltb-071211002EmigreWebOnly.eot?#iefix") format("embedded-opentype"),
         url("/static/light/surlatable/landingpage/default/fonts/mreavessanaltb-071211002EmigreWebOnly.woff") format("woff");
}

@font-face {
    font-family: MrEavesSans;
    font-weight: bold;
    font-style: italic;
    src: url("/static/light/surlatable/landingpage/default/fonts/mreavessanaltbi-071211002EmigreWebOnly.eot");
    src: url("/static/light/surlatable/landingpage/default/fonts/mreavessanaltbi-071211002EmigreWebOnly.eot?#iefix") format("embedded-opentype"),
         url("/static/light/surlatable/landingpage/default/fonts/mreavessanaltbi-071211002EmigreWebOnly.woff") format("woff")
}

@font-face {
    font-family: MrEavesSans;
    font-style: italic;
    src: url("/static/light/surlatable/landingpage/default/fonts/mreavessanaltri-071211002EmigreWebOnly.eot");
    src: url("/static/light/surlatable/landingpage/default/fonts/mreavessanaltri-071211002EmigreWebOnly.eot?#iefix") format("embedded-opentype"),
         url("/static/light/surlatable/landingpage/default/fonts/mreavessanaltri-071211002EmigreWebOnly.woff") format("woff")
}

body {
    background: none;
    font-family: $slt-basic-font;
}

.sticky-wrapper {
    display: block !important;
    height: 140px !important;
    margin: 15px 0 0 0;
}

.container {
    position: relative;
}

.navbar {
    height: 86px;
    border: none;
    margin-top: 10px;
    .container {
        position: relative;
        a.logo {
            cursor: pointer;
            display: inline-block;
            opacity: 1;
            filter: alpha(opacity=100);
            padding-left: 2px;
            img {
                width: 260px;
                &.mobile {
                    display: none;
                }
                &.desktop {
                    height: 86px;
                }
            }
            .logoA {
                float: left;
                clear: both;
            }
            .logoB {
                float: right;
                margin-top: 10px;
            }
        }
        .header-links-bar {
            position: absolute;
            top: 2px;
            right: 0;
            display: inline-block;
            text-align: left;
            font-size: 12px;
            line-height: 18px;
            font-family: $slt-modern-font;
            a {
                margin: 0px 5px;
                cursor: pointer;
                line-height: 24px;
                font-size: 16px;
            }
            .orange {
                color: #e37b00;
            }
            .green {
                color: #6c8f01;
            }
        }
    }
}

.second-nav-area {
    width: 1024px;
    margin: 15px auto 0 auto;
    height: 33px;
    .topNavWrapper {
        float: left;
        position: relative;
        text-align: left;
        font-family: $slt-modern-font;
        line-height: 1.5;
        text-transform: uppercase;
        .dropdown-label {
            padding: 0 15px;
            background: white;
            height: 32px;
            float: left;
            text-align: center;
            position: relative;
            font-size: 16px;
            cursor: pointer;
            border-radius: 5px 5px 0 0;
            box-sizing: content-box;
            margin: 0 1px 0 1px;
            @include no-select;
        }
        &:hover .dropdown-label {
            color: $slt-main-color;
            border: none;
            margin: 0 1px 0 1px;
            a {
                text-decoration: none;
            }
        }
        &.expanded {
            .dropdown-label {
                z-index: 10;
                color: $slt-main-color;
                border: 1px solid $slt-main-color;
                border-bottom: none;
                margin: 0;
            }
            .navDropdown {
                display: block;
            }
        }
        .navDropdown {
            display: none;
            position: absolute;
            top: 32px;
            background: #FFF;
            border: 1px solid $slt-main-color;
            border-radius: 0 0 5px 5px;
            font-size: 14px;
            padding: 10px 20px;
            line-height: 1.5;
            z-index: 9;
            min-width: 127px;
            > ul {
                list-style: none;
                text-align: left;
                padding: 0;
                > li {
                    white-space: nowrap;
                    line-height: 31px;
                    font-family: $slt-modern-font;
                    font-weight: bold;
                    @include no-select;
                    &:after {
                        content: '\00bb';
                        position: relative;
                        top: -1px;
                        left: 2px;
                    }
                    &:hover > a {
                        color: $slt-main-color;
                        border-bottom: 1px solid $slt-grey-color;
                        text-decoration: none;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.topProductPrimNav {
    width: 1022px;
    height: 36px;
    background: $slt-green-color;
    margin: auto;
    margin-bottom: 0px;
    border-radius: 5px;
    padding-left: 10px;
    position: relative;
    #topNavSearch {
        position: absolute;
        right: 26px;
        top: 4px;
        width: 196px;
        height: 28px;
        color: #fff;
        border: 0px solid #829253;
        border-radius: 5px;
        cursor: pointer;
        background: $slt-main-color;
        > input {
            border: none;
            border-radius: 5px;
            padding: 5px;
            margin: 0;
            width: 162px;
            height: 16px;
            box-sizing: content-box;
            font-family: $slt-basic-font;
            font-size: 11px;
            color: $slt-main-color;
        }
        > span {
            position: absolute;
            right: 6px;
            top: -8px;
            font-size: 26px;
            font-weight: bold;
            line-height: 39px;
            @include no-select;
        }
    }
    .topNavWrapper {
        .dropdown-label {
            color: #fff;
            height: 34px;
            font-size: 24px;
            line-height: 36px;
            text-transform: none;
            padding: 0 18px;
            background: transparent;
            margin-right: 0 !important;
            border: none !important;
            border-top: 1px solid $slt-green-color !important;
            border-bottom: 1px solid $slt-pastel-green-color !important;
            @include no-select;
            &:hover {
                color: $slt-green-color;
                background: #fff;
            }
        }
        &.expanded .dropdown-label {
            color: $slt-green-color;
            background: #fff;
            margin-left: 1px;
        }
    }
    .topProductSecNav, .topProductSecNavPromo, .topProductTerNav {
        box-sizing: content-box;
        cursor: pointer;
    }
    .topProductSecNav {
        width: 210px;
        height: auto;
        color: #000;
        border: none !important;
        box-shadow: 0 0 5px rgba(0,0,0,.5);
        top: 36px !important;
        padding: 10px !important;
        font-size: 16px !important;
        font-family: $slt-sans-font;
        margin-left: 1px;
        &.doubleWideNav {
            border-left: none !important;
        }
        ul {
            width: 225px;
            margin: 0 auto;
        }
        .topSecNavWrapper {
            &.expanded {
                .topProductTerNav {
                    display: inline-block;
                }
                .sec-dropdown-label:after {
                    display: inline;
                    color: $slt-main-color;
                }
            }
            &:after {
                content: '' !important
            }
            .sec-dropdown-label {
                @include no-select;
                &:hover {
                    color: $slt-main-color;
                    border-bottom: 1px solid $slt-grey-color;
                    &:after {
                        display: inline;
                    }
                }
                &:after {
                    display: none;
                    content: '›' !important;
                    float: right;
                    color: $slt-grey-color;
                    font-size: 26px;
                    line-height: 26px;
                    position: absolute;
                    right: 8px;
                }
            }
        }
        .topProductTerNav {
            position: absolute;
            top: 0;
            left: 228px;
            width: 218px;
            height: auto;
            padding: 10px;
            display: none;
            float: left;
            border: none;
            background: #fff;
            text-transform: none;
            box-shadow: 2px 2px 5px -2px rgba(0,0,0,.5);
            border-radius: 0px 0px 5px 0px;
            &.doubleWideNav {
                width: 436px !important;
            }
            ul {
                float: left;
                width: 200px !important;
                height: 100%;
                padding-left: 15px !important;
                box-sizing: content-box;
                li {
                    list-style: none;
                    cursor: pointer;
                    margin: 0 0 0 10px;
                    text-indent: -10px;
                    padding: 4px 10px;
                    line-height: 24px !important;
                    color: $slt-basic-color;
                    a {
                        @include no-select;
                        white-space: normal;
                        &:hover {
                            color: $slt-main-color;
                            text-decoration: none;
                            border-bottom: 1px solid $slt-grey-color;
                        }
                    }
                }
            }
        }
        .topProductSecNavPromo {
            position: relative;
            display: block;
            bottom: 10px;
            padding: 0 5px;
            margin-top: 10px;
            width: 200px;
            height: auto;
            overflow:hidden;
            border-top: 1px solid $slt-grey-color;
            &:hover {
                text-decoration: none !important;
            }
            img {
                padding-top: 10px;
            }
            > p {
                @include no-select;
                color: #000;
                text-transform: none;
                margin: 0;
                font-family: $slt-modern-font;
                font-style: normal;
                font-size: 16px;
                line-height: 20px;
                &.topProductSecNavPromoText {
                    overflow: hidden
                }
            }
            .topProductSecNavPromoShop {
                color: $slt-main-color;
                font-family: $slt-modern-font;
                font-weight: bold;
                &:after {
                    content: '\00bb';
                    font-size: 16px;
                    position: relative;
                    top: -1px;
                    text-decoration: none !important;
                }
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.third-category-area {
    .category-area {
        background-color: $slt-main-color;
        border-radius: 6px;
        display: block;
        overflow: hidden;
    }
    .category {
        border: none;
        color: #fff;
        font-family: $slt-modern-font;
        font-size: 24px;
        background-color: $slt-main-color;
        padding: 0;
        > span {
            width: 75%;
            display: inline-block;
            height: 34px;
            border-radius: 5px 5px 0px 0px;
            border-top: 1px solid $slt-main-color;
            border-bottom: 1px solid $slt-main-color;
            @include no-select;
        }
    }
    .category > span:hover, #category-area .category.selected span {
        background-color: #FFF;
        color: $slt-main-color !important;
    }
    .category:not(.selected):hover span {
        border-bottom: 1px solid #FFF;
    }
    .category.selected {
        background-color: $slt-main-color;
        span {
            border-bottom: 1px solid #EEE;
        }
    }
}

#category-area {
    display: block;
    border-spacing: 2px;
    table-layout: fixed;
    background-color: #FFF;
    z-index: 2;
    overflow-y: hidden;

    .category-area {
        background-color: transparent;
        display: block;
        height: 140px;
    }

    .category {
        display: inline-block !important;
        border: none;
        background-color: #FFF !important;
        padding: 0;
        margin-right: 2px;
        position: relative;
        width: 14%;
        height: 100%;
        font-size: 20px;
        line-height: 34px;
        color: $slt-orange-color !important;
        font-family: $slt-modern-font;
        overflow: hidden;
        &.selected, &:hover {
            .name {
                border-bottom: 1px solid $slt-orange-color;
            }
        }
        img {
            height: $slt-thumbnail-height;
            width: 111px;
        }
        .name {
            display: inline;
            font-size: 16px;
            line-height: 16px;
            white-space: nowrap;
            text-transform: uppercase;
            @include no-select;
            &:after {
                content: '\00bb';
                position: relative;
                top: -1px;
                left: 1px;
            }
        }
    }
    &:last-child .category {
        margin-right: 0;
    }
    &.stuck {
        .category-area {
            height: auto;
            margin-top: (-$slt-thumbnail-height);
        }
    }
}

#hero-area {
    .jumbotron {
        position: relative;
        height: 104px; /* 2px + 100px + 2px */
        padding: 2px;
        margin-top: 0px;
        margin-bottom: 2px;
        background: none;
        overflow: hidden;
        img {
            border: none;
            border-radius: 5px;
        }
        .category-name {
            position: absolute;
            z-index: 1;
            top: 50%;
            margin-top: -25px;
            width: 100%;
            text-align: center;
            line-height: 55px;
            color: #FFF;
            font-family: $slt-modern-font;
            font-size: 55px;
            font-weight: 300;
            .spaced {
                letter-spacing: 0.05em;
            }
            .for {
                font-style: italic;
                padding: 0 0.2em;
            }
        }
    }
}

.tile {
    padding: 5px;
    width: 33.33%;
    &.wide {
        width: 66.66%;
    }
    .overlay {
        background: rgba(255,255,255,0.80);
        @include no-select;
    }
    .name {
        font-size: 0.9em;
        color: #444;
        text-decoration: none;
    }
    &:hover .name {
        text-decoration: underline;
    }
    .price {
        font-size: 0.8em;
        color: #444;
        font-weight: bold;
        .sale {
            display: block;
            color: #921E1E;
        }
        .original {
            display: block;
            color: #999;
        }
        .img-wrapper {
            overflow: hidden;
            position: relative;
            &:hover .quick-view {
                top: 50%;
            }
            .quick-view {
                position: absolute;
                top: 100%;
                width: 100%;
                text-align: center;
                -webkit-transition: top 0.5s;
                -moz-transition: top 0.5s;
                -ms-transition: top 0.5s;
                -o-transition: top 0.5s;
                transition: top 0.5s;
                transition-timing-function: ease-in-out;
                span {
                    display: inline-block;
                    background-color: #F4F4F4;
                    border: 1px #a3a3a3 solid;
                    border-radius: 4px;
                    font-weight: bold;
                    font-size: 0.8em;
                    color: #444444;
                    padding: 4px 8px;
                    cursor: pointer !important;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
.tile .overlay .title,
.image-with-tagged-products .caption,
.image-without-tagged-products .caption {
    color: #333333;
    font-family: $slt-modern-font;
    font-size: 21px;
    font-weight: 200;
    span:first-child:after {
        content: '\00bb';
        position: relative;
        font-style: normal;
        top: -1px;
        left: 5px;
    }
    .tile-name {
        display: block;
        padding: 0 15px;
        font-family: $slt-basic-font;
        font-size: 18px;
        font-weight: normal;  
    }
}
.tile.banner .overlay {
    cursor:pointer;
    .button {
        color: #333333;
        font-family: $slt-basic-font;
        font-size: 18px;
        font-weight: normal;
        text-decoration: none;
        span:first-child:after {
            content: '\00bb';
            position: relative;
            font-style: normal;
            top: -1px;
            left: 5px;
        }
    }
}

.shop-cta {
    text-align: center;
    line-height: 16px;
    font-size: 17px;
    font-style: italic;
    font-family: $slt-sans-font;
    font-weight: bold;
    color: $slt-purple-color;
    &:after {
        content: '\25be';
        position: relative;
        top: 1px;
        left: 2px;
    }
}

.previewContainer .content {
    padding: 40px 10px 10px !important;
}

.previewContainer,
.heroContainer {
    .scrollable, .content, .preview-container, .template.target, .table,
    .row, .image-with-tagged-products, .image-without-tagged-products {
        width: 100%;
        height: 100%;
    }
    .description > a {
        color: #db8f21;
        font-weight: bold;
    }
    .cell > div,
    .product-info .tagged-product > div {
        margin: 0;
    }
    .mask {
        background: rgba(200, 200, 200, 0.7);
    }
    .cell {
        display: inline-block;
        padding: 0;
        margin: 0;
    }
    .fullscreen {
        max-width: 1024px;
        max-height: 760px;
        width: 100%;
        height: 100%;
        &.product {
            max-height: 640px;
            .cell.info {
                height: 100%;
                padding: 10px 0 0;
            }
        }
    }
    .content {
        width: 100%;
        max-width: 1024px !important;
        max-height: 100%;
        overflow: hidden;
        border-radius: 10px;
    }
    .table {
        display: block;
        .row {
            display: inline-block;
        }
    }
    .close {
        top: 10px;
        right: 10px;
        text-shadow: none;
        font-size: 12px;
        font-weight: normal;
        color: #fff;
        z-index: 10;
        &:hover {
            opacity: 0.6;
            filter: alpha(opacity=60);
        }
        img {
            vertical-align: -1px;
            margin-left: 7px;
        }
    }
    .title-banner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 40px;
        background-color: $slt-purple-color;
        text-align: left;
        border-radius: 10px 10px 0 0;
        padding: 12px !important;
        .title {
            line-height: 12px;
            color: #fff;
            max-width: 90%;
            height: 15px;
            overflow: hidden;
        }
    }
    .info, .look-image-container {
        width: 100%;
        height: 72%;
        text-align: left;
        padding: 10px 0;
        .back-to-recipe {
            color: $slt-purple-color;
            font-size: 18px;
            font-weight: bold;
            font-family: $slt-modern-font;
            text-align: center;
            margin: 25px 0;
            &:before {
                content: '\00ab';
            }
            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
    .look-image-container {
        .look-image {
            display: inline-block;
            width: 57%;
            height: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 10px;
        }
        .recipe-container {
            display: inline-block;
            vertical-align: top;
            width: 42%;
            height: 100%;
            padding: 10px 20px;
            margin: 0;
            .title {
                font-size: 20px;
                line-height: 20px;
                margin-bottom: 15px;
                max-height: 60px;
            }
            .recipe {
                font-size: 12px;
                max-height: 85%;
                overflow: auto;
            }
            .scroll-cta {
                width: 100%;
                color: $slt-green-color;
                text-align: center;
                font-size: 15px;
                font-family: $slt-modern-font;
                margin-top: 5px;
                &:after {
                    content: url('/static/light/surlatable/landingpage/full-nav/images/scroll-more-arrow.png');
                }
            }
        }
    }
    .product-info, .tagged-product,
    .main-image-container, .main-image {
        width: 100%;
        height: 100%;
    }
    .gallery-main-image {
        display: inline-block;
        vertical-align: top;
        width: 57%;
        height: 100%;
        position: relative;
        .image, .description {
            display: inline-block;
            vertical-align: top;
            width: 100%;
        }
        .image {
            background-size: cover;
            background-color: transparent;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 10px;
            height: 100%;
        }
        .description {
            font-size: 12px;
            line-height: 22px;
            overflow: hidden;
            padding: 10px 5px 0 45px;
            text-align: left;
            max-height: 90%;
            white-space: normal;
        }
    }
    .gallery-dots {
        position: absolute;
        left: 0;
        bottom: 10px;
        width: 100%;
        line-height: 12px;
        .item {
            width: 6px;
            height: 6px;
            border: 1px solid $slt-green-color;
            background-color: white;
            &.selected {
                background-color: $slt-green-color;
            }
        }
    }
    .product-details {
        display: inline-block;
        vertical-align: top;
        width: 42%;
        height: 100%;
        padding: 10px 20px;
        margin: 0 !important;
        text-align: left;
        .title, .price {
            font-size: 30px;
            line-height: 30px;
            font-family: $slt-sans-font;
            font-weight: bold;
            margin-bottom: 15px;
        }
        .price {
            font-weight: bold;
            .current.sale {
                color: $slt-sale-price-color;
            }
            .current:before {
                content: "$";
                font-size: .6em;
                position: relative;
                bottom: .5em;
                display: inline-block;
            }
            .cents {
                font-size: .6em;
                position: relative;
                bottom: .43em;
                display: inline-block;
            }
            .suggested-price, .save-percent {
                font-size: 16px;
            }
            .suggested-price {
                margin-left: 16px;
                color: $slt-dark-grey-color;
                .dollar-amount {
                    text-decoration: line-through;
                }
            }
            .save-percent {
                color: $slt-black-color;
                &:before {
                    content: " | ";
                    padding: 0 2px;
                }
            }
        }
        .description {
            overflow: hidden;
            max-height: 66%;
            margin-bottom: 30px;
            font-size: 12px;
            line-height: 22px;
        }
    }
    .shop {
        position: relative;
        width: 100% !important;
        height: 28%;
        padding: 12px 0 0 0;
        border: 1px solid $slt-grey-color;
        border-radius: 10px;
    }
    .buy {
        width: 70%;
        margin: auto !important;
        .button {
            position: relative;
            font-size: 18px;
            font-family: $slt-modern-font;
            line-height: 40px;
            width: 100%;
            border-radius: 10px;
            border: 1px solid $slt-green-color;
            background-color: $slt-green-color;
            &:hover {
                background-color: #fff;
                color: $slt-green-color;
                text-decoration: none;
            }
        }
    }
    .stl-title {
        position: absolute;
        left: 50%;
        top: 0px;
        margin-left: -20px;
        color: $slt-green-color;
        font-size: 14px;
        line-height: 14px;
        background-color: transparent;
        margin-bottom: 10px !important;
    }
    .look-thumbnail {
        display: inline-block;
        margin: 5px;
        width: 150px;
        height: auto;
        text-align: center;
        vertical-align: top;
        img.image {
            display: inline-block;
            max-width: 100%;
            max-height: 100px;
            width: auto;
            opacity: 1;
            margin: 0 0 5px;
        }
        .name {
            width: 100%;
            margin: auto;
            text-align: center;
            font-size: 10px;
            white-space: normal;
            text-transform: none;
        }
    }
    .carousel-region {
        width: 100%;
        height: 88%;
        position: relative;
        .stl-carousel {
            width: 100%;
            height: 100%;
        }
        .stl-look-container {
            position: absolute;
            top: 0; left: 0; right: 0;
            margin: auto;
            width: 90%;
            height: 100%;
            overflow: hidden;
        }
        .stl-look {
            overflow: visible;
            width: 100%;
            height: 100%;
            text-align: center;
            white-space: nowrap;
            .stl-item {
                display: inline-block;
                margin: 5px;
                width: 150px;
                height: auto;
                text-align: center;
                vertical-align: top;
                img.image {
                    display: inline-block;
                    max-width: 100%;
                    max-height: 100px;
                    width: auto;
                    opacity: 1;
                    margin: 0 0 5px;
                }
                .name {
                    width: 100%;
                    margin: auto;
                    text-align: center;
                    font-size: 10px;
                    white-space: normal;
                    text-transform: none;
                }
            }
        }
    }
    .image-with-tagged-products .cell.shop {
        width: 140px;
    }
    .more-info {
        text-align: right;
        padding-right: 20px;
        font-size: 20px;
        line-height: 20px;
        font-weight: bold;
        .down-arrow {
            width: 0;
            height: 0;
            background-color: transparent;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 15px solid #000;
            display: inline-block;
        }
    }
}

.stl-carousel, .tagged-product {
    .stl-swipe-up, .stl-swipe-down,
    .stl-swipe-left, .stl-swipe-right,
    .gallery-swipe-left, .gallery-swipe-right {
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        border: none;
        position: absolute;
        cursor: pointer;
        z-index: 1;
        background-color: transparent;
        background-size: contain;
        margin: 0;
    }
    .stl-swipe-up, .stl-swipe-down {
        display: none;
        width: 100%;
        height: 10%;
        left: 0;
        background-size: 15%;
        background-position: center 40%;
    }
    .stl-swipe-left, .stl-swipe-right {
        display: none;
        width: 5%;
        height: 100%;
        top: 0;
        background-size: 50%;
        background-position: center 40%;
    }
    .gallery-swipe-left, .gallery-swipe-right {
        width: 45px;
        height: 100%;
        top: 0;
        background-size: 70%;
    }
    .stl-swipe-up {
        background-image: url('/static/light/surlatable/landingpage/full-nav/images/up.png');
        top: 0;
    }
    .stl-swipe-down {
        background-image: url('/static/light/surlatable/landingpage/full-nav/images/down.png');
        bottom: 0;
    }
    .stl-swipe-left, .gallery-swipe-left {
        background-image: url('/static/light/surlatable/landingpage/full-nav/images/left.png');
        left: 0;
    }
    .stl-swipe-right, .gallery-swipe-right {
        background-image: url('/static/light/surlatable/landingpage/full-nav/images/right.png');
        right: 0;
    }
}

@media screen and (max-width: 991px) {
    .tile {
        width: 50%;
        padding: 2px;
        &.wide {
            width: 100%;
        }
    }
}

@media screen and (max-width: 768px) {
    .fullscreen, .content, .scrollable, .content
    .preview-container, .template.target, .table, .row,
    .image-with-tagged-products, .image-without-tagged-products {
        width: 100%;
        height: 100%;
    }
    .container {
        padding: 0px;
    }
    .navbar {
        &:before,
        &:after {
            content: none;
        }
        margin: 0;
        margin-bottom: 1px;
        padding: 0;
        border: none;
        border-bottom: 1px solid black;
        height: 42px;
        min-height: 42px;
        line-height: 42px;
        background-color: #5D285A;
        .container {
            a.logo {
                width: 100%;
                height: 20px;
                margin-bottom: 20px;
                img {
                    position: relative;
                    left: 50%;
                    margin-left: -150px;
                    width: 300px;
                    height: auto;
                    &.desktop {
                        display: none;
                    }
                    &.mobile {
                        display: block;
                    }
                }
            }
            .header-links-bar {
                display: none;
            }
        }
    }
    .second-category-area {
        display: none;
    }
    #category-area {
        z-index: 10;
        /* overlap above clickable element with a margin to reduce fat finger clicks */
        margin: -20px 0 0;
        padding-top: 22px;
        background-color: transparent;
        overflow: visible;
        .category-area {
            background-color: #FFF;
            width: 100%;
            height: 46px !important;
        }
        .category {
            vertical-align: top;
            border: 2px solid $slt-orange-color;
            border-radius: 6px;
            color: #FFF !important;
            background-color: $slt-orange-color !important;
            width: 49%;
            line-height: 40px;
            margin-right: 2px;
            &.selected {
                border-bottom: 2px solid $slt-orange-color;
                background-color: $slt-orange-color;
            }
            > span {
                display: inline-block;
                font-weight: lighter;
                font-size: 13px;
                padding-top: 2px;
                text-align: center;
                text-transform: none;
                letter-spacing: 0.07em;
                &:after {
                    content: '\00bb';
                    position: relative;
                    top: -1px;
                }
            }
            .sub-categories {
                position: absolute;
                top: 100%;
                right: 0;
                display: none;
                border: none;
                border-radius: 0 0 6px 6px;
                width: 200%;
            }
            .sub-category {
                display: inline-block;
                max-width: 180px;
                width: 49%;
                padding: 10px;
                color: $slt-orange-color;
                border-bottom: none;
                img {
                    width: 77%;
                    height: auto;
                }
                > span {
                    font-size: 15px;
                    line-height: 24px;
                    white-space: nowrap;
                    text-transform: uppercase;
                    border: none !important;
                    @include no-select;
                    &:after {
                        content: '\00bb';
                        position: relative;
                        top: -1px;
                        left: 1px;
                    }
                }
                &:hover {
                    color: $slt-orange-color;
                }
            }
            &:first-child .sub-categories {
                left: 0;
                right: auto;
            }
            &.selected {
                background-color: $slt-orange-color;
                > span {
                }
            }
            &.expanded {
                overflow: visible;
                color: $slt-orange-color;
                background-color: #FFF;
                .sub-categories {
                    display: block;
                    margin-top: 2px;
                    padding-top: 4px;
                    z-index: 1;
                    .wrap {
                        width: 100%;
                        border: 2px solid $slt-orange-color;
                        border-radius: 6px;
                        background-color: #FFF;
                    }
                }
                .sub-category,
                .sub-category.selected {
                    display: inline-block;
                    border: none;
                    margin-top: 0;
                }
            }
        }
    }
    #hero-area {
        position: relative;
        .visible-xs.jumbotron,
        .visible-sm.jumbotron {
            height: auto;
            margin-bottom: 1px;
            .category-name {
                font-size: 30px;
                margin-top: -25px;
            }
        }
    }
    .previewContainer {
        max-height: 100%;
        &.landscape {
            .close {
                width: 100px;
            }
            .tagged-product.row {
                .description {
                    display: none;
                }
                .main-image .description {
                    display: inline-block;
                    height: auto;
                    padding: 15px 20px 0 60px;
                }
            }
            .look-image, .product-details {
                width: calc(100% - 90px) !important;
            }
            .image-with-tagged-products {
                .info, .look-image-container {
                    float: right;
                    width: 80%;
                }
            }
            .info, .look-image-container {
                height: 100% !important;
            }
            .look-product-carousel {
                width: 80%;
                height: 100%;
                float: right;
                .info, .look-image-container {
                    width: 100% !important;
                }
            }
            .gallery-main-image {
                .main-image-container {
                    height: 100%;
                }
                .gallery-dots .description-dot {
                    display: inline-block !important;
                }
                .buy {
                    position: absolute;
                    bottom: 8px;
                    left: 0;
                    right: 0;
                    margin: 0 auto !important;
                    width: 70%;
                    height: 12%;
                    .button {
                        border-radius: 10px;
                    }
                }
            }
            .shop {
                float: left;
                width: 20% !important;
                height: 100%;
                border-top: none;
                border-right: 1px solid $slt-grey-color;
                .stl-title {
                    padding: 0 15px;
                }
                .stl-look-container {
                    width: 100%;
                    height: 80%;
                    .stl-look {
                        white-space: normal;
                    }
                }
                .stl-item, .look-thumbnail {
                    max-width: 90% !important;
                    height: 100px !important;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
        .fullscreen {
            position: fixed;
            max-height: none !important;
        }
        .close {
            width: 80px;
            top: 0;
            right: 0;
            line-height: 65px;
            font-size: 20px;
            font-family: $slt-modern-font;
            text-transform: uppercase;
            background-color: $slt-purple-color;
        }
        .content {
            padding: 0 !important;
            border-radius: 0;
        }
        .look-image-container {
            height: 72%;
            position: relative;
            .look-image {
                width: calc(100% - 79px);
                height: 65px;
                border-radius: 0;
                position: absolute;
                top: 0;
                left: 0;
            }
            .recipe-container {
                width: 100%;
                height: 100%;
                padding: 0 10px;
                padding-top: 75px;
                .title {
                    line-height: 20px;
                    font-size: 20px;
                    margin-bottom: 10px;
                    max-height: 40px;
                }
                .recipe {
                    max-height: calc(100% - 50px);
                }
            }
        }
        .info {
            height: 72% !important;
            padding: 0 !important;
            position: relative;
        }
        .look-product-carousel {
            width: 100%;
            height: 72%;
            .info, .look-image-container {
                height: 100% !important;
            }
        }
        .tagged-product.row {
            .description {
                width: 100%;
                height: 28%;
                overflow: auto;
                padding: 4px 14px 0;
                text-align: left;
                font-size: 12px;
                line-height: 22px;
            }
            .main-image .description {
                display: none;
            }
            .gallery-dots .description-dot {
                display: none;
            }
        }
        .product-details {
            width: calc(100% - 80px);
            height: 65px;
            padding: 5px 0 0 5px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            .title {
                line-height: 18px;
                font-size: 18px;
                height: 36px;
                overflow: hidden;
                margin-bottom: 5px;
            }
            .price {
                line-height: 12px;
                font-size: 12px;
                margin-bottom: 0;
            }
        }
        .gallery-main-image {
            width: 100%;
            height: 100%;
            padding-top: 65px;
            margin: 0 !important;
            .image, .recipe {
                border-radius: 0;
                &.full-image {
                    background-size: contain;
                }
            }
            .main-image-container {
                height: 85%;
            }
            .gallery-dots {
                bottom: 16%;
            }
            .buy {
                width: 100%;
                height: 15%;
                margin: 0 !important;
                .button {
                    font-size: 20px;
                    border-radius: 0;
                    line-height: 0;
                    height: 100%;
                    span {
                        position: absolute;
                        top: 46%;
                        left: 0;
                        right: 0;
                    }
                    &:hover {
                        background-color: $slt-green-color;
                        color: white;
                    }
                }
            }
        }
        .shop {
            border-radius: 0;
            border: none;
            border-top: 1px solid $slt-grey-color;
            .stl-title {
                top: 5px;
                font-family: $slt-modern-font;
            }
            .stl-swipe-left, .stl-swipe-right {
                width: 10%;
                background-size: 40%;
                background-position: center 40%;
            }
            .stl-look-container {
                width: 80%;
                height: 95%;
                position: absolute;
                top: 0;
            }
            .stl-look {
                height: 100%;
                white-space: nowrap;
                padding: 0;
                position: absolute;
                top: 0;
                .look-thumbnail, .stl-item {
                    max-width: 45%;
                    height: 100%;
                    overflow: hidden;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    img {
                        height: 100%;
                        max-width: none !important;
                        max-height: none !important;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 400px) {
    #hero-area {
        .visible-xs.jumbotron,
        .visible-sm.jumbotron {
            margin-bottom: 1px;
            .category-name {
                font-size: 25px;
            }
        }
    }
}
