aws_credential_file
*.idea
*.ropeproject
*.pyc
*.orig
*.dot
*.db
*.sqlite
*.DS_Store
*.sass-cache/
bin/*
/static
.elasticbeanstalk/
doc/
log/
runserver

# Testing directories
apps/testing/resources
apps/testing/tests/results