aws_credential_file
*.idea
*.ropeproject
*.pyc
*.orig
*.dot
*.db
*.sqlite
*.DS_Store
*.sass-cache/
bin/*
/static
.elasticbeanstalk/
doc/
log/
runserver
apps/testing/phantomjs
apps/testing/jstestdriver/JasmineAdapter.js
apps/testing/jstestdriver/JsTestDriver.jar
apps/testing/jasmine
apps/testing/jstestdriver/settings.py