aws_credential_file
*.idea
*.ropeproject
*.pyc
*.orig
*.dot
*.db
*.dump
*.sqlite
*.DS_Store
*.sass-cache/
bin/*
/static
.elasticbeanstalk/
doc/
log/
runserver
libpeerconnection.log
MySQL-python-1.2.3
apps/pinpoint/static/campaigns
scripts/flush.sql
db.sql
ghostdriver.log

# Testing directories
apps/testing/resources
apps/testing/tests/results

node_modules
apps/light/node_modules
apps/light/lib
apps/light/.sass-cache
apps/light/static
apps/light/templates

Vagrantfile
.vagrant
vagrant_ansible*

.ssh/

