Django==1.4.1
MySQL-python==1.2.3
South==0.7.6
Werkzeug==0.8.3
boto==2.6.0
django-ajax-forms==0.3.1.beta
django-extensions==0.9
django-storages==1.1.5
django-tastypie==0.9.11
mimeparse==0.1.3
mock==1.0.0
python-dateutil==1.5
selenium==2.25.0
wsgiref==0.1.2
