@charset "UTF-8";

html {
    border: 1px solid #1e2338;
    box-sizing: border-box;
}

body {
    margin: 0;
}

#discovery-area {
    margin-top: 0;
}

#topbar img {
    max-width: 100%;
}

.container, #discovery-area {
    /* subtract 2 pixels for add units with borders */
    height: 548px!important;
}

html, body, .container {
    overflow: hidden;
}
