@charset "UTF-8";

html, body, .container, #discovery-area {
    min-height: 100%;
}

html {
    border: 1px solid #1e2338;
    box-sizing: border-box;
}

body {
    margin: 0;
}

#discovery-area {
    margin-top: 0;
}

#topbar img {
    max-width: 100%;
}

html, body, .container {
    overflow: hidden;
}
