{% load staticfiles %}
{% load compress %}
<!DOCTYPE html>
<html>
    <head>
        {% compress css %}
        <link rel="stylesheet" type="text/css"
              href="{% static 'pinpoint/css/base.css' %}">
        <link rel="stylesheet"
              href="{% static 'pinpoint/themes/anthropologie/anthropologie.css' %}"/>
        <link rel="stylesheet"
              href="{% static 'ads/css/base.css' %}"/>
        <link rel="stylesheet"
              href="{% static 'ads/themes/anthropologie/anthropologie.css' %}"/>
        {% endcompress css %}

        {% include "pinpoint/campaign_config.html" %}
        {% compress js %}
            {% include "ads/campaign_js.html" %}
        {% endcompress %}

        {% compress js %}
            <script src="{% static 'ads/js/ad.scroller.js' %}"></script>
        {% endcompress js %}
    </head>

    <body>
        <div id="topbar">
            <img src="{% static 'ads/themes/anthropologie/anthropologie.png' %}"
                 alt="Anthropologie"
                 class="anthropologie" />
        </div>
        <div class="waterfall container">
            <div id="discovery-area"></div>
        </div>

        {% include "pinpoint/default_templates.html" %}
        <script>App.start();</script>
    </body>
</html>
