{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    {% include "pinpoint/campaign_opengraph_tags.html" %}
    {% include "pinpoint/campaign_head.html" %}
    <!-- End Optimizer Tests -->
    <link rel="shortcut icon"
         href="http://oldnavy.gapcanada.ca/assets/common/apple-touch-icon-144x144.png" />
    <link rel="stylesheet"
          href="{% static 'pinpoint/themes/oldnavy/oldnavy.css' %}"/>
    {% include "pinpoint/campaign_respond.html" %}
    <!-- Add Optimizer Tests here -->
    <script type="text/javascript">
        window.TRACKING_PIXELS = {
            'A': {
                'view': 'http://trk.as/sv7s',
                'click': 'http://trk.as/pidm'
            }
        };
        window.ACTIVE_TEST = 'A';
    </script>
    {% if environment == 'production' %}
        <script type='text/javascript'>
            var interval = setInterval(function() {
                var test, bindFn;

                if (!window.ACTIVE_TEST) {
                    return;
                }

                // Because we need to bind some events before anything else, use this fn
                // http://stackoverflow.com/a/2641047
                $.fn.bindFirst = function(name, fn) {
                    // bind as you normally would
                    // don't want to miss out on any jQuery magic
                    this.on(name, fn);

                    // Thanks to a comment by @Martin, adding support for
                    // namespaced events too.
                    this.each(function() {
                        var handlers = $._data(this, 'events')[name.split('.')[0]];
                        // take out the handler we just inserted from the end
                        var handler = handlers.pop();
                        // move it at the beginning
                        handlers.splice(0, 0, handler);
                    });
                };

                bindFn = function() {
                    (new Image).src = window.TRACKING_PIXELS[test].click;
                };

                clearInterval(interval);
                test = window.ACTIVE_TEST;

                // Append click pixel
                if (/Android|iPhone|iPad|iPod/i.test(navigator.userAgent)) {
                    $('.tile').bindFirst('click', bindFn);
                } else {
                    // Why doesn't bindFirst work on desktop?
                    $('body').on('click', '.tile', bindFn);
                }


                // Append page view pixel
                (new Image).src = window.TRACKING_PIXELS[test].view;
            }, 1000);
        </script>
    {% endif %}
    <title>{{ page.name|default:"Old Navy" }}</title>
    <style type="text/css">
        /* out of necessity */
        .visible-xs.jumbotron { /* mobile hero */
            {% if mobile_hero_image %}
                background-image: url('{{ mobile_hero_image }}');
            {% else %}
                background-image: url('{{ desktop_hero_image }}');
            {% endif %}
        }
        .visible-md.jumbotron, .visible-lg.jumbotron, .visible-sm.jumbotron { /* desktop hero */
            {% if desktop_hero_image %}
                background-image: url('{{ desktop_hero_image }}');
            {% else %}
                background-image: url('{{ mobile_hero_image }}');
            {% endif %}
        }
    </style>
</head>
<body class="{% if tile %}stl{% endif %}">
    <div class='navbar'>
        <div class="container">
            <img src="{% static 'pinpoint/themes/oldnavy/images/stamp.gif' %}" />
            <a href="http://www.oldnavy.com/" target="_blank">
                <img class="logo" src="{% static 'pinpoint/themes/oldnavy/images/logo.png' %}" />
            </a>
        </div>
    </div>

    {% include "pinpoint/campaign_body.html" %}

    <div>
        <!-- generic templates -->
        <script type="text/template" id="category_template">
            <span><%= obj.name %></span>
        </script>

        <script type="text/template" id="shopthelook_template">
            <div class='content'></div>
        </script>

        <script type="text/template" id="product_tile_template">
            <div class="tap-indicator-target"></div>
            <img class="focus" src="<%= obj.image.url %>" alt="<%= caption %>" />
            <% if (App.option('debug', 0) > 1) { %>
                <span class="type"><%= obj['content-type'] %></span>
            <% } %>
            <div class="name"><%= obj.title || obj.name %></div>
        </script>

        <script type="text/template" id="image_tile_template">
            <div class="tap-indicator-target"></div>
            <div class='relative'>
                <img class="focus" src="<%= obj.image.url %>" alt="<%= obj.caption %>" />
            </div>
            <% if (App.option("debug", 0) > 1) { %>
                <span class="type"><%= obj["content-type"] %></span>
            <% } %>
        </script>

        <script type="text/template" id="youtube_tile_template">
            <div class="img-responsive thumbnail"
                 style="background-image: url('<%= obj.thumbnail || obj.image.url %>');">
              &nbsp;
              <img src="" alt="this img tag intentionally left blank" style="visibility:hidden"/>
            </div>
            <%= obj.caption || obj.name %>
        </script>

        <script type="text/template" id="preview_container_template">
            <div class="fullscreen">
                <div class="content">
                    <span class="close">X</span>
                    <div class="scrollable">
                        <div class="template target"></div>
                    </div>
                </div>
            </div>
            <div class="mask"></div>
        </script>

        <script type="text/template" id="tile_preview_template">
            <h2><span class="label label-info"><%= obj.template %>_preview_template</span> is missing.</h2>
            <p>You can define one in your template.</p>
            <ul>
                <% for (i in obj) { %>
                    <li><b><%= i %></b>: <%= obj[i] %></li>
                <% } %>
            </ul>
        </script>

        <script type="text/template" id="tap_indicator_template">
            +
            <div>
                <%= App.option('tapIndicatorText', 'tap to see more') %>
            </div>
        </script>

        <script type="text/template" id="product_price_template">
            <% if (obj.sale_price) { %>
                <div class="strike inline">
                    <%- obj.price %>
                </div>
                <%- obj.sale_price %>
            <% } else { %>
                <%- obj.price %>
            <% } %>
        </script>

        <script type="text/template" id="product_title_template">
            <%- obj.title || obj.name %>
        </script>

        <script type="text/template" id="product_buy_template">
            <a class='button' href='<%= obj.url %>' target='_blank'>
                <span class="bold">Shop</span>Now
            </a>
        </script>

        <script type="text/template" id="product_description_template">
            <%= obj.description %>
        </script>

        <script type="text/template" id="product_galleryMainImage_template">
            <div class="main-image-container">
                <% if (obj.images.length > 1) { %>
                    <div class="gallery-swipe-left"></div>
                    <div class="gallery-swipe-right"></div>
                <% } %>
                <div class="main-image">
                    <% for (var i = 0; i < obj.images.length; i++) { %>
                        <img class="image" src="<%- obj.images[i].url %>" />
                    <% } %>
                </div>
            </div>
        </script>

        <script type="text/template" id="product_gallery_template">
            <% for (var i = 0; i < obj.images.length; i++) { %>
                <img class="item" src="<%- obj.images[i].url %>" />
            <% } %>
        </script>

        <script type="text/template" id="product_galleryDots_template">
            <% for (var i = 0; i < obj.images.length; i++) { %>
                <div class="item"></div>
            <% } %>
        </script>

        <script type="text/template" id="product_preview_template">
            <div class="table">
                <div class='content-wrapper row'>
                    <% if (App.support.mobile()) { %>
                        <div class='cell info'>
                            <div class='title'></div>
                            <div class='price'></div>
                            <div class='buy'></div>
                        </div>
                    <% } %>
                    <div class='cell image-cell'>
                        <div class="gallery-main-image"></div>
                    </div>
                    <% if (obj.images.length > 1 && App.support.mobile()) { %>
                        <div class='cell'>
                            <div class='gallery-dots'></div>
                        </div>
                    <% } %>
                    <% if (!App.support.mobile()) { %>
                        <div class='cell info'>
                            <div class='title'></div>
                            <div class='price'></div>
                            <div class='buy'></div>
                            <div class="gallery<% if (obj.images.length < 2) { %> hide<% } %>"></div>
                        </div>
                    <% } %>
                </div>
            </div>
        </script>

        <script type="text/template" id="image_preview_template">
            <% if (obj['tagged-products'].length) { %>
                <% var product = obj['tagged-products'][0]; %>
                <div class="image-with-tagged-products">
                    <div class="table">
                        <div class="row">
                            <% if (obj['tagged-products'].length > 1 && obj.orientation !== 'landscape') { %>
                                <div class="cell desktop-only shop">
                                    <div class="stl-title">shop the look</div>
                                    <div class="stl-look">
                                        <% var  related = obj['tagged-products'] %>
                                        <% for (var i = 0; i < related.length; i++) { %>
                                            <div class="stl-item" data-index="<%- i %>">
                                                <img src="<%- related[i].images[0].url %>" />
                                            </div>
                                        <% } %>
                                    </div>
                                </div>
                            <% } %>
                            <div class="cell desktop-only">
                                <img src="<%= obj.image.url %>" alt="image" class="image"/>
                                    <% if (obj['tagged-products'].length > 1 && obj.orientation === 'landscape') { %>
                                    <div class="landscape">
                                        <div class="stl-title">shop the look</div>
                                        <div class="stl-look">
                                            <% var  related = obj['tagged-products'] %>
                                            <% for (var i = 0; i < related.length; i++) { %>
                                                <div class="stl-item" data-index="<%- i %>">
                                                    <img src="<%- related[i].images[0].url %>" />
                                                </div>
                                            <% } %>
                                        </div>
                                    </div>
                                <% } %>
                            </div>
                            <div class="cell info">
                                <div class='title'></div>
                                <div class='price'></div>
                                <div class='buy'></div>
                                <div class="gallery-main-image"></div>
                                <div class='gallery-dots<% if (product.images.length < 2) { %> hide<% } %>'></div>
                            </div>
                            <div class="cell mobile-only">
                                <img src="<%= obj.image.url %>" alt="image"/>
                            </div>
                            <% if (obj['tagged-products'].length > 1) { %>
                                <div class="cell mobile-only">
                                    <div class="stl-title">shop the look</div>
                                    <div class="stl-look">
                                        <% var related = obj['tagged-products'] %>
                                        <% for (var i = 0; i < related.length; i++) { %>
                                            <div class="stl-item" data-index="<%- i %>">
                                                <img src="<%- related[i].images[0].url %>" />
                                            </div>
                                        <% } %>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            <% } else { %>
                <div class="image-without-tagged-products">
                    <div class="table">
                        <div class="row">
                            <div class="cell capped-width">
                                <img src="<%= obj.image.url %>" alt="image" class="main-image" />
                            </div>
                            <div class="cell info">
                                <div class="title">
                                    Coming soon to Old Navy!
                                </div>
                                <div class="buy">
                                    <a class='button' href='http://www.oldnavy.com/' target='_blank'>
                                        Shop On Old Navy
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
        </script>

        <!-- custom templates -->
        <script type="text/template" id="hero_template">
            {% if legal_copy %}
                <div class="legal us">
                    {{ legal_copy }}
                </div>
            {% endif %}
            <div class="hero-message-container">
                <div class="colons">
                ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                </div>
                <div class="text">
                    More
                    <div class="big inline">
                        Summer
                        <!--[if gte IE 9]><!-->
                        <svg>
                            <text y="55" x="0">
                                Summer
                            </text>
                        </svg>
                        <!--<![endif]-->
                    </div>
                    Looks
                </div>
            </div>
        </script>
    </div>

    <div class="container">
        <!-- .container is bootstrap magic, and has a viewport-dependent width. -->
        <div id="hero-area"></div>
        <div id="category-area"></div>
        <div id="discovery-area" class="discovery-area"></div>
        <div class="no-noscript loading"></div>
        <noscript>
            <!-- promotions to show when user does not have javascript.
             this is a 'we need javascript' message by default.
             -->
            <div class="alert alert-danger">
                <b>Oh no!</b> We need JavaScript enabled to show you this page.
            </div>
        </noscript>
    </div>
    <img src='{% url 'apps.tracking.views.pixel' %}'/>
</body>
</html>
