
body {
	background: none;
}

.navbar {
    background-color: rgb(0, 67, 110);
    height: 84px;
    line-height: 84px;
    margin: auto;
}

.navbar .logo {
    margin-left: 85px;
    height: 68px;
    vertical-align: middle;
}

.hero-message-container {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    text-align: center;
    height: 110px;
    line-height: 60px;
    border-bottom: 50px solid rgb(130, 207, 202);
    font-size: 30px;
}

.hero-message-container div {
    line-height: normal;
}

.hero-message-container .colons {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    color: rgb(130, 207, 202);
    letter-spacing: 8px;
    font-weight: bold;
}

.hero-message-container .text {
    display: inline-block;
    vertical-align: bottom;
    background-color: white;
    padding: 0 20px;
    text-transform: uppercase;
}

.hero-message-container .text .big {
    font-size: 55px;
    margin-bottom: -1px;
    color: rgb(238, 38, 85);
    position: relative;
    visibility: hidden;
}
html.lt-ie9 .hero-message-container .text .big {
    visibility: visible;
}

.hero-message-container .text .big svg {
    visibility: visible;
    width: 100%;
    position: absolute;
    left: 0;
}

.hero-message-container .text .big svg text {
    fill: transparent;
    stroke: rgb(238, 38, 85);
    stroke-width: 3px;
}

.tile {
    color: #000;
    text-align: center;
    width: 256px;
    padding: 10px;
}
.tile.wide {
    width: 512px;
}

#preview-area .previewContainer .content {
    padding-top: 50px;
}

.previewContainer .close {
    color: #CCC;
    padding: 10px;
    font-size: 30px;
    font-weight: normal;
}

.previewContainer .info {
    text-align: left;
    padding-left: 25px;
    padding-right: 10px;
    overflow: hidden;
}
.previewContainer .image-without-tagged-products .info {
    text-align: center;
    width: auto;
    vertical-align: middle;
}

.previewContainer .info .title {
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 5px;
}

.previewContainer .info .price {
    margin-bottom: 10px;
    color: #134881;
    font-weight: bold;
    font-size: 18px;
}
.previewContainer .info .price .strike {
    font-weight: normal;
    color: #CCC;
    margin-right: 10px;
}

.previewContainer .buy {
    margin-top: 5px;
    text-align: center;
}

.previewContainer .buy .button {
    background-color: rgb(130, 207, 202);
    padding: 5px 30px;
    margin-bottom: 15px;
    min-width: 250px;
    text-transform: uppercase;
}

.previewContainer .stl-look .stl-item {
    margin-bottom: 20px;
}

.previewContainer .landscape .stl-look .stl-item {
    margin-bottom: 0;
}

.previewContainer .main-image-container .gallery-swipe-left {
    border-right: 25px solid #777;
}
.previewContainer .main-image-container .gallery-swipe-left:hover {
    border-right-color: #AAA;
}

.previewContainer .main-image-container .gallery-swipe-right {
    border-left: 25px solid #777;
}
.previewContainer .main-image-container .gallery-swipe-right:hover {
    border-left-color: #AAA;
}

.previewContainer .image-with-tagged-products .cell.shop {
    width: 145px;
    padding-right: 25px;
}

@media screen and (max-width: 768px) {
    .navbar {
        display: none;
    }
    .stl .navbar {
        display: block;
    }

    .hero-message-container {
        display: none;
    }

    .previewContainer .content {
        padding: 0;
        padding-top: 53px;
        height: 100%;
    }

    .previewContainer .row {
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .previewContainer .cell {
        display: block;
        max-width: 100%;
        text-align: center;
    }

    .previewContainer .gallery img {
        display: inline-block;
    }

    .previewContainer .info {
        text-align: left;
        max-width: none;
        width: auto;
        padding-left: 0;
    }

    .previewContainer .info .title {
        margin-top: 5px;
        padding-left: 25px;
    }

    .previewContainer .info .price {
        padding-left: 25px;
    }

    .previewContainer .info .buy {
        text-align: center;
    }

    .previewContainer .info .buy .button {
        display: inline-block;
        min-width: 280px;
    }

    .previewContainer .stl-look,
    .previewContainer .landscape .stl-look {
        white-space: normal;
        width: 100%;
        margin: auto;
        text-align: center;
    }

    .previewContainer .stl-title,
    .previewContainer .landscape .stl-title {
        margin-top: 5px;
    }

    .previewContainer .stl-look .stl-item,
    .previewContainer .landscape .stl-look .stl-item {
        display: inline-block;
        width: 135px;
        vertical-align: top;
    }

    .previewContainer .gallery-main-image {
        margin-bottom: 10px;
    }

    .previewContainer .gallery,
    .previewContainer .gallery-dots {
        margin-bottom: 10px;
    }

    /* Changing hover on mobile doesn't work very well */
    .previewContainer .main-image-container .gallery-swipe-left:hover {
        border-right-color: #777;
    }
    .previewContainer .main-image-container .gallery-swipe-right:hover {
        border-left-color: #777;
    }

    .previewContainer .image-with-tagged-products .cell.shop {
        width: auto;
    }

    .desktop-only {
        display: none !important;
    }
}

@media screen and (min-width: 769px) {
    .mobile-only {
        display: none !important;
    }
}
