<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    @@include('shared/campaign_head.html')
    @@include('shared/campaign_opengraph_tags.html')
    <link rel="shortcut icon"
         href="http://www.gap.com/favicon.ico" />
    <link rel="stylesheet"
          href="/static/light/gap/landingpage/video/styles/main.css"/>
    @@include('shared/campaign_respond.html')
	<!-- Add Optimizer Tests here -->
    <script type="text/javascript">
        window.TRACKING_PIXELS = {
            'A': {
                'view': 'http://pixel.watch/jc3w',
                'click': 'http://pixel.watch/lfwq'
            }
        };
        window.ACTIVE_TEST = 'A';
    </script>
    {% if environment == 'production' %}
        <script type='text/javascript'>
            var interval = setInterval(function() {
                var test, bindFn;

                if (!window.ACTIVE_TEST) {
                    return;
                }

                // Because we need to bind some events before anything else, use this fn
                // http://stackoverflow.com/a/2641047
                $.fn.bindFirst = function(name, fn) {
                    // bind as you normally would
                    // don't want to miss out on any jQuery magic
                    this.on(name, fn);

                    // Thanks to a comment by @Martin, adding support for
                    // namespaced events too.
                    this.each(function() {
                        var handlers = $._data(this, 'events')[name.split('.')[0]];
                        // take out the handler we just inserted from the end
                        var handler = handlers.pop();
                        // move it at the beginning
                        handlers.splice(0, 0, handler);
                    });
                };

                bindFn = function() {
                    (new Image).src = window.TRACKING_PIXELS[test].click;
                };

                clearInterval(interval);
                test = window.ACTIVE_TEST;

                // Append click pixel
                if (/Android|iPhone|iPad|iPod/i.test(navigator.userAgent)) {
                    $('.tile').bindFirst('click', bindFn);
                } else {
                    // Why doesn't bindFirst work on desktop?
                    $('body').on('click', '.tile', bindFn);
                }


                // Append page view pixel
                (new Image).src = window.TRACKING_PIXELS[test].view;
            }, 1000);
        </script>
	{% endif %}
    <title>{{ page.name|default:"Gap" }}</title>
</head>
<body class="{% if tile %}stl{% endif %}">
    <div class='header'>
        {% if not campaign.hide_navigation_bar %}
            <div class="navbar navbar-fixed-top navbar-static-top"
                 role="navigation">
                <div id="nav-container" class="container-fluid">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a data-brand="Gap" class="navbar-brand gap" href="http://www.gap.com" target="_blank">&nbsp;</a>
                            <a data-brand="Old Navy" class="navbar-brand old_navy navbar-brand hidden-xs" href="http://www.oldnavy.com" target="_blank">&nbsp;</a>
                            <a data-brand="Banana Republic" class="navbar-brand banana_republic hidden-xs" href="http://www.bananarepublic.com" target="_blank">&nbsp;</a>
                            <a data-brand="Piperlime" class="navbar-brand piperlime hidden-xs" href="http://www.piperlime.com" target="_blank">&nbsp;</a>
                            <a data-brand="Athleta" class="navbar-brand athleta hidden-xs"  href="http://www.athleta.com" target="_blank">&nbsp;</a>
                        </li>
                        <li class="other-brands dropdown hidden-sm hidden-md hidden-lg">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">&nbsp;</a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <li>
                                    <a href="http://www.gap.com" target="_blank">
                                        <span class="icon"></span>
                                        <span class="text">Gap</span>
                                    </a>
                                </li>
                                <li class="old_navy">
                                    <a href="http://oldnavy.com" target="_blank">
                                        <span class="icon"></span>
                                        <span class="text">Old Navy</span>
                                    </a>
                                </li>
                                <li class="banana_republic">
                                    <a href="http://www.bananarepublic.com" target="_blank">
                                        <span class="icon"></span>
                                        <span class="text">Banana Republic</span>
                                    </a>
                                </li>
                                <li class="piperlime">
                                    <a href="http://www.piperlime.com" target="_blank">
                                        <span class="icon"></span>
                                        <span class="text">Piperlime</span>
                                    </a>
                                </li>
                                <li class="athleta">
                                    <a href="http://www.athleta.com" target="_blank">
                                        <span class="icon"></span>
                                        <span class="text">Athleta</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="stay-connected dropdown hidden-sm hidden-md hidden-lg">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">&nbsp;</a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <li class="facebook">
                                    <a href="http://www.facebook.com/Gap" target="_blank">
                                        <span class="icon"></span>
                                        <span class="text">Facebook</span>
                                    </a>
                                </li>
                                <li class="twitter">
                                    <a href="http://www.twitter.com/gap" target="_blank">
                                        <span class="icon"></span>
                                        <span class="text">Twitter</span>
                                    </a>
                                </li>
                                <li class="pinterest">
                                    <a href="http://www.pinterest.com/Gap" target="_blank">
                                        <span class="icon"></span>
                                        <span class="text">Pinterest</span>
                                    </a>
                                </li>
                                <li class="instagram">
                                    <a href="http://www.instagram.com/gap" target="_blank">
                                        <span class="icon"></span>
                                        <span class="text">Instagram</span>
                                    </a>
                                </li>
                                <li class="tumblr">
                                    <a href="http://gap.tumblr.com" target="_blank">
                                        <span class="icon"></span>
                                        <span class="text">Tumblr</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="sharing hidden-xs">
                            <a class="find-nav" href='http://www.gap.com/customerService/storeLocator.do' target='_blank'>Find a Store</a>
                            <ul>
                                <li class="icon pinterest">
                                    <a href="http://www.pinterest.com/Gap"
                                       target="_blank">&nbsp;</a>
                                </li>
                                <li class="icon facebook">
                                    <a href="http://www.facebook.com/Gap"
                                       target="_blank">&nbsp;</a>
                                </li>
                                <li class="icon twitter">
                                    <a href="http://www.twitter.com/gap"
                                       target="_blank">&nbsp;</a>
                                </li>
                                <li class="icon instagram">
                                    <a href="http://www.instagram.com/gap"
                                       target="_blank">&nbsp;</a>
                                </li>
                                <li class="icon youtube">
                                    <a href="http://www.youtube.com/Gap"
                                       target="_blank">&nbsp;</a>
                                </li>
                                <li class="icon tumblr">
                                    <a href="http://gap.tumblr.com"
                                       target="_blank">&nbsp;</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
        </div>
    {% endif %}

    @@include('shared/campaign_body.html')

    <div>
        <!-- Custom templates here -->
        <script type="text/template" id="hero_template">
            <% var heroId = 1 + Math.floor(Math.random() * 3); %>
            <div class="hero-image-wrapper">
                <div class="visible-xs jumbotron">
                    <img src="http://res.cloudinary.com/secondfunnel/image/upload/v1422463531/5f03da7dce5c3233.jpg" alt="Hero" />
                </div>
                <div class="visible-sm visible-lg visible-md jumbotron">
                    <img src="http://res.cloudinary.com/secondfunnel/image/upload/v1422463447/2a7849c967e6534a.jpg" alt="Hero" />
                </div>
                <div class="overlay <%- App.option('overlayButtonColor') %> <% if ( App.option('overlayMobileButtonColor')) { %>mobile-<%- App.option('overlayMobileButtonColor') %><% } %>">
                    <span class='find'>
                        <% if (!App.support.mobile()) { %>
                            <a href='http://www.gap.com/customerService/storeLocator.do' target='_blank'>Find a store</a>
                        <% } else { %>
                            <a href='http://m.gap.com/storelocator.html' target='_blank'>Find a store</a>
                        <% } %>
                    </span>
                    <div class='buttons'>
                        <%
                            var share = App.option("page.description", "");
                            var src = top.location.href;
                            var fbLink = 'http://www.facebook.com/sharer/sharer.php?'
                                + 's=100'
                                + '&p[title]=Gap'
                                + '&p[summary]=' + share.replace(' ', '+')
                                + '&p[url]=' + encodeURIComponent(src)
                                + '&p[images][0]={{ desktop_hero_image }}';

                            var twtLink = 'http://twitter.com/share?'
                                + 'url=' + encodeURIComponent(src)
                                + '&text=' + encodeURIComponent(share);

                            var mailLink = 'mailto:?'
                                + 'body=' + encodeURIComponent(share);
                        %>
                        <a href='<%= fbLink %>' target='_blank' class="facebook-button"></a>
                        <a href='<%= twtLink %>' target='_blank' class="twitter-button"></a>
                        <a href='<%= mailLink %>' target='_blank' class="email-button"></a>
                    </div>
                </div>
            </div>
            {% if legal_copy %}
                <div class="legal us">
                    {{ legal_copy }}
                </div>
            {% endif %}
        </script>

        <script type="text/template" id="herovideo_template">
            <div id="hero-container">
                <div class="hero-video-wrapper">
                    <div class="hero-banner-image mobile-only">
                        <img src="<%= images[1].url %>" />
                    </div>
                    <div class="hero-banner-image desktop-only">
                         <img src="<%= images[0].url %>" />
                    </div>
                    <div class="hero-video"></div>
                </div>
                <div class="hero-thumbnail mobile-only">
                    <% var thumbnails = (obj["thumbnails"] || []); %>
                    <% var numDefaultThumbnails = 1; %>
                    <% var numThumbnails = (Math.min(thumbnails.length, numDefaultThumbnails)); %>
                    <table class="thumbnail-table">
                        <thead>
                            <tr>
                                <th id="thumbnail-header">a 12-part microseries.</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(i = 0; i < numThumbnails; i++) { %>
                                <tr><td>
                                    <div class="thumbnail-item" data-index="<%- i %>">
                                        <div class="thumbnail-image <% if (thumbnails[i]['youtubeId']) { %>playing<% } %>"
                                            style="background-image: url('<%= thumbnails[i].url %>');">
                                        </div>
                                        <p>
                                            Episode <%= i + 1 %><br />
                                            <%= thumbnails[i].date %>
                                        </p>
                                    </div>
                                </td></tr>
                            <% } %>
                            <% if (thumbnails.length > numDefaultThumbnails) { %>
                                <tfoot>
                                    <tr><td>
                                        <button id="more-button">More</button>
                                    </td></tr>
                                </tfoot>
                            <% } %>
                        </tbody>
                    </table>
                </div>
                <div class="hero-thumbnail desktop-only">
                    <% for(i = 0; i < thumbnails.length; i++) { %>
                        <div class="thumbnail-item" data-index="<%- i %>">
                            <div class="thumbnail-image <% if (thumbnails[i]['youtubeId']) { %>playing<% } %>"
                                style="background-image: url('<%= thumbnails[i].url %>');">
                            </div>
                            <p>Ep.<%= i + 1 %> - <%= thumbnails[i].date %></p>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="stv mobile-only">
                <p>shop the looks</p>
                <div id="down-arrow"></div>
            </div>
        </script>

        <script type="text/template" id="image_tile_template">
            <div class='relative'>
                <img class="focus" src="<%= obj.images[0].url %>" alt="<%= obj.caption %>" />
                <!-- Varies depending on source (e.g. facebook, styldby, etc) -->
                <div class="overlay">
                    <div class='table'>
                        <div class='cell'>
                            <% /* "shop" is actually wanted for the tile overlay */ %>
                            <div class="title">
                                <% var products = obj['tagged-products'] ? obj['tagged-products'] : []; %>
                                <% if (obj.title || obj.name || obj.caption || obj.hoverText) { %>
                                    <span><%= (obj.title || obj.name || obj.caption || obj.hoverText) %></span>
                                    <% if (products.length > 0) { %>
                                    <br />
                                    <span class='shop-products'>shop now</span>
                                    <br />
                                        <% _.each(products, function (related) { %>
                                            <span class='shop-products'><%= related.title || related.name || related.caption %></span>
                                        <% }); %>
                                    <% } %>
                                <% } else if (products.length > 0) { %>
                                    <span>shop</span>
                                    <br />
                                    <% _.each(products, function (related) { %>
                                        <span class='shop-products'><%= related.title || related.name || related.caption %></span>
                                    <% }); %>
                                <% } else { %>
                                    shop
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% if (App.option("debug", 0) > 1) { %>
                <span class="type"><%= obj["content-type"] %></span>
            <% } %>
        </script>

        <script type="text/template" id="hypem_tile_template">
            <iframe src="/static/light/gap/landingpage/default/media_player/player.html" height="789" width="100%" scrolling="no" style="border:none;"></iframe>
        </script>

        <script type="text/template" id="preview_container_template">
            <div class="fullscreen">
                <div class="content">
                    <span class="close desktop-only">X</span>
                    <span class="close mobile-only">Back</span>
                    <div class="scrollable">
                        <div class="template target"></div>
                    </div>
                </div>
            </div>
            <div class="mask"></div>
        </script>

        <script type="text/template" id="product_price_template">
            <div class="price-wrapper">
                <% if (obj.sale_price) { %>
                    <strike><%- obj.price %></strike><br />
                    <b>NOW:</b> <%- obj.sale_price %>
                <% } else { %>
                    <%- obj.price %>
                <% } %>
            </div>
        </script>

        <script type="text/template" id="product_buy_template">
            <% if (!App.support.mobile()) { %>
                <a class="button find-store" href='http://www.gap.com/customerService/storeLocator.do' target='_blank'>Find a store</a>
            <% } else { %>
                <a class="button find-store" href='http://m.gap.com/storelocator.html' target='_blank'>Find a store</a>
            <% } %>
            <a class='button in-store' href='<%- obj.url %>' target='_blank'>
                <% if (App.support.mobile()) { %>
                    Shop Now
                <% } else { %>
                    Shop on Gap.com
                <% } %>
            </a>
        </script>

        <script type="text/template" id="product_description_template">
            <div class='desc-title'>Overview</div>
            <% var description = (obj.description || ""); %>
            <% if (!description.match(/<li(?:.|\n)*?>/)) { %>
                <% var sentences = _.compact(description.split('.')); %>
                <ul>
                    <% _.each(sentences, function(sentence) { %>
                        <li><%= App.utils.safeString(sentence) %></li>
                    <% }); %>
                </ul>
            <% } else { %>
                <%= App.utils.safeString(description) %>
            <% } %>
        </script>

        <script type="text/template" id="product_preview_template">
            <div class="table">
                <div class='content-wrapper row'>
                    <div class='cell info mobile-only'>
                        <div class='title'></div>
                        <div class='price'></div>
                    </div>
                    <div class='cell product-image'>
                        <div class='relative mobile-only'>
                            <div class="gallery-main-image"></div>
                            <% if (obj.images.length > 1) { %>
                                <div class='gallery-dots'></div>
                            <% } %>
                        </div>
                        <div class='buy mobile-only'></div>
                        <div class="gallery-main-image desktop-only"></div>
                    </div>
                    <div class='cell info desktop-only'>
                        <div>
                            <div class='title'></div>
                            <div class='price'></div>
                        </div>
                        <div class='description'></div>
                        <div class='buy'></div>
                        <div class="gallery<% if (obj.images.length < 2) { %> hide<% } %>"></div>
                    </div>
                </div>
            </div>
            <img class="image" src="/static/light/images/icon-check-16x16.png" alt="this img tag intentionally left blank" style="visibility:hidden"/>
        </script>

        <script type="text/template" id="desktop_tagged_products">
            <% var orientation = (obj.orientation || "square"); %>
            <% var oneProduct = (obj['tagged-products'].length < 2); %>
            <div class="cell look-image desktop-only <%= orientation %> <% if (oneProduct) { %> one-product <% } %>">
                <div class="look-image-container"
                    style="background-image: url('<%= image_src %>');">
                </div>
            </div>
            <% if (obj['tagged-products'].length > 1) { %>
                <div class="cell desktop-only shop <%= orientation %>">
                    <div class="stl-title">
                        shop the look
                    </div>
                    <div class="stl-look-container">
                    <% if (orientation !== 'landscape') { %>
                        <div class="stl-swipe-up"></div>
                        <div class="stl-swipe-down"></div>
                    <% } else { %>
                        <div class="stl-swipe-left"></div>
                        <div class="stl-swipe-right"></div>
                    <% } %>
                        <div class="stl-look">
                            <% var related = obj['tagged-products']; %>
                            <% for (var i = 0; i < related.length; i++) { %>
                                <div class="stl-item" data-index="<%- i %>">
                                    <img src="<%- related[i].images[0].url %>" class="image"/>
                                    <%- related[i].name %>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            <% } %>
            <div class="cell info <%= orientation %> <% if (oneProduct) { %> one-product <% } %>">
                <div class='product-info'></div>
            </div>
            <img class="image" src="/static/light/images/icon-check-16x16.png" alt="this img tag intentionally left blank" style="visibility:hidden"/>
        </script>

        <script type="text/template" id="mobile_tagged_products">
            <div class="cell look-image mobile-only">
                <div class="look-image-container" style="background-image: url('<%= image_src %>');"></div>
            </div>
            <div class="cell info mobile-only">
                <div class="product-info"></div>
            </div>
            <div class="cell shop mobile-only">
                <div class="stl-title">shop the look</div>
                <div class="stl-look-container">
                    <div class="stl-swipe-left"></div>
                    <div class="stl-swipe-right"></div>
                    <div class="stl-look">
                        <div class="look-thumbnail">
                            <img src="<%= image_src %>" class="image"/>
                        </div>
                        <% var related = obj['tagged-products']; %>
                        <% for (var i = 0; i < related.length; i++) { %>
                            <div class="stl-item" data-index="<%- i %>">
                                <img src="<%- related[i].images[0].url %>" class="image"/>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </script>

        <script type="text/template" id="no_tagged_products">
            <div class="image cell desktop-only">
                <img class="image" src="<%= image_src %>" alt="image"/>
            </div>
            <div class="cell info">
                <div class='title'><%= obj.title || obj.name || "Coming soon to Gap!" %></div>
                <div class="buy desktop-only">
                    <a class="button" href="http://gap.com/" target="_blank">
                        Shop on Gap.com
                    </a>
                    <a class="button find-store"
                       href="http://www.gap.com/customerService/storeLocator.do"
                       target="_blank">
                        Find a Store
                    </a>
                </div>
                <div class='description desktop-only'>
                    <%= App.utils.safeString(obj.caption || obj.description) %>
                </div>
            </div>
            <div class="image cell mobile-only">
                <img class="image" src="<%= image_src %>" alt="image"/>
            </div>
            <div class="buy mobile-only">
                <a class="button" href="http://m.gap.com/" target="_blank">
                    Shop on Gap.com
                </a>
                <a class="button find-store"
                   href="http://m.gap.com/storelocator.html"
                   target="_blank">
                    Find a Store
                </a>
            </div>
        </script>

        <script type="text/template" id="product_info_template">
            <div class="tagged-product">
                <div class="product-details">
                    <div class='title'>
                        <%- obj.title || obj.name %>
                    </div>
                    <div class='price'>
                        <% if (obj.sale_price) { %>
                            <strike><%- obj.price %></strike><br />
                            <b>NOW:</b> <%- obj.sale_price %>
                        <% } else { %>
                            <%- obj.price %>
                        <% } %>
                    </div>
                </div>
                <% if (obj.images.length > 1) { %>
                    <div class="gallery-swipe-left"></div>
                    <div class="gallery-swipe-right"></div>
                <% } %>
                <div class="gallery-main-image">
                    <div class="main-image-container">
                        <div class="main-image">
                            <% for (var j = 0; j < obj.images.length; j++) { %>
                                <div class="image" style="background-image: url('<%= obj.images[j].url %>');"></div>
                            <% } %>
                        </div>
                    </div>
                </div>
                <div class="gallery-dots <% if (obj.images.length < 2) { %> hide <% } %>">
                    <% for (var i = 0; i < obj.images.length; i++) { %>
                        <div class="item"></div>
                    <% } %>
                </div>
                <div class='buy'>
                    <a class="button find-store" href='http://m.gap.com/storelocator.html' target='_blank'>Find a store</a>
                    <a class='button in-store' href='<%- obj.url %>' target='_blank'>Shop on Gap.com</a>
                </div>
            </div>
        </script>

        <script type="text/template" id="product_galleryMainImage_template">
            <div class="gallery-container">
                <% if (obj.images.length > 1) { %>
                    <div class="gallery-swipe-left"></div>
                    <div class="gallery-swipe-right"></div>
                <% } %>
                <div class="main-image-container">
                    <div class="main-image">
                        <% for (var i = 0; i < obj.images.length; i++) { %>
                            <div class="image" style="background-image: url('<%= obj.images[i].url %>');"></div>
                        <% } %>
                    </div>
                </div>
            </div>
        </script>
    </div>

    <div id="main" class="container-fluid">
        <!-- .container is bootstrap magic, and has a viewport-dependent width. -->
        <div id="hero-area"></div>
        <div id="category-area"></div>
        <div id="discovery-area" class="discovery-area"></div>
        <div class="tile-sizer tile"></div>
        <div class="no-noscript loading"></div>
        <noscript>
            <!-- promotions to show when user does not have javascript.
             this is a 'we need javascript' message by default.
             -->
            <div class="alert alert-danger">
                <b>Oh no!</b> We need JavaScript enabled to show you this page.
            </div>
        </noscript>
    </div>

    {% if environment == 'production' %}
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NQTT"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NQTT');</script>
    <!-- End Google Tag Manager -->
    {% else %}
    <script type='text/javascript'>
        (function() {
            var dataLayer = window.dataLayer = [];
        }());
    </script>
    {% endif %}

    <!-- Youtube Iframe API -->
    <script>
        var tag = document.createElement('script');
        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    </script>

    <!-- AdRoll -->
    <script type="text/javascript">
    adroll_adv_id = "JQVBFPLBNNH7TNXQAS2ZT2";
    adroll_pix_id = "JJ7XDEWBKJBZTD2MESDLGL";
    (function () {
       __adroll_loaded=true;
       var scr = document.createElement("script");
       var host = (("https:" === document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
       scr.setAttribute('async', 'true');
       scr.type = "text/javascript";
       scr.src = host + "/j/roundtrip.js";
       ((document.getElementsByTagName('head') || [null])[0] ||
        document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
    }());
    </script>

    <!-- Dev Only -->
    <script type='text/javascript'>
        (function(){
            window.DEV_FUNCTIONS = {};
            window.DEV_FUNCTIONS.track_me = function() {
                // Track via AdRoll
                try {
                    // Segment must match that of AdRoll
                    __adroll.record_user({"adroll_segments": "developers"});
                } catch(err) {}

                // Track via Perfect Audience
                try {
                    window._pq = window._pq || [];
                    _pq.push(['track', 'developers']);
                } catch(err) {}
            }
        }());
    </script>
    <img src="{% url 'apps.tracking.views.pixel' %}"/>
    <div>
        @@include('shared/default_templates.html')
    </div>
    <script type="text/javascript" src="/static/light/gap/landingpage/video/scripts/main.js" async></script>
</body>
</html>