<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    @@include('shared/campaign_opengraph_tags.html')
    @@include('shared/campaign_head.html')
    <!-- End Optimizer Tests -->
    <link rel="shortcut icon"
         href="http://www.voyage-prive.com/s/favicon.ico" />
    <link rel="stylesheet"
          href="/static/light/voyageprive/landingpage/default/styles/main.css"/>
    @@include('shared/campaign_respond.html')
    <!-- Add Optimizer Tests here -->
    <script type="text/javascript">
        window.TRACKING_PIXELS = {
            'A': {
                'view': 'http://cm.gy/0ba2',
                'click': 'http://cm.gy/2zi0'
            },
            'B': {
                'view': 'http://cm.gy/u0ny',
                'click': 'http://cm.gy/f8lg'
            },
            'C': {
                'view': 'http://cm.gy/fcrc',
                'click': 'http://cm.gy/fyt5'
            },
            'D': {
                'view': 'http://cm.gy/jyaz',
                'click': 'http://cm.gy/mpty'
            },
            'E': {
                'view': 'http://cm.gy/xvo3',
                'click': 'http://cm.gy/bv1p'
            }
        };
        window.OPTIMIZER_TESTS = [];
        window.OPTIMIZER_TESTS.push({
            // the {template} will be replaced by its {a, b, c, d}_{template}
            // variant fairly...
            index: 6,
            test: 'custom', // allowed values: 'style'. 'template'. 'custom' (see addTest)
            custom: function (cookie) {
                var tileTemplateId = "banner_tile_template",
                    tests = {{ tests|safe }},
                    weightedSample;

                if (!(tests && tests.length)) {
                    tests = ["A", "B", "C", "D", "E"];
                }

                // If we want to allow weighting,
                // we need to do things differently
                weightedSample = function (elements) {
                    var getWeight = function (elem) {
                            return _.isArray(elem) ? elem[1] : 1;
                        },
                        totalWeight = _.reduce(elements, function (memo, elem) {
                            return memo + getWeight(elem);
                        }, 0),
                        threshold = Math.random() * totalWeight,
                        cumulativeWeight = 0,
                        index, elem;

                    for (index = 0; index < elements.length; index++) {
                        elem = elements[index];
                        cumulativeWeight += getWeight(elem);

                        if (threshold <= cumulativeWeight) {
                            return _.isArray(elem) ? elem[0]: elem;
                        }
                    }
                };

                cookie = cookie || weightedSample(tests);
                window.ACTIVE_TEST = cookie;
                if (cookie !== "A") {  // A is base case
                    $('#' + tileTemplateId).html($('#' +
                        cookie.toLowerCase() + '_' + tileTemplateId).html());
                }

                return cookie;
            }
        });
        window.OPTIMIZER_TESTS.push({
            index: 7,
            test: 'custom', // allowed values: 'style'. 'template'. 'custom' (see addTest)
            custom: function (cookie) {
                cookie = cookie || _.sample([
                    "finite",
                    "finite_popular",
                    "finite_by_clicks",
                    "finite_by_-clicks",
                    "finite_by_views",
                    "finite_by_-views"
                    ]);
                try {
                    App.options.IRAlgo = cookie;
                } catch (e) {
                    // no App
                }
                return cookie;
            }
        });
    </script>
    {% if environment == 'production' %}
    <script type='text/javascript'>
        var interval = setInterval(function () {
            var test, bindFn;

            if (!window.ACTIVE_TEST) {
                return;
            }

            // Because we need to bind some events before anything else, use this fn
            // http://stackoverflow.com/a/2641047
            $.fn.bindFirst = function(name, fn) {
                // bind as you normally would
                // don't want to miss out on any jQuery magic
                this.on(name, fn);

                // Thanks to a comment by @Martin, adding support for
                // namespaced events too.
                this.each(function() {
                    var handlers = $._data(this, 'events')[name.split('.')[0]];
                    // take out the handler we just inserted from the end
                    var handler = handlers.pop();
                    // move it at the beginning
                    handlers.splice(0, 0, handler);
                });
            };

            bindFn = function () {
                (new Image).src = window.TRACKING_PIXELS[test].click;
            };

            clearInterval(interval);
            test = window.ACTIVE_TEST;

            // Append click pixel
            if (/Android|iPhone|iPad|iPod/i.test(navigator.userAgent)) {
                $('.tile').bindFirst('click', bindFn);
            } else {
                // Why doesn't bindFirst work on desktop?
                $('body').on('click', '.tile', bindFn);
            }


            // Append page view pixel
            (new Image).src = window.TRACKING_PIXELS[test].view;
        }, 1000);

        $(document).ready(function () {
            // featured product clickthrough tracking
            $('#hero-area').on('click', '.view a', function () {
                (new Image).src = 'http://cm.gy/v610';
            });
        });
    </script>
    {% endif %}
    <title>Voyage Privé</title>
    {% comment %}http://stackoverflow.com/a/7229002{% endcomment %}
    <meta name="google" value="notranslate" />
</head>
<body>
    <div style="display: none !important;">
        <div class="t01" style="color: blue;">&nbsp;</div>
    </div>
    <div class='navbar'>
        <img src="/static/light/voyageprive/landingpage/default/images/logo.jpg">
        <div class="tag-line inline">
            <div class="bold">
                Les meilleurs bons plans
            </div>
            <div>
                dénichés par nos experts
            </div>
        </div>
    </div>

    @@include('shared/campaign_body.html')

    <div>
        <!-- generic templates -->
        <script type="text/template" id="category_template">
            <span><%= obj.name %></span>
        </script>

        <script type="text/template" id="shopthelook_template">
            <div class="jumbotron"
                 style='background-image: url("<%= obj.defaultImage.width(1024) %>");
                        background-position: center; height: 400px;'>
            </div>
            <div class="overlay">
                <div class="title">
                    <%- obj.title || obj.name %>
                </div>
                <div class="review">
                    <%- obj.review_text %>
                </div>
                <div class="details">
                    <%= obj.details %>
                </div>
            </div>
            {% if legal_copy %}
                <div class="legal us">
                    {{ legal_copy }}
                </div>
            {% endif %}
            <% if (obj.direct_site_image || obj.direct_site_name) { %>
                <div class="direct-site-info">
                    <% if (obj.direct_site_image) { %>
                        <img src="<%- obj.direct_site_image %>" />
                    <% } else { %>
                        <%- obj.direct_site_name %>
                    <% } %>
                </div>
            <% } %>
            <div class="view">
                <a href='<%= obj.url %>' target='_blank'>
                    <%= obj.price %>  |  Voir le bon plan
                    <div class="arrow right"></div>
                </a>
            </div>
        </script>

        <script type="text/template" id="banner_tile_template">
            <img class="focus" src="<%= obj.images[0].url %>" />
            <% if (obj.discount) { %>
                <div class="discount">
                    <%- obj.discount %>
                </div>
            <% } %>
            <div class="overlay">
                <div class="align-container">
                    <div class="title">
                        <%- obj.name %>
                        <div class="arrow right"></div>
                    </div>
                    <% if (obj.review_text) { %>
                        <div class="review">
                            "<%- obj.review_text %>"
                            <% if (obj.reviewer_name) { %>
                                - <%- obj.reviewer_name %>
                            <% } %>
                        </div>
                    <% } %>
                    <div class="view">
                        Voir le bon plan
                        <div class="arrow right"></div>
                    </div>
                    <% if (obj.direct_site_image || obj.direct_site_name || obj.price) { %>
                        <div class="direct-site-info">
                            <% if (obj.price) { %>
                                <div class="price-container">
                                    À partir de
                                    <div class="price">
                                        <%- obj.price %>
                                    </div>
                                    par personne
                                </div>
                            <% } %>
                            <% if (obj.direct_site_image) { %>
                                <img src="<%- obj.direct_site_image %>" />
                            <% } else { %>
                                <%- obj.direct_site_name %>
                            <% } %>
                        </div>
                    <% } %>
                </div>
            </div>
        </script>

        <script type="text/template" id="b_banner_tile_template">
            <!-- price instead of discount -->
            <img class="focus" src="<%= obj.images[0].url %>" />
            <% if (obj.price) { %>
                <div class="discount">
                    <%- obj.price %>
                </div>
            <% } %>
            <div class="overlay">
                <div class="align-container">
                    <div class="title">
                        <%- obj.name %>
                        <div class="arrow right"></div>
                    </div>
                    <% if (obj.review_text) { %>
                        <div class="review">
                            "<%- obj.review_text %>"
                            <% if (obj.reviewer_name) { %>
                                - <%- obj.reviewer_name %>
                            <% } %>
                        </div>
                    <% } %>
                    <div class="view">
                        Voir le bon plan
                        <div class="arrow right"></div>
                    </div>
                    <% if (obj.direct_site_image || obj.direct_site_name || obj.price) { %>
                        <div class="direct-site-info">
                            <% if (obj.direct_site_image) { %>
                                <img src="<%- obj.direct_site_image %>" />
                            <% } else { %>
                                <%- obj.direct_site_name %>
                            <% } %>
                        </div>
                    <% } %>
                </div>
            </div>
        </script>

        <script type="text/template" id="c_banner_tile_template">
            <!-- price and discount -->
            <img class="focus" src="<%= obj.images[0].url %>" />
            <% if (obj.discount && obj.discount) { %>
                <div class="discount">
                    <%- obj.price %> (<%- obj.discount %>)
                </div>
            <% } %>
            <div class="overlay">
                <div class="align-container">
                    <div class="title">
                        <%- obj.name %>
                        <div class="arrow right"></div>
                    </div>
                    <% if (obj.review_text) { %>
                        <div class="review">
                            "<%- obj.review_text %>"
                            <% if (obj.reviewer_name) { %>
                                - <%- obj.reviewer_name %>
                            <% } %>
                        </div>
                    <% } %>
                    <div class="view">
                        Voir le bon plan
                        <div class="arrow right"></div>
                    </div>
                    <% if (obj.direct_site_image || obj.direct_site_name || obj.price) { %>
                        <div class="direct-site-info">
                            <% if (obj.price) { %>
                                <div class="price-container">
                                    À partir de
                                    <div class="price">
                                        <%- obj.price %>
                                    </div>
                                    par personne
                                </div>
                            <% } %>
                            <% if (obj.direct_site_image) { %>
                                <img src="<%- obj.direct_site_image %>" />
                            <% } else { %>
                                <%- obj.direct_site_name %>
                            <% } %>
                        </div>
                    <% } %>
                </div>
            </div>
        </script>

        <script type="text/template" id="d_banner_tile_template">
            <!-- location and price -->
            <img class="focus" src="<%= obj.images[0].url %>" />
            <div class="static overlay">
                <div class="align-container">
                    <div class="title">
                        <%- obj.name %>
                        <div class="arrow right"></div>
                    </div>
                    <% if (obj.review_text) { %>
                        <div class="review">
                            "<%- obj.review_text %>"
                            <% if (obj.reviewer_name) { %>
                                - <%- obj.reviewer_name %>
                            <% } %>
                        </div>
                    <% } %>
                    <div class="view">
                        Voir le bon plan
                        <div class="arrow right"></div>
                    </div>
                    <% if (obj.direct_site_image || obj.direct_site_name || obj.price) { %>
                        <div class="direct-site-info">
                            <% if (obj.price) { %>
                                <div class="price-container">
                                    À partir de
                                    <div class="price">
                                        <%- obj.price %>
                                    </div>
                                    par personne
                                </div>
                            <% } %>
                            <% if (obj.direct_site_image) { %>
                                <img src="<%- obj.direct_site_image %>" />
                            <% } else { %>
                                <%- obj.direct_site_name %>
                            <% } %>
                        </div>
                    <% } %>
                </div>
            </div>
        </script>

        <script type="text/template" id="e_banner_tile_template">
            <!-- absolutely no hover -->
            <img class="focus" src="<%= obj.images[0].url %>" />
            <% if (obj.discount) { %>
                <div class="discount">
                    <%- obj.discount %>
                </div>
            <% } %>
        </script>

        <script type="text/template" id="banner_preview_template">
            <div class="title">
                <img src="/static/light/voyageprive/landingpage/default/images/logo.jpg">
            </div>
            <div class='image-region'>
                <img src="<%= obj.images[0].url %>"/>
            </div>
            <div class="info-wrapper">
                <div class="name">
                    <%= obj.name %>
                </div>
                <% if (obj.direct_site_image || obj.direct_site_name || obj.price) { %>
                    <div class="direct-site-info">
                        <% if (obj.price) { %>
                            <div class="price-container">
                                À partir de
                                <div class="price">
                                    <%- obj.price %>
                                </div>
                                par personne
                            </div>
                        <% } %>
                        <% if (obj.direct_site_image) { %>
                            <img src="<%- obj.direct_site_image %>" />
                        <% } else { %>
                            <%- obj.direct_site_name %>
                        <% } %>
                    </div>
                <% } %>
            </div>
            <a class="view-container" href="<%- obj['redirect-url'] %>" target="_blank">
                <div class="view">
                    Voir le bon plan
                    <div class="arrow right"></div>
                </div>
            </a>
        </script>

        <script type="text/template" id="preview_container_template">
            <div class="tablecell">
                <div class="content">
                    <span class="close">&#x00D7;</span>
                    <div class="scrollable">
                        <div class="template target"></div>
                    </div>
                </div>
            </div>
            <div class="mask"></div>
        </script>

        <script type="text/template" id="tile_preview_template">
            <h2><span class="label label-info"><%= obj.template %>_preview_template</span> is missing.</h2>
            <p>You can define one in your template.</p>
            <ul>
                <% for (i in obj) { %>
                    <li><b><%= i %></b>: <%= obj[i] %></li>
                <% } %>
            </ul>
        </script>

        <!-- custom templates -->
        <script type="text/template" id="hero_template">
            <div class="hero-image-wrapper">
                <div class="visible-xs jumbotron">
                    <img src="{{ mobile_hero_image }}" alt="Hero" />
                </div>
                <div class="visible-sm visible-md visible-lg jumbotron">
                    <img src="{{ desktop_hero_image }}" alt="Hero" />
                </div>
                <div class="overlay">
                    <div class="title">
                        {% if campaign.heading %}
                            {{ campaign.heading }}
                        {% else %}
                            1001 bons plans week-ends en France et Europe
                        {% endif %}
                    </div>
                    <div>
                        {% if campaign.subheading %}
                            {{ campaign.subheading }}
                        {% else %}
                            La plus grande sélection de week-ends à prix canon
                            pour partir aux ponts de mai ou après. Hôtels 2 à 4
                            en promotions sur toute la France et l’Europe,
                            petits déjeuners inclus, avec ou sans vols. A
                            partir de 10€/pers
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if legal_copy %}
                <div class="legal us">
                    {{ legal_copy }}
                </div>
            {% endif %}
        </script>
    </div>

    <div class="container">
        <!-- .container is bootstrap magic, and has a viewport-dependent width. -->
        <div id="hero-area"></div>
        <div id="category-area"></div>
        <div id="discovery-area" class="discovery-area"></div>
        <div class="tile-sizer tile"></div>
        <div class="no-noscript loading"></div>
        <noscript>
            <!-- promotions to show when user does not have javascript.
             this is a 'we need javascript' message by default.
             -->
            <div class="alert alert-danger">
                <b>Oh no!</b> We need JavaScript enabled to show you this page.
            </div>
        </noscript>
    </div>

    <img src="{% url 'apps.tracking.views.pixel' %}"/>

    {% if environment == 'production' %}
    <!-- start : Eulerian Analytics - officiel-vacances / must be placed before the /body tag -->
    <script type="text/javascript" src="//eulerian.officiel-des-vacances.com/ea.js"></script>
    <script type="text/javascript">
    /*<![CDATA[*/
    EA_collector([
    ,"path", "/Landing/Facebook/SF"
    ]);
    /*]]>*/
    </script>
    <!-- stop : Eulerian Analytics - officiel-vacances -->
    {% endif %}

    <script type="text/javascript" src="/static/light/voyageprive/landingpage/default/scripts/main.js" async></script>
</body>
</html>
