@charset "UTF-8";

$nastygal-color: #DB5F8E;

$ad-border-color: $nastygal-color;
$ad-border-width: 1px;

@import 'src/components/ad/styles/base';

html {
    box-sizing: border-box;
}

.container, #discovery-area {
    /* subtract 2 pixels for add units with borders */
    height: 100%;
}

#topbar {
    background: $nastygal-color;
    margin:  0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    left: 0;
}

#topbar img {
    max-height: 46px;
    vertical-align: middle;
}

#discovery-area .tile .caption {
    background-color: transparent;
    color: black;
    position: relative;
    padding-top: 5px;
}

html, .container {
    overflow: hidden;
}
