packages:
  yum:
    git: []
    iotop: []
    python27-devel: []
    libyaml: []
    libyaml-devel: []
    libxslt: []
    libxslt-devel: []
    libxml2: []
    libxml2-devel: []
    libjpeg-devel: []
    python-pip: []
    rubygems: []
    postgresql: []
    postgresql-server: []
    postgresql-devel: []
    postgresql-contrib: []
    numpy: []

commands:
 01_append_ssh_keys:
  command: "cat ./ssh_keys > /home/ec2-user/.ssh/authorized_keys"
 02_syncdb:
  command: "./manage.py syncdb --noinput"
  leader_only: true
  ignoreErrors: true
 03_createadmin:
  command: "scripts/createadmin.py admin admin@willetinc.com secretpassword"
  leader_only: true
 04_collectstatic:
  command: "./manage.py collectstatic --noinput"
  ignoreErrors: true
 05_migrate_schema:
  command: "./manage.py migrate --noinput"
  leader_only: true
  ignoreErrors: true
 06_bundler_install:
  command: "gem install bundler -v 1.5.3"
 07_install_gems:
  command: "bundle install --deployment"
 08_disable_tty_sudo:
  command: "./scripts/disable_requiretty.sh"
  leader_only: true
 09_add_ssh_commands:
  command: "cat ./deployment/ssh.rc > /home/ec2-user/.bashrc"
 10_deployment_notification:
  command: "scripts/notifyhipchat.py"
  leader_only: true

container_commands:
 01_wsgipass:
  cwd: "/etc/httpd/conf.d"
  command: 'echo "WSGIPassAuthorization On" >> wsgi.conf'
 02_setup_apache:
  command: "cp deployment/enable_mod_deflate.conf /etc/httpd/conf.d"

option_settings:
  - namespace: aws:elasticbeanstalk:container:python:environment
    option_name:  DJANGO_SETTINGS_MODULE
    value: secondfunnel.settings.production
  - namespace:  aws:elasticbeanstalk:container:python
    option_name:  WSGIPath
    value:  secondfunnel/wsgi.py
  - namespace:  aws:elasticbeanstalk:container:python:staticfiles
    option_name:  /static/
    value:  static/
