commands:
 01_syncdb:
  command: "django-admin.py syncdb --noinput"
  leader_only: true
 02_createadmin:
  command: "scripts/createadmin.py"
  leader_only: true
 03_collectstatic:
  command: "django-admin.py collectstatic --noinput"
 04_migrate_assets:
  command: "./manage.py migrate assets --noinput"
  leader_only: true
 05_migrate_pinpoint:
  command: "./manage.py migrate pinpoint --noinput"
  leader_only: true
option_settings:
 "aws:elasticbeanstalk:container:python:environment":
  DJANGO_SETTINGS_MODULE: "secondfunnel.settings"
 "aws:elasticbeanstalk:container:python":
  WSGIPath: "secondfunnel/wsgi.py"
 "aws:elasticbeanstalk:container:python:staticfiles":
  "/static/": "static/"
