$icon-font-path: "/static/light/fonts/";

@import "lib/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
@import "src/components/landingpage/styles/base.scss";

/* overrides for this theme */

$newegg-bg-color: #F0EADB;

body {
  background: $newegg-bg-color;
}

body > .container {
  box-shadow: 0px 0px 35px 15px rgba(0,0,0,0.75);
  background-color: #000;
}

/* enable fluid width */
.jumbotron { width: auto; }
#discovery-area { width: auto; }
.navbar { width: auto; }
.tile { width: 25%; }
.tile.wide { width: 50% }
/* end:enable enable fluid width s*/

#hero-area {
    margin-bottom: -5px;
    margin-top: -10px;
}

.navbar {
    background-color: $newegg-bg-color;
}

.tile {
    background-color: #000;
    padding: 10px;
}

.tile.youtube {
    height: 280px;
}

.tile.youtube .thumbnail {
    border: none;
}

.previewContainer .close {
    padding: 6px;
}

.previewContainer .cell.image-cell {
    vertical-align: middle;
}

.previewContainer .info .title {
    font-size: 26px;
    text-align: left;
 }

 .previewContainer .image-without-tagged-products .info .title {
    text-align: center;
 }

 .previewContainer .info .price {
    text-align: left;
    font-size: 24px;
    color: red;
 }

.previewContainer .buy .button {
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 19px;
}

.previewContainer .buy .button.lenovo {
    background-color: #dc291e;
}

.previewContainer .buy .button.newegg {
    position: relative;
    padding-right: 30px;
    margin-top: 5px;
    color: #542F05;
    background-color: #FFC942;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(.10, #ffc842),color-stop(1, #f48717));
    background-image: linear-gradient(to bottom, #FFC942 10%, #F48517 100%);
}

.previewContainer .buy .button.newegg .arrow {
    top: 50%;
    right: 11px;
    position: absolute;
    cursor: pointer;
    z-index: 1;
    width: 0px;
    height: 0px;
    background-color: transparent;
    border-top: 5.5px solid transparent;
    border-bottom: 5.5px solid transparent;
    border-left: 10px solid #542F05;
    margin-top: -5px;
}

.tile.image .overlay {
    color: #000;
    font-size: 18px;
}

@media screen and (max-width: 768px) {
    .previewContainer .content {
        padding-top: 18px;
    }
}

div.loading {
    background-image: url('/static/light/landingpage/images/ajax-spinner-white.png');
    width: 38px;
    height: 38px;
}
