@charset "UTF-8";

#topbar {
    background: #000;
    color: #F47DA7;
    margin:  0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    left: 0;
}

#topbar img {
    max-height: 46px;
    vertical-align: middle;
}

#discovery-area .tile .caption {
    background-color: transparent;
    color: black;
    position: relative;
    padding-top: 5px;
}
