@charset "UTF-8";

html, body, .container, #discovery-area {
    /* fixes scrolling on mobile. touchstart and touchmove break taps.
       whatever works ¯\_(ツ)_/¯ */
    height: 600px !important;
    overflow-y: hidden;
}

#topbar {
    background: #000;
    color: #fff;
    margin: -8px -8px 8px -8px;
    padding: 16px 16px 8px 16px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    left: 0;
}

#topbar img {
    max-height: 30px;
    vertical-align: middle;
}

#topbar .nastygal {
    height: 37px;
}

#topbar .bustle {
    height: 25px;
    margin-left: 4px;
}

#discovery-area {
    margin-top: 40px;
}

#discovery-area .tile .caption {
    background-color: transparent;
    color: black;
    position: relative;
    padding-top: 5px;
}
