@charset "UTF-8";

/* overrides for this theme */

@media screen and (max-width: 768px) {
    header .container { /* actually the mobile nav bar */
        background: #f0f0f0;
    }
}

body {
    background: url('//s3-us-west-2.amazonaws.com/static-misc-secondfunnel/images/fall_2012_US_BeBright.gif') top center no-repeat;
}

.navbar {
    background: url('//s3-us-west-2.amazonaws.com/static-misc-secondfunnel/images/universalBar_bkg.png') repeat-x;
    border-radius: 0;
    box-shadow: 0px 0px 21px #999;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    background-color: #acacac;
    background-image: none;
}

.jumbotron {
    background-position: top center;
    background-repeat: no-repeat;
    width: 1024px;
    height: 400px;  /* adjusts image size */
    border-bottom: 1px silver solid;
    margin: 10px auto 40px auto;
}

.visible-xs.jumbotron, .visible-sm.jumbotron { /* mobile hero */
    background-image: url('//s3-us-west-2.amazonaws.com/static-misc-secondfunnel/images/Gap_Shorts_Mobile.png');
}

.visible-xs.jumbotron { height: 331px; }
.visible-sm.jumbotron { height: 423px; }

.visible-md.jumbotron, .visible-lg.jumbotron { /* mobile hero */
    background-image: url('//s3-us-west-2.amazonaws.com/static-misc-secondfunnel/images/Gap_Shorts_Desktop.png');
}

.tile {
    border: 0;
    box-shadow: none;
}

.tile.product {
    font-size: 10px;
    text-align: center;
}

.preview img {
    /* limit how big preview images can be */
    max-width: 697px;
    max-height: 444px;
}

.social-buttons {
    display: none;
    position: absolute;
    bottom: 20px;
    left: 0;
    text-align: center;
    margin: 0 auto;
}

.social-buttons .facebook {
    height: 15px;
    width: 76px;
}

.social-buttons .placeholder {
    position: absolute;
}

.tile.youtube.wide .social-buttons {
    float: right;
    width: auto;
    right: 16px;
    left: auto;
    bottom: 15px;
}