<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    @@include('shared/campaign_head.html')
    @@include('shared/campaign_opengraph_tags.html')
    <link rel="shortcut icon"
         href="/static/light/ebags/landingpage/lite/images/surlatable-favicon.png" />
    <link rel="stylesheet" href="/static/light/ebags/landingpage/lite/styles/main.css" />

    @@include('shared/campaign_respond.html')
    <!-- Begin Optimizer Tests -->
    <!-- End Optimizer Tests -->
    <script type="text/javascript">
        window.TRACKING_PIXELS = {
            'A': {
                'view': 'http://9nl.us/up0t',
                'click': 'http://9nl.us/xpdp'
            }
        };
        window.ACTIVE_TEST = 'A';
    </script>
    {% if environment == 'production' %}
        <script type='text/javascript'>
            var interval = setInterval(function() {
                var test, bindFn;

                if (!window.ACTIVE_TEST) {
                    return;
                }

                // Because we need to bind some events before anything else, use this fn
                // http://stackoverflow.com/a/2641047
                $.fn.bindFirst = function(name, fn) {
                    // bind as you normally would
                    // don't want to miss out on any jQuery magic
                    this.on(name, fn);

                    // Thanks to a comment by @Martin, adding support for
                    // namespaced events too.
                    this.each(function() {
                        var handlers = $._data(this, 'events')[name.split('.')[0]];
                        // take out the handler we just inserted from the end
                        var handler = handlers.pop();
                        // move it at the beginning
                        handlers.splice(0, 0, handler);
                    });
                };

                bindFn = function() {
                    (new Image).src = window.TRACKING_PIXELS[test].click;
                }

                clearInterval(interval);
                test = window.ACTIVE_TEST;

                // Append click pixel
                if (/Android|iPhone|iPad|iPod/i.test(navigator.userAgent)) {
                    $('.tile').bindFirst('click', bindFn);
                } else {
                    // Why doesn't bindFirst work on desktop?
                    $('body').on('click', '.tile', bindFn);
                }


                // Append page view pixel
                (new Image).src = window.TRACKING_PIXELS[test].view;
            }, 1000);
        </script>
    {% endif %}
    <title>{{ page.name|default:"eBags" }}</title>
    <!-- Begin CRAZY EGG -->
    <script type="text/javascript">
        setTimeout(function(){var a=document.createElement("script");
        var b=document.getElementsByTagName("script")[0];
        a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0039/3591.js?"+Math.floor(new Date().getTime()/3600000);
        a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
    </script>
    <!-- End CRAZY EGG -->
</head>
<body>
    <div class='navbar'>
        <div class="header-links-bar">
            <p>
                <span class="priceGuaranteeCon"><a href="http://www.ebags.com/help/priceguarantee">110% Price Guarantee</a>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                <span class="freeShippingCon"><a href="http://www.ebags.com/help/shippingrates">Free Shipping Over $49</a> + <a href="http://www.ebags.com/help/returnpolicy">Free Returns</a></span>
            </p>
        </div>
        <div class="container">
            <a href="http://www.ebags.com/" target="_top" class="logo logoA">
                <img class="desktop" src="/static/light/ebags/landingpage/lite/images/ebags-logo.png" />
                <img class="mobile" src="/static/light/ebags/landingpage/lite/images/slt-logo-mobile_300.png" />
            </a>
            <div id="search-bar">
                <form><div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"></button>
                    </span>
                </div></form>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>

    <div class="clear-both"></div>
    @@include('shared/campaign_body.html')

    <div>
        <script type="text/template" id="hero_template">
            <div class="hero-image-wrapper">
                <div class="visible-xs jumbotron">
                    <span class="category-name"><%= obj.title %></span>
                    <% if (obj.mobileHeroImage) { %><img src="<%= obj.mobileHeroImage %>" alt="Hero" /><% } %>
                </div>
                <div class="hidden-xs jumbotron">
                    <span class="category-name"><%= obj.title %></span>
                    <% if (obj.desktopHeroImage) { %><img src="<%= obj.desktopHeroImage %>" alt="Hero" /><% } %>
                </div>
            </div>
        </script>

        <script type="text/template" id="product_galleryDots_template">
            <% for (var i = 0; i < obj.images.length; i++) { %>
                <div class="item" data-index="<%- i %>"></div>
            <% } %>
            <div class="item description-dot mobile-only" data-index="<%= obj.images.length %>"></div>
        </script>

        <script type="text/template" id="product_galleryMainImage_template">
            <div class="main-image-container">
                <div class="main-image">
                    <% for (var j = 0; j < obj.images.length; j++) {
                        // only 1st image is progressively loaded, others load hi-res version
                        if (j === 0) { %>
                            <div class="image" data-id="<%= obj.images[j].id %>" style="background-image: url('<%= obj.images[j].url %>');">
                                <div class="hi-res image"></div>
                            </div>
                        <% } else { %>
                            <div class="image" data-id="<%= obj.images[j].id %>" >
                                <div class="hi-res image"></div>
                            </div>
                        <% }
                    } %>
                    <div class="description mobile-only">
                        <% include("product_description_template") %>
                    </div>
                </div>
            </div>
        </script>

        <script type="text/template" id="product_tile_template">
            <% include("image_tile_template") %>
        </script>

        <script type="text/template" id="banner_tile_template">
            <% include("image_tile_template") %>
        </script>

        <script type="text/template" id="recipe_tile_template">
            <% include("image_tile_template") %>
        </script>

        <script type="text/template" id="image_tile_template">
            <% if (obj.template === "product" && obj.defaultImage.get('productShot') === true) { %>
            <div class='relative product-shot'>
                <div>
                    <img class="focus" src="<%= obj.defaultImage.url %>" />
                </div>
                <span class="product-label"><%= obj.product.get('name') %></span>
            </div>
            <% } else { %>
            <div class='relative'>
                <img class="focus" src="<%= obj.defaultImage.url %>" />
            </div>
            <% } %>
            <div class="overlay">
                <div class='table'>
                    <div class='cell'>
                        <% /* "Shop product" is actually wanted for the tile overlay */  %>
                        <div class="title">
                        <% if (obj.template === "product") { %>
                            <span>Get Details</span>
                            <br/>
                            <span class="tile-name"><%= obj.product.get('name') %></span>
                        <% } else if (obj.template === "image") { %>
                            <span>Get Details</span>
                            <br/>
                            <span class="tile-name"><%= obj.defaultImage.get('name') %></span>
                        <% } else if (obj.template === "recipe") { %>
                            <span>See the Recipe</span>
                            <br/>
                            <span class="tile-name"><%= obj.defaultImage.get('name') %></span>
                        <% } else { %>
                            <span>Get Details</span>
                            <br/>
                            <span class="tile-name"><%= (obj.title || obj.name || obj.caption) %></span>
                        <% } %>
                        </div>
                    </div>
                </div>
            </div>
            <% if (App.option("debug", 0) > 1) { %>
                <span class="type"><%= obj["content-type"] %></span>
            <% } %>
        </script>

        <script type="text/template" id="preview_container_template">
            <% var template = (obj.template || "image") %>
            <% var tagged = false; try { tagged = !_.isEmpty(obj.taggedProducts); } catch (e) {} %>
            <div class="fullscreen <% if (scrollable) { %>scrollable<% } %> <%= template %> <% if (tagged) { %>tagged<% } %>">
                <div class="content">
                    <span class="close desktop-only"><img src="/static/light/surlatable/landingpage/lite/images/cross.svg"></span>
                    <span class="close mobile-only">Back</span>
                    <div class="template target"></div>
                </div>
            </div>
            <div class="mask"></div>
        </script>

        <script type="text/template" id="product_price_template">
            <% if (obj.sale) { %>
                <span class="current sale"><%= obj.displayPrice.dollars %><span class="cents"><%= obj.displayPrice.cents %></span></span>
                <span class="suggested-price">Sugg. <span class="dollar-amount">$<%= obj.saleString %></span></span></span>
                <span class="save-percent">You save <%= obj.savePercent %>%</span>
            <% } else { %>
                <span class="current no-sale"><%= obj.displayPrice.dollars %><span class="cents"><%= obj.displayPrice.cents %></span></span>
            <% } %>
        </script>

        <script type="text/template" id="product_buy_template">
            <a class='button' href='<%= obj.url %>' target='_blank'>
                <span>Shop Now</span>
            </a>
        </script>

        <script type="text/template" id="product_description_template">
            <%= obj.truncatedDescription || obj.description %>
        </script>

        <script type="text/template" id="product_info_template">
            <div class="tagged-product">
                <div class="product-details mobile-only">
                    <div class='title'>
                        <% include("product_title_template") %>
                    </div>
                    <div class='price'>
                        <% include("product_price_template") %>
                    </div>
                </div>
                <div class="gallery-main-image">
                    <div class="gallery-swipe-left"></div>
                    <div class="gallery-swipe-right"></div>
                    <% include("product_galleryMainImage_template") %>
                    <div class='gallery-dots'>
                        <% include("product_galleryDots_template") %>
                    </div>
                </div>
                <div class='buy mobile-only'>
                    <% include("product_buy_template") %>
                </div>
                <div class="product-details desktop-only">
                    <div class='title'>
                        <% include("product_title_template") %>
                    </div>
                    <div class='price'>
                        <% include("product_price_template") %>
                    </div>
                    <div class='description'>
                        <% include("product_description_template") %>
                    </div>
                    <div class='buy'>
                        <% include("product_buy_template") %>
                    </div>
                </div>
            </div>
        </script>

        <script type="text/template" id="image_info_template">
            <div class="tagged-product">
                <div class="product-details mobile-only">
                    <div class='title'>
                        <% include("product_title_template") %>
                    </div>
                    <div class='price'>
                        <% include("product_price_template") %>
                    </div>
                </div>
                <div class="gallery-main-image">
                    <div class="gallery-swipe-left"></div>
                    <div class="gallery-swipe-right"></div>
                    <% include("product_galleryMainImage_template") %>
                    <div class='gallery-dots'>
                        <% include("product_galleryDots_template") %>
                    </div>
                </div>
                <div class='buy mobile-only'>
                    <% include("product_buy_template") %>
                </div>
                <div class="product-details desktop-only">
                    <div class='title'>
                        <% include("product_title_template") %>
                    </div>
                    <div class='price'>
                        <% include("product_price_template") %>
                    </div>
                    <div class='description'>
                        <% include("product_description_template") %>
                    </div>
                    <div class='buy'>
                        <% include("product_buy_template") %>
                    </div>
                    <% if (obj['recipeName']) { %>
                    <div class="back">
                        Back to <%- obj['recipeName'] %> Recipe
                    </div>
                    <% } %>
                    <% if (obj['collectionName']) { %>
                    <div class="back">
                        Back to Collection Description
                    </div>
                    <% } %>
                </div>
            </div>
        </script>

        <script type="text/template" id="product_preview_template">
            <div class="table <%= obj.orientation %>">
                <div class="feature">
                    <div class="cell info">
                        <div class="product-info"></div>
                    </div>
                    <div class="cell shop">
                        <div class="product-thumbnails"></div>
                    </div>
                </div>
                <div class="cell similar-products overflow"></div>
            </div>
            <img class="load-image image" src="/static/light/images/icon-check-16x16.png" alt="this img tag intentionally left blank" />
        </script>

        <script type="text/template" id="similar_products_template">
            <% if (parentTemplate === "collection") { %>
                <div class="similar-cta">Shop the Collection</div>
                <div class='similar-subtext'>by clicking the images below</div>
            <% } else { %>
                <div class="similar-cta">You May Also Like</div>
            <% } %>
            <div class="tiles"></div>
        </script>

        <script type="text/template" id="desktop_tagged_products">
            <div class="feature">
                <div class="cell title-banner">
                    <div class="title">
                        <% include("product_title_template") %>
                    </div>
                </div>
                <div class="cell look-image-container">
                    <% if (template === "collection") { %>
                        <% var url = obj.expandedImage ? obj.expandedImage.url : image.url; %>
                        <img src="<%= url %>" alt="image" class="look-image" />
                    <% } else if (template === "recipe") { %>
                        <% include("recipe_template") %>
                    <% } else { %>
                        <div class="look-image" style="background-image: url('<%= image.url %>');"></div>
                    <% } %>
                </div>
                <div class="cell info">
                    <div class="product-info"></div>
                </div>
                <div class="cell shop">
                    <div class="product-thumbnails"></div>
                </div>
            </div>
            <div class="cell similar-products overflow"></div>
        </script>

        <script type="text/template" id="mobile_tagged_products">
            <div class="feature">
                <div class="look-product-carousel">
                    <div class="cell look-image-container">
                        <% if (template === "collection") { %>
                            <% var url = obj.expandedMobileImage ? obj.expandedMobileImage.url :
                                        ( obj.expandedImage ? obj.expandedImage.url : image.url); %>
                            <img src="<%= url %>" alt="image" class="look-image" />
                        <% } else if (template === "recipe") { %>
                            <% include("recipe_template") %>
                        <% } else { %>
                            <div class="look-image" style="background-image: url('<%= image.url %>');"></div>
                        <% } %>
                    </div>
                    <div class="cell info">
                        <div class="product-info"></div>
                    </div>
                </div>
                <div class="cell shop">
                    <div class="product-thumbnails"></div>
                </div>
            </div>
            <div class="cell similar-products overflow"></div>
        </script>

        <script type="text/template" id="recipe_template">
            <div class="look-image" style="background-image: url('<%= image.url %>');"></div>
            <div class="recipe-container">
                <div class="title">
                    <% include("product_title_template") %>
                </div>
                <div class="recipe">
                    <% include("product_description_template") %>
                </div>
                <div class="scroll-cta">
                    Scroll to see more
                </div>
            </div>
        </script>

        <script type="text/template" id="no_tagged_products">
            <div class="image-without-tagged-products">
                <div class="table">
                    <div>
                        <div class="image">
                            <img src="<%= image.url %>" alt="image" class="image look-image" />
                        </div>
                        <div>
                            <div class="info">
                                <div class="title">
                                    Coming soon to Sur la Table!
                                </div>
                                <div class="buy">
                                    <a class='button' href='http://www.surlatable.com/' target='_blank'>
                                        Shop On Sur la Table
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </script>

        <script type="text/template" id="category_template">
            <img src="<%- obj['thumbnail'] || '/static/light/surlatable/landingpage/lite/images/subcat-placeholder.png' %> " />
            <span class="name <% if (obj.subCategories) { %>subcats<% } %>" data-name="<%- obj.name %>"><%- obj.displayName %></span>
            <% if (obj.subCategories) { %>
            <div class="sub-categories">
                <div class="wrap">
                    <div class="sub-categories-section">
                        <div class="sub-categories-label">
                            <span><%- obj.subCategories[0].label %></span>
                        </div>
                    <% for (var i = 1; i < obj.subCategories.length; i++) { %>
                        <% if (obj.subCategories[i].label) { %>
                        </div>
                        <div class="sub-categories-label">
                            <span><%- obj.subCategories[i].label %></span>
                        </div>
                        <% } else { %>
                        <div class="sub-category" data-name="<%- obj.subCategories[i].name %>">
                            <img src="<%- obj.subCategories[i]['thumbnail'] || '/static/light/surlatable/landingpage/lite/images/subcat-placeholder.png' %> " />
                            <span class="name">
                                <% if (obj.subCategories[i].displayName) { %>
                                    <%- obj.subCategories[i].displayName %>
                                <% } else { %>
                                    <%- obj.subCategories[i].name %>
                                <% } %>
                            </span>
                        </div>
                        <% } %>
                    <% } %>
                    </div>
                </div>
            </div>
            <% } %>
        </script>

        <!-- custom templates -->
    </div>

    <div id="category-area">
        <div class="container">
            <!-- .container is bootstrap magic, and has a viewport-dependent width. -->
            <div id="category-closer"></div>
        </div>
    </div>

    <div class="container">
        <div id="hero-area"></div>
        <!-- <div class="shop-cta desktop-only">Click to shop the images below</div> -->
        <div id="discovery-area" class="discovery-area"></div>
        <div class="tile-sizer tile"></div>
        <div class="no-noscript loading"></div>
        <noscript>
            <!-- promotions to show when user does not have javascript.
             this is a 'we need javascript' message by default.
             -->
            <div class="alert alert-danger">
                <b>Oh no!</b> We need JavaScript enabled to show you this page.
            </div>
        </noscript></div>
    <img src="{% url 'apps.tracking.views.pixel' %}"/>
    <div>
        @@include('shared/default_templates.html')
    </div>
    <script type="text/javascript" src="/static/light/surlatable/landingpage/lite/scripts/main.js"></script>
    <script type="text/javascript">
        // Fanplyr
        !function(e,t,a){var n=e.createElement(a),r=e.getElementsByTagName(a)[0];n.async=!0,n.src="//d38nbbai6u794i.cloudfront.net/customers/surlatable/adaptor/surlatable.js",r.parentNode.insertBefore(n,r)}(document,window,"script");
    </script>
</body>
</html>
