@charset "UTF-8";

.header {
    padding: 30px 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.header img {
    display: block;
    margin: auto;
}

#hero-area .hero-image-wrapper {
    position: relative;
}

.jumbotron {
    height: 542px;  /* adjusts image size */
    margin: 0px auto 40px auto;
}

#hero-area {
    position: relative;
    font-family: "Helvetica Neue Light", "Arial", sans-serif;
    font-size: 15px;
}

#discovery-area {
    width: 808px;
}

.tile {
    border: 0;
    width: 202px;
}

.tile.wide {
    width: 404px;
}

.tile.three-col {
    width: 606px;
}

.tile.full {
    width: 808px;
}

.tile .name {
    margin-top: 8px;
}

.tile .price {
    line-height: 6px;
}

.tile .name, .tile .price {
    text-align: center;
    font-family: 'Georgia', serif;
    color: #333;
}

.tile.product {
    text-align: left;
    font-family: "HelveticaNeueThin", "HelveticaNeue-Thin", "Helvetica Neue Thin", 'TeXGyreHerosRegular', "Arial", sans-serif;
    font-weight:200;
    font-stretch:normal;
    font-size: 10px;
}

.social-buttons .facebook {
    height: 14px;
    width: 76px;
    position: relative;
}

.social-buttons .pinterest {
    height: auto;
    vertical-align: inherit;
}

.social-buttons .button {
    margin-right: 10px;
    height: 20px;
    vertical-align: top;
}

.previewContainer .image-with-tagged-products .info {
    width: 205px;
}

.previewContainer .title {
    font-family: "Georgia", serif;
    font-size: 18px;
    color: #000;
    font-weight: bold;
    white-space: normal;
    text-align: left;
}

.previewContainer .price {
    font-family: "Georgia", serif;
    font-weight: bold;
    font-size: 13px;
    color: #000;
    text-align: left;
}

.previewContainer .description {
    color: #676767;
    font-family: "Georgia", serif;
    font-size: 13px;
    text-align: left;
}

.previewContainer .image-with-tagged-products .description {
    max-height: 335px;
    overflow-y: auto;
}

.previewContainer .desc-title {
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
}

.previewContainer hr {
    display: block;
    height: 1px;
    border-top: 1px solid #aaa;
    margin: 15px 0;
    padding: 0;
}

.previewContainer .gallery,
.previewContainer .gallery-dots {
    overflow-x: auto;
    white-space: nowrap;
}

.previewContainer .gallery-dots .item {
    width: 5px;
    height: 5px;
    background: #aaa;
}

.previewContainer .gallery-dots .item.selected {
    background: #000;
}

.previewContainer .buy .button {
    font-family: "Verdana", sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    padding: 10px;
    display: block;
}

.previewContainer .close {
    font-family: "Verdana", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    display: block;
    text-shadow: none;
}

.previewContainer .stl-title,
.previewContainer .landscape .stl-title {
    font-weight: bold;
    font-size: 14px;
}

.previewContainer .stl-look .stl-item {
    margin-bottom: 20px;
}

.previewContainer .landscape .stl-look .stl-item {
    width: 110px;
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    #preview-area {
        top: 0;
        width: 100%;
        z-index: 9999;
        position: absolute;
    }

    .previewContainer .close {
        font-size: 11pt;
        padding: 0px;
        width: 70px;
        line-height: 30px;
        height: 30px;
        position: relative;
        top: -25px;
    }

    .previewContainer .content .info {
        max-width: 100%;
        text-align: left;
        background: white;
        border-bottom: 3px solid #FFFFFF;
        font-family: georgia serif;
    }

    .previewContainer .content .image img.image {
        width: 100%;
    }

    .previewContainer .image-with-tagged-products .info {
        width: 100%;
    }

    .previewContainer .image-with-tagged-products .description {
        max-height: none;
    }

    .previewContainer .buy .button {
        font-size: 17px;
    }

    .previewContainer .title {
        height: 23px;
        overflow: hidden;
        font-size: 1.3em;
        line-height: 24px;
        max-width: inherit;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .previewContainer .description {
        font-size: 1em;
    }

    .previewContainer .gallery,
    .previewContainer .gallery-dots {
        margin: 0 auto;
        padding: 3px;
        height: auto;
        line-height: auto;
        margin-bottom: 7px;
        overflow-y: hidden;
    }

    .previewContainer .stl-title,
    .previewContainer .landscape .stl-title {
        margin-bottom: 10px;
    }
}
