@charset "UTF-8";

html, body, .container, #discovery-area {
    /* fixes scrolling on mobile. touchstart and touchmove break taps.
       whatever works ¯\_(ツ)_/¯ */
    height: 600px !important;
    overflow-y: hidden;
}

#discovery-area {
    margin-top: 47px;
}

.tile.full {
    width: 100% !important;
}
