/* page */
body {
    min-height: 100%;
}

.page {
    min-height: 100%;
    width: 960px;
    margin: 0px auto;
}

/* social buttons */
.social-buttons {

}

.social-buttons .button {
    /* common style for social buttons */
    float       : left;
    margin-right: 5px;
}

.social-buttons .facebook {

}

.social-buttons .pinterest {

}

.social-buttons .twitter {

}

/* discovery area */
.discovery-area {

}

.discovery-area .column {
    width: 240px; /* 960px / 4 */
    float: left;
}

/* discovery blocks */
.block {
    position: relative;
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}

.block img, .block object {
    max-width: 100%;
}

.block .data {
    display: none;
}

.block .social-buttons {
    position: absolute;
    top: 0%;
    left: 0%;
}

.block.product {

}

/* Preview */
.preview {
    /* TODO: Should we have a separate class for a preview content block? */
    overflow: hidden;
    position: fixed;
    display : table;
    top     : 0;
    left    : 0;
    display : none;
}

.preview.mask {
    position  : fixed;
    top       : 0;
    left      : 0;
    width     : 100%;
    height    : 100%;
    background: rgba(255,255,255,0.7);
    cursor    : -webkit-zoom-out;
    cursor    : -moz-zoom-out;
    cursor    : zoom-out;
}
