/* page */
body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.page {
    min-height: 100%;
    width: 960px;
    margin: 0px auto;
}

/* social buttons */
.social-buttons {

}

.social-buttons img {
    border: 0px none;
}

.social-buttons .loading-container {
    visibility: hidden;
}

.social-buttons .button {
    /* common style for social buttons */
    float       : left;
    margin-right: 5px;
}

.social-buttons .facebook {

}

.social-buttons .facebook.no-count {
    width: 50px;
    overflow: hidden;
}

.social-buttons .pinterest {

}

.social-buttons .twitter {

}

/* discovery area */
.discovery-area {
    clear: both;
}

.discovery-area .column {
    width: 240px; /* 960px / 4 */
    float: left;
}

/* discovery blocks */
.block {
    position: relative;
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}

.block img, .block object {
    max-width: 100%;
}

.featured .data, .block .data {
    display: none;
}

.block .social-buttons {
    position: absolute;
    top: 0%;
    left: 0%;
}

.block .social-buttons {
    display: none;
}

.social-buttons {
    height: 20px;
}

.block.product {

}

/* Preview */
.preview {
    /* TODO: Should we have a separate class for a preview content block? */
    overflow: hidden;
    position: fixed;
    display : table;
    width     : 100%;
    height    : 100%;
    top:0;
    left:0;
}

.preview .mask {
    position  : fixed;
    top       : 0;
    left      : 0;
    width     : 100%;
    height    : 100%;
    background: rgba(255,255,255,0.7);
    cursor    : -webkit-zoom-out;
    cursor    : -moz-zoom-out;
    cursor    : zoom-out;
    display: block;
}

.preview .tablecell {
    display: table-cell;
    vertical-align: middle;
    position: static;
}

.preview .content {
    overflow: hidden;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    background: #fff;
    z-index:1002;
    border: 1px solid #CECECE;

    -moz-box-shadow: 10px 10px 10px 0px #CECECE;
    -webkit-box-shadow: 10px 10px 10px 0px #CECECE;
    -o-box-shadow: 10px 10px 10px 0px #CECECE;
    box-shadow: 10px 10px 10px 0px #CECECE;
}

.preview .close {
    cursor: pointer;
    float: right;
}

/* Some default css for youtube videos and lifestyle images. */

/* This is for blocks that are two columsn wide */
.block.wide {
    width: 480px;
}

.youtube {
    width: 480px;
    height: 360px;
    cursor: pointer;
}

.block.product {
    display: table;
    table-layout: fixed;
}

.block div.product {
    display: table-cell;
    vertical-align: middle;
}

.block.product div.lifestyle {
    width: 240px;
    display: table-cell;
    vertical-align: middle;
}

.block.product img.lifestyle {
    max-width: 240px;
}

/* width : (block_width / 2) - (play_button_width / 2)
 * height : (block_height / 2) - (play_button_height / 2)
 * Once we have sass, this can be automatic
 */
.youtube_play {
    position: absolute;
    top: 135px;
    left: 195px;
}
