html, body {
    height: 100%;
}

html, body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body,
h1,
h2,
p {
    font-family: helvetica, arial, verdana, sans-serif;
}

body,
p { font-size: 15px; }

h1 {
    font-size: 30px;
    font-weight: normal;
    text-shadow: 1px 1px rgba(255,255,255,0.3);
    line-height: 55px;
}

body { background: #e4e4e4; }

a {
    color: #80cafc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
      color: #3f7599;
}

input[type="text"], textarea {
    padding: 10px;
    font-size: 13px;
}

#box {
    height: 500px;
    overflow:hidden;
    background: #f4f4f4;
}

#break,
#boxTop,
#detailsBar {
    width: 100%;
    overflow: hidden;
    margin: auto;
}

#break {
    margin-top: 15px;
    height: 55px;
    position: relative;
}

#breakNav {
    position: absolute;
    bottom: 0;
    right: 0;
}

.bannerRight, .breakNav {
    float: right;
}

ul.breakNav li {
    margin: 0 15px 0 0;
    list-style: none;
    float: left;
    display: block;
    position: relative;
    font-size: 16;
    color: #fff;
}

.roundedTops,
#box,
#boxTop,
li.selected,
li a,
#popup,
.notice {
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;

    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
}

.rounded {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#boxTop {
    height: 50px;
    color: #fff;
    background: #235364;
}

#boxTop a {
    color: #ccc;
    text-decoration: underline;
}

#boxTop a:hover {
    color: #fff;
}

#boxTopRight {
    float: right;
    padding: 18px
}

.shadow {
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.6);
    box-shadow: 0 0 5px rgba(0,0,0,0.6);
}

#content {
    width: 100%;
    height: 450px;
}

.banner {
    background-color: #fff;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

.bannerBody {
    width: 1000px;
    overflow: auto;
    margin: auto;
}

.bannerBody h1 {
    float: left;
    width: 695px;
    margin-bottom: 0;
    color: #fff;
    height: 75px;
    line-height: 75px;
}

.bannerRight ul {
    list-style: none;
    margin-top: 30px;
}

.bannerRight li {
    display: inline;
}

.button,
.button:visited,
.button.qq-upload-button {
    display: inline-block;
    font-family: helvetica, arial, tahoma, sans-serif;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px 3px 3px 3px; /* need all four for PIE */
    text-decoration: none;
    text-shadow: 0 1px 2px #666;
    white-space: nowrap;
    vertical-align: baseline;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    overflow: visible;
    width: auto;
    color: #fff;
    border: 1px solid #471709;
    padding: 8px 15px;
    margin: 5px;
    font-weight: bold;
    cursor: pointer;
    -webkit-box-shadow: rgb(153, 153, 153) 0px 1px 2px 0px;
    -webkit-box-shadow: 0 1px 2px #999;
    -moz-box-shadow: 0 1px 2px #999;
    box-shadow: 0 1px 2px #999;
    background-color: #235364;
    background: -moz-linear-gradient(top, #6f98ac, #358ab2 5%, #235364 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#6f98ac), to(#235364), color-stop(0.05, #358ab2));
    background: -webkit-linear-gradient(top, #6f98ac, #358ab2 5%, #235364 100%);
    background: -o-linear-gradient(top, #6f98ac, #358ab2 5%, #235364 100%);
    background: -ms-linear-gradient(top, #6f98ac, #358ab2 5%, #235364 100%);
    background: linear-gradient(top, #6f98ac, #358ab2 5%, #235364 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6f98ac', endColorstr='#235364',GradientType=0 );
}
.button:hover, .button.qq-upload-button:hover {
    color: #fff;
    text-decoration: none;
    background-color: #033344;
    background: -moz-linear-gradient(top, #6f98ac, #358ab2 5%, #033344 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#6f98ac), to(#033344), color-stop(0.05, #358ab2));
    background: -webkit-linear-gradient(top, #6f98ac, #358ab2 5%, #033344 100%);
    background: -o-linear-gradient(top, #6f98ac, #358ab2 5%, #033344 100%);
    background: -ms-linear-gradient(top, #6f98ac, #358ab2 5%, #033344 100%);
    background: linear-gradient(top, #6f98ac, #358ab2 5%, #033344 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6f98ac', endColorstr='#033344',GradientType=0 );
}

.button.focus {
    background-color: #ae432e;
    background: -moz-linear-gradient(top, #faa796, #d06c57 5%, #ae432e 100%);
    background: -webkit-linear-gradient(top, #faa796, #d06c57 5%, #ae432e 100%);
    background: -ms-linear-gradient(top, #faa796, #d06c57 5%, #ae432e 100%);
    background: -o-linear-gradient(top, #faa796, #d06c57 5%, #ae432e 100%);
    background: linear-gradient(top, #faa796, #d06c57 5%, #ae432e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FAA796', endColorstr='#AE432E',GradientType=0 );
}

.button.focus:hover {
    background-color: #943a28;
    background: -moz-linear-gradient(top, #faa796, #d06c57 5%, #943a28 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#faa796), to(#943a28), color-stop(0.05, #d06c57));
    background: -webkit-linear-gradient(top, #faa796, #d06c57 5%, #943a28 100%);
    background: -o-linear-gradient(top, #faa796, #d06c57 5%, #943a28 100%);
    background: -ms-linear-gradient(top, #faa796, #d06c57 5%, #943a28 100%);
    background: linear-gradient(top, #faa796, #d06c57 5%, #943a28 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FAA796', endColorstr='#943a28',GradientType=0 );
}

.button.disabled, .button.disabled:hover {
    color: #fff;
    background-color: #949494;
    background: -moz-linear-gradient(top, #fafafa, #d0d0d0 5%, #949494 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#949494), color-stop(0.05, #d0d0d0));
    background: -webkit-linear-gradient(top, #fafafa, #d0d0d0 5%, #949494 100%);
    background: -o-linear-gradient(top, #fafafa, #d0d0d0 5%, #949494 100%);
    background: -ms-linear-gradient(top, #fafafa, #d0d0d0 5%, #949494 100%);
    background: linear-gradient(top, #fafafa, #d0d0d0 5%, #949494 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#949494', endColorstr='#949494',GradientType=0 );
    cursor: default;
}

.content {
    -webkit-box-shadow:  0px 0px 10px 1px rgba(0, 0, 0, 0.5);
    box-shadow:  0px 0px 10px 1px rgba(0, 0, 0, 0.5);
    min-height: 500px;
    margin-top: 0px;

    -webkit-border-radius: 5px;
    border-radius: 5px;

    background-color: #f1f1f1;
}

.container_12 {
    padding-bottom: 50px;
}

.container_12 .inner_content {
    padding: 20px 30px 40px 30px;
    /* accounts for the margins added in 960.css. We need this because
     * we have a grid_12 inside a grid_12.
     */
    width: 880px;
}

.top_bar {
    margin: 0;
    background-color: #385a71;
    height: 50px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}

.top_bar .page_title {
    font-size: 17pt;
    padding: 7px 0 0 15px;
    text-shadow: 1px 1px 2px #4f4f4f;
    filter: dropshadow(color=#4f4f4f, offx=1, offy=1);
}

.top_section {
    margin-top: 20px;
    height: 39px;
}

.top_section ul {
    list-style: none;
    position: relative;
    top: 12px;
}

.top_section li {
    display: inline;
    background-color: #6f98ac;
    padding: 10px;
    margin-left: 15px;

    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}

.top_section li, .top_bar .page_title {
    color: #eeeeee;
}

.top_section li.selected {
    background-color: #385a71;
}

#second_funnel_logo {
    vertical-align: middle;
}

#cancel_to_admin, .button.back {
    float: none;
    position: relative;
}

/* Messages */
ul.messages {
    padding-top: 20px;
}

ul.messages li {
    display: block;
    margin: 0px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: 99% 50%;
    cursor: pointer;
}

ul.messages li.success {
    border-color: #385A71;
    background-color: #6F98AC;
    color: white;
}

ul.errorlist {
    margin: 0 0 10px 10px;
    list-style: none;
    display: block;
}

ul.errorlist li {
    background-color: #B94A48;
    border-color: white;
    border-radius: 3px;
    border-style: none;
    border-collapse: separate;
    border-width: 0px;

    color: white;
    display: inline;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: auto;
    line-height: 14px;
    margin: 0;
    max-width: none;
    padding: 1px 4px 2px 4px;
    text-align: left;
    text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;
    vertical-align: baseline;
    white-space: nowrap;
    width: auto;
}

span.disabled {
    display: none;
}

* {
    color: #333;
    text-shadow: 1px 1px 1px #CCC;
}
