@charset "UTF-8";

/* overrides for this theme */

body {
    background: url('//s3-us-west-2.amazonaws.com/static-misc-secondfunnel/images/fall_2012_US_BeBright.gif') top center no-repeat;
}

header {
    /* if your navbar has the 'navbar-fixed-top' class, this offset is required. */
    padding: 57px 0 10px 0;
}

.navbar {
    background: url('//s3-us-west-2.amazonaws.com/static-misc-secondfunnel/images/universalBar_bkg.png') repeat-x;
    border-radius: 0;
    box-shadow: 0px 0px 21px #999;
    height: 53px;
}

.dropdown-menu .facebook,
.dropdown-menu .twitter,
.dropdown-menu .pinterest,
.dropdown-menu .instagram,
.dropdown-menu .youtube,
.dropdown-menu .tumblr {
    background: url('//s3-us-west-2.amazonaws.com/static-misc-secondfunnel/images/Social+Subscribe+-+Mobile.png') no-repeat top left;
    background-size: 24px auto;
    padding-left: 30px;
}

@media (min-width:768px) { /* Larger than tablet */
    .dropdown-xs {
        display: none!important;
    }
}

@media (max-width: 768px) { /* phone and tablet */
    .dropdown-xs {
        display: block;
    }
}

.dropdown-menu .facebook {
    background-position: 4px 1px;
}

.dropdown-menu .twitter {
    background-position: 4px -25px;
}

.dropdown-menu .pinterest {
    background-position: 4px -54px;
}

.dropdown-menu .instagram {
    background-position: 4px -82px;
}

.dropdown-menu .tumblr {
    background-position: 4px -109px;
}


.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    background-color: #acacac;
    background-image: none;
}

.jumbotron {
    background-position: top center;
    background-repeat: no-repeat;
    width: 1024px;
    height: 400px;  /* adjusts image size */
    border-bottom: 1px silver solid;
    margin: 10px auto 40px auto;
}

.visible-xs.jumbotron, .visible-sm.jumbotron { /* mobile hero */
    background-image: url('//s3-us-west-2.amazonaws.com/static-misc-secondfunnel/images/Gap_Shorts_Mobile.png');
}

.visible-xs.jumbotron { height: 331px; }
.visible-sm.jumbotron { height: 423px; }

.visible-md.jumbotron, .visible-lg.jumbotron { /* desktop hero */
    background-image: url('//s3-us-west-2.amazonaws.com/static-misc-secondfunnel/images/Gap_Shorts_Desktop.png');
}

.legal.us {
    margin-top: -35px;
}

.featured.product {
    background-color: #fff;
}
.featured.product img {
    max-height: 100%;
}

.tile {
    border: 0;
    box-shadow: none;
}

.tile .caption {
    position: relative;
    background-color: transparent;
    border-radius: 0 0 4px 4px;
    color: #404040;
    font-size: 13px;
    min-height: 20px;
    padding-top: 10px;
}

.tile.product {
    text-align: center;
}

.tile .social-buttons {
    position: absolute;
    bottom: 20px;
    left: 0;
    text-align: center;
    margin: 0 auto;
    line-height: 21px;
}

.previewContainer img {
    /* limit how big preview images can be */
    max-width: 100%;
    max-height: 100%;
}

.social-buttons .facebook {
    height: 14px;
    width: 76px;
    position: relative;
}

.social-buttons .placeholder {
    position: absolute;
    left: 0;
}

.tile.youtube.wide .social-buttons {
    float: right;
    width: auto;
    right: 16px;
    left: auto;
    bottom: 15px;
}

.tile.wide.youtube div.thumbnail:before {
    background-image: url('//s3-us-west-2.amazonaws.com/static-misc-secondfunnel/images/Video-playbutton.png');
    width: 66px;  /* dimensions of the thumbnail image (which should be cropped to size) */
    height: 66px;
    margin: -33px 0 0 -33px;
}

@media (max-width: 480px) {
    /* need extra margin change for when a wide youtube block is being squished */
    .tile.wide.youtube div.thumbnail:before {
        margin-top: -66px;
    }
}

@media screen and (max-width: 768px) {
    .previewContainer .close {
        font-size: 40px;
        padding: 0 0 10px 10px;
    }
    .previewContainer .content {
        margin-bottom: 50px;  /* bump scrollable area up */
    }
    .previewContainer .gallery {
        height: auto;
    }
}

@media screen and (min-width: 768px) {
    .previewContainer .gallery {
        white-space: nowrap;
    }
}

/* === */


.sharing {
    color: #acacac;
    display: inline-block;
    position: absolute;
    line-height: 30px;
    padding: 10px 10px 10px 0px;
    text-transform: uppercase;
}

.sharing ul {
    display: inline-block;
    padding-left: 10px;
}

.sharing .icon, .sharing .icon a {
    width:  24px;
    text-decoration: none;
    height: 30px;
    display: inline-block;
}

.sharing .icon {
    background:  url('//s3-us-west-2.amazonaws.com/static-misc-secondfunnel/images/Website-stay-connected-icons.png') top left no-repeat;
    padding-right: 1px;
}

.sharing .icon.pinterest {
    background-position: -3px 0;
}

.sharing .icon.facebook {
    background-position: -27px 0;
}

.sharing .icon.twitter {
    background-position: -52px 0;
}

.sharing .icon.instagram {
    background-position: -76px 0;
}

.sharing .icon.youtube {
    background-position: -100px 0;
}

.sharing .icon.tumblr {
    background-position: -124px 0;
}


/* === */


.shareContainer img {
    max-width: 50px;
    max-height: 50px;
}

.previewContainer .title {
    margin: 0;
    font-family: proxima-nova-soft, sans-serif;
    font-size: 18px;
    color: black;
    font-weight: bold;
}

.previewContainer .desc-title {
    font-weight: bold;
}

.previewContainer .image {
    margin: 20px auto;
    text-align: center;
}

@media screen and (max-width: 768px) {
    /* indicate that the image can be swiped */
    .previewContainer .image:before, .previewContainer .image:after {
        position: absolute;
        font-size: 100px;
        width: 50px;
        height: 90px;
        line-height: 75px;
        top: 50%;
        margin-top: -45px;
        color: #eee;
    }
    .previewContainer .image:before {
        content: "‹";  /* no, entities won't work here */
        left: 0;
    }
    .previewContainer .image:after {
        content: "›";
        right: 0;
    }
}

.previewContainer .main-image {
    /* actually the largest product image */
    float: left;
    max-width: 150px;
    margin: 0 20px 0 0;
    max-height: 200px;
}

.previewContainer .price {
    font-family: proxima-nova-soft, sans-serif;
    font-size: 18px;
    color: #acacac;
    font-weight: lighter;
    margin: 0 0 20px 0;
}

.previewContainer .gallery {
    text-align: center;
    height: 70px;
    overflow-x: auto;
}

.previewContainer .gallery img {
    margin: 0px 5px;
    max-height: 50px;
    height: auto;
    width: auto;
    border: 1px solid #CECECE;
}
.previewContainer .gallery img.selected {
    border: 1px solid black;
}

.previewContainer .gap-buttons {
    padding: 30px 0 15px 0;
    line-height: 70px;
    text-align: center;
}

.previewContainer .gap-buttons a,
.previewContainer .gap-buttons a:visited,
.previewContainer .gap-buttons a:hover {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    font-family: HelveticaNeue,Helvetica,sans-serif;
}

.previewContainer .gap-buttons .button {
    height: 51px;
    display: inline-block;
    -webkit-box-shadow: 0 0 3px #000;
    -webkit-border-radius: 15px;
    vertical-align: top;
    margin-right: 5px;
    line-height: 50px;
    text-align: center;
}

.previewContainer .gap-buttons .button.find-store {
    width: 130px;
    background: url('https://s3-us-west-2.amazonaws.com/static-misc-secondfunnel/images/spriteFiS.png') top left no-repeat;
    background-position: -100px -106px;

}

.previewContainer .gap-buttons .button.in-store {
    width:  190px;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.00,#EDEDED),color-stop(1.0,#CDCDCD));
}