$icon-font-path: "/static/light/fonts/";

@import "lib/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
@import "src/components/landingpage/styles/base.scss";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);

.navbar {
    background-color: #FFF;
    box-shadow: 0px 2px 5px 3px rgba(0,0,0,0.20);
}

.navbar img {
    height: 29px;
    vertical-align: middle;
}

.tile {
    color: #000;
    text-align: center;
    padding: 15px;
    font-family: "Open Sans", sans-serif;
}

.tile.product .image-container {
    padding: 133% 0 0 0;
    position: relative;
    height: 0;
}

.tile.product .image-container .focus {
    display: block;
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.tile .name {
    font-size: 13px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.previewContainer {
    color: #000;
    font-family: "Open Sans", sans-serif;
}

#hero-area .previewContainer .content {
    border: none;
}

.previewContainer .content {
    border: 2px solid #2087cc;
}

.previewContainer .close {
    color: white;
    border-radius: 20px;
    background-color: #2087cc;
    height: 40px;
    width: 40px;
    line-height: 40px;
    right: -20px;
    top: -20px;
    z-index: 1003;
    font-family: arial, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

.previewContainer .row {
    padding: 10px;
}

.previewContainer .image-with-tagged-products .cell.shop {
    width: 120px;
}

.previewContainer .image-with-tagged-products .cell.info {
    width: 265px;
}

.previewContainer .info {
    text-align: left;
    overflow: hidden;
}
.previewContainer .info.image {
    width: 275px;
}

.previewContainer .info .title {
    font-size: 22px;
    line-height: 22px;
    font-weight: bold;
    font-family: "Roboto Slab", serif;
}

.previewContainer .info .price {
    font-size: 22px;
    font-weight: bold;
}
.previewContainer .info.image .price {
    font-size: 22px;
}

.previewContainer .info .price .sale {
    color: #e10e0e;
}

.previewContainer .info .price .strike {
    color: #999;
}

.previewContainer .buy .button {
    font-size: 16px;
    background-color: #2087cc;
    padding: 10px 40px;
    font-weight: bold;
}

.previewContainer .info .description {
    max-height: 150px;
    overflow: auto;
}

.previewContainer .stl-look .stl-item img {
    width: 72px;
}

.previewContainer .stl-look .stl-item .name {
    width: 100px;
    margin: auto;
    text-align: center;
    font-size: 12px;
    white-space: normal;
}

.previewContainer .landscape .stl-look .stl-item {
    width: 100px;
}

.previewContainer .more-info {
    text-align: right;
    padding-right: 20px;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .navbar {
        display: none;
    }

    .previewContainer .close {
        left: 0;
        top: 0;
        right: inherit;
        border-radius: 0;
        width: auto;
        height: auto;
        font-size: 21px;
        line-height: 21px;
        padding: 10px 20px;
    }

    .previewContainer .content {
        padding-top: 43px;
    }

    .previewContainer .image-with-tagged-products .cell.info {
        width: auto;
    }

    .previewContainer .cell.info {
        padding-left: 10px;
        padding-right: 10px;
    }

    .previewContainer .gallery img {
        display: inline-block;
    }

    .previewContainer .info {
        text-align: left;
        max-width: none;
    }

    .previewContainer .info.image {
        width: auto;
    }

    .previewContainer .info .buy {
        text-align: center;
    }
}
