<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title> Dashboard - Secondfunnel</title>
    <link rel="stylesheet" href="{% static "base.css" %}">
    <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
    <!--script type="text/javascript" src="{% static 'js/jquery-1.10.2.min.js' %}"></script-->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="http://analytics-api-samples.googlecode.com/svn/trunk/src/reporting/javascript/ez-ga-dash/gadash-1.0.js"></script>
    <script type="text/javascript" src="https://apis.google.com/js/client.js?onload=gadashInit"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script type="text/javascript" src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>
    <script type="text/javascript" src="{% static "ga_secondfunnel.js" %}"></script>
</head>
<body>
<header>
    <h1>gap.secondfunnel.com</h1>
</header>
<main>
    <div id="sidebar">
        <div id="total sessions">
            <div id="session_count"></div>
        </div>
        {% comment %}<div>
            <form>
                <ul>
                    <li>Compare By:</li>
                    <ul>
                        <li><input type="radio" name="compare_by" value="source">Source<br></li>
                        <li><input type="radio" name="compare_by" value="device">Device<br></li>
                    </ul>

                    <li> Include:</li>
                    <ul>
                        <li>devices</li>
                        <ul>
                            <li><input type="checkbox" name="include" value="mobile">mobile<br></li>
                            <li><input type="checkbox" name="include" value="tablet">tablet<br></li>
                            <li><input type="checkbox" name="include" value="desktop">desktop<br></li>
                        </ul>
                        <li>sources</li>
                        <ul>
                            <li><input type="checkbox" name="include" value="org_search">organic search<br></li>
                            <li><input type="checkbox" name="include" value="source">Source<br></li>
                            <li><input type="checkbox" name="include" value="source">Source<br></li>
                            <li><input type="checkbox" name="include" value="source">Source<br></li>
                            <li><input type="checkbox" name="include" value="source">Source<br></li>
                            <li><input type="checkbox" name="include" value="source">Source<br></li>
                            <li><input type="checkbox" name="include" value="source">Source<br></li>
                        </ul>
                    </ul>
                </ul>
            </form>
        </div>{% endcomment %}
    </div>
    <div id="content">
        <button id="authorize-button" style="visibility: hidden">
            Authorize Analytics
        </button>

        <div id="page-kpis">
            <span id="title">Page KPI's</span>
            <div id="dashboard">
                <div id="filter"></div>
                <div id="chart"></div>
            </div>
            <div id="session-graph"></div>
            <div id="bounce-rate"></div>
            <div id="scroll-rate"></div>
            <div id="session-duration"></div>
            <div id="tile-opens">
                <!-- options -->
            </div>
            <div id="purchase-action-rate"></div>
            <div id="conversion rate"></div>
        </div>
        <div id="top-tiles"><!--(maybe top three in each category?) (ability to disclude certain tile templates) -->
            <div id="impressions"></div>
            <div id="engagement-rate"></div>
            <div id="buy-now-ctr"></div>
            <div id="conversion"></div>
        </div>

        <!--Div that will hold the pie chart-->
        <div id="chart_div" style="width:400; height:300"></div>
    </div>
</main>
</body>
</html>