{% extends "pinpoint/admin_base.html" %}
{% load staticfiles %}

{% block title %}
    New Page
{% endblock %}

{% block page_title %}
    {{ block.super }}: New Page
{% endblock %}

{% block extra_head %}
    <style type="text/css">
        .product_select {

        }

        .product_select ul {
            list-style: none;
        }

        .product_select li {
            color: #5a8eb4;
        }

        label {
            font-size: 15pt;
        }

        ul.errorlist {
            margin: 0;
        }

        ul.errorlist li{
            color: #d94153;
            margin-left: 0;
        }

        .product_meta ul {
            list-style: none;
            margin-top: 20px;
        }

        .product_meta li {
            display: inline;
        }

        .product_meta img {
            border-bottom: 4px solid #eeeeee;
            padding-bottom: 5px;
            width: 250px;
        }

        .product_meta input {
            width: 200px;
        }

        input[type="text"] {
            width: 250px;
        }

        .product_meta img:hover, .product_meta img.selected {
            border-bottom: 4px solid #5d84b7;
            cursor: pointer;
        }

        .existing_images_list {
            width: 900px;
            overflow: scroll;
            max-height: 450px
        }

        .product_description {

        }

        .helptext {
            display: block;
            color: #898989;
        }

        textarea {
            display: block;
            width: 500px;
        }

        .field {
            margin-bottom: 30px;
        }

    </style>
{% endblock %}

{% block extra_js_includes %}
    <script src="{% static "js/jquery-ui.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/jquery-ui.css" %}">

    <script>
        var wizard_data = {
        product_id: undefined,
        media_id: undefined,
        description: ""
    };

    var products = {
        {% for product in products %}
        '{{ product.id }}': {
            'id': '{{ product.id }}',
            'name': '{{ product.name }}',
            'description': '{{ product.description|escapejs }}',
            'media': [
                {% for product_media in product.media.all %}
                {
                    'id': '{{ product_media.id }}',
                    'url': '{{ product_media.get_url }}'
                }{% if not forloop.last %},{% endif %}
                {% endfor %}
            ]
        }{% if not forloop.last %},{% endif %}
        {% endfor %}
    };

    function product_selected (o) {
        var product = products[o.product_id];

        // clear existing image list
        $("#product_images").html("");

        // display product media
        for (i in product.media) {
            $("#product_images").append(
                "<li><img data-mid='" + product.media[i].id + "' src='" + product.media[i].url + "'></li>"
            );
        }

        // set product's proper name
        $("#product_name").val(product.name);

        // set product's description
        $("#id_description").val(product.description);

        // set the id for form submission
        $("#id_product_id").val(product.id);

        $(".product_meta").slideDown();
    }

    $("#new_image_toggle").click(function (e) {
        // show upload field, hide existing images
        e.preventDefault();
        $(".new_image_label").slideUp();
        $(".new_image_content").slideDown();

        $(".existing_images_label").slideDown();
        $(".existing_images_content").slideUp();

        $("#product_images img").removeClass("selected");
        $("#id_product_media_id").val("");
    });

    $("#existing_images_toggle").click(function (e) {
        // show existing images, hide upload
        e.preventDefault();
        $(".new_image_label").slideDown();
        $(".new_image_content").slideUp();

        $(".existing_images_label").slideUp();
        $(".existing_images_content").slideDown();
    });

    $("#product_images img").live('click', function() {
        $("#product_images img").removeClass("selected");
        $(this).addClass("selected");

        $("#id_product_media_id").val($(this).data('mid'));
    });

    $("#page_description_toggle").click(function (e) {
        e.preventDefault();
        $(".page_description_label").slideUp();
        $(".page_description_content").slideDown();
    });

    $( "#product_name" ).autocomplete({
        source: function(request, response) {
            var term = request.term;
            $.getJSON("/api/assets/v1/product/", {
                "format": "json",
                "name__contains": term

            }, function(data) {
                //convert object to usable form
                var results = [];
                $.each(data.objects, function(index, value) {
                    results.push({'label': value.name, 'id': value.id})
                });
                response(results);
            })
        },
        minLength: 2,
        select: function( event, ui ) {
            if (ui.item) {
                product_selected({
                    product_id: ui.item.id
                });
            }
        }
    });
    </script>
{% endblock %}

{% block document_ready %}

{% endblock %}

{% block top_section %}
    <nav class="grid_3 prefix_9">
        <ul>
            <li class="selected">Pages</li>
            <li>Analytics</li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
        <form action="" method="post">{% csrf_token %}
            {{ form.non_field_errors }}

            <div class="grid_12 product_select">
                <div class="field">
                    {{ form.name.errors }}
                    <label for="id_name">Page Name:</label>
                    {{ form.name }}
                    <span class="helptext">Select a name for this PinPoint page for your reference.</span>
                </div>

                <div class="field">
                    <div class="page_description_label">
                        <a href="" id="page_description_toggle">Add internal description for this page</a>
                    </div>

                    <div class="page_description_content" style="display:none">
                        {{ form.page_description.errors }}
                        <label for="id_page_description">Page Description:</label>
                        {{ form.page_description }}
                        <span class="helptext">Optional internal description for this page.</span>
                    </div>
                </div>

                <div class="field">
                    <label for="product_name">Featured Product:</label>
                    <input type="text" id="product_name">
                    <span class="helptext">Start typing in a name of a featured product you want for this page</span>
                </div>
            </div>

            <div class="grid_12 product_meta" style="display:none">
                <div class="field">
                    <div class="existing_images_label" style="display:none">
                        <a href="" id="existing_images_toggle">Use one of the existing images</a>
                    </div>

                    <div class="existing_images_content">
                        <label>Select a featured image:</label>
                        <div class="existing_images_list">
                            <ul id="product_images"></ul>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <div class="new_image_label">
                        <a href="" id="new_image_toggle">Upload a different image</a>
                    </div>

                    <div class="new_image_content" style="display: none">
                        {{ form.product_image.errors }}
                        <label for="id_product_image">Choose a different featured image:</label>
                        {{ form.product_image }}
                        <span class="helptext">Upload a new image if none of the existing ones suite the new PinPoint page</span>
                    </div>
                </div>

                <div class="field">
                    {{ form.description.errors }}
                    <label for="id_name">Product Description:</label>
                    {{ form.description }}
                    <span class="helptext">You can tailor product's description that will appear on the PinPoint page.</span>
                </div>

                <div class="grid_12 actions">
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}

                    <input class="button" type="submit" value="Create PinPoint Page">
                </div>
            </div>
        </form>
    </div>

    <div class="grid_12 product_meta">
    </div>
{% endblock %}
