{% extends "pinpoint/admin_base.html" %}
{% load staticfiles %}

{% block title %}
    {% if campaign %}Edit {% else %}New{% endif %} Page
{% endblock %}

{% block page_title %}
    {% if campaign %}Edit {% else %}New{% endif %} Page
{% endblock %}

{% block extra_head %}
    <style type="text/css">
        .product_select {

        }

        .product_select ul {
            list-style: none;
        }

        .product_select li {
            color: #5a8eb4;
        }

        label {
            font-size: 15pt;
        }

        ul.errorlist {
            margin: 0 0 10px 10px;
            list-style: none;
            display: inline-block;
        }

        ul.errorlist li {
            background-color: #B94A48;
            border-color: white;
            border-radius: 3px;
            border-style: none;
            border-collapse: separate;
            border-width: 0px;

            color: white;
            display: inline;
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: 12px;
            font-weight: bold;
            height: auto;
            line-height: 14px;
            margin: 0;
            max-width: none;
            padding: 1px 4px 2px 4px;
            text-align: left;
            text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;
            vertical-align: baseline;
            white-space: nowrap;
            width: auto;
        }

        #product_images ul {
            list-style: none;
            margin-top: 20px;
        }

        #product_images li {
            display: inline;
        }

        #product_images img {
            border-bottom: 4px solid #eeeeee;
            padding-bottom: 5px;
            width: 250px;
        }

        .current_image img, .new_image_content img {
            width: 250px;
        }

        .new_image_content img {
            display: block;
        }

        .product_meta input {
            width: 200px;
        }

        input[type="text"] {
            width: 250px;
        }

        #product_images img:hover, #product_images img.selected {
            border-bottom: 4px solid #5d84b7;
            cursor: pointer;
        }

        .existing_images_list {
            overflow: scroll;
            max-height: 450px
        }

        .product_description {

        }

        .helptext {
            color: #898989;
            font-style: italic;
            padding-left: 10px;
        }

        .helptext.textarea {
            display: inline-block;
            vertical-align: top;
            width: 300px;
        }

        textarea {
            display: inline-block;
            width: 456px;
        }

        .field {
            margin-bottom: 10px;
        }

        .field > label {
            min-width: 200px;
            display: inline-block;
        }

        /* Accordion styles */
        #image-selector, #page_description_content {
            margin-bottom: 20px;
        }

        #image-selector.ui-accordion .ui-accordion-content {
            padding: 1em;
        }

        #image-selector .ui-state-default,
        #image-selector .ui-widget-content .ui-state-default,
        #image-selector .ui-widget-header .ui-state-default {
            border: 1px solid #6F98AC;
            background: #6F98AC;
            color: #fff;
        }

        #image-selector .ui-state-active,
        #image-selector .ui-widget-content .ui-state-active,
        #image-selector .ui-widget-header .ui-state-active {
            border: 1px solid #235364;
            background: #235364;
            color: #eee;
        }

        #image-selector .ui-state-hover,
        #image-selector .ui-widget-content .ui-state-hover,
        #image-selector .ui-widget-header .ui-state-hover {
            border: 1px solid #336374;
            background: #336374;
            color: #eee;
        }

        /* Loadmask */
        .inner_content .loadmask {
            background-color: #f1f1f1;
            opacity: 0.7;
            -moz-opacity: 0.7;
            filter: alpha(opacity=70);
            z-index: 100;
        }

        /* Autocomplete style */
        .ui-autocomplete.ui-menu {
            z-index: 101 !important;
        }

        /* Button styles */
        .button.preview {

        }

        .button.preview, .button.cancel {
            background-color: #235364;
            background: -moz-linear-gradient(top, #6f98ac, #358ab2 5%, #235364 100%);
            background: -webkit-gradient(linear, left top, left bottom, from(#6f98ac), to(#235364), color-stop(0.05, #358ab2));
            background: -webkit-linear-gradient(top, #6f98ac, #358ab2 5%, #235364 100%);
            background: -o-linear-gradient(top, #6f98ac, #358ab2 5%, #235364 100%);
            background: -ms-linear-gradient(top, #6f98ac, #358ab2 5%, #235364 100%);
            background: linear-gradient(top, #6f98ac, #358ab2 5%, #235364 100%);
        }

        .button.preview:hover, .button.cancel:hover {
            background-color: #033344;
            background: -moz-linear-gradient(top, #6f98ac, #358ab2 5%, #033344 100%);
            background: -webkit-gradient(linear, left top, left bottom, from(#6f98ac), to(#033344), color-stop(0.05, #358ab2));
            background: -webkit-linear-gradient(top, #6f98ac, #358ab2 5%, #033344 100%);
            background: -o-linear-gradient(top, #6f98ac, #358ab2 5%, #033344 100%);
            background: -ms-linear-gradient(top, #6f98ac, #358ab2 5%, #033344 100%);
            background: linear-gradient(top, #6f98ac, #358ab2 5%, #033344 100%);
        }

        .button.cancel {
            float: right;
            width: 80px;
            position: relative;
            z-index: 102;
        }
    </style>
{% endblock %}

{% block extra_js_includes %}
    <script src="{% static "js/jquery-ui.js" %}"></script>
    <script src="{% static "js/jquery.form.js" %}"></script>
    <script src="{% static "js/jquery.watermark.min.js" %}"></script>
    <script src="{% static "js/jquery.loadmask.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/jquery-ui.css" %}">
    <link rel="stylesheet" href="{% static "css/jquery.loadmask.css" %}">

    <script>

    var app = (function() {
        var existing_images, products, product_selected, setUpListeners, init;

        existing_images = {};

        products = {
            {% for product in products %}
            '{{ product.id }}': {
                'id': '{{ product.id }}',
                'name': '{{ product.name }}',
                'description': '{{ product.description|escapejs }}',
                'media': [
                    {% for product_media in product.media.all %}
                    {
                        'id': '{{ product_media.id }}',
                        'url': '{{ product_media.get_url }}'
                    }{% if not forloop.last %},{% endif %}
                    {% endfor %}
                ]
            }{% if not forloop.last %},{% endif %}
            {% endfor %}
        };

        product_selected = function (o) {
            var product = products[o.product_id],
                media_id = $("#id_product_media_id").val();

            if (typeof(product) === "undefined") {
                return;
            }

            // clear existing image list
            $("#product_images").html("");

            // display product media
            for (i in product.media) {
                $("#product_images").append(
                    "<li><img data-mid='" + product.media[i].id + "' src='" + product.media[i].url + "'></li>"
                );
            }

            $("#product_images").find("[data-mid='" + media_id  + "']")
                .addClass("selected")

            // set product's proper name
            $("#product_name").val(product.name);

            $("#id_name").val(product.name)

            // set product's description
            $("#id_description").val(product.description);

            // set the id for form submission
            $("#id_product_id").val(product.id);

            $(".product_meta").unmask();
        };

        setUploadStatus = function(color, text, fade) {
            if (typeof(fade) === undefined) {
                fade = false;
            }
            var status = $("#upload_status");
            status.css('color', color);
            status.stop(true, true);
            status.show();
            status.text(text);
            if (fade) {
                status.fadeOut(1000);
            }
        }

        setUpListeners = function () {
            // GENERAL UI
            $("#product_images img").live('click', function() {
                $("#product_images img").removeClass("selected");
                $(this).addClass("selected");

                $("#id_product_media_id").val($(this).data('mid'));
                $("#id_generic_media_id").val("");
            });

            // PRODUCT SEARCH AUTOCOMPLETE
            $("#product_name").autocomplete({
                source: function(request, response) {
                    var term = request.term;
                    $.getJSON("/api/assets/v1/product/", {
                        "format": "json",
                        "name_or_url": term

                    }, function(data) {
                        //convert object to usable form
                        var results = [];
                        $.each(data.objects, function(index, value) {
                            results.push({'label': value.name, 'id': value.id})
                        });
                        response(results);
                    })
                },
                minLength: 2,
                select: function( event, ui ) {
                    if (ui.item) {
                        product_selected({
                            product_id: ui.item.id,
                            human_invoked: true
                        });
                    }
                }
            });
            $("#image_form").ajaxForm({
                url: "{% url ajax-upload-image %}",
                success: function(data) {
                    if (data.success != false) {
                        setUploadStatus('#0F0', 'Done', true);
                        console.log(data);
                        $("#uploaded_image").attr("src", data.url);
                        $("#uploaded_image").load(function() {
                            $("#uploaded_image").slideDown();
                        });
                        $("#id_generic_media_id").val(data.media_id);
                    } else {
                        setUploadStatus('#F00', 'Error: ');
                    }

                }, error: function(data) {
                    setUploadStatus('#F00', 'Error: ');
                }
            });

            $("#select_new_image").click(function() {
                $("#image_form input[type=file]").click();
            });

            $("#image_form input[type=file]").change(function() {
                setUploadStatus('#EE9A00', 'Uploading...');
                $("#image_form").submit();
            });

            // ACCORDION SETUP
            var default_accordion_options = {
                'header': '.accordion-header',
                'heightStyle': 'content',
                'collapsible': true
            };

            var image_options = $.extend(default_accordion_options, {});
            var description_options = $.extend(default_accordion_options, {
                'active': false
            });

            {% if campaign %}
            image_options = $.extend(image_options, {'active': false});
            {% endif %}

            $('#image-selector.accordion').accordion(image_options);
            $('#page_description_content.accordion').accordion(description_options);

            $(".button.preview").click(function(){
                var $form = $("#create_campaign");
                var $campaign_id = $("#id_campaign_id");
                $.ajax({
                    async: false,
                    type: 'POST',
                    data: $form.serialize(),
                    url: window.location.href,
                    success: function(response) {
                        console.log(response);
                        if (response.success) {
                            var url = 'http://' + window.location.host + response.url;
                            window.open(url, "_blank");
                            $campaign_id.val(response.campaign);
                        } else {
                            $form[0].submit();
                        }
                    }
                })
            });
            $(".button.cancel").click(function(){
                var cancel = confirm("Are you sure you want to cancel your " +
                        "changes?")
                if (cancel) {
                    window.location.href = "{% url store-admin store.id %}"
                }
            });
        };

        init = function () {
            $(function() {
                setUpListeners();

                // save existing image settings
                app.existing_images = {
                    "generic": $("#id_generic_media_id").val(),
                    "existing": $("#id_product_media_id").val()
                };

                $(".product_meta").mask();
                $("#product_name").watermark("Your product name")

                // in case we're dealing with errors on submition,
                // ensure we're displaying the product that was selected prior
                product_selected({
                    product_id: $("#id_product_id").val()
                });
            });
        };

        return {
            "init": init
        }
    }());

    app.init();

    </script>
{% endblock %}

{% block document_ready %}

{% endblock %}

{% block top_section %}
    <nav class="grid_3 prefix_9">
        <ul>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <form id="image_form" style="display:none" method="POST" enctype="multipart/form-data">
        <input type="file" id="custom_image" name="image">
    </form>

    <form id="create_campaign" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="product_select">
            <div class="field">
                <label for="product_name">Featured Product:</label>
                <input type="text" id="product_name">
                <span class="helptext">Start typing in the name of a product you want to feature</span>
            </div>
        </div>

        <div class="product_meta">
            <div class="field">
                <label for="id_name">Page Name:</label>
                {{ form.name }}
                {{ form.name.errors }}
                {% if not form.name.errors %}
                    <span class="helptext">Select a name for this page for your reference.</span>
                {% endif  %}
            </div>

            <label for="image-selector">Featured Image:</label>
            {% if campaign %}
                <div class="field existing_image">
                    <div class="current_image">
                        {% with first_image=campaign.content_blocks.all|first %}
                            <img src="{{ first_image.data.get_image.get_url }}">
                        {% endwith %}
                    </div>
                </div>
            {% endif %}
            <div class='accordion' id="image-selector">
                <div class='accordion-header'>
                    Select an image
                </div>
                <div class='accordion-content'>
                    <div class="existing_images_list">
                        <ul id="product_images"></ul>
                    </div>
                </div>
                <div class="accordion-header">
                    Upload a different image
                </div>
                <div class="accordion-content">
                    <button id="select_new_image" type="button">Select Image</button>
                    <span id="upload_status"></span>
                    <img src="" id="uploaded_image" style="display: none">
                    <span class="helptext">Upload a new image if none of the existing ones suit the new page</span>
                </div>
            </div>
            {{ form.non_field_errors }}

            <div class="field">
                {{ form.description.errors }}
                <label for="id_name">Product Description:</label>
                <div>
                    {{ form.description }}
                    <span class="helptext textarea">
                        You can tailor product's
                        description that will appear on the page.</span>
                </div>
            </div>

            <div class="actions">
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                <input class="button submit" type="submit" value="{% if campaign %}Save{% else %}Create{% endif %} Page">
                <input class="button preview" type="button" value="Preview Page">
                <input class="button cancel" type="button" value="Cancel">
            </div>
        </div>
    </form>
{% endblock %}
