{% extends "pinpoint/admin_base.html" %}
{% load staticfiles %}

{% block title %}
    New Page
{% endblock %}

{% block page_title %}
    {{ block.super }}: New Page
{% endblock %}

{% block extra_head %}
    <style type="text/css">
        .block_types {

        }

        .block_type {
            padding-left: 0px;
            margin-left: 5px;
            margin-right: 5px;
            text-align: center;
        }

        .dimmed img {
            opacity: 0.6;
        }

        .disabled {
            display: block;
            color: #9e9e9e;
        }
    </style>
{% endblock %}

{% block extra_js_includes %}
{% endblock %}

{% block document_ready %}

{% endblock %}

{% block top_section %}
    <nav class="grid_3 prefix_9">
        <ul>
            <li class="selected">Pages</li>
            <li>Analytics</li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <h2>Select a product:</h2>
    <div class="grid_12 block_types">
    {% for product in products %}
        {{ product }}
    {% endfor %}
    </div>
{% endblock %}
