$icon-font-path: "/static/light/fonts/";
$ebags-basic-font: Arial, Helvetica, sans-serif;
$ebags-sans-font: "OpenSans", Arial, sans-serif;
$ebags-thumbnail-height: 111px;
$ebags-dark-color: #333;
$ebags-grey-color: #5F5B61;
$ebags-light-grey-color: #F1F1F1;
$ebags-dark-blue: #063a69;
$ebags-sale-color: #900;
$ebags-link-color: #2F6BA1;
$xmas-red-color: #C02E24;
$xmas-green-color: #487343;

@import "lib/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
@import "src/components/landingpage/styles/base.scss";

@font-face {
    font-family: 'OpenSans';
    src: url('/static/light/ebags/landingpage/lite/fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('/static/light/ebags/landingpage/lite/fonts/OpenSans-Regular.eot');
    src: url('/static/light/ebags/landingpage/lite/fonts/OpenSans-Regular.eot') format('embedded-opentype'),
        url('/static/light/ebags/landingpage/lite/fonts/OpenSans-Regular.woff') format('woff'), 
        url('/static/light/ebags/landingpage/lite/fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('/static/light/ebags/landingpage/lite/fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('/static/light/ebags/landingpage/lite/fonts/OpenSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

body {
    background: none;
    font-family: $ebags-basic-font;
}

.container {
    position: relative;
    z-index: 1;
}

.navbar {
    height: auto;
    border: none;
    .header-links-bar {
        height: 24px;
        background-color: $xmas-red-color;
        padding-top: 2px;
        padding-bottom: 2px;
        text-align: center;
        span {
            position: relative;
            top: -19px;
            z-index: 1;
            color: white;
            text-transform: uppercase;
            font-size: 12px;
            font-family: $ebags-sans-font, Arial, sans-serif;
            a {
                text-decoration: none;
            }
        }
    }
    .container {
        position: relative;
        height: 70px;
        margin-bottom: 10px;
        a.logo {
            position: absolute;
            bottom: 0;
            left: 5px;
            img {
                width: 120px;
                height: auto;
                vertical-align: bottom;
                &.mobile {
                    display: none;
                }
            }
            .logoA {
                float: left;
                clear: both;
            }
            .logoB {
                float: right;
                margin-top: 10px;
            }
        }
        #search-bar {
            position: absolute;
            right: 5px;
            bottom: 0;
            line-height: 28px;
            cursor: pointer;
            width: 450px;
            .btn {
                background: $ebags-dark-blue url(
                    '/static/light/ebags/landingpage/lite/images/searchIcon-white.png') no-repeat 10px 8px;
                background-size: 16px 16px;
                width: 40px;
                height: 34px;
            }
        }
    }
}

.sticky-wrapper {
    margin: 5px 0 0 0;
    width: 100%;
}

#category-area {
    table-layout: fixed;
    background-color: #FFF;
    z-index: 2;
    overflow: visible;
    @include no-select;
    background: #eee;
    box-shadow: inset 0 3px 7px -6px #999;
    margin-bottom: 5px;
    text-align: center;
    height: 44px;
    .category-area {
        position:relative;
        z-index: 2;
        background-color: transparent;
        .category {
            display: inline-block;
        }
    }
    #category-closer {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .category {
        border: none;
        background-color: transparent !important;
        padding: 0 3%;
        margin-right: 2px;
        position: relative;
        font-size: 20px;
        line-height: 34px;
        overflow: visible;
        border-top: 3px solid transparent;
        height: 44px;
        width: auto;
        &:hover {
            > .name {
                color: $xmas-red-color;
            }
        }
        &.expanded {
            background-color: #FFF !important;
            box-shadow: 0px 4px 6px rgba(0,0,0,0.3);
            border-top: 3px solid $xmas-red-color;
            > .name {
                text-decoration: none;
            }
        }
        &.selected {
            > .name {
                color: $xmas-red-color;
            }
            .sub-categories {
                .name {
                    color: #000;
                }
                .sub-category.selected {
                    .name {
                        font-weight: 700;
                    }
                }
            }
        }
        &.expanded {
            .sub-categories {
                display: block;
                box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.2);
            }
        }
        img {
            height: $ebags-thumbnail-height;
            width: $ebags-thumbnail-height;
            border-radius: 3px;
            display: none;
        }
        .name {
            display: inline-block;
            padding-top: 11px;
            font-size: 15px;
            line-height: 16px;
            white-space: nowrap;
            @include no-select;
            padding-bottom: 10px;
            font-weight: bold;
            font-family: $ebags-sans-font;
            text-transform: uppercase;
        }
        .name.subcats {
            &:after {
                content: '\25BC';
                position: relative;
                top: -1px;
                left: 1px;
                text-decoration: none;
                display: inline-block;
                font-size: 85%;
            }
        }
        .sub-categories {
            position: absolute;
            display: none;
            left: 0;
            z-index: 1;
            top: 41px;
            .wrap {
                width: 100%;
                background-color: #FFF;
                padding: 10px 10px 20px 10px;
            }
        }
        .sub-categories-section {
            display: table-cell;
        }
        .sub-category, .sub-categories-label {
            display: block;
            text-align: left;
            width: 240px;
        }
        .sub-category {
            padding: 0 0 1px 15px;
            img {
                width: 50px;
                height: 50px;
                margin: 0 12px 0 16px;
            }
            .name {
                display: inline-block;
                text-transform: none;
                font-weight: normal;
            }
            &.selected, &:hover {
                padding-bottom: 0;
                > .name {
                    border-bottom: 1px solid $ebags-dark-color;
                }
            }
        }
        .sub-categories-label {
            font-style: italic;
            font-size: 18px;
            line-height: 20px;
            text-indent: 5px;
            text-transform: none;
        }
        &:first-child {
            .sub-categories {
                left: 0;
                right: auto;
            }
        }
        &:last-child {
            .sub-categories {
                left: auto;
                right: 0;
            }
        }
    }
    &.stuck {
        /* 2px for border */
        margin-top: 0;
        max-width: none;
        .category-area {
            height: auto;
            margin-top: 0;
        }
    }
}

#hero-area {
    .jumbotron {
        position: relative;
        text-align: center;
        height: 100%;
        padding: 0;
        margin-top: 0px;
        margin-bottom: 2px;
        background: none;
        overflow: hidden;
        img {
            border: none;
            position: relative;
            z-index: 1;
        }
        .title {
            position: absolute;
            z-index: 0;
            width: 100%;
            line-height: 104px;
            font-style: italic;
            font-size: 30px;
            font-weight: 300;
            .spaced {
                letter-spacing: 0.05em;
            }
            .for {
                font-style: italic;
                padding: 0 0.2em;
            }
        }
    }
}

.tile {
    padding: 5px;
    width: 33.33%;
    .relative.product-shot {
        border: 4px solid #F1F1F1;
        padding: 6%;
        position: relative;
        ul.label {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            background-color: rgba(255, 255, 255, 0.8);
            list-style-type: none;
            text-align: left;
            padding: 5px 2px 2px 18px;
        }
        li {
            font-weight: normal;
            line-height: 16px;
            font-size: 13px;
            color: $ebags-grey-color;
            font-family: $ebags-sans-font;
            white-space: normal;
        }
        li.brand {
            font-weight: bold;
            margin-bottom: 5px;
        }
        li.name {
            font-weight: 300;
        }
        li.price {
            display: none;
            color: $xmas-red-color;
            font-size: 35px;
            font-weight: 800;
            line-height: 35px;
        }
        div {
            max-height: 100%;
            margin: 0 5%;
            padding-top: 10%;
            image.focus {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
    &.wide {
        width: 66.66%;
        .relative {
            padding: 0;
            ul.label {
                top: 15%;
                left: 50%;
                width: 40%;
            }
            li {
                color: $ebags-dark-color;
                font-size: 20px;
                margin-bottom: 15px;
                line-height: 25px;
            }
            li.brand,
            li.name {
                margin-bottom: 30px;
            }
            li.price {
                display: block;
            }
            div {
                /* width determines height */
                width: calc(50% - 8px); // Subtract border height
                margin: 0 0;
                padding: 3%;
            }
        }
    }
    .overlay {
        padding: 5px;
        z-index: 1;
        .table {
            background: rgba(255,255,255,0.80);
            border: 3px solid $xmas-green-color;
            border-radius: 4px;
            @include no-select;
            margin-bottom: 0px; // overrule base.scss
        }
        .title {
            font-size: 30px;
            font-family: $ebags-sans-font;
            color: $xmas-green-color;
            text-decoration: none;
            font-weight: bold;
        }
        &:hover .name {
            text-decoration: underline;
        }
    }
}
.image-with-tagged-products .caption,
.image-without-tagged-products .caption {
    color: #333333;
    font-size: 21px;
    font-weight: 200;
    span:first-child:after {
        content: '\00bb';
        position: relative;
        font-style: normal;
        top: -1px;
        left: 5px;
    }
    .tile-name {
        display: block;
        padding: 0 15px;
        font-size: 18px;
        font-weight: normal;  
    }
    .tile-price {
        display: block;
        padding: 0 15px;
        font-size: 15px;
        margin-top: 5px;
    }
}
.tile.banner .overlay {
    cursor: pointer;
    .button {
        color: #333333;
        font-size: 18px;
        font-weight: normal;
        text-decoration: none;
        span:first-child:after {
            content: '\00bb';
            position: relative;
            font-style: normal;
            top: -1px;
            left: 5px;
        }
    }
}

.shop-cta,
.similar-cta,
.similar-subtext {
    text-align: center;
}
.shop-cta {
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
    color: $xmas-red-color;
    margin-top: 5px;
}
.similar-cta {
    font-size: 17px;
    line-height: 17px;
    font-weight: bold;
}
.similar-subtext {
    font-size: 14px;
    line-height: 16px;
    font-style: italic;
}
.similar-cta,

.previewContainer {
    .fullscreen {
        top: 0px;
        bottom: 0px;
        &.product {
            .content {
                max-height: 640px;
                border-radius: 0px;
                border: 8px solid $ebags-light-grey-color;
            }
            &.tagged .content {
                max-height: 720px;
            }
        }
    }
    .content {
        padding: 40px 40px 40px !important;
        max-height: 720px;
        height: auto;
        border-radius: 3px;
    }
}
.heroContainer {
    .fullscreen {
        max-height: 760px;
    }
    .content {
        max-height: 100%;
    }
}

.previewContainer,
.heroContainer {
    .cell {
        padding: 0;
    }
    .cell > div,
    .product-info .tagged-product > div {
        margin: 0;
    }
    .mask {
        background: rgba(200, 200, 200, 0.7);
    }
    .fullscreen {
        max-width: 1024px;
        max-height: 760px;
        width: 100%;
        height: 100%;
        .table {
            height: 760px; /* initial height for desktop, fixed later onShow */
            &.square {
                height: 507px;
            }
        }
    }
    .content {
        padding: 0 !important;
        width: 100%;
        max-width: 1024px !important;
        max-height: 100%;
        overflow: hidden;
    }
    .close {
        top: 0;
        right: 0;
        padding: 10px;
        text-shadow: none;
        font-size: 35px;
        font-weight: 200;
        color: #333;
        z-index: 10;
        &:after {
            content: '\2573';
        }
    }
    .gallery img {
        width: 56px;
    }

    .info {
        text-align: left;
        overflow: hidden;
        padding-top: 20px;
    }

    .table {
        max-height: 760px;
    }
    .feature {
        height: 100%;
    }

    .cell {
        display: inline-block;
        float: left;
        vertical-align: top;
        height: 100%;
    }

    .look-product-carousel {
        width: 100%;
        height: 67%;
    }
    .product {
        .info, .product-info, .tagged-product, .main-image-container,
        .main-image, .image {
            width: 100%;
            height: 100%;
        }
        .gallery-main-image {
            padding: 20px;
            position: relative;
            .main-image-container {
                margin: auto;
                .main-image {
                    .image {
                        display: inline-block;
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }
            }
            .gallery-dots {
                margin-top: -10px;
                z-index: 10;
                position: relative;
            }
        }
    }

    .image-with-tagged-products {
        .info {
            width: 36%;
            height: 67%;
            padding: 10px 20px;
            text-align: center;
            &.square,
            &.portrait {
                height: 100%;
            }
            &.portrait .product-info {
                height: 66%;
            }
            .product-info, .tagged-product {
                height: 100%;
                position: relative;
                > div {
                    margin: 0;
                }
            }
            .gallery-main-image {
                display: inline-block;
                position: relative;
                width: 100%;
                height: 60%;
            }
            .main-image-container {
                width: 76%;
                height: 100%;
                margin: auto;
                overflow: hidden;
                position: relative;
                .main-image {
                    width: 100%;
                    height: 100%;
                    white-space: nowrap;
                    font-size: 0;
                    .image {
                        width: 100%;
                        height: 100%;
                        display: inline-block;
                        background-size: cover;
                        background-position: top center;
                        background-repeat: no-repeat;
                    }
                }
            }
            .gallery-dots {
                margin: 3px 0 !important;
                width: 100%;
                font-size: 12px;
                .item {
                    background-color: $ebags-dark-blue;
                    width: 6px;
                    height: 6px;
                    &.selected {
                        background-color: $ebags-grey-color;
                    }
                }
            }
            .product-details {
                padding: 10px 0;
                .brand, .title, .price {
                    font-size: 18px;
                    margin-bottom: 14px;
                    line-height: 25px;
                }
                .description {
                    display: none;
                }
            }
            .brand {
                display: inline;
            }
        }
    }

    .product-details {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        height: auto;
        padding: 10px 20px;
        margin: 0 !important;
        text-align: left;
        .brand, .title, .price {
            font-size: 26px;
            margin-bottom: 20px;
            line-height: 30px;
        }
        .brand, .price {
            font-weight: bold;
        }
        .brand {
            color: $ebags-link-color;
        }
        .title {
            font-family: $ebags-sans-font;
        }
        .price {
            font-weight: bold;
            font-famly: $ebags-basic-font;
            .current {
                font-family: $ebags-sans-font;
                font-weight: 800;
                color: $xmas-red-color;
            }
            .current:before {
                content: "$";
            }
            .suggested-price, .save-percent {
                font-size: 15px;
                font-weight: normal;
            }
            .suggested-price {
                color: #777;
                margin-left: 16px;
                .dollar-amount {
                    text-decoration: line-through;
                }
            }
            .save-percent {
                color: $ebags-dark-color;
            }
        }
        .description {
            overflow: hidden;
            max-height: 66%;
            margin-bottom: 30px;
            font-size: 12px;
            line-height: 22px;
        }
    }

    .buy {
        width: 60%;
        margin: auto !important;
        .button {
            position: relative;
            font-size: 22px;
            font-weight: bold;
            line-height: 35px;
            padding-top: 5px;
            padding-bottom: 5px;
            text-transform: uppercase;
            width: 100%;
            border: 5px solid $xmas-red-color;
            background-color: #FFF;
            color: $xmas-red-color;
            &:hover {
                background-color: $xmas-red-color;
                text-decoration: none;
                color: #FFF;
            }
        }
    }
}

.stl-carousel, .tagged-product {
    .stl-swipe-up, .stl-swipe-down,
    .stl-swipe-left, .stl-swipe-right,
    .gallery-swipe-left, .gallery-swipe-right {
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        border: none;
        position: absolute;
        cursor: pointer;
        z-index: 1;
        background-color: transparent;
        background-size: contain;
        margin: 0;
    }
    .stl-swipe-up, .stl-swipe-down {
        display: none;
        width: 100%;
        height: 10%;
        left: 0;
        background-size: 15%;
        background-position: center 40%;
    }
    .stl-swipe-left, .stl-swipe-right {
        display: none;
        width: 5%;
        height: 100%;
        top: 0;
        background-size: 50%;
        background-position: center 40%;
    }
    .gallery-swipe-left,
    .gallery-swipe-right {
        width: 45px;
        top: 0;
        bottom: 0;
        font-size: 40px;
        font-weight: bold;
        height: 100%;
        color: #333;
        &:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
        span:before,
        span:after {
            display: inline-block;
            vertical-align: middle;
        }
    }
    .stl-swipe-up {
        background-image: url('/static/light/ebags/landingpage/lite/images/up.png');
        top: 0;
    }
    .stl-swipe-down {
        background-image: url('/static/light/ebags/landingpage/lite/images/down.png');
        bottom: 0;
    }
    .stl-swipe-left,
    .gallery-swipe-left {
        left: 0;
        span:after {
            content: "\2329";
        }
    }
    .stl-swipe-right,
    .gallery-swipe-right {
        right: 0;
        span:before {
            content: "\232a";
        }
    }
}

// DESKTOP ONLY
@media screen and (min-width: 992px) {
    .product {
        .info {
            .gallery-main-image {
                width: 60%;
                height: 100%;
                display: inline-block;
            }
            .product-details {
                width: 39%;
                height: auto;
            }
        }
    }
    .look-image-container {
        padding: 0;
        &.square,
        &.portrait {
            width: 49.6%;
            height: 100%;
        }
        &.landscape {
            width: 63%;
            height: 67%;
        }
        .look-image {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
    
    .shop {
        width: 14%;
        max-height: 760px;
        padding: 20px 0 0 0;
        border-right: 5px solid $ebags-light-grey-color;
        text-transform: lowercase;
        .stl-title {
            font-family: "Helvetica-Bold", sans-serif;
            font-size: 14px;
            color: $ebags-dark-blue;
            line-height: 14px;
            max-height: 28px;
            overflow: hidden;
        }
        .product-thumbnails {
            height: 94%;
            .thumbnails-container {
                padding: 10px 0 0;
            }
        }
        .stl-carousel {
            width: 100%;
            height: 100%;
            position: relative;
        }
        .stl-look-container {
            position: absolute;
            top: 0; left: 0; right: 0;
            margin: auto;
            font-family: $ebags-sans-font;
            font-size: 10px;
            line-height: 12px;
            height: 90%;
            overflow: hidden;
        }
        .stl-look {
            width: 100%;
            height: 100%;
            max-width: none;
            overflow: visible;
        }
        .stl-item {
            margin-bottom: 25px;
            width: 100%;
            position: relative;
            &:first-child {
                margin-left: 0 !important;
            }
            img {
                width: 90%;
                height: auto;
                opacity: 1 !important;
                margin: 0 auto;
            }
            span {
                white-space: normal;
            }
        }
    }
    .previewContainer .image-with-tagged-products .one-product {
        .look-image-container {
            height: 100% !important;
        }
        .shop {
            display: none;
        }
        .info {
            float: none;
            height: 100%;
            width: 50%;
        }
    }

    .shop.landscape {
        width: 100%;
        height: 33%;
        padding: 0;
        border-top: 1px solid $ebags-grey-color;
        border-right: none;
        position: absolute;
        bottom: 0;
        left: 0;
        .stl-title {
            margin: 10px 0;
        }
        .product-thumbnails {
            width: 100%;
            height: 100%;
            .thumbnails-container {
                padding: 10px 0;
            }
        }
        .stl-look-container {
            width: 90%;
            height: 100%;
        }
        .stl-look {
            margin: 0;
            white-space: nowrap;
            width: 100%;
            height: 100%;
            text-align: center;
        }
        .stl-item {
            margin: 0 12px 25px;
            height: 85%;
            width: 125px;
            white-space: normal;
            img {
                height: 95%;
                width: auto !important;
                margin: 0 auto;
                object-fit: contain;
            }
        }
    }
}

// MOBILE & TABLET ONLY
@media screen and (max-width: 991px) {
    .tile {
        width: 50%;
        padding: 2px;
        &.wide {
            width: 100%;
            min-height: initial;
        }
    }
    .navbar {
        .container {
            margin-left: 3%;
            margin-right: 3%;
            width: 94%;
        }
    }
}

// MOBILE ONLY
@media screen and (max-width: 768px) {
    .fullscreen, .content, .scrollable, .content
    .preview-container, .template.target, .table,
    .image-with-tagged-products, .image-without-tagged-products {
        width: 100%;
        height: 100%;
    }
    .container {
        padding: 0px;
    }
    .navbar {
        &:before,
        &:after {
            content: none;
        }
        .header-links-bar {
            height: 10px;
            p {
                display: none;
            }
        }
        margin: 0;
        margin-bottom: 1px;
        padding: 0;
        border: none;
        height: 50px;
        min-height: 42px;
        .container {
            position: static;
            height: auto;
            a.logo {
                width: 100%;
                height: 20px;
                margin-bottom: 20px;
                position: static;
                img {
                    position: relative;
                    height: auto;
                    position: static;
                    left: initial;
                    margin-left: auto;
                    margin-right: auto;
                    width: 100px;
                    margin-top: 10px;
                    &.desktop {
                        display: none;
                    }
                    &.mobile {
                        display: block;
                    }
                }
            }
            .header-links-bar,
            #search-bar {
                display: none;
            }
        }
    }
    .sticky-wrapper {
        margin-top: 0;
    }
    #category-area {
        z-index: 5;
        /* overlap above clickable element with a margin to reduce fat finger clicks
        margin: -20px 0 0;
        padding-top: 22px;*/
        overflow: visible;
        .category-area {
            background-color: #FFF;
            width: 100%;
            .category {
                &:hover, &.expanded {
                    border-top: 3px solid transparent;
                    background-color: #FFF !important;
                    box-shadow: 0px 0px 0px transparent;
                    color: $xmas-red-color;
                    .sub-categories {
                        border-top: 3px solid $xmas-red-color;
                        box-shadow: 0px 0px 0 1px rgba(0, 0, 0, 0.2);
                        .sub-category {
                            color: #000;
                            font-weight: bold;
                            &.selected, &:hover {
                                padding-bottom: 0;
                                > .name {
                                    border-bottom: 1px solid transparent;
                                    color: $xmas-red-color;
                                    font-weight: bold;
                                }
                            }
                            .name {
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }
    #hero-area {
        position: relative;
        .visible-xs.jumbotron,
        .visible-sm.jumbotron {
            height: 100%;
            margin-bottom: 1px;
            .category-name {
                line-height: 60px;
                font-size: 30px;
            }
        }
    }
    .tile {
        .relative.product-shot {
            padding: 10% 6% 2% 6%;
            ul {
                li {
                    line-height: 15px;
                    font-size: 12px;
                }
            }
        }
        &.wide {
            .relative.product-shot {
                ul {
                    li {
                        line-height: 15px;
                        font-size: 15px;
                    }
                    li.price {
                        font-size: 25px;
                    }
                }
            }
        }
    }
    .previewContainer,
    .heroContainer {
        .content {
            height: 100%;
        }
        &.landscape {
            height: 100% !important;

            .gallery-swipe-left {
                left: 15% !important;
            }

            .gallery-swipe-right {
                right: 15% !important;
            }

            .look-product-carousel {
                width: 80%;
                height: 100%;
                float: right;
            }

            .cell {
                &.shop {
                    width: 20%;
                    height: 100%;
                    float: left;
                    border-right: 1px solid #000;
                    .stl-look-container {
                        width: 100%;
                        height: 95%;
                        position: absolute;
                        top: 0;
                    }
                    .stl-look {
                        height: 100%;
                        white-space: normal;
                        padding: 0;
                        position: absolute;
                        top: 0;
                        .look-thumbnail, .stl-item {
                            width: 100%;
                            height: 115px;
                            margin-right: 0;
                            margin-bottom: 5px;
                            &:last-child {
                                margin-bottom: 0;
                            }
                            img {
                                width: auto !important;
                                height: 100%;
                                margin: auto;
                            }
                        }
                    }
                }

                &.info, &.look-image {
                    border-bottom: none;
                    display: inline-block;
                    .gallery-image-gallery {
                        width: 60%;
                        height: 90%;
                        margin: 0 auto;
                    }
                    .buy {
                        width: 75%;
                        right: 0;
                        margin: 0 auto !important;
                        a {
                            float: none;
                        }
                    }
                }
            }
        }

        .fullscreen {
            max-height: none;
            max-width: 100%;
            position: fixed;
            .table {
                height: 100% !important;
            }
        }

        .close {
            line-height: 36px;
            text-transform: uppercase;
        }

        .image-with-tagged-products .info {
            width: auto;
        }

        .look-image {
            width: 100%;
            height: auto;
        }

        .stl-title {
            font-family: "HelveticaNeue-Bold", sans-serif;
            font-size: 11px;
            color: $ebags-dark-color;
            line-height: 13px;
        }

        .info .title {
            padding: 0 10px;
        }
        .price .price-wrapper {
            padding: 10px;
        }

        .buy .button {
            padding: 10px 30px;
            font-size: 15px;
            margin-top: 5px;
            &:first-child {
                margin-top: 0;
            }
        }

        .product-info, .tagged-product {
            height: auto;

        }

        .gallery-dots {
            position: absolute;
            bottom: 10px;
            left: 0;
            right: 0;
        }
        .cell {
            &.look-image, &.info {
                border-bottom: 1px solid #000;
            }

            &.look-image-container {
                width: 100%;
                height: 100%;
                padding: 0;

                .look-image {
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    &.full-image {
                        background-size: contain;
                    }
                }
            }

            &.shop {
                width: 100%;
                height: 33%;
                padding: 0;
                .stl-title {
                    margin: 5px 0;
                }
                .product-thumbnails {
                    width: 100%;
                    height: 90%;
                }
                .stl-carousel {
                    width: 100%;
                    height: 100%;
                    position: relative;
                }
                .stl-look-container {
                    width: 80%;
                    height: 100%;
                    overflow: hidden;
                    padding: 0;
                    margin: 0 auto;
                }
                .stl-look {
                    height: 100%;
                    width: 100%;
                    overflow: visible;
                    white-space: nowrap;
                    padding: 0;
                }
                .look-thumbnail, .stl-item {
                    display: inline-block;
                    height: 95%;
                    width: 47%;
                    margin-right: 5px;
                    position: relative;
                    &:last-child {
                        margin-right: 0 !important;
                    }
                    img {
                        width: auto;
                        height: 100%;
                        opacity: 1 !important;
                        margin: auto;
                        object-fit: contain;
                    }
                }
            }

            &.info {
                width: 100%;
                height: 100%;
                padding: 0px;
                text-align: center;
                .product-info, .tagged-product {
                    display: block;
                    position: relative;
                    width: 100%;
                    > div {
                        margin: 0;
                    }
                    .product-details {
                        text-align: left;
                        height: 36px;
                        padding: 5px 20% 5px 5px;
                        .title, .price, .brand, .current, .suggested-price, .save-percent {
                            font-size: 11px;
                            line-height: 12px;
                            padding: 0;
                            height: 12px;
                            overflow: hidden;
                            margin-bottom: 5px;
                        }
                        .brand {
                            display: inline;
                        }
                    }
                    .gallery-main-image {
                        display: block;
                        width: 100%;
                        height: 100%;
                        margin: 0;
                        position: relative;
                        .main-image-container {
                            width: 100%;
                            height: 100%;
                            position: relative;
                            margin: auto;
                            overflow: hidden;
                            padding: 0;
                            .main-image {
                                width: 100%;
                                height: 100%;
                                white-space: nowrap;
                                font-size: 0;
                                .image {
                                    width: 100%;
                                    height: 100%;
                                    display: inline-block;
                                    background-size: cover;
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    background-color: white;
                                }
                            }
                        }
                    }
                    .gallery-dots {
                        position: absolute;
                        font-size: 10px;
                        line-height: normal;
                        height: 15px;
                        bottom: 45px;
                        .item {
                            width: 4px;
                            height: 4px;
                            margin: 0 3px;
                            border: 1px solid $ebags-dark-blue;
                            border-radius: 4px;
                            background-color: #ccc;
                            &.selected {
                                border-color: $ebags-grey-color;
                            }
                        }
                    }
                    .buy {
                        position: absolute;
                        width: 100%;
                        padding: 0;
                        margin-top: 0 !important;
                        bottom: 10px;
                        left: 0;
                        .button {
                            width: 47%;
                            text-transform: lowercase;
                            font-size: 12px;
                            letter-spacing: 0px;
                            line-height: 36px;
                            padding: 0;
                            margin: 0;
                            white-space: normal;
                            &.find-store {
                                float: left;
                            }
                            &.in-store {
                                float: right;
                            }
                        }
                    }
                }
            }
        }
    }
}

// IPHONE PORTRAIT ONLY
@media screen and (max-width: 350px) {
    #category-area {
        .category {
            padding: 0 2%;
        }
    }
}
