.sidebar {
    display: inline-block;
    width: 300;
    vertical-align: top;
}

.sidebar .page-list li {
	font-size: 14;
}

.content-area {
    display: inline-block;
    width: calc(99% - 300px);
}

.header .title {
    font-size: 45;
}

.header .page-info {
	display: inline-block;
}
.page-info .page-name {
	width: 280;
	font-size: 25;
	display: inline-block;
}

.page-info .store-name {
	color: rgb(80,80,80);
}

.content {
    width: 100%;
}
.content .column {
    display: inline-block;
}
.content .csv {
    width: 55%;
    padding-right: 20px;
}
.csv #pseudo-spreadsheet {
    height: 500;
    width: 100%;
    resize: vertical;
}
.content .controls {
    width: calc(44% - 20px);
    vertical-align: top;
}

.options #delimiter {
    font-size: 20;
    width: 30px;
}
.options #create-tiles {
    transform: scale(1.5);
    margin-left: 12;
}
.options #scrape,
.options #prioritize {
    width: 140;
    font-size: 40;
}

.results {
    white-space: pre-wrap;
}

.success {
    color: green;
}

.warning {
    color: red;
}
