
.navbar {
    height: 56px;
    line-height: 56px;
    background-color: #000;
    border-radius: 0;
    color: white;
    margin-bottom: 0;
    white-space: nowrap;
}

.navbar .container {
	height: 100%;
}

.navbar .container img {
    height: 100%;
    vertical-align: top;
}

#hero-area .jumbotron {
    border-radius: 0px;
}

.jumbotron {
    background-repeat: no-repeat;
    width: 1024px;
    height: 300px;  /* adjusts image size */
    border-bottom: 1px silver solid;
    margin: 10px auto 0px auto;
}

.visible-xs.jumbotron, .visible-sm.jumbotron {
    padding: 0;
    height: auto;
    margin-bottom: 5px;
}

.visible-xs.jumbotron img {
    /* set a background image with ratio constraints http://stackoverflow.com/a/12098334/1558430 */
    visibility:  hidden;
    width: 100%;
}

.visible-sm.jumbotron img {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .jumbotron {
        border-bottom: none;
    }
}

#discovery-area {
	width: 960px;
}

.tile {
	margin: 0;
	box-shadow: none;
	color: #000;
	text-align: center;
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
	font-family: "ff-super-grotesk-web", helvetica,arial;
	font-weight: 200;
}

.tile.wide {
	width: 480px;
}

.tile img.focus {
	min-width: 100%;
}

.previewContainer .gallery {
    text-align: center;
    overflow-x: auto;
}

.previewContainer .gallery img {
    margin: 0px 5px;
    max-height: 50px;
    height: auto;
    width: auto;
    border: 1px solid #CECECE;
}
.previewContainer .gallery img.selected {
    border: 1px solid black;
}
