
.navbar {
    background-color: #000;
    margin-top: 56px;
}

.tile {
    color: #000;
    text-align: center;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: subpixel-antialiased;
    text-shadow: none;
    font-family: "ff-super-grotesk-web", helvetica,arial;
    font-weight: 200;
}

#preview-area .previewContainer {
    z-index: 11;
}

.previewContainer {
    box-shadow: none;
    color: #000;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: subpixel-antialiased;
    text-shadow: none;
    font-family: "ff-super-grotesk-web", helvetica,arial;
    font-weight: 200;
}

#hero-area img {
    max-height: none;
}

#preview-area .previewContainer .content {
    padding-top: 43px;
    padding-bottom: 10px;
    box-shadow: 0px 10px 30px 0px #000;
}

.previewContainer .mask {
    background: rgba(0, 0, 0, 0.8);
}

.previewContainer .close {
    left: 0;
    right: inherit;
    color: #FFF;
    background-color: #000;
    padding: 10px 20px;
    font-family: georgia,times,serif;
    font-weight: 200;
    white-space: nowrap;
    text-shadow: none;
}

.previewContainer .gallery,
.previewContainer .gallery-dots {
    white-space: nowrap;
    overflow: auto;
}

.previewContainer .image-with-tagged-products .cell.shop {
    width: 120px;
}

.previewContainer .info {
    text-align: center;
    overflow: hidden;
}
#hero-area .previewContainer .info {
    text-align: center;
    overflow: hidden;
}
.previewContainer .image-with-tagged-products .info {
    width: 270px;
}
.previewContainer .image-with-tagged-products .info.landscape {
    max-width: none;
}

.previewContainer .info .title {
    font-size: 26px;
    line-height: 26px;
}

.previewContainer .info .price {
    font-size: 28px;
    font-style: italic;
    font-family: times,serif;
}
.previewContainer .image-with-tagged-products .info .price,
.previewContainer .image-without-tagged-products .info .price {
    font-size: 25px;
}

.previewContainer .buy .button {
    font-size: 20px;
    padding: 10px 20px;
}

.previewContainer .buy .button div {
    vertical-align: middle;
}

.previewContainer .stl-look .stl-item img {
    width: 72px;
}

.previewContainer .stl-look .stl-item .name {
    width: 100px;
    margin: auto;
    text-align: center;
    font-size: 12px;
    white-space: normal;
}

#hero-area .image-without-tagged-products .main-image {
    max-width: 100%;
}

#hero-area .image-without-tagged-products .cell.info {
    vertical-align: middle;
}

.previewContainer .main-image-container .gallery-swipe-left,
.previewContainer .main-image-container .gallery-swipe-right {
    width: 35px;
    height: 116px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -58px;
    border: none;
}

.previewContainer .main-image-container .gallery-swipe-left {
    background-image: url('/static/pinpoint/themes/nastygal/images/left_arrow_black.png');
}
.previewContainer .main-image-container .gallery-swipe-left:hover {
    background-image: url('/static/pinpoint/themes/nastygal/images/left_arrow_grey.png');
}

.previewContainer .main-image-container .gallery-swipe-right {
    background-image: url('/static/pinpoint/themes/nastygal/images/right_arrow_black.png');
}
.previewContainer .main-image-container .gallery-swipe-right:hover {
    background-image: url('/static/pinpoint/themes/nastygal/images/right_arrow_grey.png');
}

.previewContainer .social-buttons .button {
    margin: 0 5px;
}

.previewContainer .social-buttons .pinterest {
    height: 20px;
}

/* Override facebook button */
.previewContainer .social-buttons .button.facebook {
    background-image: url('/static/pinpoint/themes/nastygal/images/facebook.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    cursor: pointer;
}
.previewContainer .social-buttons .button.facebook .fb_iframe_widget {
    width: 25px;
}
.previewContainer .social-buttons .button.facebook .fb_iframe_widget span {
    width: 25px !important;
}
.previewContainer .social-buttons .button.facebook iframe {
    opacity: 0;
    filter: alpha(opacity=0);
    width: 25px !important;
}
/* End facebook override */

@media screen and (max-width: 768px) {
    .navbar {
        display: none;
    }

    .previewContainer .gallery img {
        display: inline-block;
    }

    .previewContainer .image-with-tagged-products .info,
    .previewContainer .image-without-tagged-products .info {
        max-width: none;
        width: auto;
    }

    #hero-area {
        margin-top: 44px;
    }

    .previewContainer .main-image-container .gallery-swipe-left:hover {
        background-image: url('/static/pinpoint/themes/nastygal/images/left_arrow_black.png');
    }
    .previewContainer .main-image-container .gallery-swipe-right:hover {
        background-image: url('/static/pinpoint/themes/nastygal/images/right_arrow_black.png');
    }
}
