
.navbar {
    background-color: #F5F5F5;
    box-shadow: 0px 2px 5px 3px rgba(0,0,0,0.20);
}

.tile {
    color: #000;
    text-align: center;
    padding: 15px;
}

.previewContainer {
    font-family: georgia, times, serif;
}

.previewContainer .content {
    border: 2px solid #2087cc;
}

.previewContainer .close {
	color: white;
	border-radius: 25px;
	background-color: #2087cc;
	height: 50px;
	width: 50px;
	line-height: 50px;
	right: -25px;
	top: -25px;
	z-index: 1003;
}

.previewContainer .row {
    padding: 10px;
}

.previewContainer .image-with-tagged-products .cell.shop {
    width: 120px;
}

.previewContainer .info {
    text-align: left;
    overflow: hidden;
}
.previewContainer .info.image {
    width: 275px;
}

.previewContainer .info .title {
    font-size: 22px;
    line-height: 22px;
    font-weight: bold;
}

.previewContainer .info .price {
    font-size: 22px;
    color: #2087cc;
    font-weight: bold;
}
.previewContainer .info.image .price {
    font-size: 22px;
}

.previewContainer .buy .button {
    background-color: #2087cc;
    padding: 20px 30px;
    display: block;
    font-weight: bold;
}

.previewContainer .info .description {
    max-height: 150px;
    overflow: auto;
}

.previewContainer .stl-look .stl-item img {
    width: 72px;
}

.previewContainer .stl-look .stl-item .name {
    width: 100px;
    margin: auto;
    text-align: center;
    font-size: 12px;
    white-space: normal;
}

.previewContainer .landscape .stl-look .stl-item {
    width: 100px;
}

.previewContainer .more-info {
    text-align: right;
    padding-right: 20px;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .navbar {
        display: none;
    }

    .previewContainer .close {
        left: 0;
        top: 0;
        right: inherit;
        border-radius: 0;
        width: auto;
        height: auto;
        font-size: 21px;
        line-height: 21px;
        padding: 10px 20px;
    }

    .previewContainer .content {
        padding-top: 43px;
    }

    .previewContainer .gallery img {
        display: inline-block;
    }

    .previewContainer .info {
        text-align: left;
        max-width: none;
    }

    .previewContainer .info.image {
        width: auto;
    }

    .previewContainer .info .buy {
        text-align: center;
    }

    .previewContainer .info .buy .button {
        display: inline-block;
        min-width: 280px;
    }
}
