#!/bin/bash -ex
exec > >(tee /var/log/user-data.log|logger -t user-data -s 2>/dev/console) 2>&1
echo BEGIN
date '+%Y-%m-%d %H:%M:%S'

# NOTE: this file is not copied to running instances!
# setup the below environment variables and set on AMI's
# within AWS Console

APP_ENVIRONMENT={{app_environment}}
GIT_BRANCH={{git_branch}}
PLAYBOOK_REPO_FILE=webservers.yml
TAGS=deploy
CHECKOUT_FOLDER={{secondfunnel_directory}}/userdata_checkout
GIT_REPO=git@github.com:Willet/SecondFunnel.git
DEPLOY_KEY={{secondfunnel_directory}}/willet_deploy_key_id_rsa
INVENTORY_FILE={{secondfunnel_directory}}/ansible_userscript_inventory

# Set environment var PARAM1
# This is a legacy AWS EBS variable that controls some dependency loading
# TODO: rename PARAM1
if [ $APP_ENVIRONMENT -eq "production" ]
then
  export PARAM1="PRODUCTION"
elif [ $APP_ENVIRONMENT -eq "stage" ]
then
  export PARAM1="TEST"
else
  export PARAM1="DEV"
fi

#
# Verify that github is setup as a valid host verified (always)
#

# verify we have a host-key file
mkdir -p ~/.ssh
touch ~/.ssh/known_hosts

# remove and add github to known hosts for running user
ssh-keygen -R github.om
ssh-keyscan -t rsa github.com >> ~/.ssh/known_hosts

#
# Setup authentication for github using the deploy key
#

# start the ssh-agent, and set it up in the current shell
eval `ssh-agent`

# add the deploy key to the running ssh-agent
ssh-add $DEPLOY_KEY

#
# Build Ansible Inventory File for the current machine
#

# create ansible inventory file for deployment
echo -e "localhost ansible_connection=local\n" > $INVENTORY_FILE
echo -e "[$APP_ENVIRONMENT]\nlocalhost\n" >> $INVENTORY_FILE
echo -e "[webservers]\nlocalhost\n" >> $INVENTORY_FILE
echo -e "[autoscale]\nlocalhost\n" >> $INVENTORY_FILE

#
# Run the actual deployment
#

# git clone the code repository (for ansible playbooks),
# and then run the ansible playbook against the inventory made for localhost
cd {{secondfunnel_directory}}
git clone --branch $GIT_BRANCH --single-branch --depth 1 $GIT_REPO $CHECKOUT_FOLDER
cd $CHECKOUT_FOLDER
chmod -R a+rX $CHECKOUT_FOLDER $INVENTORY_FILE
chown -R willet:willet $CHECKOUT_FOLDER $INVENTORY_FILE
cd ansible
sudo -H -u willet /usr/bin/zsh -c "ansible-playbook -i $INVENTORY_FILE -e app_environment=$APP_ENVIRONMENT $PLAYBOOK_REPO_FILE -t $TAGS"
cd {{secondfunnel_directory}}

# cleanup
rm -rf $CHECKOUT_FOLDER $INVENTORY_FILE
echo END
