{% extends "analytics/base_embed.html" %}

{% load staticfiles %}

{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/analytics_style.css" %}">
{% endblock %}

{% block content %}
    <div class="grid_12">
        <div class="grid_2 alpha campaign_menu">
            <ul id="campaign_list">
                <li id="overview"><strong>Overview</strong></li>
            </ul>
        </div>

        <div class="grid_9 omega campaign_analytics">
            <div class="grid_9">
                <h2 id="analytics_title">Overview</h2>

                <ul>
                    <li><span class="highlight">Visitors (<span id="visitors_count">&hellip;</span>)</span></li>
                    <li>
                        <ul>
                            <li class="angled"><span class="highlight" id="visitors_to_interaction">&hellip;</span> <span class="dimmed">(<span id="interaction_count">&hellip;</span>)</span> Interacted</li>
                            <li>
                                <ul>
                                    <li class="angled"><span class="highlight" id="social_shares_perc">&hellip;</span> <span class="dimmed">(<span id="social_shares_count">&hellip;</span>)</span> Social Shares</li>
                                    <li>
                                        <ul>
                                            <li class="angled"><span class="highlight" id="shared_featured_perc">&hellip;</span> <span class="dimmed">(<span id="shared_featured_count">&hellip;</span>)</span> Shared Featured</li>
                                            <li class="angled"><span class="highlight" id="shared_popup_perc">&hellip;</span> <span class="dimmed">(<span id="shared_popup_count">&hellip;</span>)</span> Shared Popup</li>
                                        </ul>
                                    </li>
                                    <li class="angled"><span class="highlight" id="open_popup_perc">&hellip;</span> <span class="dimmed">(<span id="open_popup_count">&hellip;</span>)</span> Previewed Product</li>
                                    <li class="angled"><span class="highlight" id="clickthrough_perc">&hellip;</span> <span class="dimmed">(<span id="clickthrough_count">&hellip;</span>)</span> Clicked "Buy Now"</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="grid_9">
                <div id="analytics_chart" style="border: 1px solid #545454; width: 600px; height: 320px;"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <!-- <script src="{% static "js/easyXDM/master/src/easyXDM.debug.js" %}"></script> -->

    <script type="text/javascript">
        var pages = ["Demo Product 1", "Another Demo"], current_analytics_app = "overview", external_control = true;

        // var rpc = new easyXDM.Rpc({
        //     remote: "http://test.secondfunnel-website.appspot.com/pinAdmin?url="
        // },
        // {
        //     local: {},
        //     remote: {
        //         get_page_list: function(successFn, errorFn) {},
        //         get_current_analytics_app: function(successFn, errorFn) {}
        //     }
        // });

        function set_percentage(id, perc) {
            $("#" + id).html(perc.toFixed(2) + "%");
        }

        function loadAnalyticsData() {
            $.getJSON("{% url ajax-analytics-overview %}", {app_slug: "my-app"}, function(analytics_data) {
                var dataset = [['Year', 'Visits', 'Interactions']],
                i, google_data, google_options, chart, social_shares_count;

                $("#visitors_count").html(analytics_data.visits);
                $("#interaction_count").html(analytics_data.interactions.total);

                social_shares_count = analytics_data.interactions.shares.featured + analytics_data.interactions.shares.popup;
                $("#social_shares_count").html(social_shares_count);
                $("#shared_featured_count").html(analytics_data.interactions.shares.featured);
                $("#shared_popup_count").html(analytics_data.interactions.shares.popup);
                $("#open_popup_count").html(analytics_data.interactions.popup);
                $("#clickthrough_count").html(analytics_data.interactions.clickthrough);

                set_percentage("visitors_to_interaction", analytics_data.interactions.total / analytics_data.visits * 100);
                set_percentage("social_shares_perc", social_shares_count / analytics_data.interactions.total * 100);
                set_percentage("shared_featured_perc", analytics_data.interactions.shares.featured / social_shares_count * 100);
                set_percentage("shared_popup_perc", analytics_data.interactions.shares.popup / social_shares_count * 100);
                set_percentage("open_popup_perc", analytics_data.interactions.popup / analytics_data.interactions.total * 100);
                set_percentage("clickthrough_perc", analytics_data.interactions.clickthrough / analytics_data.interactions.total * 100);

                for (var i in analytics_data.daily) {
                    dataset.push([analytics_data.daily[i].date, analytics_data.daily[i].visits, analytics_data.daily[i].interactions.total]);
                }

                google_data = google.visualization.arrayToDataTable(dataset);

                google_options = {
                    title: 'Traffic Overview',
                    legend: {'position': 'bottom', 'fontSize': 16},
                    backgroundColor: "#e9e9e9",
                    chartArea: {width: '87%'},
                    colors: ["#8E9E82", "#607890"]
                    // theme: "maximized"
                };

                chart = new google.visualization.LineChart(document.getElementById('analytics_chart'));
                chart.draw(google_data, google_options);
            });
        }

        var states = {
                'overview': {
                    'fn': function (o) {
                        $("#analytics_title").html("Overview");
                        current_analytics_app = 'overview';
                        loadAnalyticsData();
                    },
                    'last_used_state_data': {},
                    'transitions': {
                        'internal_select': {
                            'new_state': 'page',
                            'fn': function (o) {},
                        },
                        'external_select': {
                            'new_state': 'page',
                            'fn': function (o) {}
                        }
                    }
                },
                'page': {
                    'fn': function (o) {
                        $("#analytics_title").html("Page Performance");
                        current_analytics_app = o.analytics_app;
                        loadAnalyticsData();
                    },
                    'last_used_state_data': {},
                    'transitions': {
                        'internal_select': {
                            'new_state': 'page',
                            'fn': function (o) {}
                        },
                        'external_select': {
                            'new_state': 'page',
                            'fn': function (o) {}
                        },
                        'overview': {
                            'new_state': 'overview',
                            'fn': function (o) {}
                        }
                    }
                }
            },

            current_state = 'overview',

            state_transition = function (transition, data) {
                var state = states[current_state];

                // check if this is a valid transition
                if (!(transition in state.transitions)) {
                    return;
                }

                try {
                    var new_state = states[state.transitions[transition].new_state];
                    new_state.fn(data || undefined);
                    state.transitions[transition].fn(data || undefined);

                    current_state = state.transitions[transition].new_state;
                    new_state.last_used_state_data = data;

                } catch (e) {
                    // abort the transition, revert to the current state
                    state.fn(state.last_used_state_data);
                }
            };

        // window.setInterval(function() {
        //     rpc.get_current_analytics_app(function(response) {
        //         state_transition(response.split("|")[0], {
        //             'analytics_app': response.split("|")[1]
        //         });
        //     }, function(errorObj){});
        // }, 2000);

        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(function () {
            loadAnalyticsData();
        });

        $(function() {
            // rpc.get_page_list(function(response) {
            //     if (typeof(response) === "undefined") {
            //         return;
            //     }

            //     for (i in response) {
            //         $("#campaign_list").append("<li id='" + response[i] + "'>" + response[i] + "</li>");
            //     }

            //     }, function(errorObj) {
            // });

            for (i in pages) {
                $("#campaign_list").append("<li id='" + pages[i] + "'>" + pages[i] + "</li>");
            }

            $("#campaign_list li").live("click", function() {
                if ($(this).attr("id") == "overview") {
                    state_transition("overview", {
                        'analytics_app': "overview"
                    });

                } else {

                    state_transition("internal_select", {
                        'analytics_app': $(this).html()
                    });
                }

                $("#campaign_list li").removeClass("selectedPage");
                $(this).addClass("selectedPage");
            });
        });
    </script>
{% endblock %}
