
body {
    background-color: #CBC8C1;
}

.navbar {
    text-align: center;
    height: 84px;
}

.navbar .container {
    position: relative;
}

.navbar .container .line {
    left: 0;
    right: 0;
    top: 50%;
    position: absolute;
    border-bottom: 1px solid #CCC;
    z-index: -1;
}

.navbar .container img {
    padding: 0 20px;
    background-color: white;
}

.tile {
    color: #000;
    text-align: center;
    padding: 10px;
    font-family: 'ITC Souvenir W01 Light', times new roman, sans;
}

#discovery-area {
    width: 960px;
}

.price .strike {
    margin-right: 4px;
}

.previewContainer {
    font-family: 'ITC Souvenir W01 Light', times new roman, sans;
    text-transform: uppercase;
}

.previewContainer .table {
    display: table;
    table-layout: fixed;
    margin-bottom: 0;
}

.previewContainer .row {
    display: table-row;
    width: 100%;
}
.previewContainer .row:before,
.previewContainer .row:after {
    content: none;
    margin: 0;
}

.previewContainer .content {
    padding-top: 60px;
    padding-bottom: 10px;
    border: none;
    max-width: 900px;
}

.previewContainer .close {
    position: absolute;
    left: 5px;
    top: 5px;
    right: inherit;
    z-index: 1;
    opacity: 1;
    filter: alpha(opacity=100);
    color: #000;
    background-color: #FFF;
    padding: 10px 20px;
    border: 1px solid #DDD;
    text-decoration: underline;
}

.previewContainer .gallery {
    text-align: center;
}

.previewContainer .gallery img {
    margin: 5px 0;
    width: 82px;
    opacity: 0.4;
    filter: alpha(opacity=40);
    cursor: pointer;
}
.previewContainer .gallery img.selected {
    opacity: 1;
    filter: alpha(opacity=100);
    cursor: default;
}

.previewContainer .info {
    text-align: left;
    padding-left: 25px;
    padding-right: 10px;
    overflow: hidden;
    max-width: 500px;
}
.previewContainer .info.image {
    max-width: 320px;
}

.previewContainer .info .title {
    font-size: 22px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 5px;
}

.previewContainer .info .price {
    margin-bottom: 10px;
}

.previewContainer .info .buy {
    margin-top: 5px;
    text-align: center;
}

.previewContainer .info .buy .button {
    font-size: 22px;
    color: #FFF;
    background-color: #696969;
    text-decoration: none;
    padding: 5px 30px;
    display: inline-block;
    margin-bottom: 15px;
    white-space: nowrap;
    text-align: center;
    font-weight: bold;
    min-width: 250px;
}

.previewContainer .info .buy .button:hover {
    text-decoration: none;
}

.previewContainer .stl-title {
    text-align: center;
    font-size: 18px;
}

.previewContainer .stl-look {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: none;
    white-space: normal;
    padding-bottom: 0;
    width: 120px;
    display: block;
}

.previewContainer .stl-look .stl-item img {
    display: block;
    width: 100px;
    max-width: none;
    max-height: none;
    height: auto;
    margin: 5px auto;
    opacity: 0.4;
    filter: alpha(opacity=40);
    cursor: pointer;
}

.previewContainer .stl-look .stl-item.selected img {
    opacity: 1;
    filter: alpha(opacity=100);
    cursor: default;
}

.previewContainer .stl-look .stl-item .name {
    width: 100px;
    margin: auto;
    text-align: center;
    font-size: 12px;
    white-space: normal;
    text-transform: none;
}

.previewContainer .landscape .stl-title {
    margin-top: 10px;
}

.previewContainer .landscape .stl-look {
    margin: auto;
    white-space: nowrap;
    width: auto;
    text-align: center;
    max-width: 723px;
    overflow-x: auto;
    overflow-y: hidden;
}

.previewContainer .landscape .stl-look .stl-item {
    display: inline-block;
    width: 150px;
    vertical-align: top;
}

.previewContainer .main-image-container {
    position: relative;
    text-align: center;
}

.previewContainer .main-image-container .gallery-swipe-left,
.previewContainer .main-image-container .gallery-swipe-right {
    width: 0px;
    height: 0px;
    background-color: transparent;
    border-top: 22.5px solid transparent;
    border-bottom: 22.5px solid transparent;
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -22px;
    z-index: 1;
}


.previewContainer .main-image-container .gallery-swipe-left.grey,
.previewContainer .main-image-container .gallery-swipe-right.grey {
    display: none;
}

.previewContainer .main-image-container .gallery-swipe-left {
    border-right: 25px solid #000;
    left: 5px;
}
.previewContainer .main-image-container .gallery-swipe-left:hover {
    border-right-color: #7D7D7D;
}

.previewContainer .main-image-container .gallery-swipe-right {
    border-left: 25px solid #000;
    right: 5px;
}
.previewContainer .main-image-container .gallery-swipe-right:hover {
    border-left-color: #7D7D7D;
}

.previewContainer .more-info {
    text-align: right;
    padding-right: 20px;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
}

.previewContainer .more-info .down-arrow {
    width: 0px;
    height: 0px;
    background-color: transparent;
    border-left: 10.5px solid transparent;
    border-right: 10.5px solid transparent;
    border-top: 15px solid #000;
    display: inline-block;
}

.previewContainer .roots-logo {
    position: absolute;
    top: 5px;
    left: 280px;
    width: 340px;
    height: 43px;
}

.previewContainer .roots-logo .line {
    left: 0;
    right: 0;
    top: 50%;
    position: absolute;
    border-bottom: 1px solid #CCC;
    z-index: -1;
}

.previewContainer .roots-logo img {
    padding: 0 20px;
    background-color: white;
    height: 100%;
}

@media screen and (max-width: 768px) {
    .navbar {
        display: none;
    }

    .jumbotron {
        margin-top: 0;
        border-bottom: none;
    }

    .previewContainer .content {
        padding: 0;
        padding-top: 53px;
        height: 100%;
    }

    .previewContainer .row {
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .previewContainer .cell {
        display: block;
        max-width: 100%;
        text-align: center;
    }

    .previewContainer .gallery img {
        display: inline-block;
    }

    .previewContainer .info {
        text-align: left;
        max-width: none;
    }

    .previewContainer .info.image {
        max-width: none;
    }

    .previewContainer .info .title {
        margin-top: 5px;
    }

    .previewContainer .info .buy {
        text-align: center;
    }

    .previewContainer .info .buy .button {
        display: inline-block;
        min-width: 280px;
    }

    .previewContainer .stl-look,
    .previewContainer .landscape .stl-look {
        white-space: normal;
        width: 100%;
        margin: auto;
        text-align: center;
    }

    .previewContainer .stl-look .stl-item,
    .previewContainer .landscape .stl-look .stl-item {
        display: inline-block;
        width: 135px;
        vertical-align: top;
    }

    /* Changing hover on mobile doesn't work very well */
    .previewContainer .main-image-container .gallery-swipe-left:hover {
        border-right-color: #000;
    }
    .previewContainer .main-image-container .gallery-swipe-right:hover {
        border-left-color: #000;
    }

    .previewContainer .roots-logo {
        display: none;
    }

    .desktop-only {
        display: none !important;
    }
}

@media screen and (min-width: 769px) {
    .mobile-only {
        display: none !important;
    }
}
