<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

    <head>
        <title> About Us </title>
        <link href="css/secondFunnelStyles.css" rel="stylesheet" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
        <!--[if IE]>
        <link href="css/secondFunnelStylesIE.css" rel="stylesheet" type="text/css">
        <![endif]-->
        
        <!-- Typekit fonts -->
        <script type="text/javascript" src="//use.typekit.net/dnu4mxt.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        
        
        <!-- *** To include the typekit fonts, uncomment the below link: *** -->

        <link href="css/typekit.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        
        <div class="banner">
            <div class="body">
                <a href="index.html">
                	<img class="title" src="imgs/logo.png">
                </a>
                
                <div class="nav">
                    <ul>
                        <li><a href="why.html">Why Second Funnel?</a></li>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
                <div class="banner arrow bottom">
                </div>
                <div class="banner arrow top">
                </div>
            </div>
        </div>
        
        <div class="about area one"> 
            <div class="body">
                <div class="text">
                    <h2> About Us </h2> <br>
                    <p> 
                        Our mission is to optimize the eCommerce funnel around 
                        the social web, turning browsers into shoppers.
                    </p>
                    <p>
                    	Until now, eCommerce has been optimized for shoppers: people 
                    	arriving from search engines with the intent to buy. 
                    	But social media has created a shift in consumer behavior. 
                    	People now spend 25% of their time online on social networks. 
                    	The discovery-driven nature of social networking means social 
                    	traffic arrives at eCommerce sites without intent to buy. 
                    	As a result, this traffic buys 6x less often compared to 
                    	traffic arriving from other sources.
                    </p>
                    <p>
                    	Second Funnel is a social marketing automation platform for 
                    	online retailers. It identifies hidden purchase intentions in 
                    	store visitors, and engages with them on the social network of 
                    	their choice to close the sale.
                    </p>
                </div>
            </div>
        </div>
        

        
        <div class="bottom area">
            <div class="body">   
                <div class="nav">
                    <ul>
                        <li><a href="why.html">Why Second Funnel?</a></li>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
                <div class="copyright">
                    <span>&copy; 2012 Willet, Inc. All rights reserved.</span>
                </div>
            </div>
        </div>
        
    </body>

</html>