<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

    <head>
        <title> Second Funnel </title>
        <link href="css/secondFunnelStyles.css" rel="stylesheet" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
        <!--[if IE]>
        <link href="css/secondFunnelStylesIE.css" rel="stylesheet" type="text/css">
        <![endif]-->
        
        <!-- Typekit fonts -->
        <script type="text/javascript" src="//use.typekit.net/dnu4mxt.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        
        
        <!-- *** To include the typekit fonts, uncomment the below link: *** -->

        <link href="css/typekit.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        
        <div class="banner">
            <div class="body">
                <a href="index.html">
                	<img class="title" src="imgs/logo.png">
                </a>
                
                <div class="nav">
                    <ul>
                        <li><a href="why.html">Why Second Funnel?</a></li>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
                <div class="banner arrow bottom">
                </div>
                <div class="banner arrow top">
                </div>
            </div>
        </div>
        
        <div class="area one"> 
            <div class="body">
                <div class="text">
                    <h2> Turn social visitors into paying customers.</h2> <br>
                    <p> 
                        A social marketing tool for online retailers, Second Funnel
                        is the easiest way to turn social browsers into shoppers.
                    </p>
                    <span class="getStarted"><a href="contact.html">Get Started</a></span>
                </div>
                <img src="imgs/mac-video.png">
            </div>
        </div>
        
        <div class="area two">
            <div class="body">
                <div class="area 1 arrow">
                </div>
                <div class="text">
                    <h2> Guide engagement from Facebook to purchase. </h2> <br>
                    <p>
                        You got them in the door with wonderful content and dazzling engagement.
                        Don't wave goodbye now.
                        Be there every step of the way, guiding visitors from social
                        discovery to purchase.
                    </p> <br>
                </div>
                
                <img src="imgs/second-funnel-cycle.png">
            </div>
        </div>
        
        <div class="area three">
            <div class="body">
                <div class="area two arrow">
                </div>
                <div class="text">
                    <h2> Eliminate dead-ends. Continue product discovery. </h2> <br>
                    <p>
                        Keep the simple flow of social feeds with discovery-driven
                        product pages.
                        Automatically generated and fully branded.
                        No tech team required.
                    </p> <br>
                </div>
                
                <img src="imgs/social-to-pinpoint.png">
            </div>
        </div>
        
        <div class="area four">
            <div class="body">
                <div class="area three arrow">
                </div>
                <div class="text">
                    <h2> Learn what browsers are interested in buying. </h2> <br>
                    <p>
                        More than a pretty (inter)face.
                        User actions uncover hidden purchase intentions, and relevant
                        products are dynamically displayed.
                        All in real-time.
                    </p>
                </div>
                
                <img src="imgs/discover-interests.png">
            </div>
        </div>
        
        <div class="area five">
            <div class="body">
                <div class="area four arrow">
                </div>
                <div class="text">
                    <h2> Start conversations that lead to a sale. </h2> <br>
                    <p>
                        Did you know 90% of eCommerce leads go cold within one hour?<sup>*</sup>
                        Automatically follow up on social channels. 
                        Lightweight and relevant, these interactions bring visitors back.
                        <a href="http://seewhy.com/blog/2011/02/04/cart-abandoners-spend-155-more/">
                            (MIT study via SeeWhy)</a>
                    </p>
                </div>
                
                <img src="imgs/conversations.png">
            </div>
        </div>
        
        <div class="area six">
            <div class="body">
                <div class="area five arrow">
                </div>
                <div class="text">
                    <h2> Built for mobile. </h2> <br>
                    <p>
                        Highly visual, and easy to browse. 
                        Every interaction is mobile optimized.
                    </p>
                </div>
                
                <img src="imgs/mobile.png">
            </div>
        </div>
        
        <div class="area seven">
            <div class="body">
                <div class="area six arrow">
                </div>
                <div class="text">
                    <h2> No tech team required. </h2> <br>
                    <p>
                        An end-to-end, always-on solution that turns browsers into shoppers -- from landing pages to lead nurturing. All without any coding or platform integration. 
                    </p>
                    
                    <div>
                        <span class="getStarted">
                            <a href="contact.html">Get Started</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="bottom area">
            <div class="body">
                    
                <div class="nav">
                    <ul>
                        <li><a href="why.html">Why Second Funnel?</a></li>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
                <div class="copyright">
                    <span>&copy; 2012 Willet, Inc. All rights reserved.</span>
                </div>
            </div>
        </div>
        
    </body>

</html>