
body {
    background: #F5F5E5;
}

body > .container {
    -webkit-box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.75);
}

#hero-area {
    margin-bottom: -6px;
    margin-top: -10px;
}

#discovery-area {
    background-color: #000;
}

.navbar {
    background-color: #F5F5E5;
}

.tile {
    width: 256px;
    background-color: #000;
    padding: 10px;
}

.tile.wide {
    width: 512px;
}

.tile.youtube {
    height: 280px;
}

.tile.youtube .thumbnail {
    border: none;
}

.previewContainer .close {
	padding: 6px;
}

.previewContainer .cell.image-cell {
    vertical-align: middle;
}

.previewContainer .info .title {
    font-size: 26px;
    text-align: left;
 }

 .previewContainer .image-without-tagged-products .info .title {
    text-align: center;
 }

 .previewContainer .info .price {
    text-align: left;
    font-size: 24px;
    color: red;
 }

.previewContainer .buy .button {
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 19px;
}

.previewContainer .buy .button.lenovo {
    background-color: #dc291e;
}

.previewContainer .buy .button.newegg {
    position: relative;
    padding-right: 30px;
    margin-top: 5px;
    color: #542F05;
    background-color: #FFC942;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(.10, #ffc842),color-stop(1, #f48717));
    background-image: -o-linear-gradient(bottom, #FFC942 10%, #F48517 100%);
    background-image: -moz-linear-gradient(bottom, #FFC942 10%, #F48517 100%);
    background-image: -webkit-linear-gradient(bottom, #FFC942 10%, #F48517 100%);
    background-image: -ms-linear-gradient(bottom, #FFC942 10%, #F48517 100%);
    background-image: linear-gradient(to bottom, #FFC942 10%, #F48517 100%);
}

.previewContainer .buy .button.newegg .arrow {
    top: 50%;
    right: 11px;
    position: absolute;
    cursor: pointer;
    z-index: 1;
    width: 0px;
    height: 0px;
    background-color: transparent;
    border-top: 5.5px solid transparent;
    border-bottom: 5.5px solid transparent;
    border-left: 10px solid #542F05;
    margin-top: -5px;
}

.tile.image .overlay {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.25s ease-in-out;
    -moz-transition: opactiy 0.25s ease-in-out;
    -ms-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
    background: rgba(255,255,255,0.60);
    text-align: center;
    position: absolute;
    color: #000;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    font-size: 18px;
}

.tile.image:hover .overlay {
    cursor: pointer;
    opacity: 1;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF,endColorstr=#99FFFFFF);
}
/* Don't use filter for IE9 + */
.tile.image:hover .overlay:nth-child(n) {
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
    filter: none;
}

.tile.image .overlay .table {
    display: table;
    width: 100%;
    height: 100%;
}

.tile.image .overlay .table .cell {
    display: table-cell;
    vertical-align: middle;
}

@media screen and (max-width: 768px) {
    .previewContainer .content {
        padding-top: 18px;
    }
}
