$header-height: 81px;
$header-margin-top: 0;
$header-margin-bottom: 32px;
$sidebar-width: 192px;
$sidebar-margin: 39px;

@font-face {
    font-family: "CirceWeb-Regular";
    src: url("/static/light/dotandbo/landingpage/default/fonts/CirceWeb-Regular.ttf") format('truetype'),
         url("/static/light/dotandbo/landingpage/default/fonts/CirceWeb-Regular.woff") format('woff');
}

@font-face {
    font-family: "URWBaskerT";
    src: url("/static/light/dotandbo/landingpage/default/fonts/URWBaskerville.ttf") format('truetype'),
         url("/static/light/dotandbo/landingpage/default/fonts/URWBaskerville.woff") format('woff');
}

body {
    background-image: none;
    max-width: 1152px;
    margin: auto;
}

#apartment-therapy-header,
#apartment-therapy-sidebar {
    font-family: "CirceWeb-Regular", "Helvetica Neue", Helvetica, Arial, "Roboto", sans-serif;
}

#apartment-therapy-header {
    height: $header-height;
    margin-top: $header-margin-top;
    margin-bottom: $header-margin-bottom;
    padding: 16px 32px 0 32px;
    border-bottom: 1px solid #DDDDD3;
    line-height: 65px;
    white-space: nowrap;
    position: relative;

    .logo {
        height: 46px;
        margin-right: 60px;
    }

    .menu-bar {
        font-size: 15px;
        text-transform: uppercase;
        line-height: 15px;
        vertical-align: bottom;
        margin-bottom: 13px;

        a {
            margin-right: 16px;
        }
        a:last-child {
            margin-right: 0;
            color: #ee2737;
        }
        a:hover {
            text-decoration: none;
            color: #ba0c2f;    
        }
    }

    .social-area {
        position: absolute;
        right: 16px;
        top: 2px;

        a {
            display: inline-block;
            padding: 3px;
        }
        a .icon {
            height: 14px;
            width: 14px;
            background-position: bottom center;
            background-size: cover;
        }
        a:hover .icon {
            background-position: top center;
        }

        a.facebook .icon {
            background-image: url('/static/light/dotandbo/landingpage/default/images/facebook.png');
        }
        a.pinterest .icon {
            background-image: url('/static/light/dotandbo/landingpage/default/images/pinterest.png');
        }
        a.twitter .icon {
            background-image: url('/static/light/dotandbo/landingpage/default/images/twitter.png');
        }
        a.instagram .icon {
            background-image: url('/static/light/dotandbo/landingpage/default/images/instagram.png');
        }
        a.tumblr .icon {
            background-image: url('/static/light/dotandbo/landingpage/default/images/tumblr.png');
        }
        a.rss .icon {
            background-image: url('/static/light/dotandbo/landingpage/default/images/rss.png');
        }
        a.plus .icon {
            background-image: url('/static/light/dotandbo/landingpage/default/images/plus.png');
        }
    }
}

#apartment-therapy-sidebar {
    position: absolute;
    top: $header-height + $header-margin-top + $header-margin-bottom;
    left: 0;
    bottom: 0;
    width: $sidebar-width;
    padding-right: 24px;
    padding-left: 32px;
    border-right: 1px solid #DDDDD3;
    font-size: 13px;
    line-height: 17px;

    .title {
        color: #666;
        border-bottom: 1px solid #666;
        text-transform: uppercase;
        margin-bottom: 14px;
    }

    a {
        display: block;
        height: 20px;
        color: #000;
    }
    a:hover {
        text-decoration: none;
        color: #666;
    }

    a.red {
        color: #EE2737;
    }
    a.red:hover {
        color: #ba0c2f;
    }
}

#page-content {
    padding-left: $sidebar-width + $sidebar-margin;
    width: 100%;

    .navbar {
        font-family: "URWBaskerT", Georgia, Times, "Times New Roman", "DroidSerif", serif;
        font-style: normal;
        font-size: 36px;
        color: #000;
    }
    .navbar:hover {
        color: #666;
    }
}

#page-content > .container {
    width: auto;
}

@media screen and (max-width: 768px + $sidebar-margin * 3) {
    #apartment-therapy-header {
        .menu-bar {
            display: none;
        }

        .social-area {
            display: none;
        }
    }

    #apartment-therapy-sidebar {
        display: none;
    }

    #page-content {
        padding-left: 0;
    }
}

// Fucking bootstrap
@media screen and (min-width: 768px) {
    .container {
        width: auto;
    }
}
