@import "lib/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
@import "src/components/landingpage/styles/base.scss";

body {
    font-family: Georgia,"Times New Roman",Times,serif;
    text-rendering: optimizelegibility;
}

.navbar {
    max-width: 1024px;
    margin: auto;
    text-align: center;
    font-size: 28px;
    line-height: normal;
    height: auto;
    white-space: normal;
    font-style: italic;
}

.navbar a:hover {
    text-decoration: none;
}

#hero-sub-banner {
    text-align: center;
    font-size: 20px;
}

#hero-sub-banner a:hover {
    text-decoration: none;
}

.tile,
.tile.wide {
    width: 33%;
    padding: 10px;
    color: #3A3A3A;

}

.previewContainer .close {
    padding: 6px;
}

.previewContainer .cell.info {
    text-align: left;
}

.previewContainer .info .title {
    font-size: 32px;
}

.previewContainer .info .price {
    font-weight: bold;
    font-size: 26px;
}

.previewContainer .info .price .strike,
.previewContainer .info .price .discount {
    font-size: 17px;
}

.previewContainer .info .price .strike {
    color: #818181;
    font-weight: normal;
}

.previewContainer .info .price .discount {
    color: #d12424;
}

.previewContainer .buy .button {
    padding: 11px 31px;
    font-size: 13px;
    background-color: #ff8400;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    .previewContainer .cell.info {
        padding: 0 10px;
    }
}
