@import "lib/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
@import "src/components/landingpage/styles/base.scss";

body {
    font-family: Georgia,"Times New Roman",Times,serif;
    text-rendering: optimizelegibility;
}

.navbar {
    max-width: 1024px;
    margin: auto;
}

.previewContainer .cell.info {
    text-align: left;
}

.previewContainer .info .title {
    font-size: 32px;
}

.previewContainer .info .price {
    font-weight: bold;
    font-size: 26px;
}

.previewContainer .buy .button {
    padding: 11px 31px;
    font-size: 13px;
    background-color: #ff8400;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    .previewContainer .cell.info {
        padding: 0 10px;
    }
}
