{% block document_ready %}
    {% if store %}
        var store_id = '{{ store.id }}';
    {% else %}
        var store_id = '{{ campaign.store.id }}';
    {% endif %}

    $("#campaign_list li").live("click", function() {
        $("#analytics_title").html($(this).html());

        if ($(this).attr("id") == "overview") {
            loadAnalyticsData({
                store_id: store_id
            });
        } else {
            loadAnalyticsData({
                campaign_id: $(this).attr("id")
            });
        }

        $("#campaign_list li").removeClass("selectedPage");
        $(this).addClass("selectedPage");
    });

    google.setOnLoadCallback(function () {
        {% if store %}
            loadAnalyticsData({
                store_id: store_id
            });
        {% else %}
            loadAnalyticsData({
                campaign_id: '{{ campaign.id }}'
            });
        {% endif %}
        $("#analytics_title").html($(".selectedPage").html());
    });

    $( "#start_range" ).datepicker({
        defaultDate: "+1w",
        changeMonth: true,
        numberOfMonths: 3,
        onClose: function( selectedDate ) {
            $( "#end_range" ).datepicker( "option", "minDate", selectedDate );
        }
    });
    $( "#end_range" ).datepicker({
        defaultDate: "+1w",
        changeMonth: true,
        numberOfMonths: 3,
        onClose: function( selectedDate ) {
            $( "#start_range" ).datepicker( "option", "maxDate", selectedDate );
        }
    });
{% endblock %}

<div class="grid_12 top_analytics_menu">
    <span class="page_selector">
        Page:
        <select id="campaign_list">
            <option value="overview" {% if is_overview %}selected{% endif %}>Overview</option>

            {% for c in store.campaign_set.all %}
                <option value="{{ c.id }}" {% if c.id == campaign.id %}selected{% endif %}>{{ c.name }}</option>
            {% endfor %}
        </select>
    </span>

    <span class="range_selector">
        <label for="start_range">Start:</label>
        <input type="text" id="start_range" name="start_range">

        <label for="end_range">End:</label>
        <input type="text" id="end_range" name="end_range">
    </span>
</div>

<div class="grid_9 omega campaign_analytics">
    <div class="grid_9">
        <h2 id="analytics_title">Loading...</h2>

        <ul>
            <li><span class="highlight">Visitors (<span id="visitors_count">&hellip;</span>)</span></li>
            <li>
                <ul>
                    <li class="angled"><span class="highlight" id="visitors_to_interaction">&hellip;</span> <span class="dimmed">(<span id="interaction_count">&hellip;</span>)</span> Interacted</li>
                    <li>
                        <ul>
                            <li class="angled"><span class="highlight" id="social_shares_perc">&hellip;</span> <span class="dimmed">(<span id="social_shares_count">&hellip;</span>)</span> Social Shares</li>
                            <li>
                                <ul>
                                    <li class="angled"><span class="highlight" id="shared_featured_perc">&hellip;</span> <span class="dimmed">(<span id="shared_featured_count">&hellip;</span>)</span> Shared Featured</li>
                                    <li class="angled"><span class="highlight" id="shared_popup_perc">&hellip;</span> <span class="dimmed">(<span id="shared_popup_count">&hellip;</span>)</span> Shared Popup</li>
                                </ul>
                            </li>
                            <li class="angled"><span class="highlight" id="open_popup_perc">&hellip;</span> <span class="dimmed">(<span id="open_popup_count">&hellip;</span>)</span> Previewed Product</li>
                            <li class="angled"><span class="highlight" id="clickthrough_perc">&hellip;</span> <span class="dimmed">(<span id="clickthrough_count">&hellip;</span>)</span> Clicked "Buy Now"</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="grid_9">
        <div id="analytics_chart" style="border: 1px solid #545454; width: 600px; height: 320px;"></div>
    </div>
</div>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    function set_percentage(id, perc) {
        $("#" + id).html(perc.toFixed(2) + "%");
    }

    function loadAnalyticsData(o) {
        $.getJSON(
            "{% url ajax-analytics-pinpoint %}",
            {
                store_id: o.store_id,
                campaign_id: o.campaign_id
            },

            function(analytics_data) {
                var dataset = [['Year', 'Visits', 'Interactions']],
                i, google_data, google_options, chart, social_shares_count;

                $("#visitors_count").html(analytics_data.visits);
                $("#interaction_count").html(analytics_data.interactions.total);

                social_shares_count = analytics_data.interactions.shares.featured + analytics_data.interactions.shares.popup;
                $("#social_shares_count").html(social_shares_count);
                $("#shared_featured_count").html(analytics_data.interactions.shares.featured);
                $("#shared_popup_count").html(analytics_data.interactions.shares.popup);
                $("#open_popup_count").html(analytics_data.interactions.open_popup);
                $("#clickthrough_count").html(analytics_data.interactions.clickthrough);

                set_percentage("visitors_to_interaction", analytics_data.interactions.total / analytics_data.visits * 100);
                set_percentage("social_shares_perc", social_shares_count / analytics_data.interactions.total * 100);
                set_percentage("shared_featured_perc", analytics_data.interactions.shares.featured / social_shares_count * 100);
                set_percentage("shared_popup_perc", analytics_data.interactions.shares.popup / social_shares_count * 100);
                set_percentage("open_popup_perc", analytics_data.interactions.popup / analytics_data.interactions.total * 100);
                set_percentage("clickthrough_perc", analytics_data.interactions.clickthrough / analytics_data.interactions.total * 100);

                for (var i in analytics_data.daily) {
                    dataset.push([analytics_data.daily[i].date, analytics_data.daily[i].visits, analytics_data.daily[i].interactions.total]);
                }

                google_data = google.visualization.arrayToDataTable(dataset);

                google_options = {
                    title: 'Traffic Overview',
                    legend: {'position': 'bottom', 'fontSize': 16},
                    backgroundColor: "#e9e9e9",
                    chartArea: {width: '87%'},
                    colors: ["#8E9E82", "#607890"]
                };

                chart = new google.visualization.LineChart(document.getElementById('analytics_chart'));
                chart.draw(google_data, google_options);
            }
        );
    }

    google.load("visualization", "1", {packages:["corechart"]});
</script>