$icon-font-path: "/static/light/fonts/";

$tbs-sans-font: GillSans, Verdana, Geneva, sans-serif;
$tbs-title-font: Interstate, Helvetica, sans-serif;
$tbs-white-color: #FFF;
$tbs-category-height: 60px;
$tbs-red-color: #A93032;
$tbs-grey-color: #DDD;
$tbs-black-color: #000;
$tbs-title-color: #343434;
$tbs-text-color: #4D4D4D;
$tbs-green-color: #05492F;
$tbs-gold-color: #FEE58D;
$tbs-dark-gold-color: #D69243;
$max-image-height: 445px;
$shop-cell-height: 260px;

@import "lib/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
@import "src/components/landingpage/styles/base.scss";

@font-face {
    font-family: GillSans;
    src: url('/static/light/bodyshop/landingpage/default/fonts/GillSans.eot');
    src: url('/static/light/bodyshop/landingpage/default/fonts/GillSans.eot?#iefix') format('embedded-opentype'),
         url('/static/light/bodyshop/landingpage/default/fonts/GillSans.woff') format('woff');
}
@font-face {
    font-family: GillSans;
    font-weight: bold;
    src: url('/static/light/bodyshop/landingpage/default/fonts/GillSans-Bold.eot');
    src: url('/static/light/bodyshop/landingpage/default/fonts/GillSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('/static/light/bodyshop/landingpage/default/fonts/GillSans-Bold.woff') format('woff');
}
@font-face {
    font-family: GillSans;
    font-weight: 600;
    src: url('/static/light/bodyshop/landingpage/default/fonts/GillSans-SemiBold.eot');
    src: url('/static/light/bodyshop/landingpage/default/fonts/GillSans-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('/static/light/bodyshop/landingpage/default/fonts/GillSans-SemiBold.woff') format('woff');
}
@font-face {
    font-family: GillSans;
    font-weight: 300;
    src: url('/static/light/bodyshop/landingpage/default/fonts/GillSans-Light.eot');
    src: url('/static/light/bodyshop/landingpage/default/fonts/GillSans-Light.eot?#iefix') format('embedded-opentype'),
         url('/static/light/bodyshop/landingpage/default/fonts/GillSans-Light.woff') format('woff');
}
@font-face {
    font-family: Interstate;
    src: url('/static/light/bodyshop/landingpage/default/fonts/Interstate-Regular.eot');
    src: url('/static/light/bodyshop/landingpage/default/fonts/Interstate-Regular.eot?#iefix') format('embedded-opentype'),
         url('/static/light/bodyshop/landingpage/default/fonts/Interstate-Regular.woff') format('woff');
}
@font-face {
    font-family: Interstate;
    font-weight: bold;
    src: url('/static/light/bodyshop/landingpage/default/fonts/Interstate-BoldCondensed.eot');
    src: url('/static/light/bodyshop/landingpage/default/fonts/Interstate-BoldCondensed.eot?#iefix') format('embedded-opentype'),
         url('/static/light/bodyshop/landingpage/default/fonts/Interstate-BoldCondensed.woff') format('woff');
}

body {
    background-image: url(/static/light/bodyshop/landingpage/christmas/images/falling-snow.png),
                      url(/static/light/bodyshop/landingpage/christmas/images/repeating-background.jpg);
    font-family: $tbs-sans-font;
    background-repeat: repeat;
    background-color: transparent;
}

.container {
    position: relative;
    z-index: 1;
}

.header-links-bar {
    height: 31px;
    top: 2px;
    right: 0;
    text-align: left;
    font-size: 12px;
    line-height: 18px;
    text-align: right;
    background-color: $tbs-white-color;
    nav {
        display: inline-block;
        top: 4px;
        right: 0;
        position: relative;
        ul {
            list-style: none;
            margin-bottom: 0;
            margin-right: 17px;
            li {
                background: url("/static/light/bodyshop/landingpage/default/images/separator-01.gif") center right no-repeat transparent;
                display: block;
                float: left;
                a {
                    text-transform: uppercase;
                    padding: 0 7px;
                    cursor: pointer;
                    line-height: 23px;
                    font-size: 12px;
                    display: block;
                    color: #666;
                }
                &:last-child {
                    background: none;
                }
            }
        }
    }
}

.navbar {
    height: 129px;
    border: none;
    background: $tbs-black-color;
    margin-bottom: 25px;
    
    .container {
        position: relative;
        .logo {
            cursor: pointer;
            display: block;
            opacity: 1;
            filter: alpha(opacity=100);
            position: relative;
            top: 40px;
            img {
                width: 310px;
                display: block;
                height: auto;
            }
        }
        #search-bar {
            position: absolute;
            left: 50%;
            top: 56px;
            width: 270px;
            height: 30px;
            line-height: 28px;
            cursor: pointer;
            transform: translateY(-50%) translateX(-50%);
            > input {
                position: absolute;
                left: 0;
                top: 0;
                line-height: normal;
                border: none;
                padding: 0 10px;
                margin: 0;
                width: 222px;
                height: 30px;
                box-sizing: content-box;
                font-family: $tbs-sans-font;
            }
            > span {
                position: absolute;
                right: 0;
                top: 0;
                font-size: 26px;
                font-weight: bold;
                color: #FFF;
                @include no-select;
                background: url("/static/light/bodyshop/landingpage/default/images/search.jpg") no-repeat scroll;
                width: 28px;
                height: 30px;
            }
        }
        nav.mainnavmegamenu {
            background-color: #FFF;
            border: 1px solid #cccccb;
            height: 35px;
            position: absolute;
            padding: 0;
            text-transform: uppercase;
            top: 110px;
            position: absolute;
            overflow: hidden;
            ul {
                list-style: none;
                list-style-image: none;
                margin-bottom: 0;
                padding-left: 0;
                li {
                    background: url("/static/light/bodyshop/landingpage/default/images/separator-01.gif") no-repeat scroll right center transparent;
                    cursor: pointer;
                    display: block;
                    float: left;
                    position: relative;
                    text-align: left;
                    line-height: 33px;
                    a {
                        color: #666666;
                        font-size: 15px;
                        padding: 0px 15px !important;
                        &:hover {
                            text-decoration: none;
                            color: $tbs-red-color;
                        }
                    }
                    &:last-child {
                        float: right;
                        background: none;
                    }
                    &.first {
                        a {
                            display: block;
                            text-indent: -9999em;
                            position: relative;
                            width: 18px;
                            padding: 0px 33px 0px 13px !important;
                            span {
                                background: url('http://www.thebodyshop-usa.com/img/common/sprites.png') 0 -40px no-repeat;
                                display: block;
                                float: left;
                                height: 17px;
                                margin: 8px 0 0 0;
                                text-indent: -9999em;
                                width: 18px;
                                overflow: hidden;
                                position: relative;
                                cursor: pointer;
                            }
                        }
                    }
                    &.hot {
                        a {
                            color: red;
                        }
                    }
                }
            }
        }
    }
}

#banner, footer {
    img.desktop-only {
        width: 100%;
    }
}

.sticky-wrapper {
    margin: 2px 0 0 0;
    width: 100%;
}

div.loading {
    margin-bottom: 200px;
}

#category-area {
    /*
      Categories are handled *very* differently in mobile & tablet/desktop
      for The Body Shop. See device specific implementations below.
    */
    z-index: 2;
    overflow: visible;
    @include no-select;
    #category-closer {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .category-area {
        position:relative;
        z-index: 2;
    }
    .category {
        position: relative;
        &:hover, &.selected, &.expanded {
            background-color: transparent; // Over-ride base.scss
            >.name {
                color: $tbs-gold-color;
            }
        }
        &.expanded {
            .sub-categories {
                display: block;
            }
        }
        .name {
            @include no-select;
            color: $tbs-white-color;
        }
    }
}

#hero-area {
    .content {
        background: none;
    }
    .jumbotron {
        position: relative;
        text-align: left;
        height: 100%;
        padding: 0;
        margin-bottom: 8px;
        background: none;
        overflow: hidden;
        min-height: 40px;
        img {
            border: none;
            position: relative;
            z-index: 1;
        }
        .title {
            width: 100%;
            line-height: 40px;
            min-height: 40px;
            font-size: 18px;
            color: $tbs-white-color;
            padding-left: 3px;
            font-family: $tbs-title-font;
            b {
                font-size: 20px;
            }
        }
    }
}

.tile {
    padding: 3px;
    width: 33.33%;
    background-color: transparent;
    &.wide {
        width: 66.66%;
        .relative.product-shot {
            div {
                margin-top: 0;
                padding: 0;
                &:after {
                    content: " ";
                    background-color: #FFF;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: 80px;
                }
            }
        }
    }
    .relative.product-shot {
        position: relative;
        background-color: $tbs-white-color;
        overflow: hidden;
        span {
            color: $tbs-title-color;
            background-color: rgba(255, 255, 255, 0.8);
        }
        .label, .price {
            position: absolute;
            left: 0;
            right: 0;
            line-height: 16px;
            display: block;
            text-align: center;
            white-space: normal;
        }
        .label {
            bottom: 34px;
            font-size: 15px;
            font-weight: 600;
            text-transform: uppercase;
            padding: 3px 15px;
            height: 32px; // 2x line-height
        }
        .price {
            bottom: 12px;
            font-size: 15px;
            font-weight: bold;
        }
        div {
            margin-top: -10%;
            padding: 15% 15% 25% 15%;
            image.focus {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
    .overlay {
        background: rgba(255,255,255,0.80);
        @include no-select;
        width: auto;
        height: auto;
        top: 3px;
        left: 3px;
        bottom: 3px;
        right: 3px;
        .table {
            margin-bottom: 0;
        }
    }
    .name {
        font-size: 0.9em;
        color: #444;
        text-decoration: none;
    }
    &:hover .name {
        text-decoration: underline;
    }
    .price {
        font-size: 0.8em;
        color: #444;
        font-weight: bold;
        .sale {
            display: block;
            color: #921E1E;
        }
        .original {
            display: block;
            color: #999;
        }
        .img-wrapper {
            overflow: hidden;
            position: relative;
            &:hover .quick-view {
                top: 50%;
            }
            .quick-view {
                position: absolute;
                top: 100%;
                width: 100%;
                text-align: center;
                -webkit-transition: top 0.5s;
                -moz-transition: top 0.5s;
                -ms-transition: top 0.5s;
                -o-transition: top 0.5s;
                transition: top 0.5s;
                transition-timing-function: ease-in-out;
                span {
                    display: inline-block;
                    background-color: #F4F4F4;
                    border: 1px #a3a3a3 solid;
                    border-radius: 4px;
                    font-weight: bold;
                    font-size: 0.8em;
                    color: #444444;
                    padding: 4px 8px;
                    cursor: pointer !important;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
.tile .overlay .title,
.image-with-tagged-products .caption,
.image-without-tagged-products .caption {
    color: $tbs-title-color;
    font-size: 21px;
    font-weight: normal;
    font-family: $tbs-sans-font;
    text-transform: uppercase;
    span:first-child:after {
        content: '>';
        position: relative;
        font-style: normal;
        top: -1px;
        left: 5px;
    }
    .tile-name {
        display: block;
        padding: 0 15px;
        font-size: 18px;
        font-weight: normal;  
    }
    .tile-price {
        display: block;
        padding: 0 15px;
        font-size: 15px;
        margin-top: 5px;
    }
}
.tile.banner .overlay {
    cursor: pointer;
    .button {
        color: $tbs-title-color;
        font-family: $tbs-sans-font;
        font-size: 18px;
        font-weight: normal;
        text-decoration: none;
        span:first-child:after {
            content: "\25BA";
            position: relative;
            font-style: normal;
            top: -1px;
            left: 5px;
        }
    }
}

.shop-cta,
.similar-cta,
.similar-subtext {
    text-align: center;
    line-height: 16px;
}
.shop-cta,
.similar-cta {
    font-size: 17px;
    font-weight: normal;
    text-transform: uppercase;
    color: $tbs-title-color;
    position: relative;
}
.similar-subtext {
    font-size: 14px;
    font-family: $tbs-sans-font;
    font-style: italic;
}
.similar-cta,
.similar-subtext {
}
#preview-area .previewContainer .content {
    box-shadow: none;
}
.previewContainer {
    .fullscreen {
        top: 0px;
        bottom: 0px;
        max-width: 800px;
        &.product {
            .content {
                max-height: $max-image-height;
            }
            &.tagged .content {
                max-height: $max-image-height + $shop-cell-height;
            }
        }
    }
    .content {
        padding: 10px !important;
        max-height: $max-image-height + $shop-cell-height;
        height: auto;
    }
}
.heroContainer {
    .fullscreen {
        max-height: $max-image-height + $shop-cell-height;
    }
    .content {
        max-height: 100%;
    }
}

.previewContainer,
.heroContainer {
    .product-thumbnails, .content, .image-with-tagged-products, .image-without-tagged-products,
    .main-image-container, .main-image, .preview-container, .product-info,
    .scrollable, .table, .tagged-product, .template.target {
        width: 100%;
        height: 100%;
    }
    .description a {
        font-weight: bold;
    }
    .cell > div,
    .product-info .tagged-product > div {
        margin: 0;
    }
    .mask {
        background: rgba(50, 50, 50, 0.7);
    }
    .cell {
        display: inline-block;
        padding: 0;
        margin: 0;
    }
    .fullscreen {
        height: 100%;
    }
    .content {
        width: 100%;
        max-width: 1024px !important;
    }
    .close {
        top: 0;
        right: 0;
        padding: 10px;
        text-shadow: none;
        font-size: 35px;
        font-weight: 200;
        color: #999;
        z-index: 10;
        &:after {
            content: '\2573';
        }
    }
    .info, .look-image-container {
        width: 100%;
        height: 100%;
        padding: 0;
        max-height: $max-image-height;
        &.tagged {
            max-height: $max-image-height + $shop-cell-height;
            padding: 0 0 $shop-cell-height 0;
        }
        text-align: left;
        .back {
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            margin: 25px 0;
            &:before {
                content: '\00ab';
            }
            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
    .description {
        color: $tbs-text-color;
        font-size: 14px;
        line-height: 17px;
        overflow: hidden;
        max-height: 66%;
        margin-bottom: 30px;
        p {
            margin-bottom: 5px;
        }
    }
    .look-image-container {
        .look-image {
            display: inline-block;
            width: 57%;
            height: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 10px;
        }
    }
    .gallery-main-image {
        display: inline-block;
        vertical-align: top;
        width: 57%;
        height: 100%;
        max-width: $max-image-height;
        max-height: $max-image-height;
        position: relative;
        @include no-select;
        .image-holder, .overlay-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            .image {
                position: relative;
                &.hi-res {
                    z-index: 1;
                }
            }
        }
        &.contentShot {
            /* product image */
            .main-image-container {
                top: -10px;
                left: -10px;
            }
            .image-holder, .overlay-image {
                text-align: center;
                overflow-y: hidden;
                .image {
                    width: 100% !important;
                    height: auto !important;
                }
            }
        }
        &:not(.contentShot) {
            /* not prodcut image */
            .image-holder, .overlay-image {
                text-align: right;
                overflow-x: hidden;
                .image {
                    padding: 5%;
                    width: auto !important;
                    height: 100% !important;
                }
            }
        }
        .description {
            display: inline-block;
            vertical-align: top;
            width: 100%;
            font-family: $tbs-sans-font;
            font-weight: 300;
            font-size: 12px;
            line-height: 22px;
            overflow: hidden;
            padding: 10px 5px 0 45px;
            text-align: left;
            max-height: 90%;
            white-space: normal;
        }
    }
    .gallery-dots {
        display: none;
        position: absolute;
        left: 0;
        bottom: 10px;
        width: 100%;
        line-height: 12px;
        .item {
            width: 6px;
            height: 6px;
            background-color: white;
            &.selected {
            }
        }
    }
    .product-details {
        display: inline-block;
        vertical-align: top;
        width: 42%;
        height: 100%;
        box-sizing: border-box; /* Including padding & border in height */
        padding: 10px 20px 0 20px;
        margin: 0 !important;
        text-align: left;
        .title {
            color: $tbs-title-color;
            font-size: 24px;
            line-height: 24px;
            text-transform: uppercase;
            margin-bottom: 15px;
            text-transform: uppercase;
        }
        .price {
            color: $tbs-black-color;
            font-weight: bold;
            margin-bottom: 15px;
            font-size: 26px;
            line-height: 26px;
            .value {
                font-size: 70%;
                margin-left: 16px;
            }
        }
        .description {
        }
    }
    .buy {
        margin: auto !important;
        text-align: left;
        display: inline-block;
        .button {
            display: inline-block;
            position: relative;
            font-size: 15px;
            font-weight: bold;
            line-height: 35px;
            padding: 5px;
            text-transform: uppercase;
            width: 100%;
            color: $tbs-white-color;
            background-color: $tbs-black-color;
        }
    }
    .shop {
        position: absolute;
        width: auto;
        padding: 0;
        left: 10px;
        right: 10px;
        bottom: 10px;
        background-color: #FFF;
        .stl-title {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            z-index: 2;
            font-size: 20px;
            line-height: 20px;
            background-color: transparent;
        }
    }
    .product-thumbnails {
        .stl-title {
            font-size: 14px;
            line-height: 14px;
            padding: 0;
            z-index: 1;
            text-transform: uppercase;
        }
        .stl-carousel {
            display: block;
            width: 100%;
            height: 100%;
            padding-top: 15px;
            border-radius: 10px;
        }
        .stl-look-container {
            position: relative;
            margin: auto;
            width: 95%;
            height: 100%;
            overflow: hidden;
        }
        .stl-look {
            overflow: visible;
            width: 100%;
            height: 100%;
            text-align: center;
            white-space: nowrap;
            .stl-item {
                display: inline-block;
            }
            .look-thumbnail {
                display: none;
            }
            .stl-item {
                width: 33%;
                .relative {
                    border: 1px solid #BBB;
                    img {
                        display: inline-block;
                        max-width: 100%;
                        width: auto;
                        height: auto;
                        opacity: 1;
                        margin: 0;
                    }
                    span {
                        left: 5%;
                        right: 5%;
                        background: #FFF;
                    }
                    .label {
                        bottom: 20px;
                        padding: 0;
                    }
                    .price {
                        bottom: 2px;
                    }
                }
                .table {
                    display: table;
                }
            }
        }
    }
    .image-with-tagged-products .cell.shop {
        width: 140px;
    }
    .more-info {
        text-align: right;
        padding-right: 20px;
        font-size: 20px;
        line-height: 20px;
        font-weight: bold;
        .down-arrow {
            width: 0;
            height: 0;
            background-color: transparent;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 15px solid #000;
            display: inline-block;
        }
    }
    .similar-products {
        display: block;
        margin-top: -20px;
        width: 100%;
        > div {
            width: 100%;
        }
        .similar-cta {
            font-size: 22px;
            line-height: 22px;
            padding: 0;
            z-index: 1;
        }
        .similar-subtext ~ .similar-cta {
            padding-bottom: 0px;
        }
        .similar-subtext {
            padding: 0 0 6px 0;
        }
        .tile {
            .relative {
                border: 1px solid #BBB;
                span {
                    left: 5%;
                    right: 5%;
                }
                .label {
                    bottom: 20px;
                }
                .price {
                    bottom: 2px;
                }
            }
            .table {
                display: table;
            }
        }
    }
    .feed {
        .look-image-container {
            /* don't scale to vertical space */
            .look-image {
                width: 100%;
                height: auto;
            }
        }
    }
}

.stl-carousel, .tagged-product {
    .stl-swipe-up, .stl-swipe-down,
    .stl-swipe-left, .stl-swipe-right,
    .gallery-swipe-left, .gallery-swipe-right {
        display: block;
        border: none;
        position: absolute;
        cursor: pointer;
        z-index: 1;
        margin: 0;
    }
    .stl-swipe-up, .stl-swipe-down {
        display: none;
        width: 100%;
        height: 10%;
        left: 0;
        &:before, &:after {
            position: absolute;
        }
    }
    .stl-swipe-left, .stl-swipe-right {
        display: none;
        width: 5%;
        height: 100%;
        top: 0;
        &:before, &:after {
            position: relative;
        }
    }
    .gallery-swipe-left, .gallery-swipe-right {
        width: 45px;
        height: 100%;
        top: 0;
    }
    .stl-swipe-up {
        top: 0;
        &:after {
            top: 10px;
            left: 50%;
            content: '\25B2'; // /\ solid arrow
        }
    }
    .stl-swipe-down {
        bottom: 0;
        &:before {
            left: 50%;
            bottom: 10px;
            content: '\25BC'; // \/ solid arrow
        }
    }
    .stl-swipe-left, .gallery-swipe-left {
        left: 0;
        &:after {
            // < solid arrow
            content: '';
            position: absolute;
            top: 45%;
            left: 10px;
            background: url(/static/light/bodyshop/landingpage/default/images/image-sprite.png);
            background-position: 0px -135px;
            width: 13px;
            height: 18px;
        }
    }
    .stl-swipe-right, .gallery-swipe-right {
        right: 0;
        &:before {
            // > solid arrow
            content: '';
            position: absolute;
            top: 50%;
            right: 10px;
            background: url(/static/light/bodyshop/landingpage/default/images/image-sprite.png);
            background-position: 0px -163px;
            width: 14px;
            height: 17px;
        }
    }
}

// DESKTOP & TABLET ONLY
@media screen and (min-width: 768px) {
    body > .container {
        // No snow in feed
        background: url(/static/light/bodyshop/landingpage/christmas/images/repeating-background.jpg) repeat;
        #banner {
            // Snow behind banner
            background: url(/static/light/bodyshop/landingpage/christmas/images/falling-snow.png) repeat;
        }
    }
    .previewContainer, .heroContainer {
        .main-image-container {
            .main-image {
            }
        }
    }
    #category-area {
        border-spacing: 4px 0px !important;
        table-layout: fixed;
        overflow: visible;
        text-align: center;
        width: 102%;
        max-width: 102%;
        .category-area {
            background-color: transparent;
        }
        .category {
            padding: 0;
            margin-right: 2px;
            width: 14%;
            overflow: visible;
            background: url(/static/light/bodyshop/landingpage/christmas/images/repeating-background.jpg) repeat;
            height: $tbs-category-height;
            border: 3px solid $tbs-white-color;
            vertical-align: middle;
            font-family: $tbs-title-font;
            font-weight: bold;
            &:hover, &.selected, &.expanded {
                border: none;
                padding: 3px;
                /* Snow for hover/selected/expanded category */
                &:before, &:after {
                    position: absolute;
                    top: 0;
                    content: "";
                    height: $tbs-category-height;
                    background: url("/static/light/bodyshop/landingpage/christmas/images/selected-category-border.png") no-repeat;
                }
                &:before {
                    left: 0;
                    width: 50%;
                    background-position: 0 0;
                }
                &:after {
                    right: 0;
                    width: 50%;
                    background-position: 100% 0;
                }
            }
            &.selected {
                /* Gold border for selected category */
                >.name {
                    &:before, &:after {
                        position: absolute;
                        top: -15px;
                        content: "";
                        height: 67px;
                        /* snow image is 208px x 67px */
                        background: url("/static/light/bodyshop/landingpage/christmas/images/selected-category-snow.png") no-repeat;
                        z-index: 1;
                    }
                    &:before {
                        left: -4px;
                        width: 63px;
                        background-position: 0 0;
                    }
                    &:after {
                        right: -3px;
                        width: 93px;
                        background-position: -115px 0;
                    }
                }
            }
            &.expanded {
                .sub-categories {
                    display: block;
                }
            }
            img {
                border-radius: 3px;
            }
            .name {
                display: block;
                font-size: 22px;
                line-height: 22px;
                padding: 0 3%;
                text-align: center;
            }
            > .name {
                text-transform: uppercase;
            }
            .sub-categories {
                position: absolute;
                display: none;
                left: -50%;
                top: 100%;
                z-index: 1;
                background: #FFF;
                padding: 8px;
                -webkit-box-shadow: 2px 2px 8px -3px rgba(50, 50, 50, 0.75), -2px 2px 8px -3px rgba(50, 50, 50, 0.75);
                -moz-box-shadow:    2px 2px 8px -3px rgba(50, 50, 50, 0.75), -2px 2px 8px -3px rgba(50, 50, 50, 0.75);
                box-shadow:         2px 2px 8px -3px rgba(50, 50, 50, 0.75), -2px 2px 8px -3px rgba(50, 50, 50, 0.75);
                .wrap {
                    width: 100%;
                    border-width: 3px;
                    border-style: solid;
                    border-color: #CE8C41 #CE8C41 #F7CC71 #F7BF69;
                    padding: 20px 20px 30px 15px;
                    display: table;
                    position: relative; // required for before/after positioning
                    &:before, &:after {
                        position: absolute;
                        content: "";
                        background: url("/static/light/bodyshop/landingpage/christmas/images/selected-category-border.png") no-repeat;
                    }
                    &:before {
                        top: -3px; // border-width
                        left: -3px;
                        height: 56px;
                        width: 169px;
                        background-position: 0 0;
                    }
                    &:after {
                        right: -3px;
                        bottom: -3px;
                        height: 51px;
                        width: 82px;
                        background-position: 100% 100%;
                    }
                }
            }
            .sub-categories-section {
                display: table-cell;
                position: relative;
            }
            .sub-category, .sub-categories-label {
                display: block;
                text-align: left;
                width: 160px;
            }
            .sub-category {
                padding: 6px 0 0 15px;
                .name {
                    display: inline-block;
                    color: $tbs-black-color;
                    font-size: 17px;
                    letter-spacing: -0.5px;
                    font-weight: normal;
                    padding: 0 0 0 8px;
                }
                &.selected, &:hover {
                    > .name {
                        color: $tbs-dark-gold-color;
                    }
                }
            }
            .sub-categories-label {
                font-size: 17px;
                line-height: 20px;
                padding: 6px 0 8px 15px;;
                text-indent: 5px;
                text-transform: uppercase;
                color: $tbs-red-color;
            }
            &:first-child {
                .sub-categories {
                    left: 0;
                    right: auto;
                }
            }
            &:last-child {
                .sub-categories {
                    left: auto;
                    right: 0;
                }
            }
        }
        &.stuck {
            padding-bottom: 0;
            background: url(/static/light/bodyshop/landingpage/christmas/images/repeating-background.jpg) repeat;
            .category-area {
                height: auto;
            }
            .category {
                -webkit-box-shadow: 2px 2px 8px -3px rgba(50, 50, 50, 0.75), -2px 2px 8px -3px rgba(50, 50, 50, 0.75);
                -moz-box-shadow:    2px 2px 8px -3px rgba(50, 50, 50, 0.75), -2px 2px 8px -3px rgba(50, 50, 50, 0.75);
                box-shadow:         2px 2px 8px -3px rgba(50, 50, 50, 0.75), -2px 2px 8px -3px rgba(50, 50, 50, 0.75);
            }
        }
        .category:last-child {
            display: block;
            position: absolute;
            top: 70px;
            right: calc(2% + 2px);
            height: 40px;
            background: none;
            padding: 0;
            border: none;
            // Ease out opacity
            @include transition(opacity 0.5s ease-in-out);
            &:before, &:after {
                background: none;
                content: initial;
            }
            &.expanded {
                background: #FFF;
                -webkit-box-shadow: 2px -2px 7px -3px rgba(50, 50, 50, 0.75), -2px -2px 7px -3px rgba(50, 50, 50, 0.75);
                -moz-box-shadow:    2px -2px 7px -3px rgba(50, 50, 50, 0.75), -2px -2px 7px -3px rgba(50, 50, 50, 0.75);
                box-shadow:         2px -2px 7px -3px rgba(50, 50, 50, 0.75), -2px -2px 7px -3px rgba(50, 50, 50, 0.75);
                > .name {
                    color: $tbs-red-color;
                }
            }
            > .name {
                color: $tbs-white-color;
                text-transform: none;
                font-weight: 400;
                font-size: 17px;
                line-height: 40px;
                padding: 0;
                text-decoration: underline; 
                &:before, &:after {
                    background: none;
                    content: initial;
                }
            }
        }
        &.stuck {
            max-width: 1044px;
            .category:last-child {
                opacity: 0;
                filter: alpha(opacity=0);
            }
        }
    }
    .previewContainer, .heroContainer {
        .shopping-bag {
            > div {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 50%;
                height: 200px;
                margin: auto;
                z-index: 100;
                background: #FFF;
            }
            .continue-shopping {
                position: absolute;
                float: none;
                margin-right: 10%;
                padding: 0;
                color: #000;
                font-size: 13px;
                text-decoration: underline;
                line-height: inherit;
                &:after {
                    display: block;
                    position: absolute;
                    top: 7px;
                    right: -12px;
                    width: 8px;
                    height: 10px;
                    content: '';
                    background: url(/static/light/bodyshop/landingpage/default/images/image-sprite.png);
                    background-position: 0px -272px;
                }
            }
            .corner {
                padding: 5px;
            }
            .bag-title {
                position: absolute;
                width: 100%;
                height: 40px;
                background: #000;
                span:first-child {
                    font-family: $tbs-title-font;
                    color: $tbs-white-color;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 40px;
                    text-transform: uppercase;
                    padding-left: 15px;
                }
            }
            .product-details {
                width: 100%;
                height: 100%;
                padding: 60px 60px 0 20px;
                border: 0 2px 2px 2px;
                border-style: solid;
                border-color:  $tbs-grey-color;
                .image-holder {
                    position: absolute;
                    width: 55px;
                    height: 55px;
                }
                .title, .price {
                    padding-left: 65px;
                    width: 80%;
                    margin-bottom: 5px;
                    font-size: 14px;
                    line-height: 15px;
                }
                .title {
                    height: 30px;
                }
                .value {
                    display: none;
                }
            }
            .choices {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin: 0 0 30px 8%;
                line-height: 24px;
                .view-bag {
                    width: 50%;
                    height: 100%;
                    text-align: center;
                    display: inline-block;
                    span {
                        background: #000;
                        color: #FFF;
                        padding: 7px 15%;
                        font-weight: bold;
                        font-size: 12px;
                        line-height: 10px; // height - 2 x padding
                        width: 100%;
                        display: inline-block;
                    }
                }
            }
        }
    }
}

// MOBILE & TABLET ONLY
@media screen and (max-width: 991px) {
    body {
        background-image: url(/static/light/bodyshop/landingpage/christmas/images/repeating-background.jpg);
    }
    .tile {
        width: 50%;
        padding: 2px;
        &.wide {
            width: 100%;
        }
    }
    .previewContainer, .heroContainer {
        .similar-products {
            margin-top: 0px;
        }
    }
}

// MOBILE ONLY
@media screen and (max-width: 768px) {
    body > .container {
        z-index: initial;
    }
    .fullscreen, .content, .scrollable, .content
    .preview-container, .template.target, .table,
    .image-with-tagged-products, .image-without-tagged-products {
        width: 100%;
        height: 100%;
    }
    .container {
        padding: 0px;
    }
    .header-links-bar {
        display: none;
    }
    .navbar {
        &:before,
        &:after {
            content: none;
        }
        margin: 0;
        margin-bottom: 1px;
        padding: 0;
        border: none;
        border-bottom: 1px solid black;
        height: auto;
        min-height: 0px;
        line-height: normal;
        z-index: 2;
        &.stuck {
            position: fixed;
        }
        .container {
            height: 50px;
            padding: 10px;
            .mobile-only {
                height: 100%;
                position: relative;
            }
            .logo, .bag, .category-menu {
                position: absolute;
                width: auto;
            }
            .category-menu, .bag {
                bottom: 15%;
                height: 70%;
            }
            .category-menu {
                left: 0;
            }
            .bag {
                right: 10px;
            }
            .logo {
                left: 50%;
                top: 0;
                height: 100%;
                img {
                    margin-left: -15px;
                    width: auto;
                    height: 100%;
                }
            }
            
            #search-bar,
            nav.mainnavmegamenu {
                display: none;
            }
        }
    }
    #banner {
        img.mobile-only {
            width: 100%;
        }
    }
    footer {
        img.mobile-only {
            position: relative;
            left: 50%;
            margin-left: -150px; // img width 300px
        }
    }
    .sticky-wrapper {
        margin-top: 0;
    }
    #category-area {
        position: fixed;
        display: none;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 10;
        overflow-y: scroll;
        // Ease out from left
        @include transition(width 0.2s ease-in-out);
        width: 0;
        &.visible {
            display: block;
            box-shadow: 40px 0px 20px 15px rgba(0,0,0,0.7);
        }
        &.expanded {
            width: 60%;
        }
        .category-area {
            display: block;
            height: auto; // scrolling
            overflow-x: hidden;
            background: #262626;
            padding: 10px 10px 100px;
            .category {
                display: inline-block;
                border: none;
                border-bottom: 1px solid #CCC;
                padding: 10px 0;
                font-size: 12px;
                line-height: 17px;
                width: 100%;
                min-width: 150px;
                text-align: left;
                font-weight: bold;
                font-family: Arial, Helvetica;
                color: $tbs-white-color;
                background: none;
                overflow: hidden;
                > .name {
                    &:after {
                        position: absolute;
                        top: 11px;
                        right: 0;
                        content: "";
                        background: url(/static/light/bodyshop/landingpage/default/images/image-sprite.png);
                        background-position: 0px -230px;
                        width: 10px;
                        height: 14px;
                    }
                }
                &.selected > .name:after {
                    background-position: 0px -248px;
                }
                > .category-label {
                    font-family: $tbs-sans-font;
                    text-transform: uppercase;
                    padding-left: 15%;
                    cursor: initial;
                }
            }
        }
    }
    #hero-area {
        display: none;
        position: relative;
        .visible-xs.jumbotron,
        .visible-sm.jumbotron {
            height: 100%;
            margin-bottom: 1px;
            .title {
                line-height: 60px;
                font-size: 30px;
            }
        }
    }
    .tile {
        .relative.product-shot {
            .label {
                font-size: 12px;
                line-height: 12px;
                padding: 3px;
                bottom: 25px;
            }
            .price {
                font-size: 15px;
                bottom: 6px;
            }
        }
        .overlay {
            display: none; // mobile has no hover
        }
        &.wide {
            .relative.product-shot {
                div:after {
                    height: 60px;
                }
            }
        }
    }
    .previewContainer {
        max-height: 100%;
        .content {
            max-height: 100%; // mobile pop-up is fullscreen
        }
        &.landscape {
            .info.tagged,
            .look-product-carousel {
                position: absolute;
                top: 0;
                left: 20%;
                width: 80%;
                height: 100%;
            }
            .look-product-carousel {
                .info, .look-image-container {
                    width: 100%;
                    left: 0;
                }
            }
            .look-image {
                width: calc(100% - 90px);
            }
            .info, .product .info {
                .tagged-product {
                    padding-bottom: 0px;
                    position: relative;
                }
                .gallery-main-image {
                    .main-image-container {
                        height: 100%;
                        padding: 0 0 10px 10px;
                    }
                    .main-image .description {
                        display: inline-block;
                    }
                    .gallery-dots {
                        bottom: 70px;
                        .description-dot {
                            display: inline-block;
                        }
                    }
                }
                .product-details {
                    .title {
                        background: none;
                        width: 40%;
                    }
                    .buy {
                        width: 70%;
                    }
                }
                &.tagged {
                    padding: 0;
                    .tagged-product {
                        padding-bottom: 0px;
                        position: relative;
                    }
                    .product-details {
                        left: 0;
                        right: 100px; // Back button
                        width: auto;
                    }
                }
            }
            .shop {
                position: absolute;
                left: 0;
                top: 0;
                width: 20% !important;
                height: 100%;
                border-top: none;
                padding-top: 0;
                whitespace: normal;
                .stl-title {
                    padding: 0 5px;
                    top: 0;
                    > span {
                        line-height: 10px;
                        font-size: 10px;
                        height: auto;
                        &.newline {
                            display: block;
                        }
                    }
                }
                .stl-carousel {
                    position: absolute;
                    top: 24px;
                    bottom: 0;
                    height: auto;
                    .stl-look-container {
                        width: 100%;
                        height: 80%;
                        .stl-look {
                            white-space: normal;
                        }
                        .stl-item, .look-thumbnail {
                            margin: 5px 0;
                            width: 85%;
                            max-width: 90% !important;
                            height: 100px !important;
                            img {
                                width: auto;
                                height: auto;
                            }
                        }
                    }
                }
            }
            .feed {
                .look-product-carousel,
                .look-image-container {
                    position: relative;
                    width: 100%;
                    left: 0;
                }
                .look-image {
                    width: 100%;
                }

            }
        }
        .fullscreen {
            position: fixed;
            max-height: none !important;
            &.product.tagged {
                .content {
                    max-height: 100%;
                }
            }
        }
        .close {
            width: 60px;
            top: 0;
            right: 0;
            line-height: 40px;
            font-size: 35px;
            text-transform: uppercase;
            &:after {
                padding-left: 10px;
            }
        }
        .content {
            padding: 0 !important;
            border-radius: 0;
            box-shadow: none;
        }
        .look-image-container {
            height: 77%;
            position: relative;
            .look-image {
                width: calc(100% - 79px);
                height: 65px;
                border-radius: 0;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        .feed {
            .look-image-container {
                .look-image {
                    position: relative;
                    width: 100%;
                    height: auto;
                }
            }
        }
        .info {
            padding: 0;
            .tagged-product {
                padding-bottom: 105px; // title, price, buy
            }
            .buy {
                width: 100%;
                margin: 0 !important;
                padding-bottom: 10px;
                .button {
                    font-size: 18px;
                    line-height: 40px;
                    padding: 0;
                    font-weight: normal;
                    &:hover {
                        color: white;
                    }
                }
            }
            .main-image .description {
                display: inline-block;
                padding: 30px 60px 0;
                font-size: 15px;
                line-height: 17px;
                height: auto;
                max-height: 90%;
            }
            .gallery-dots .description-dot {
                display: inline-block;
            }
        }
        .info.tagged {
            padding: 0; // repeated to beat specificity
            height: 72.1%; // .1% to ensure there is no sub-pixel gap
            position: relative;
        }
        .look-product-carousel {
            width: 100%;
            height: 100%;
            .info, .look-image-container {
                height: 100% !important;
            }
            &.tagged {
                height: 72%;
            }
        }
        .product-details {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: auto;
            z-index: 10;
            padding: 10px 0 0 0;
            background: #FFF;
            .title, .price {
                padding-left: 10px;
                margin-bottom: 10px;
                text-shadow: 1px 1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, -1px -1px 0 #FFF;
            }
            .title {
                line-height: 16px;
                font-size: 16px;
                height: auto;
                background: #FFF;
                padding-top: 5px 45px 0 0;
            }
            .price {
                line-height: 20px;
                font-size: 20px;
            }
        }
        .gallery-main-image {
            width: 100%;
            height: 100%;
            max-width: 100%;
            max-height: 100%;
            &.contentShot .main-image-container {
                top: 0;
                left: 0;
            }
            .gallery-swipe-right {
                &:before {
                    position: absolute;
                    top: 50%;
                    right: 20px;
                    content: '\24D8'; // (i) sign
                    background: none;
                    font-family: sans-serif;
                    font-size: 18px;
                    line-height: 18px;
                    width: 18px;
                    height: 18px;
                    background-color: #FFF;
                    border-radius: 9px;
                }
            }
            .gallery-swipe-left {
                &:after {
                    font-size: 18px;
                    position: absolute;
                }
            }
            .image-holder {
                display: inline-block;
                position: relative;
                .image {
                    position: relative;
                    right: auto;
                    margin: auto;
                    display: block;
                }
                .overlay-image {
                    // This provides a box for the hi-res image to center in
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .shop {
            left: 0;
            right: 0;
            bottom: 0;
            height: 28%;
            width: 100% !important;
            margin-top: 0;
            .stl-title {
                >span {
                    line-height: 16px;
                    font-size: 16px;
                    height: 16px;
                    top: 0;
                    background: none;
                    padding: 0;
                }
            }
            .stl-carousel {
                border: none;
                border-radius: 0;
                padding-top: 0;
            }
            .stl-swipe-left, .stl-swipe-right {
                width: 10%;
                &:before, &:after {
                    top: 45%;
                }
            }
            .stl-look-container {
                width: 80%;
                height: 95%;
                position: absolute;
                top: 0;
            }
            .stl-look {
                height: 100%;
                white-space: nowrap;
                padding-top: 16px;
                position: absolute;
                top: 0;
                .stl-item {
                    margin: 0 3px;
                    width: 45%;
                    height: 100%;
                    overflow: hidden;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    .relative {
                        max-height: 100%;
                    }
                    img {
                        height: 100%;
                        max-height: none;
                    }
                    &.tile {
                        span {
                            left: 0;
                            right: 0;
                            padding: 0 3px;
                        }
                        .label {
                            font-size: 10px;
                            line-height: 12px;
                            bottom: 10px;
                            height: auto;
                        }
                        .price {
                            font-size: 10px;
                            line-height: 10px;
                        }
                    }
                }
            }
        }
        .shopping-bag {
            > div {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: auto;
                z-index: 100;
                background: #FFF;
            }
            .continue-shopping {
                position: absolute;
                width: auto;
                float: none;
                margin-right: 10%;
                padding: 0;
                color: #000;
                font-size: 13px;
                text-decoration: underline;
                line-height: inherit;
                text-transform: none;
                &:after {
                    display: block;
                    position: absolute;
                    top: 16px;
                    right: -12px;
                    width: 8px;
                    height: 10px;
                    content: '';
                    background: url(/static/light/bodyshop/landingpage/default/images/image-sprite.png);
                    background-position: 0px -272px;
                }
            }
            .bag-title {
                width: 100%;
                height: 40px;
                background: $tbs-white-color;
                line-height: 40px;
                span:first-child {
                    font-family: $tbs-title-font;
                    color: $tbs-black-color;
                    font-weight: bold;
                    font-size: 24px;
                    text-transform: uppercase;
                    padding-left: 15px;
                }
            }
            .product-details {
                position: relative;
            }
            .choices {
                position: relative;
                width: 100%;
                padding: 0 0 10px;
                line-height: 40px;
                .view-bag {
                    text-align: center;
                    font-size: 18px;
                    line-height: 40px;
                    background: $tbs-black-color;
                    font-weight: normal;
                    color: white;
                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
}
