@charset "UTF-8";

$ad-border-width: 0;

@import 'src/clients/aeropostale/landingpage/default/styles/main.scss';
@import 'src/components/ad/styles/base';

/* ad border */
body:before, body:after {
    content: "";
    position: fixed;
    background: #F02D3E;
    left: 0;
    right: 0;
    height: 1px;
}
body:before {
    top: 0;
}
body:after {
    bottom: 0;
}
body {
    border-left: 1px solid #F02D3E;
    border-right: 1px solid #F02D3E;  
}
#discovery-area {
	margin-top: 2px;
}

#topbar img {
	width: 100%;
}
.tile.grooveshark,
.tile.giftcard {
	display: none;
}
.tile.image .overlay {
    background-color: rgba(238, 40, 65, 0.5);
    color: #FFF;
    font-size: 21px;
    text-transform: uppercase;
    .cell {
        font-family: SaaSeriesFD, Helvetica, sans-serif;
    }
}

.tile .tile-border {
	border: none;
}

.tile .name {
	display: none;
}

.tile .price {
	display: none;
}
.tile.banner .button {
	pointer-events: none;
}

@media screen and (max-width: 190px) {
	.tile {
		width: 100% !important;
	}

	.tile.wide {
		width: 100% !important;
	}

}
