<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    @@include('shared/campaign_head.html')
    @@include('shared/campaign_opengraph_tags.html')
    <link rel="shortcut icon"
         href="/static/light/boodyshop/landingpage/default/images/favicon.ico" />
    <link rel="stylesheet" href="/static/light/bodyshop/landingpage/christmas/styles/main.css" />

    @@include('shared/campaign_respond.html')
    <!-- Begin Optimizer Tests -->
    <!-- End Optimizer Tests -->
    <script type="text/javascript">
        window.TRACKING_PIXELS = {
            'A': {
                'view': 'http://9nl.us/up0t',
                'click': 'http://9nl.us/xpdp'
            }
        };
        window.ACTIVE_TEST = 'A';
    </script>
    {% if environment == 'production' %}
        <script type='text/javascript'>
            var interval = setInterval(function() {
                var test, bindFn;

                if (!window.ACTIVE_TEST) {
                    return;
                }

                // Because we need to bind some events before anything else, use this fn
                // http://stackoverflow.com/a/2641047
                $.fn.bindFirst = function(name, fn) {
                    // bind as you normally would
                    // don't want to miss out on any jQuery magic
                    this.on(name, fn);

                    // Thanks to a comment by @Martin, adding support for
                    // namespaced events too.
                    this.each(function() {
                        var handlers = $._data(this, 'events')[name.split('.')[0]];
                        // take out the handler we just inserted from the end
                        var handler = handlers.pop();
                        // move it at the beginning
                        handlers.splice(0, 0, handler);
                    });
                };

                bindFn = function() {
                    (new Image).src = window.TRACKING_PIXELS[test].click;
                }

                clearInterval(interval);
                test = window.ACTIVE_TEST;

                // Append click pixel
                if (/Android|iPhone|iPad|iPod/i.test(navigator.userAgent)) {
                    $('.tile').bindFirst('click', bindFn);
                } else {
                    // Why doesn't bindFirst work on desktop?
                    $('body').on('click', '.tile', bindFn);
                }


                // Append page view pixel
                (new Image).src = window.TRACKING_PIXELS[test].view;
            }, 1000);
        </script>
    {% endif %}
    <title>{{ page.name|default:"The Body Shop®" }}</title>
    <!-- Begin CRAZY EGG -->
    <script type="text/javascript">
        setTimeout(function(){var a=document.createElement("script");
        var b=document.getElementsByTagName("script")[0];
        a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0039/3591.js?"+Math.floor(new Date().getTime()/3600000);
        a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
    </script>
</head>
<body>
    <div class="header-links-bar desktop-only">
        <div class="container">
            <nav id="complementary-nav" class="desktop-only"><ul>
                <!-- <li class="any">
                    <a id="any" href="/en/about-us/aboutus.aspx" title="About Us">About Us<span></span></a>
                </li>
                <li class="signed">
                    <a id="signed" href="/en/services/contactus.aspx" title="Contact Us">Contact Us<span></span></a>
                </li> -->
                <li class="any">
                    <a href="http://www.thebodyshop-usa.com/en/services/storelocator-result.aspx" title="Find a store">Find a store<span></span></a>
                </li>
                <li class="email_inscr-03">
                    <a href="http://www.thebodyshop-usa.com/en/index.aspx" title="Email Updates">Email Updates<span></span></a>
                </li>
                <li class="any">
                    <a href="http://www.thebodyshop-usa.com/en/giftcard/" title="Gift Cards">Gift Cards<span></span></a>
                </li>
                <li class="lyb-information">
                    <a href="http://www.thebodyshop-usa.com/index.aspx" title="Rewards Points">Rewards Points<span></span></a>
                </li>
                <li class="anonymouse">
                    <a href="http://www.thebodyshop-usa.com/en/loveyourbody" title="REWARDS CARD">REWARDS CARD<span></span></a>
                </li>
                <li>
                    <a href="https://help.thebodyshop-usa.com/us/" title="FAQ">FAQ</a>
                </li>
            </ul></nav>

            <div style="clear:both;"></div>
        </div>
    </div>
    <div class='navbar'>
        <!-- <div class="container">
            <img src="http://www.thebodyshop.ca/en/img/common/logo/logo_tbs_white.png" alt="">
        </div> -->
        
        <div class="container">
            
            <a href="http://www.thebodyshop-usa.com/" target="_top" class="logo">
                <img class="desktop" src="/static/light/bodyshop/landingpage/default/images/logo_tbs_white.png" />
            </a>
            <div id="search-bar" class="search input_search">
                <input type="text" placeholder="Search" id="searchQuestionDisplayed" style="font-style: normal; z-index: 500; outline: none;" autocomplete="off">
                <span id="submit-search"></span>
            </div>
            <div style="clear:both;"></div>
            <nav id="mainnav" class="mainnavmegamenu" role="navigation">
                <ul>
                    <li class="first"><a href="http://www.thebodyshop-usa.com/index.aspx" title="Go to Homepage" style="padding: 0px 17px;">HOME<span></span></a></li>
                    <li class="">
                        <a href="http://www.thebodyshop-usa.com/whats-new.aspx" title="New" style="padding: 0px 17px;">New</a>
                    </li>
                    <li class="hot">
                        <a href="http://www.thebodyshop-usa.com/gifts.aspx" title="Holiday Gifts" style="padding: 0px 17px;">Holiday Gifts</a>
                    </li>
                    <li class="">
                        <a href="http://www.thebodyshop-usa.com/skin-care.aspx" title="Skin Care" style="padding: 0px 17px;">Skin Care</a>
                    </li>
                    <li class="">
                        <a href="http://www.thebodyshop-usa.com/bath-body-care.aspx" title="Bath &amp; Body" style="padding: 0px 17px;">Bath &amp; Body</a>
                    </li>
                    <li class="">
                        <a href="http://www.thebodyshop-usa.com/makeup.aspx" title="Makeup" style="padding: 0px 17px;">Makeup</a>
                    </li>
                    <li class="">
                        <a href="http://www.thebodyshop-usa.com/hair-care-products.aspx" title="Hair" style="padding: 0px 17px;">Hair</a>
                    </li>
                    <li class="">
                        <a href="http://www.thebodyshop-usa.com/fragrance.aspx" title="Fragrance" style="padding: 0px 17px;">Fragrance</a>
                    </li>
                    <li class="">
                        <a href="http://www.thebodyshop-usa.com/men-product.aspx" title="Mens" style="padding: 0px 17px;">Mens</a>
                    </li>
                    <li class="last">
                        <a href="http://www.thebodyshop-usa.com/shop-by-line.aspx" title="Ingredients" style="padding: 0px 17px;">Ingredients</a>
                    </li>
                    <li class="">
                        <a href="http://www.thebodyshop-usa.com/specials.aspx" title="OFFERS" style="padding: 0px 17px;">OFFERS</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="clear-both"></div>
    @@include('shared/campaign_body.html')

    <div>
        <script type="text/template" id="product_galleryDots_template">
            <% for (var i = 0; i < obj.images.length; i++) { %>
                <div class="item" data-index="<%- i %>"></div>
            <% } %>
            <div class="item description-dot mobile-only" data-index="<%= obj.images.length %>"></div>
        </script>

        <script type="text/template" id="product_galleryMainImage_template">
            <div class="main-image-container">
                <div class="main-image">
                    <% for (var j = 0; j < obj.images.length; j++) {
                        // only 1st image is progressively loaded, others load hi-res version
                        if (j === 0) { %>
                            <img class="image" data-id="<%= obj.images[j].id %>" src="<%= obj.images[j].url %>" />
                            <img class="hi-res image" />
                        <% } else { %>
                            <div class="image" data-id="<%= obj.images[j].id %>">
                                <img class="hi-res image"></div>
                            </div>
                        <% }
                    } %>
                    <div class="description mobile-only">
                        <% include("product_description_template") %>
                    </div>
                </div>
            </div>
        </script>

        <script type="text/template" id="product_tile_template">
            <% include("image_tile_template") %>
        </script>

        <script type="text/template" id="banner_tile_template">
            <% include("image_tile_template") %>
        </script>

        <script type="text/template" id="recipe_tile_template">
            <% include("image_tile_template") %>
        </script>

        <script type="text/template" id="image_tile_template">
            <% if (obj.template === "product" && obj.defaultImage.get('productShot') === true) { %>
            <div class='relative product-shot'>
                <div>
                    <img class="focus" src="<%= obj.defaultImage.url %>" />
                </div>
                <span class="product-label"><%= obj.product.get('name') %></span>
                <% if (obj.product.get('salePrice')) { %>
                    <span class="product-price"><%= obj.product.get('currency') %><%= obj.product.get('salePrice') %> (<%= obj.product.get('currency') %><%= obj.product.get('price') %>)</span>
                <% } else { %>
                    <span class="product-price"><%= obj.product.get('currency') %><%= obj.product.get('price') %></span>
                <% } %>
            </div>
            <% } else { %>
            <div class='relative'>
                <img class="focus" src="<%= obj.defaultImage.url %>" />
            </div>
            <% } %>
            <div class="overlay">
                <div class='table'>
                    <div class='cell'>
                        <% /* "Shop product" is actually wanted for the tile overlay */  %>
                        <div class="title">
                        <% if (obj.template === "product") { %>
                            <span>Get Details</span>
                        <% } else if (obj.template === "image") { %>
                            <span>Get Details</span>
                            <br/>
                            <span class="tile-name"><%= obj.defaultImage.get('name') %></span>
                        <% } else { %>
                            <span>Get Details</span>
                            <br/>
                            <span class="tile-name"><%= (obj.title || obj.name || obj.caption) %></span>
                        <% } %>
                        </div>
                    </div>
                </div>
            </div>
            <% if (App.option("debug", 0) > 1) { %>
                <span class="type"><%= obj["content-type"] %></span>
            <% } %>
        </script>

        <script type="text/template" id="similar_product_template">
            <div class='relative product-shot'>
                <div>
                    <img class="focus" src="<%= obj.defaultImage.url %>" />
                </div>
                <span class="product-label"><%= obj.name %></span>
                <% if (obj.salePrice) { %>
                    <span class="product-price"><%= obj.currency %><%= obj.salePrice %> (<%= obj.currency %><%= obj.price %>)</span>
                <% } else { %>
                    <span class="product-price"><%= obj.currency %><%= obj.price %></span>
                <% } %>
            </div>
            <div class="overlay">
                <div class='table'>
                    <div class='cell'>
                        <div class="title">
                            <span>Get Details</span>
                        </div>
                    </div>
                </div>
            </div>
        </script>

        <script type="text/template" id="preview_container_template">
            <% var template = (obj.template || "image") %>
            <% var tagged = false; try { tagged = !_.isEmpty(obj.taggedProducts); } catch (e) {} %>
            <div class="fullscreen <% if (scrollable) { %>scrollable<% } %> <%= template %> <% if (tagged) { %>tagged<% } %>">
                <div class="content">
                    <span class="close desktop-only"></span>
                    <span class="close mobile-only"></span>
                    <div class="template target"></div>
                </div>
            </div>
            <div class="mask"></div>
        </script>

        <script type="text/template" id="product_price_template">
            <% if (obj.sale) { %>
                <span class="current sale"><%= obj.displayPrice.dollars %><%= obj.displayPrice.dollars %>.<%= obj.currency %></span>
                <span class="suggested-price">(<span class="dollar-amount"><%= obj.currency %><%= obj.saleString %></span> Value)</span>
            <% } else { %>
                <span class="current no-sale"><%= obj.displayPrice.dollars %>.<%= obj.displayPrice.cents %></span>
            <% } %>
        </script>

        <script type="text/template" id="product_buy_template">
            <a class='button' href='<%= obj.url %>' target='_blank'>
                <span>ADD TO BAG</span>
            </a>
        </script>

        <script type="text/template" id="product_description_template">
            <%= obj.truncatedDescription || obj.description %>
        </script>

        <script type="text/template" id="product_info_template">
            <div class="tagged-product">
                <div class="product-details mobile-only">
                    <div class='title'>
                        <% include("product_title_template") %>
                    </div>
                    <div class='price'>
                        <% include("product_price_template") %>
                    </div>
                </div>
                <div class="gallery-main-image">
                    <div class="gallery-swipe-left"></div>
                    <div class="gallery-swipe-right"></div>
                    <% include("product_galleryMainImage_template") %>
                    <div class='gallery-dots'>
                        <% include("product_galleryDots_template") %>
                    </div>
                </div>
                <div class='buy mobile-only'>
                    <% include("product_buy_template") %>
                </div>
                <div class="product-details desktop-only">
                    <div class='title'>
                        <% include("product_title_template") %>
                    </div>
                    <div class='price'>
                        <% include("product_price_template") %>
                    </div>
                    <div class='description'>
                        <% include("product_description_template") %>
                    </div>
                    <div class='buy'>
                        <% include("product_buy_template") %>
                    </div>
                    <% if (obj['collectionName']) { %>
                    <div class="back">
                        Back to Collection Description
                    </div>
                    <% } %>
                </div>
            </div>
        </script>

        <script type="text/template" id="image_info_template">
            <div class="tagged-product">
                <div class="product-details mobile-only">
                    <div class='title'>
                        <% include("product_title_template") %>
                    </div>
                    <div class='price'>
                        <% include("product_price_template") %>
                    </div>
                </div>
                <div class="gallery-main-image">
                    <div class="gallery-swipe-left"></div>
                    <div class="gallery-swipe-right"></div>
                    <% include("product_galleryMainImage_template") %>
                    <div class='gallery-dots'>
                        <% include("product_galleryDots_template") %>
                    </div>
                </div>
                <div class='buy mobile-only'>
                    <% include("product_buy_template") %>
                </div>
                <div class="product-details desktop-only">
                    <div class='title'>
                        <% include("product_title_template") %>
                    </div>
                    <div class='price'>
                        <% include("product_price_template") %>
                    </div>
                    <div class='description'>
                        <% include("product_description_template") %>
                    </div>
                    <div class='buy'>
                        <% include("product_buy_template") %>
                    </div>
                    <% if (obj['recipeName']) { %>
                    <div class="back">
                        Back to <%- obj['recipeName'] %> Recipe
                    </div>
                    <% } %>
                    <% if (obj['collectionName']) { %>
                    <div class="back">
                        Back to Collection Description
                    </div>
                    <% } %>
                </div>
            </div>
        </script>

        <script type="text/template" id="product_preview_template">
            <div class="table <%= obj.orientation %>">
                <div class="feature">
                    <div class="cell info">
                        <div class="product-info"></div>
                    </div>
                    <div class="cell shop">
                        <div class="product-thumbnails"></div>
                    </div>
                </div>
                <div class="cell similar-products overflow"></div>
            </div>
            <img class="load-image image" src="/static/light/images/icon-check-16x16.png" alt="this img tag intentionally left blank" />
        </script>

        <script type="text/template" id="similar_products_template">
            <span class="similar-cta">Shop The Set</span>
            <div class="tiles"></div>
        </script>

        <script type="text/template" id="desktop_tagged_products">
            <div class="feature">
                <div class="cell look-image-container">
                    <% if (template === "collection") { %>
                        <% var url = obj.expandedImage ? obj.expandedImage.url : image.url; %>
                        <img src="<%= url %>" alt="image" class="look-image" />
                    <% } else if (template === "recipe") { %>
                        <% include("recipe_template") %>
                    <% } else { %>
                        <div class="look-image" style="background-image: url('<%= image.url %>');"></div>
                    <% } %>
                </div>
                <div class="cell info">
                    <div class="product-info"></div>
                </div>
                <div class="cell shop">
                    <div class="product-thumbnails"></div>
                </div>
            </div>
            <div class="cell similar-products overflow"></div>
        </script>

        <script type="text/template" id="mobile_tagged_products">
            <div class="feature">
                <div class="look-product-carousel">
                    <div class="cell look-image-container">
                        <% if (template === "collection") { %>
                            <% var url = obj.expandedMobileImage ? obj.expandedMobileImage.url :
                                        ( obj.expandedImage ? obj.expandedImage.url : image.url); %>
                            <img src="<%= url %>" alt="image" class="look-image" />
                        <% } else if (template === "recipe") { %>
                            <% include("recipe_template") %>
                        <% } else { %>
                            <div class="look-image" style="background-image: url('<%= image.url %>');"></div>
                        <% } %>
                    </div>
                    <div class="cell info">
                        <div class="product-info"></div>
                    </div>
                </div>
                <div class="cell shop">
                    <div class="product-thumbnails"></div>
                </div>
            </div>
            <div class="cell similar-products overflow"></div>
        </script>

        <script type="text/template" id="no_tagged_products">
            <div class="image-without-tagged-products">
                <div class="table">
                    <div>
                        <div class="image">
                            <img src="<%= image.url %>" alt="image" class="image look-image" />
                        </div>
                        <div>
                            <div class="info">
                                <div class="title">
                                    Coming soon to Sur la Table!
                                </div>
                                <div class="buy">
                                    <a class='button' href='http://www.thebodyshop-usa.com/' target='_blank'>
                                        Shop On The Body Shop
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </script>

        <script type="text/template" id="category_template">
            <span class="name <% if (obj.subCategories) { %>subcats<% } %>" data-name="<%- obj.name %>"><%- obj.displayName %></span>
            <% if (obj.subCategories) { %>
            <div class="sub-categories">
                <div class="wrap">
                    <div class="sub-categories-section">
                        <div class="sub-categories-label">
                            <span><%- obj.subCategories[0].label %></span>
                        </div>
                    <% for (var i = 1; i < obj.subCategories.length; i++) { %>
                        <% if (obj.subCategories[i].label) { %>
                        </div>
                        <div class="sub-categories-label">
                            <span><%- obj.subCategories[i].label %></span>
                        </div>
                        <% } else { %>
                        <div class="sub-category" data-name="<%- obj.subCategories[i].name %>">
                            <img src="<%- obj.subCategories[i]['thumbnail'] || '/static/light/bodyshop/landingpage/christmas/images/subcat-placeholder.png' %> " />
                            <span class="name">
                                <% if (obj.subCategories[i].displayName) { %>
                                    <%- obj.subCategories[i].displayName %>
                                <% } else { %>
                                    <%- obj.subCategories[i].name %>
                                <% } %>
                            </span>
                        </div>
                        <% } %>
                    <% } %>
                    </div>
                </div>
            </div>
            <% } %>
        </script>

        <!-- custom templates -->
    </div>

    <div class="container" id="category-container">
        <!-- .container is bootstrap magic, and has a viewport-dependent width. -->
        <img src="/static/light/bodyshop/landingpage/christmas/images/banner.png">
        <div id="category-area">
            <div id="category-closer"></div>
        </div>
        <div id="hero-area"></div>
        <!-- <div class="shop-cta desktop-only">Click to shop the below</div> -->
        <div id="discovery-area" class="discovery-area"></div>
        <div class="tile-sizer tile"></div>
        <div class="no-noscript loading"></div>
        <noscript>
            <!-- promotions to show when user does not have javascript.
             this is a 'we need javascript' message by default.
             -->
            <div class="alert alert-danger">
                <b>Oh no!</b> We need JavaScript enabled to show you this page.
            </div>
        </noscript>
    </div>
    <footer>
        <div class="container">
            <img src="/static/light/bodyshop/landingpage/christmas/images/footer.png"/>
        </div>
    </footer>
    <img src="{% url 'apps.tracking.views.pixel' %}"/>
    <div>
        @@include('shared/default_templates.html')
    </div>
    <script type="text/javascript" src="/static/light/bodyshop/landingpage/christmas/scripts/main.js"></script>
</body>
</html>
