/* A comment! */
html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}


#title-bar {
    position: absolute;
    top: 0;
    padding-top: 5px;
    margin-top: -20px !important;
    width: 100%;
    height: 4em;
}

#title-bar h1 {
    padding-left: 10px;
    display: inline-block;
    float:left;
    font-size: 2em;
}

#title-bar .show {
    display: inline-block;
    position: relative;
    top: 2.5em;
    right: 2em;
    float: right;
}

#title-bar .show span,
#title-bar .show li {
    padding-left:5px;
}

#title-bar .show ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

#title-bar .show ul li {
    display: inline-block;
}

.results {
    position: absolute;
    top: 4em;
    width: 100%;
}

.results h2 {
    display: inline-block;
    cursor: pointer;
}

.results h2:hover {
    color: grey;
}

.results h2,
.results .spec h3 {
    padding: 0;
    margin: 0;
    margin-left: 10px;
}

.results .spec,
.results .spec .suite
.results .spec .suite .case {
    width: 99%;
}

.results .spec {
    background-color: #FFD3DB;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 1px solid #000000;
}

.results .spec .suite {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 10px;
    height: 100%;
}

.results .spec .suite .case {
    margin-left: 10px;
    background-color: #F9A7B0;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid red;
}


a {
    text-decoration: none;
    color: blue;
}

a:hover {
    color: grey;
}

.fail {
    background-color: #F9A7B0; /* Flamingo! */
}

.success {
    background-color: #00CC00 !important;
}

div#Passed {
    background-color: #66FF66 !important;
}

div#Passed .suite {
    background-color: #009933 !important;
}

div#Passed .suite .case {
    background-color: #00CC00 !important;
    border-color: #000 !important;
}