@charset "UTF-8";

$ad-border-width: 0;

@import 'src/components/ad/styles/base';

@font-face {
    font-family: "URWBaskerT";
    src: url("//s3-us-west-2.amazonaws.com/static-misc-secondfunnel/fonts/URWBaskerville.otf") format('opentype');
}

@font-face {
    font-family: "URWBaskerT";
    src: url("//s3-us-west-2.amazonaws.com/static-misc-secondfunnel/fonts/URWBaskerville.ttf") format('truetype'),
         url("//s3-us-west-2.amazonaws.com/static-misc-secondfunnel/fonts/URWBaskerville.woff") format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "URWBaskerT";
    src: url("//s3-us-west-2.amazonaws.com/static-misc-secondfunnel/fonts/URWBaskerville-italic.ttf") format('truetype'),
         url("//s3-us-west-2.amazonaws.com/static-misc-secondfunnel/fonts/URWBaskerville-italic.woff") format('woff');
    font-weight: bold;
    font-style: italic;
}

html {
    border: transparent !important;
}

html, body, .container, #discovery-area {
    min-height: 100%;
}

body > .container {
    padding: 2px;
    border: 1px #d0d0d0 solid;
}

html {
    border: 1px solid #eee;
    box-sizing: border-box;
}

body {
    margin: 0;
}

#discovery-area {
    margin-top: 0;
}

#bottom-padding {
    position: fixed;
    height: 1px;
    bottom: 0;
    z-index: 2;
    left: 0;
    right: 0;
    border-bottom: 1px solid #d0d0d0;
}

#topbar {
    font-family: "URWBaskerT", Georgia, Times, "Times New Roman", "DroidSerif", serif;
    font-size: 19px;
    font-weight: bold;
    text-rendering: optimizeLegibility;
    text-align: center;
}

#topbar img {
    max-width: 100%;
}

.caption {
    display: none;
}

.tile {
    padding: 2px;
}

html, body, .container {
    overflow: hidden;
}
