<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    @@include('shared/campaign_head.html')
    @@include('shared/campaign_opengraph_tags.html')
    <!-- End Optimizer Tests -->
    <link rel="shortcut icon"
         href="http://g.etfv.co/http://www.surlatable.com" />
    <link rel="stylesheet" href="/static/light/surlatable/landingpage/default/styles/main.css"/>

    @@include('shared/campaign_respond.html')
    <!-- Add Optimizer Tests here -->
    <script type="text/javascript">
        window.TRACKING_PIXELS = {
            'A': {
                'view': 'http://9nl.us/up0t',
                'click': 'http://9nl.us/xpdp'
            }
        };
        window.ACTIVE_TEST = 'A';
    </script>
    {% if environment == 'production' %}
        <script type='text/javascript'>
            var interval = setInterval(function() {
                var test, bindFn;

                if (!window.ACTIVE_TEST) {
                    return;
                }

                // Because we need to bind some events before anything else, use this fn
                // http://stackoverflow.com/a/2641047
                $.fn.bindFirst = function(name, fn) {
                    // bind as you normally would
                    // don't want to miss out on any jQuery magic
                    this.on(name, fn);

                    // Thanks to a comment by @Martin, adding support for
                    // namespaced events too.
                    this.each(function() {
                        var handlers = $._data(this, 'events')[name.split('.')[0]];
                        // take out the handler we just inserted from the end
                        var handler = handlers.pop();
                        // move it at the beginning
                        handlers.splice(0, 0, handler);
                    });
                };

                bindFn = function() {
                    (new Image).src = window.TRACKING_PIXELS[test].click;
                }

                clearInterval(interval);
                test = window.ACTIVE_TEST;

                // Append click pixel
                if (/Android|iPhone|iPad|iPod/i.test(navigator.userAgent)) {
                    $('.tile').bindFirst('click', bindFn);
                } else {
                    // Why doesn't bindFirst work on desktop?
                    $('body').on('click', '.tile', bindFn);
                }


                // Append page view pixel
                (new Image).src = window.TRACKING_PIXELS[test].view;
            }, 1000);
        </script>
    {% endif %}
    <title>{{ page.name|default:"Sur la Table" }}</title>
</head>
<body>
    <div class='navbar'>
        <div class="container">
            <a href="http://www.surlatable.com/" target="_blank" class="logo logoA">
                <img src="/static/light/surlatable/landingpage/default/images/SLT-logo.png" />
            </a>

            <div class="header-links-bar">
			    <a href="https://www.surlatable.com/account/login.jsp" rel="noFollow" >Log In or Register</a> |
				<a href="https://www.surlatable.com/account/anonymousOrderTracking.jsp" rel="noFollow">Track My Order</a> |
                <a href="http://blog.surlatable.com/" class="orange">Blog</a> |
	            <a href="http://www.surlatable.com/eightBridge/ebCurate.jsp" class="orange">Cooking Community</a> |
				<a href="http://www.surlatable.com/browse/storeLocator/landingPage.jsp" class="green">Find a Store</a>
		    </div>
            <div style="clear:both;"></div>
        </div>
    </div>

    <div class="second-category-area">
		<div class="topNavWrapper ">
            <span class="dropdown-label"> Gift Registry</span>
            <div class="navDropdown">
                <ul>
                    <li class="topNavHref "><a rel="nofollow" href="http://www.surlatable.com/category/cat360421/Create+a+Registry">Create a Registry</a></li>
                    <li class="topNavHref "><a rel="nofollow" href="http://www.surlatable.com/category/cat360423/Find+a+Registry">Find a Registry</a></li>
                    <li class="topNavHref "><a rel="nofollow" href="http://www.surlatable.com/category/cat360425/Manage+a+Registry" >Manage a Registry</a></li>
                    <li class="topNavHref "><a rel="nofollow" href="http://www.surlatable.com/category/cat460479/Reasons+to+Register">Reasons to Register</a></li>
                    <li class="topNavHref "><a rel="nofollow" href="http://www.surlatable.com/category/cat510423/Gift+Registry+Tips+and+Guides">Tips and Guides</a></li>
                    <li class="topNavHref "><a rel="nofollow" href="http://www.surlatable.com/category/cat830431/Special+Registry+Events">Special Registry Events</a></li>
                    <li class="topNavHref "><a rel="nofollow" href="http://www.surlatable.com/category/cat510421/Gift+Registry+Concierge">Gift Registry Concierge</a></li>
                    <li class="topNavHref "><a rel="nofollow" href="http://www.surlatable.com/category/cat590431/Gifts+from+Us">Gifts from Us</a></li>
                </ul>
            </div>
        </div>

        <div class="topNavWrapper">
            <span class="dropdown-label">Gift Cards</span>
            <div class="navDropdown">
                <ul>
                    <li class="topNavHref "><a href="http://www.surlatable.com/product/GCP-15270/">Virtual Gift Card</a></li>
                    <li class="topNavHref "><a href="http://www.surlatable.com/product/GCP-15269/">Traditional Gift Card</a></li>
                    <li class="topNavHref "><a href="http://www.surlatable.com/product/GCP-15271/">Virtual Classes Gift Card</a></li>
                    <li class="topNavHref "><a href="http://www.surlatable.com/product/GCP-15267/">Traditional Classes Gift Card</a></li>
                    <li class="topNavHref "><a onclick="loadPageFullPathForHeader('http://www.surlatable.com/account/include/acctCheckCardBalanceLookup.jsp',{isFromEditLink:'true'});" href="#">Check Gift Card Balance</a></li>
                    <li class="topNavHref "><a onclick="loadPageFullPathForHeader('http://www.surlatable.com/account/include/acctHowToRedeemGiftCard.jsp',{isFromEditLink:'true'});" href="#">How to Redeem Gift Card</a></li>
                    <li class="topNavHref "><a href="http://www.surlatable.com/category/CAT-11149/Gift+Cards" rel="nofollow" title="More About Gift Cards">More About&nbsp;Gift Cards</a></li>
                </ul>
            </div>
        </div>

        <div class="topNavWrapper topNavHref no-hover">
            <span class="dropdown-label">
                <a rel="nofollow" href="http://www.surlatable.com/category/cat1030418/Holiday+Gift+Ideas">Holiday Gift Ideas</a>
            </span>
        </div>

        <div class="topNavWrapper ">
            <span class="dropdown-label"> Recipes</span>
            <div class="navDropdown">
                <ul>
                    <li class="topNavHref "><a rel="nofollow" href="http://www.surlatable.com/category/cat2311837/Fall+Recipes">Fall Recipes</a></li>
                    <li class="topNavHref "><a rel="nofollow" href="http://www.surlatable.com/category/cat2304137/Featured+Recipes">Featured Recipes</a></li>
                    <li class="topNavHref "><a rel="nofollow" href="http://www.surlatable.com/category/WRC-11323/Appetizers">Appetizers</a></li>
                    <li class="topNavHref "><a rel="nofollow" href="http://www.surlatable.com/category/WRC-11324/Beverages">Beverages</a></li>
                    <li class="topNavHref "><a rel="nofollow" href="http://www.surlatable.com/category/WRC-11325/Breads">Breads</a></li>
                    <li class="topNavHref "><a rel="nofollow" href="http://www.surlatable.com/category/WRC-11327/Breakfast">Breakfast</a></li>
                    <li class="topNavHref "><a rel="nofollow" href="http://www.surlatable.com/category/WRC-11329/Desserts">Desserts</a></li>
                    <li class="topNavHref "><a rel="nofollow" href="http://www.surlatable.com/category/WRC-11330/Main+Courses">Main Courses</a></li>
                    <li class="topNavHref "><a rel="nofollow" href="http://www.surlatable.com/category/WRC-236629/Pizza">Pizza</a></li>
                    <li class="topNavHref "><a rel="nofollow" href="http://www.surlatable.com/category/WRC-11332/Salads">Salads</a></li>
                    <li class="topNavHref "><a rel="nofollow" href="http://www.surlatable.com/category/WRC-11333/Sandwiches">Sandwiches</a></li>
                    <li class="topNavHref "><a rel="nofollow" href="http://www.surlatable.com/category/WRC-11334/Side+Dishes">Side Dishes</a></li>
                    <li class="topNavHref "><a rel="nofollow" href="http://www.surlatable.com/category/WRC-11335/Soups+and+Stews">Soups &amp; Stews</a></li>
                </ul>
            </div>
        </div>

        <div class="topNavWrapper topNavHref no-hover">
            <span class="dropdown-label">
                <a rel="nofollow" href="http://www.surlatable.com/category/cat2250854/Brands?cleanSession=true&amp;pCat=cat2250854">Brands</a>
            </span>
        </div>

        <div class="topNavWrapper ">
            <span style="color:#961c17" class="dropdown-label"> Sale &amp; Clearance</span>
            <div class="navDropdown">
                <ul>
                    <li class="topNavHref "><a rel="nofollow" href="http://www.surlatable.com/category/cat360433/Cookware+Sale?cleanSession=true&amp;pCat=cat360431">Cookware Sale</a></li>
                    <li class="topNavHref "><a rel="nofollow" href="http://www.surlatable.com/category/cat2241642/Knife+and+Cutting+Board+Sale?cleanSession=true&amp;pCat=cat360431">Knife &amp; Cutting Board Sale</a></li>
                    <li class="topNavHref "><a rel="nofollow" href="http://www.surlatable.com/category/cat2241641/Small+Appliance+Sale?cleanSession=true&amp;pCat=cat360431">Small Appliance Sale</a></li>
                    <li class="topNavHref "><a rel="nofollow" href="http://www.surlatable.com/category/cat2241643/Kitchen+Tools+Sale?cleanSession=true&amp;pCat=cat360431">Kitchen Tools Sale</a></li>
                    <li class="topNavHref "><a rel="nofollow" href="http://www.surlatable.com/category/cat390421/Bakeware+Sale?cleanSession=true&amp;pCat=cat360431">Bakeware Sale</a></li>
                    <li class="topNavHref "><a rel="nofollow" href="http://www.surlatable.com/category/cat390422/Dining+and+Serveware+Sale?cleanSession=true&amp;pCat=cat360431">Dining &amp; Serveware Sale</a></li>
                    <li class="topNavHref "><a rel="nofollow" href="http://www.surlatable.com/category/cat2303430/Drinkware+and+Glassware+Sale?cleanSession=true&amp;pCat=cat360431">Drinkware &amp; Glassware Sale</a></li>
                    <li class="topNavHref "><a rel="nofollow" href="http://www.surlatable.com/category/cat2303429/Napkins+and+Table+Linens+Sale?cleanSession=true&amp;pCat=cat360431">Napkins &amp; Table Linens Sale</a></li>
                    <li class="topNavHref "><a rel="nofollow" href="http://www.surlatable.com/category/cat390420/Coffee+and+Tea+Sale?cleanSession=true&amp;pCat=cat360431">Coffee &amp; Tea Sale</a></li>
                    <li class="topNavHref "><a rel="nofollow" href="http://www.surlatable.com/category/cat390424/Home+Sale?cleanSession=true&amp;pCat=cat360431">Home Sale</a></li>
                    <li class="topNavHref "><a rel="nofollow" href="http://www.surlatable.com/category/cat390426/Outdoor+Sale?cleanSession=true&amp;pCat=cat360431">Outdoor Sale</a></li>
                    <li class="topNavHref "><a rel="nofollow" href="http://www.surlatable.com/category/cat2211269/All+Sale?cleanSession=true&amp;pCat=cat360431">All Sale</a></li>
                    <li class="topNavHref "><a rel="nofollow" href="http://www.surlatable.com/category/cat930424/Clearance?cleanSession=true&amp;pCat=cat360431">Clearance</a></li>
                </ul>
            </div>
        </div>

        <div class="topNavWrapper ">
            <span class="dropdown-label"> What's New</span>
            <div class="navDropdown">
                <ul>
                    <li class="topNavHref "><a rel="nofollow" href="http://www.surlatable.com/category/cat700431/New+in+Cooking">New in Cooking</a></li>
                    <li class="topNavHref "><a rel="nofollow" href="http://www.surlatable.com/category/cat950422/New+in+Baking">New in Baking</a></li>
                    <li class="topNavHref "><a rel="nofollow" href="http://www.surlatable.com/category/cat700433/New+in+Dining">New in Dining</a></li>
                    <li class="topNavHref "><a rel="nofollow" href="http://www.surlatable.com/category/cat700432/New+in+Coffee+and+Tea">New in Coffee &amp; Tea</a></li>
                    <li class="topNavHref "><a rel="nofollow" href="http://www.surlatable.com/category/cat700434/New+in+Home">New in Home</a></li>
                    <li class="topNavHref "><a rel="nofollow" href="http://www.surlatable.com/category/cat2211276/All+New">All New</a></li>
                </ul>
            </div>
        </div>

        <div class="topNavWrapper topNavHref no-hover">
            <span class="customColorLink dropdown-label"><a style="color:#961c17" rel="nofollow" href="http://www.surlatable.com/category/cat2370830/Christmas?cleanSession=true&pCat=cat2370830">Christmas</a></span>
        </div>
    </div>

    <div class="clear-both"></div>
    @@include('shared/campaign_body.html')

    <div>
        <script type="text/template" id="product_tile_template">
            <div class="img-wrapper">
                <img class="focus" src="<%= obj.images[0].url %>" alt="<%= caption %>" />
                <div class="quick-view"><span>Quick View</span></div>
            </div>
            <% if (App.option('debug', 0) > 1) { %>
                <span class="type"><%= obj['content-type'] %></span>
            <% } %>
            <div class="name"><%= obj.title || obj.name %></div>
            <div class="price">
                <% if (obj.sale_price) { %>
                    <span class="sale">
                        Now: <%- obj.sale_price %>
                    </span>
                    <span class="original">
                        Was: <%- obj.price %>
                    </span>
                <% } else { %>
                    <%- obj.price %>
                <% } %>
              </div>
            </script>

            <script type="text/template" id="image_tile_template">
              <div class='relative'>
                  <img class="focus" src="<%= obj.images[0].url %>" alt="<%= obj.caption %>" />
              </div>
              <div class="overlay">
                  <div class='table'>
                      <div class='cell'>
                          <% /* "Shop product" is actually wanted for the tile overlay */ %>
                          <div class="title">
                              <% var products = obj['tagged-products'] ? obj['tagged-products'] : []; %>
                              <% if (obj.title || obj.name || obj.caption) { %>
                                  <%= (obj.title || obj.name || obj.caption) %>
                              <% } else if (products.length > 0) { %>
                                  <span>Shop Product<% if (products.length > 1) { %>s<% } %></span>
                                  <br/>
                                  <% _.each(products, function (related) { %>
                                      <span class='shop-products'><%= related.title || related.name || related.caption %></span>
                                  <% }); %>
                              <% } else { %>
                                  Shop Product
                              <% } %>
                          </div>
                      </div>
                  </div>
              </div>
            <% if (App.option("debug", 0) > 1) { %>
                <span class="type"><%= obj["content-type"] %></span>
            <% } %>
        </script>

        <script type="text/template" id="preview_container_template">
            <div class="fullscreen">
                <div class="content">
                    <span class="close">Close <img src="/static/light/surlatable/landingpage/default/images/close.gif"></span>
                    <div class="scrollable">
                        <div class="template target"></div>
                    </div>
                </div>
            </div>
            <div class="mask"></div>
        </script>

        <script type="text/template" id="product_price_template">
            <% if (obj.sale_price) { %>
                <span class="sale">
                    Now: <%- obj.sale_price %>
                </span>
                <span class="original">
                    Was: <%- obj.price %>
                </span>
            <% } else { %>
                <%- obj.price %>
            <% } %>
        </script>

        <script type="text/template" id="product_buy_template">
            <a class='button' href='<%= obj.url %>' target='_blank'>
                <span>Add to Cart</span>
                <div class="line1"></div>
                <div class="line2"></div>
                <img src="/static/light/surlatable/landingpage/default/images/shop-now-arrow.png">
            </a>
        </script>

        <script type="text/template" id="product_preview_template">
            <div class="table">
                <div class='content-wrapper row'>
                    <div class='cell'>
                        <div class="gallery-main-image"></div>
                    </div>
                    <div class='cell info'>
                        <div class='title'></div>
                        <div class='price'></div>
                        <div class='buy'></div>
                        <div class="gallery<% if (obj.images.length < 2) { %> hide<% } %>"></div>
                    </div>
                </div>
            </div>
        </script>

        <script type="text/template" id="image_preview_template">
            <% if (obj['tagged-products'].length) { %>
                <% var product = obj['tagged-products'][0]; %>
                <div class="image-with-tagged-products">
                    <div class="table">
                        <div class="row">
                            <% if (obj['tagged-products'].length > 1 && obj.orientation !== 'landscape') { %>
                                <div class="cell desktop-only shop">
                                    <div class="stl-title">Related Products</div>
                                    <div class="stl-look">
                                        <% var  related = obj['tagged-products'] %>
                                        <% for (var i = 0; i < related.length; i++) { %>
                                            <div class="stl-item" data-index="<%- i %>">
                                                <img src="<%- related[i].images[0].url %>" />
                                                <div class="name">
                                                    <%- related[i].title || related[i].name %>
                                                </div>
                                            </div>
                                        <% } %>
                                    </div>
                                </div>
                            <% } %>
                            <div class="cell desktop-only image">
                                <img src="<%= obj.images[0].url %>" alt="image" class="image"/>
                                <% if (obj['tagged-products'].length > 1 && obj.orientation === 'landscape') { %>
                                    <div class="landscape">
                                        <div class="stl-title">Related Products</div>
                                        <div class="stl-look">
                                            <% var  related = obj['tagged-products'] %>
                                            <% for (var i = 0; i < related.length; i++) { %>
                                                <div class="stl-item" data-index="<%- i %>">
                                                    <img src="<%- related[i].images[0].url %>" />
                                                    <div class="name">
                                                        <%- related[i].title || related[i].name %>
                                                    </div>
                                                </div>
                                            <% } %>
                                        </div>
                                    </div>
                                <% } %>
                            </div>
                            <div class="cell info">
                                <div class='title'></div>
                                <div class='price'></div>
                                <div class='buy'></div>
                                <div class="gallery-main-image"></div>
                                <div class='gallery-dots<% if (product.images.length < 2) { %> hide<% } %>'></div>
                            </div>

                            <% if (obj['tagged-products'].length > 1 && App.support.mobile()) { %>
                                <div class="more-info">
                                    Related Products
                                    <div class="down-arrow"></div>
                                </div>
                            <% } %>
                            <div class="cell mobile-only">
                                <img src="<%= obj.images[0].url %>" alt="image"/>
                            </div>
                        </div>
                    </div>
                    <div class="table">
                        <div>


                            <% if (obj['tagged-products'].length > 1) { %>
                                <div class="cell mobile-only">
                                    <div class="stl-look">
                                        <% var related = obj['tagged-products'] %>
                                        <% for (var i = 0; i < related.length; i++) { %>
                                            <div class="stl-item" data-index="<%- i %>">
                                                <img src="<%- related[i].images[0].url %>" />
                                                <div class="name">
                                                    <%- related[i].title || related[i].name %>
                                                </div>
                                            </div>
                                        <% } %>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            <% } else { %>
                <div class="image-without-tagged-products">
                    <div class="table">
                        <div>
                            <div class="image">
                                <img src="<%= obj.images[0].url %>" alt="image" class="main-image" />
                            </div>
                            <div>
                                <div class="info">
                                    <div class="title">
                                        Coming soon to Sur la Table!
                                    </div>
                                    <div class="buy">
                                        <a class='button' href='http://www.surlatable.com/' target='_blank'>
                                            Shop On Sur la Table
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
        </script>

        <!-- custom templates -->
        <script type="text/template" id="hero_template">
        </script>
    </div>

    <div class="container">
        <!-- .container is bootstrap magic, and has a viewport-dependent width. -->
        <div id="hero-area"></div>
        <div id="category-area"></div>
        <div id="discovery-area" class="discovery-area"></div>
        <div class="tile-sizer tile"></div>
        <div class="no-noscript loading"></div>
        <noscript>
            <!-- promotions to show when user does not have javascript.
             this is a 'we need javascript' message by default.
             -->
            <div class="alert alert-danger">
                <b>Oh no!</b> We need JavaScript enabled to show you this page.
            </div>
        </noscript>
    </div>
    <img src="{% url 'apps.tracking.views.pixel' %}"/>
    <div>
        @@include('shared/default_templates.html')
    </div>
    <script type="text/javascript" src="/static/light/surlatable/landingpage/default/scripts/main.js" async></script>

</body>
</html>
