@charset "UTF-8";

$ad-border-width: 1px;
$bs-green: #36805A;
$bs-highlight: #bc090c;
$bs-font: "GillSans", Verdana, Geneva, sans-serif;

@import 'src/clients/bodyshop/landingpage/default/styles/main.scss';
@import 'src/components/ad/styles/base';

/* ad border */
html, body {
	min-height: 100%;
}
body:before, body:after {
    content: "";
    position: fixed;
    background: $bs-green;
    left: 0;
    right: 0;
    height: $ad-border-width;
}
body:before {
    top: 0;
}
body:after {
    bottom: 0;
}
body {
    border-left: $ad-border-width solid $bs-green;
    border-right: $ad-border-width solid $bs-green;
    overflow: hidden;
}
#discovery-area {
	margin-top: 2px;
}

#topbar img {
	width: 100%;
}
.tile.image .overlay {
    background-color: rgba(238, 40, 65, 0.5);
    color: #FFF;
    font-size: 21px;
    text-transform: uppercase;
    .cell {
        font-family: $bs-font;
    }
}

.tile .tile-border {
	border: none;
}

.tile .name {
	display: none;
}

.tile .price {
	display: none;
}
.tile.banner .button {
	pointer-events: none;
}

@media screen and (max-width: 190px) {
	.tile {
		width: 100% !important;
	}

	.tile.wide {
		width: 100% !important;
	}

}
