<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    @@include('shared/campaign_opengraph_tags.html')
    @@include('shared/campaign_head.html')
    <!-- End Optimizer Tests -->
    <link rel="shortcut icon"
         href="http://assets.nastygal.com/assets/current/images/favicon/favicon-152.png" />
    <link rel="stylesheet"
          href="/static/light/nastygal/landingpage/default/styles/main.css"/>
    <link rel="stylesheet"
          href="static/light/nastygal/landingpage/default/styles/main.css"/>
    @@include('shared/campaign_respond.html')
    <!-- Add Optimizer Tests here -->
    <script type="text/javascript">
        window.TRACKING_PIXELS = {
            'A': {
                'view': 'http://cm.gy/cej4',
                'click': 'http://cm.gy/umez'
            },
            'B': {
                'view': 'http://cm.gy/q3ay',
                'click': 'http://cm.gy/771t'
            }
        };
        window.ACTIVE_TEST = 'A';
        window.OPTIMIZER_TESTS = [];
    </script>
    {% if environment == 'production' %}
        <script type='text/javascript'>
            var interval = setInterval(function() {
                var test, bindFn;

                if (!window.ACTIVE_TEST) {
                    return;
                }

                // Because we need to bind some events before anything else, use this fn
                // http://stackoverflow.com/a/2641047
                $.fn.bindFirst = function(name, fn) {
                    // bind as you normally would
                    // don't want to miss out on any jQuery magic
                    this.on(name, fn);

                    // Thanks to a comment by @Martin, adding support for
                    // namespaced events too.
                    this.each(function() {
                        var handlers = $._data(this, 'events')[name.split('.')[0]];
                        // take out the handler we just inserted from the end
                        var handler = handlers.pop();
                        // move it at the beginning
                        handlers.splice(0, 0, handler);
                    });
                };

                bindFn = function() {
                    (new Image).src = window.TRACKING_PIXELS[test].click;
                };

                clearInterval(interval);
                test = window.ACTIVE_TEST;

                // Append click pixel
                if (/Android|iPhone|iPad|iPod/i.test(navigator.userAgent)) {
                    $('.tile').bindFirst('click', bindFn);
                } else {
                    // Why doesn't bindFirst work on desktop?
                    $('body').on('click', '.tile', bindFn);
                }


                // Append page view pixel
                (new Image).src = window.TRACKING_PIXELS[test].view;
            }, 1000);
        </script>
    {% endif %}
    <title>{{ page.name|default:"Nasty Gal" }}</title>
</head>
<body class="{% if tile %}stl{% endif %}">

    <!-- bustle header begin -->
    <div id="bustle">
    <div id="ember743" class="hoverable ember-view header"><div class="container-fluid">
      <a id="ember746" class="ember-view logo active" href="http://www.bustle.com/">Bustle</a>
      <div id="ember749" class="ember-view loading-spinner site-loading hide"></div>
      <div class="main-menu">
        <ul class="main-navigation" role="navigation">
          <li><a id="ember750" class="ember-view main-nav-link nav-news" href="http://www.bustle.com/news"><span>News</span></a></li>
          <li><a id="ember759" class="ember-view main-nav-link nav-entertainment" href="http://www.bustle.com/entertainment"><span>Entertainment</span></a></li>
          <li><a id="ember766" class="ember-view main-nav-link nav-fashion-beauty" href="http://www.bustle.com/fashion-beauty"><span>Fashion &amp; Beauty</span></a></li>
          <li><a id="ember773" class="ember-view main-nav-link nav-lifestyle" href="http://www.bustle.com/lifestyle"><span>Lifestyle</span></a></li>
          <li><a id="ember780" class="ember-view main-nav-link nav-books" href="http://www.bustle.com/books"><span>Books</span></a></li>
        </ul>
        <script id="metamorph-1-start" type="text/x-placeholder"></script><script id="metamorph-1-end" type="text/x-placeholder"></script>
        <!--a class="main-search-btn" role="search" data-ember-action="1"><i class="icon-search"></i></a-->
        <a id="ember793" class="ember-view menu-btn" onclick="javascript:$('#bustle .main-menu').toggleClass('menu-open');"><i class="icon-menu"></i></a>
        <div class="header-social-media">
          <a href="http://pinterest.com/bustledotcom/" title="Bustle on Pinterest" class="social-link social-link-pinterest"><i class="icon-pinterest-circle"></i></a>
          <a href="https://www.facebook.com/bustledotcom" title="Bustle on Facebook" class="social-link social-link-facebook"><i class="icon-facebook-circle"></i></a>
          <a href="https://twitter.com/bustle" title="Bustle on Twitter" class="social-link social-link-twitter"><i class="icon-twitter-circle"></i></a>

          <div class="header-social-media-popup">
            <iframe class="facebook-like-button" src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Ffacebook.com%2Fbustledotcom&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=21&amp;appId=132694503601208" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
            <a class="pinterest-follow-button" href="http://www.pinterest.com/bustledotcom/" title="Follow Bustle on Pinterest" target="_blank"><i class="icon-pinterest-circle"></i>Follow</a>
            <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" src="http://platform.twitter.com/widgets/follow_button.1401325387.html#_=1401772767364&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=bustle&amp;show_count=false&amp;show_screen_name=false&amp;size=m" class="twitter-follow-button twitter-follow-button" title="Twitter Follow Button" data-twttr-rendered="true" style="width: 60px; height: 20px;"></iframe>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
    <!-- bustle header end -->


    <div class='navbar hidden-xs'>
        <div class="container-fluid">
            <img alt="NastyGal" class="nastygal" src="/static/light/nastygal/landingpage/default/images/logo.png" />
        </div>
    </div>

    @@include('shared/campaign_body.html')

    <div>
        <!-- generic templates -->
        <script type="text/template" id="category_template">
            <span><%= obj.name %></span>
        </script>

        <script type="text/template" id="product_description_template">
            <span><%= obj.description %></span>
        </script>

        <script type="text/template" id="shopthelook_template">
            <% if (App.support.mobile) { %>
                <div class="hero-image-wrapper">
                    <div class="visible-xs jumbotron">
                        <img src="{{ mobile_hero_image }}" alt="Hero" />
                    </div>
                </div>
            <% } %>
            <div class='content'></div>
        </script>

        <script type="text/template" id="product_tile_template">
            <div class="tap-indicator-target"></div>
            <img class="focus" src="<%= obj.image.url %>" alt="<%= caption %>" />
            <% if (App.option('debug', 0) > 1) { %>
                <span class="type"><%= obj['content-type'] %></span>
            <% } %>
            <div class="name"><%= obj.title || obj.name %></div>
        </script>

        <script type="text/template" id="image_tile_template">
            <div class="tap-indicator-target"></div>
            <div class='relative'>
                <img class="focus" src="<%= obj.image.url %>" alt="<%= obj.caption %>" />
            </div>
            <% if (App.option("debug", 0) > 1) { %>
                <span class="type"><%= obj["content-type"] %></span>
            <% } %>
        </script>

        <script type="text/template" id="youtube_tile_template">
            <div class="img-responsive thumbnail"
                 style="background-image: url('<%= obj.thumbnail || obj.image.url %>');">
              &nbsp;
              <img src="" alt="this img tag intentionally left blank" style="visibility:hidden"/>
            </div>
            <%= obj.caption || obj.name %>
            <div class="social-buttons"></div>
        </script>

        <script type="text/template" id="preview_container_template">
            <div class="fullscreen">
                <div class="content">
                    <span class="close">BACK TO BROWSING</span>
                    <div class="scrollable">
                        <div class="template target"></div>
                    </div>
                </div>
            </div>
            <div class="mask"></div>
        </script>

        <script type="text/template" id="tile_preview_template">
            <h2><span class="label label-info"><%= obj.template %>_preview_template</span> is missing.</h2>
            <p>You can define one in your template.</p>
            <ul>
                <% for (i in obj) { %>
                    <li><b><%= i %></b>: <%= obj[i] %></li>
                <% } %>
            </ul>
        </script>

        <script type="text/template" id="facebook_social_button_template">
            <div class='button facebook'>
                <fb:like href="<%= url %>" width="25" layout="button"
                         show_faces="false"></fb:like>
            </div>
        </script>

        <script type="text/template" id="twitter_social_button_template">
            <% var desc = caption || description || name; %>
            <% var cleanDesc = desc.replace(/<(?:.|\n)*?>/gm, ''); %>
            <div class='button twitter'>
                <a href="//twitter.com/share?url=<%= url %>&text=<%= cleanDesc %>"
                   target="_blank">
                    <img src="/static/light/nastygal/landingpage/default/images/twitter.png"/>
                </a>
            </div>
        </script>

        <script type="text/template" id="pinterest_social_button_template">
            <% var desc = caption || description || name; %>
            <% var cleanDesc = desc.replace(/<(?:.|\n)*?>/gm, ''); %>
            <div class='button pinterest'>
                <a data-pin-do="none" href="http://pinterest.com/pin/create/button/?url=<%= url %>&media=<%= image %>&description=<%= cleanDesc %>"
                   target="_blank"><img src="/static/light/nastygal/landingpage/default/images/pinterest.png"/></a>
            </div>
        </script>

        <script type="text/template" id="tumblr_social_button_template">
            <% var desc = caption || description || name; %>
            <% var cleanDesc = desc.replace(/<(?:.|\n)*?>/gm, ''); %>
            <div class="button tumblr">
                <a href="http://www.tumblr.com/share/photo?source=<%= image %>&caption=<%= cleanDesc %>&click_thru=<%= url %>"
                     target='_blank'><img src="/static/light/nastygal/landingpage/default/images/tumblr.png"/></a>
            </div>
        </script>

        <script type="text/template" id="product_price_template">
            <%- obj.price %>
        </script>

        <script type="text/template" id="product_title_template">
            <%- obj.title || obj.name %>
        </script>

        <script type="text/template" id="product_buy_template">
            <a class='button' href='<%= obj.url %>' target='_blank'>
                <i class="shop-icon"></i>
                <div class="inline">
                    SHOP NOW
                </div>
            </a>
        </script>

        <script type="text/template" id="product_galleryMainImage_template">
            <div class="main-image-container">
                <% if (obj.images.length > 1) { %>
                    <div class="gallery-swipe-left"></div>
                    <div class="gallery-swipe-right"></div>
                <% } %>
                <div class="main-image">
                    <% for (var i = 0; i < obj.images.length; i++) { %>
                        <img class="image" src="<%- obj.images[i].url %>" />
                    <% } %>
                </div>
            </div>
        </script>

        <script type="text/template" id="product_gallery_template">
            <% for (var i = 0; i < obj.images.length; i++) { %>
                <img class="item" src="<%- obj.images[i].url %>" />
            <% } %>
        </script>

        <script type="text/template" id="product_galleryDots_template">
            <% for (var i = 0; i < obj.images.length; i++) { %>
                <div class="item"></div>
            <% } %>
        </script>

        <script type="text/template" id="product_preview_template">
            <div class="table">
                <div class='content-wrapper row'>
                    <div class='cell'>
                        <div class="gallery-main-image"></div>
                    </div>
                    <% if (obj.images.length > 1 && App.support.mobile()) { %>
                        <div class='cell'>
                            <div class='gallery-dots'></div>
                        </div>
                    <% } %>
                    <div class='cell info'>
                        <div class='title'></div>
                        <div class='price'></div>
                        <div class='buy'></div>
                        <% if (!App.support.mobile()) { %>
                            <div class="gallery"></div>
                            <div class="social-button-container">
                                <div class="social-buttons"></div>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </script>

        <script type="text/template" id="image_preview_template">
            <% if (obj['tagged-products'].length) { %>
                <% var product = obj['tagged-products'][0]; %>
                <div class="image-with-tagged-products">
                    <div class="table">
                        <div class="row">
                            <% if (obj['tagged-products'].length > 1 && obj.orientation !== 'landscape') { %>
                                <div class="cell desktop-only shop">
                                    <div class="stl-title">THE LOOK</div>
                                    <div class="stl-look">
                                        <% var  related = obj['tagged-products'] %>
                                        <% for (var i = 0; i < related.length; i++) { %>
                                            <div class="stl-item" data-index="<%- i %>">
                                                <img src="<%- related[i].images[0].url %>" />
                                                <div class="name">
                                                    <%- related[i].title || related[i].name %>
                                                </div>
                                            </div>
                                        <% } %>
                                    </div>
                                </div>
                            <% } %>
                            <div class="cell desktop-only">
                                <img src="<%= obj.image.url %>" alt="image" class="image"/>
                                <div class='caption'><%= (obj.title || obj.name || obj.caption || "") %></div>
                                <% if (obj['tagged-products'].length > 1 && obj.orientation === 'landscape') { %>
                                    <div class="landscape">
                                        <div class="stl-title">THE LOOK</div>
                                        <div class="stl-look">
                                            <% var  related = obj['tagged-products'] %>
                                            <% for (var i = 0; i < related.length; i++) { %>
                                                <div class="stl-item" data-index="<%- i %>">
                                                    <img src="<%- related[i].images[0].url %>" />
                                                    <div class="name">
                                                        <%- related[i].title || related[i].name %>
                                                    </div>
                                                </div>
                                            <% } %>
                                        </div>
                                    </div>
                                <% } %>
                            </div>
                            <div class="cell mobile-only">
                                <img src="<%= obj.image.url %>" alt="image"/>
                                <% if (obj['tagged-products'].length > 1) { %>
                                    <div class="stl-title stick-bottom">THE LOOK</div>
                                    <div class="landscape">
                                        <div class="stl-look">
                                            <% var  related = obj['tagged-products'] %>
                                            <% for (var i = 0; i < related.length; i++) { %>
                                                <div class="stl-item" data-index="<%- i %>">
                                                    <img src="<%- related[i].images[0].url %>" />
                                                    <div class="name">
                                                        <%- related[i].title || related[i].name %>
                                                    </div>
                                                </div>
                                            <% } %>
                                        </div>
                                    </div>
                                <% } %>
                            </div>
                            <div class="cell info<% if (obj.orientation === 'landscape') { %> landscape<% } %>">
                                <% if (!App.support.mobile()) { %>
                                    <div class='title'></div>
                                    <div class='price'></div>
                                    <div class='buy'></div>
                                <% } %>
                                <div class='gallery-main-image'></div>
                                <div class='gallery-dots'></div>
                                <% if (!App.support.mobile()) { %>
                                    <div class="social-buttons"></div>
                                <% } else { %>
                                    <div class='price'></div>
                                    <div class='buy'></div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            <% } else { %>
                <div class="image-without-tagged-products">
                    <div class="table">
                        <div class="row">
                            <div class="cell">
                                <img src="<%= obj.image.url %>" alt="image" class="main-image" />
                            </div>
                            <div class="cell info">
                                <div class="title">
                                    Coming soon to Nasty Gal!
                                </div>
                                <div class="buy">
                                    <a class='button' href='http://www.nastygal.com/lookbooks-swim-city' target='_blank'>
                                        <img class="shop-icon" src="/static/light/nastygal/landingpage/default/images/shoppingbag.png" />
                                        <div class="inline">
                                            SHOP ON NASTY GAL
                                        </div>
                                    </a>
                                </div>
                                <div class="social-buttons"></div>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
        </script>

        <!-- custom templates -->
        <script type="text/template" id="hero_template">
            <div class="hero-image-wrapper">
                <div class="visible-xs jumbotron">
                    <img class="image" src="{{ mobile_hero_image }}" alt="Hero" />
                </div>
                <div class="hidden-xs jumbotron">
                    <img class="image" src="{{ desktop_hero_image }}" alt="Hero" />
                </div>
            </div>
            {% if legal_copy %}
                <div class="legal us">
                    {{ legal_copy }}
                </div>
            {% endif %}
        </script>
    </div>

    <div id="main" class="container">
        <!-- .container is bootstrap magic, and has a viewport-dependent width. -->
        <div id="hero-area"></div>
        <div id="category-area"></div>
        <div id="discovery-area" class="discovery-area"></div>
        <div class="tile-sizer tile"></div>
        <div class="no-noscript loading"></div>
        <noscript>
            <!-- promotions to show when user does not have javascript.
             this is a 'we need javascript' message by default.
             -->
            <div class="alert alert-danger">
                <b>Oh no!</b> We need JavaScript enabled to show you this page.
            </div>
        </noscript>
    </div>

    <img src="{% url 'apps.tracking.views.pixel' %}"/>

    <script type="text/javascript" src="/static/light/nastygal/landingpage/default/scripts/main.js" async></script>
</body>
</html>
