<div class="grid_3 block_type {% if not block_type.enabled %}dimmed{% endif %}">
    {% if block_type.enabled %}
    <span class="url" style="display:none">{% url block-type-wizard store.id block_type.id %}</span>
        {% if linked %}
            <a href="{% url block-type-wizard store.id block_type.id %}">
                <img src="{{ block_type.image.url }}">
                <span class="title">{{ block_type.name }}</span>
            </a>
        {% else %}
            <img src="{{ block_type.image.url }}">
            <span class="title">{{ block_type.name }}</span>
        {% endif %}
    {% else %}
        <img src="{{ block_type.image.url }}">
        <span class="title">{{ block_type.name }}</span>
        {% if not block_type.enabled %}<span class="disabled">Coming soon!</span>{% endif %}
    {% endif %}
</div>
