
body {
    background-image: url('/static/pinpoint/themes/anthropologie/images/body_background.png');
}

.navbar {
    text-align: center;
    background-image: url('/static/pinpoint/themes/anthropologie/images/navbar_background.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    height: 107px;
    line-height: 107px;
}

.navbar .logo {
    height: 19px;
    vertical-align: middle;
}

.tile {
    background-color: transparent;
}

.previewContainer .close {
    padding: 6px;
}

.previewContainer .info .title {
    font-size: 26px;
 }

 .previewContainer .info .price {
    font-size: 24px;
 }

.previewContainer .buy .button {
    padding: 5px 10px;
    font-size: 19px;
}

@media screen and (max-width: 768px) {
    .previewContainer .content {
        padding-top: 18px;
    }
}
