<!-- DJANGO Template for displaying the results from the JSTestDriver/Jasmine tests. -->
{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
      <title>Results</title>
      <script id="loading" type="text/template">
          <div style="text-align: center; margin: 0 auto; position: absolute; top: 50%; left:50%; margin-left:-70px; margin-top:-50px;">
              <h1>Testing...</h1>
              <img src='{% static "images/ajax-spinner.gif" %}' />
          </div>
      </script>
      <script id="config-select" type="text/template">
          <div class="popup">
              <span style="display:inline-block;"> Select configuration file to use: </span>
              <select name="configfiles" style="display:inline-block">
                  {% for config in configs %}
                  <option value="{{ config }}">{{ config }}</option>
                  {% endfor %}
              </select>
              <span style="display:inline-block;">Enter any browsers to use, seperated by space (if any): </span>
              <input name="browsers" value="" type="text" size="50" pattern="(\s*|\w+)">
          </div>
      </script>
      <link rel="stylesheet" href="{% static "testing/css/jstestdriver.css" %}" />
      <link rel="stylesheet" href="{% static "css/smoothness/jquery-ui.css" %}" />
      <script src="{% static "js/jquery-1.8.1.min.js" %}"></script>
      <script src="{% static "js/jquery-ui.js" %}"></script>
      <script type="text/javascript">
          (function($) {
              var testServer = (function() {
                  var uri = "update/?";
                  
                  function run ( kwargs ) {
                      for (var query in kwargs) {
                          uri += query + "=" + encodeURIComponent(kwargs[query]);
                          delete kwargs[query];

                          if (!$.isEmptyObject(kwargs)) {
                              uri += "&";
                          }
                      }
                      
                      $.get(uri, function(data){
                          if (data['success'] == true) {
                              window.location.reload();
                          } else {
                              alert("Something went wrong!");
                              console.log(data['error']);
                          }
                      });
                  }
                  
                  return {
                      'run': run
                  };                  
              });

              var server = testServer();
              $(document).ready(function(){
                  $('body').on('click', '.ui-widget-overlay', function(){
                      $('.ui-dialog.ui-widget .popup').dialog('destroy');
                  });
          
                  $('input').click(function(){
                      var $elem = $('#' + $(this).attr('name'));
                      $elem = $elem.add($elem.prev());
                      $elem.toggle('slow');
                  });

                  $('a.test-spec').click(function(e) {
                      e.preventDefault();
                      var spec = $(this).attr('data-type-id');
            
                      if (spec.indexOf(".") > -1) {
                          // Tests specify browsers, strip the tag
                          spec = spec.split(",");
                          for ( var i = 0; i < spec.length; ++i ) {
                              var t = spec[i];
                              t = t.split(".");
                              t.shift();
                              t = t.join(".");
                              spec[i] = t;
                          }
                          spec = spec.join(",");
                      }
                      
                      $dialog = $($("#config-select").html());
                      $dialog.dialog({
                          modal: true,
                          width: 700,
                          buttons: [ 
                              { text: "OK", click: function() {
                                    var params = {};
                                    params["config"] = $(this).find('select').val() + ".yaml";
                                    params["tests"] = spec;
                                              
                                    $('body').empty();
                                    $('body').append($($("#loading").html()));
                                    
                                    var browsers = $(this).find('input').val();
                                    if (/\w+/g.test(browsers)) {
                                        params["browsers"] = browsers;
                                    }
                                    server.run(params);
                                } 
                             }
                          ],
                          title: "Select configuration",
                          close: function() {
                              $(this).dialog( "destroy" );
                          }
                      });
                  });
              });
          })(jQuery);
      </script>
</head>

  <body>
      <div id="title-bar" class="{% if data.Failed.total > 0 or data.Error.total > 0 %}fail{% else %}success{% endif %}">
      <h1>JsTestDriver Test Results</h1>
          <div class="show">
              <span><b>Show:</b> </span>
              {% block result-types %}
                  <ul>
                      {% for type, results in data.items %}
                          <li><input type="checkbox" name="{{ type }}" value="" checked>{{ type }}</input></li>
                      {% endfor %}
                  </ul>
              {% endblock %}
          </div>
          <div style="float:right; position: relative; top: 2.5em; right: 2.5em; display:inline-block;">
              <b><a class="test-spec" href="#" style="text-decoration: none;" data-type-id="all">Run all Tests</a></b>
          </div>
          <div style="clear:both;"></div>
      </div>
      {# The results of the tests go here #}
      {% block results %}
      <div class="results">
         {% for type, results in data.items %}
             <div style="padding-bottom:10px;"></div>
             <h2>{{ results.total }} Tests Finished With {{ type }}</h2>
             <!-- <span class="run"><a class="test-spec" href="#"  data-type-id="{% for suite in results.suites %}{{ suite }},{% endfor %}">Run all</a></span> -->
             <div id="{{ type }}" class="spec">
                 {% for suite, cases in results.suites.items %}
                     <div class="suite">    
                         <h3><b>Test Suite</b>: {{ suite }}</h3>
                         {% for case in cases %}
                             <div class="case">
                                 <span style="padding-left: 0.5em;"><b>Test Name</b>: {{ case.name }}</span>
                                 <!-- <span class="run"><a class="test-spec" href="#"  data-type-id="{{ suite }}.{{ case.name }}">Run</a></span> -->
                                 {% if case.msg|length > 0 %}
                                     <br/><span style="padding-left: 2em;"><b>Message</b>: {{ case.msg }}</span>
                                 {% endif %}
                              </div>
                          {% endfor %}
                      </div>
                  {% endfor %}
              </div>
         {% endfor %}
     </div>
     {% endblock %}
  </body>

</html>



