$icon-font-path: "/static/light/fonts/";
$basic-font: Arial,Helvetica,sans-serif;
$deichmann-font: Deichmann,Arial,Helvetica,sans-serif;
$light-grey-color: #CCC;
$grey-color: #707173;
$dark-grey-color: #666;
$orange-color: #EA6924;
$black-color: #333;
$beige-color: #ECECEA;
$page-width: 943px;
$mobile-details-height: 75px;

@import "lib/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
@import "src/components/landingpage/styles/base.scss";

@font-face {
    font-family: 'Deichmann';
    font-weight: 800;
    font-style: normal;
    src: url('/static/light/vanharen/landingpage/lite/fonts/Deichmann-Extrabold.otf') format("opentype");
}
@font-face {
    font-family: 'Deichmann';
    font-weight: 700;
    font-style: normal;
    src: url('/static/light/vanharen/landingpage/lite/fonts/Deichmann-Regular.otf') format("opentype");
}
@font-face {
    font-family: 'Deichmann';
    font-weight: 500;
    font-style: normal;
    src: url('/static/light/vanharen/landingpage/lite/fonts/Deichmann-Medium.otf') format("opentype");
}
@font-face {
    font-family: 'Deichmann';
    font-weight: 300;
    font-style: normal;
    src: url('/static/light/vanharen/landingpage/lite/fonts/Deichmann-Light.otf') format("opentype");
}
@font-face {
    font-family: 'Deichmann';
    font-weight: 100;
    font-style: normal;
    src: url('/static/light/vanharen/landingpage/lite/fonts/Deichmann-Thin.otf') format("opentype");
}

/* overrides for this theme */

#discovery-area, .previewContainer, .heroContainer {
  user-select: none;
}

body {
  background: none;
  background-color: #fff;
}

#main {
  max-width: 1024px; // to fit hero video
  padding: 0 0;
  position: relative;
}

.navbar {
    background-color: #FFF;
    height: 51px;
}
.container {
    position: relative;
    z-index: 1;
}

.navbar {
    height: auto;
    border: none;
    .header-links-bar {
        background-color: #FFF;
        padding: 10px 0 8px 0;
        text-align: center;
        max-width: none;
        min-width: 940px;
        overflow-x: hidden;
        border-bottom: 1px solid $light-grey-color;
        line-height: 11px;
        ul {
            margin: 0 auto;
            padding: 0;
            max-width: $page-width;
        }
        li {
            display: inline-block;
            list-style-type: none;
            width: 33%;
            img {
                vertical-align: middle;
                margin-right: 2px;
            }
            span {
                position: relative;
                z-index: 1;
                color: $grey-color;
                text-transform: uppercase;
                font-size: 12px;
                font-family: $basic-font;
                a {
                    text-decoration: none;
                }
            }
        }
    }
    .trends {
        position: relative;
        height: 100px;
        max-width: $page-width;
        margin: 20px auto;
        .logo {
            img.desktop {
                width: 100px;
                height: auto;
                margin: 0 0 0 10px;
            }
            img.mobile {
                display: none;
            }
            &:hover {
                text-decoration: none;
            }
        }
        .title {
            display: inline-block;
            margin-left: 20px;
            font-family: $deichmann-font;
            font-weight: 100;
            color: $black-color;
            font-size: 60px;
            line-height: 100px;
            text-transform: uppercase;
            /* correct for font being vertically misaligned */
            @include translateY(5%);
        }
        #search-bar {
            position: absolute;
            right: 5px;
            bottom: 0;
            line-height: 28px;
            cursor: pointer;
            width: 450px;
            background: url('/static/light/vanharen/landingpage/lite/images/header-search.png');
            .btn {
                width: 40px;
                height: 34px;
            }
        }
    }
}

#category-area {
    display: block;
    position: relative;
    width: auto;
    max-width: $page-width;
    margin: 0 auto;
    height: 0;
    z-index: 10;
    @include no-select;
    .category-area {
        position: absolute;
        top: 0;
        right: 0;
    }
    .category {
        border: none;
        text-transform: uppercase;
        font-weight: 300;
        font-family: $deichmann-font;
        font-size: 12px;
        line-height: 12px;
        color: $black-color;
        width: auto;
        &.selected {
            color: inherit;
            background: none;
            padding: 0;
        }
        > .name {
            padding: 15px 30px;
            text-align: center;
            background-color: $beige-color;
            color: $black-color;
        }
    }
    .sub-categories {
        background-color: rgba(255,255,255,0.7);
        .sub-categories-section {
            display: block; /* all sections in one vertical column */
        }
        .sub-categories-label,
        .sub-category {
            padding: 15px 30px;
            text-align: center;
            > span {
                /* correct for font being vertically misaligned */
                @include translateY(10%);
            }
            &.selected {
                position: relative;
                color: $black-color;
            }
        }
        .sub-categories-label {
            text-align: inherit;
            background-color: $beige-color;
            color: $black-color;
        }
        .sub-category {
            color: $grey-color;
            &.selected {
                background-color: white;
            }
        }
    }
}

.previewContainer,
.heroContainer {
    height: 100%;

    .fullscreen {
        max-width: 1024px;
        max-height: 760px;
        width: 100%;
        height: 100%;
        .table {
            height: 760px; /* initial height for desktop, fixed later onShow */
            &.square {
                height: 507px;
            }
        }
    }

    .content {
        padding: 0 !important;
        width: 100%;
        max-height: 100%;
        overflow: hidden;
    }

    .close {
        color: $grey-color;
        padding: 10px;
        font-weight: normal;
        line-height: 9px;
        letter-spacing: 0px;
        font-family: $basic-font;
        font-size: 25px;
        text-shadow: none;
        z-index: 100;
    }

    .gallery img {
        width: 56px;
    }

    .info {
        text-align: left;
        overflow: hidden;
        padding-top: 20px;
    }

    .table {
        max-height: 760px;
    }

    .cell {
        display: inline-block;
        vertical-align: top;
        height: 100%;
    }

    .look-product-carousel {
        width: 100%;
        height: 67%;
    }

    .look-image-container {
        padding: 0;
        &.square,
        &.portrait {
            width: 49%;
            height: 100%;
        }
        &.landscape {
            width: 63%;
            height: 67%;
        }
        &.one-product {
            height: 100% !important;
        }
        .look-image {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    .product-image {
        padding: 20px;
        height: 100%;
        width: 50%;
        overflow: hidden;
        .gallery-main-image {
            height: 100%;
            width: 100%;
        }
        .gallery-container {
            display: inline-block;
            position: relative;
            width: 100%;
            height: 560px;
        }
        .main-image-container {
            width: 100%;
            height: 100%;
            margin: auto;
            .main-image {
                width: 100%;
                height: 100%;
                .image {
                    width: 100%;
                    height: 100%;
                    display: inline-block;
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }
        }
    }
    
    .shop {
        width: 14%;
        max-height: 760px;
        padding: 20px 0 0 0;
        border-right: 1px solid $light-grey-color;
        border-left: 1px solid $light-grey-color;
        .stl-title {
            font-family: $deichmann-font;
            font-weight: 100;
            font-size: 18px;
            line-height: 22px;
            color: #000;
            max-height: 40px;
            overflow: hidden;
            padding-bottom: 15px;
        }
        .product-thumbnails {
            height: 94%;
        }
        .stl-carousel {
            width: 100%;
            height: 100%;
            position: relative;
        }
        .stl-look-container {
            position: absolute;
            top: 0; left: 0; right: 0;
            margin: auto;
            font-family: $deichmann-font;
            font-size: 13px;
            line-height: 16px;
            font-weight: 300;
            height: 90%;
            overflow: hidden;
        }
        .stl-look {
            width: 100%;
            height: 100%;
            max-width: none;
            overflow: visible;
        }
        .stl-item {
            margin-bottom: 25px;
            width: 100%;
            position: relative;
            &:first-child {
                margin-left: 0 !important;
            }
            img {
                width: 90%;
                height: auto;
                opacity: 1 !important;
                margin: 0 auto;
            }
            span {
                white-space: normal;
            }
        }
    }

    .shop.landscape {
        width: 100%;
        height: 33%;
        padding: 0;
        border-top: 1px solid $grey-color;
        border-right: none;
        position: absolute;
        bottom: 0;
        left: 0;
        .stl-title {
            margin: 10px 0;
        }
        .product-thumbnails {
            width: 100%;
            height: 100%;
        }
        .stl-look-container {
            width: 90%;
            height: 100%;
        }
        .stl-look {
            margin: 0;
            white-space: nowrap;
            width: 100%;
            height: 100%;
            text-align: center;
        }
        .stl-item {
            margin: 0 12px 25px;
            height: 85%;
            width: 125px;
            white-space: normal;
            img {
                height: 95%;
                width: auto !important;
                margin: 0 auto;
                object-fit: contain;
            }
        }
    }

    .image-with-tagged-products .info {
        width: 36%;
        height: 67%;
        padding: 20px;
        text-align: center;
        &.one-product {
            float: none;
            height: 100%;
        }
        &.square,
        &.portrait {
            height: 100%;
        }
        &.portrait .product-info {
            height: 66%;
        }
        .title {
            width: 97%;
            height: auto;
            text-align: left;
        }
        .price {
            text-align: left;
            height: auto;
        }
        .product-info, .tagged-product {
            height: 100%;
            position: relative;
            > div {
                margin: 0;
            }
        }
        .product-image {
            width: 100%;
            height: 74%;
        }
        .gallery-main-image {
            display: inline-block;
            position: relative;
            width: 100%;
            height: 100%;
        }
        .main-image-container {
            width: 100%;
            height: 100%;
            margin: auto;
            overflow: hidden;
            position: relative;
            .main-image {
                width: 100%;
                height: 100%;
                white-space: nowrap;
                font-size: 0;
                .image {
                    width: 100%;
                    height: 100%;
                    display: inline-block;
                    background-size: cover;
                    background-position: top center;
                    background-repeat: no-repeat;
                }
            }
        }
        .gallery-dots {
            position: absolute;
            bottom: 40px;
            left: 0;
            margin: 3px 0 !important;
            width: 100%;
            font-size: 12px;
            .item {
                background-color: #FFF;
                width: 6px;
                height: 6px;
                border: 1px solid $grey-color;
                &.selected {
                    background-color: $grey-color;
                }
            }
        }
    }

    .description {
        color: $grey-color;
        font-family: $deichmann-font;
        font-size: 13px;
        font-weight: 100;
        max-height: 260px;
        overflow-y: auto;
        .desc-title {
            margin-bottom: 15px;
            font-weight: bold;
        }
    }

    .buy {
        margin-top: 6px !important;
        .button {
            font-family: $basic-font;
            font-size: 16px;
            color: #fff;
            background-color: $orange-color;
            letter-spacing: 0px;
            line-height: 18px;
            text-align: center;
            padding: 15px 45px;
            width: auto;
            border-radius: 7px;
        }
    }
}

#preview-area {
    .previewContainer {
        .fullscreen.product {
            max-height: 540px;
            .content, .template.target, .preview-container, .table, .tagged-product {
                height: 100%;
            }
            .product-info .tagged-product > div {
                margin: 0;
            }
            .gallery {
                text-align: left;
            }
        }
        z-index: 100;
        .content {
            max-width: 1024px !important;
        }
    }
}

#shop-below {
    position: relative;
    top: -60px;
    left: 4%;
    z-index: 10;
    width: 60%;
    @include no-select;
    span {
        font-family: $deichmann-font;
        font-weight: 100;
        font-size: 30px;
        color: $black-color;
    }
}
ul.price,
ul.label {
    display: block;
    padding: 0;
    margin: 0;
    font-family: $deichmann-font;
    text-align: left;
    list-style-type: none;
}
ul.label {
    height: auto;
    white-space: normal;
    margin-bottom: 10px;
    li {
        font-size: 12px;
        color: $black-color;
        width: auto;
        line-height: 16px;
        &.brand {
            font-weight: 300;
        }
        &.name {
            font-weight: 900;
        }
    }
}
ul.price {
    li {
        font-weight: 100;
        &.current {
            font-size: 40px;
            color: $orange-color;
            line-height: 40px;
            margin-bottom: 5px;
            > .currency {
                font-size: 90%;
                padding-right: 6px;
                vertical-align: top;
            }
            sup {
                top: -14px;
                font-size: 55%;
            }
        }
        &.old {
            font-size: 11px;
            text-decoration: line-through;
            color: $black-color;
        }
    }
}
.tile {
    font-family: $deichmann-font;
    padding: 5px;
    width: 33.33%;
    &.wide {
        width: 66.66%;
    }
    &.full {
        width: 100%;
    }
    .relative.product-shot {
        padding: 6%;
        position: relative;
        ul {
            &.label {
                position: relative;
                top: 0;
                left: 0;
                width: 55%;
            }
            &.price {
                position: absolute;
                top: 6%;
                right: 6%;
                &.current {
                    text-align: right;
                }
            }
        }
    }
    .overlay {
        color: #222;
        font-size: 16px;
        line-height: 26px;
        .title {
            font-weight: 100;
            .name {
                display: block;
                font-weight: 700;
            }
        }
    }
}

.stl-carousel, .tagged-product, .hero-carousel {
    .stl-swipe-up, .stl-swipe-down,
    .stl-swipe-left, .stl-swipe-right,
    .hero-swipe-left, .hero-swipe-right,
    .gallery-swipe-left, .gallery-swipe-right {
        border: none;
        display: block;
        position: absolute;
        cursor: pointer;
        z-index: 1;
    }
    .stl-swipe-up, .stl-swipe-down {
        display: none;
        width: 100%;
        height: 5%;
        left: 0;
    }
    .stl-swipe-left, .stl-swipe-right {
        display: none;
        width: 5%;
        height: 100%;
        top: 0;
    }
    .gallery-swipe-left, .gallery-swipe-right {
        width: 45px;
        height: 100%;
        top: 0;
    }
    .stl-swipe-up {
        top: 0;
        &:before {
            content: " ";
            position: absolute;
            left: calc(50% - 10px);
            top: -24px;
            width: 0;
            height: 0;
            border-left: 20px solid transparent;
            border-bottom: 18px solid $grey-color;
            border-right: 20px solid transparent;
        }
    }
    .stl-swipe-down {
        bottom: 0;
        &:after {
            content: " ";
            position: absolute;
            left: calc(50% - 10px);
            bottom: 0;
            width: 0;
            height: 0;
            border-left: 20px solid transparent;
            border-top: 18px solid $light-grey-color;
            border-right: 20px solid transparent;
        }
    }
    .stl-swipe-left, .gallery-swipe-left {
        left: 0;
        &:before {
            content: " ";
            position: absolute;
            top: 50%;
            left: 10px;
            width: 0;
            height: 0;
            border-top: 20px solid transparent;
            border-right: 18px solid $light-grey-color;
            border-bottom: 20px solid transparent;
        }
    }
    .stl-swipe-right, .gallery-swipe-right {
        right: 0;
        &:after {
            content: " ";
            position: absolute;
            top: 50%;
            right: 10px;
            width: 0;
            height: 0;
            border-top: 20px solid transparent;
            border-left: 18px solid $light-grey-color;
            border-bottom: 20px solid transparent;
        }
    }
}

.jumbotron {
    margin-top: 0;
}

/* --- DESKTOP ONLY --- */
@media (min-width:1150px) {
    #hero-area {
        #hero-container {
            position: absolute;
            width: 1150px;
            left: -63px;
            top: 0px;
            .hero-video-wrapper {
                width: 100%;
                .hero-banner-image {
                    width: 510px;
                    height: 360px;
                    img {
                        width: inherit;
                    }
                }
                .hero-video {
                    width: 640px;
                    height: 360px;
                }
            }
        }
    }
}

/* --- DESKTOP & TABLET --- */
@media (min-width: 769px) {
    #category-area {
        .category {
            > .name {
                display: none;
            }
        }
        .sub-categories {
            display: block; /* always be open */
            .sub-category {
                &.selected:before {
                    content: " ";
                    position: absolute;
                    top: 0;
                    left: -24px;
                    width: 0;
                    height: 0;
                    border-top: 20px solid transparent;
                    border-right: 24px solid white;
                    border-bottom: 20px solid transparent;
                }
            }
        }
    }
}
/* --- MOBILE ONLY --- */
@media screen and (max-width: 768px) {
    .navbar {
        .header-links-bar {
            display: none;
        }
        .trends {
            height: 50px;
            margin: 10px 0;
            text-align: center;
            .logo {
                .desktop {
                    display: none;
                }
                img.mobile {
                    display: block;
                    width: 50px;
                    position: absolute;
                    left: 10px;
                    margin: 0;
                }
            }
            .title {
                font-size: 30px;
                line-height: 50px;
                margin-left: 0;
            }
            #search-bar {
                display: none;
            }
        }
    }
    #category-area {
        height: calc(15px + 15px + 12px); /* height of category name */
        margin: 0;
        .category-area {
            width: 100%;
            .category {
                display: block;
                background-color: $beige-color;
                > .name {
                    display: inline-block;
                    &:after {
                        content: "\25BE";
                        font-size: 200%;
                        display: inline-block;
                        padding-left: 3px;
                        @include translateY(15%);
                    }
                }
            }
        }
        .sub-categories {
            border-top: 1px solid white;
            background-color: white;
        }
    }

    .tile {
        width: 50%;
        &.wide {
            width: 50%;
        }
        &.full {
            width: 100%;
        }
    }
    .tile.image .overlay:hover {
        opacity: 0;
    }
    ul.label {
        li {
            font-size: 9px;
            line-height: 13px;
        }
    }
    ul.price {
        li {
            &.current {
                font-size: 24px;
                line-height: 24px;
                margin-bottom: 3px;
                > .currency {
                    padding-right: 3px;
                }
                sup {
                    top: -9px;
                }
            }
            &.old {

            }
        }
    }

    #hero-area {
        position: relative;
        font-family: $deichmann-font;
        font-size: 15px;
        height: auto;
    }

    #hero-area .previewContainer,
    #hero-area .heroContainer {
        .image-with-tagged-products {
            position: relative;
        }
    }

    .fullscreen, .content, .scrollable, .content
    .preview-container, .template.target,
    .image-with-tagged-products, .image-without-tagged-products {
        width: 100%;
        height: 100%;
    }

    .previewContainer,
    .heroContainer {
        .look-image-container {
            width: 100%;
            height: 100%;
            padding: 0;

            .look-image {
                width: 100%;
                height: 100%;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                &.full-image {
                    background-size: contain;
                }
            }
        }

        .shop {
            width: 100%;
            height: 33%;
            padding: 0;
            .stl-title {
                margin: 5px 0;
                padding-bottom: 0;
            }
            .product-thumbnails {
                width: 100%;
                height: 90%;
            }
            .stl-carousel {
                width: 100%;
                height: 100%;
                position: relative;
            }
            .stl-look-container {
                width: 80%;
                height: 100%;
                overflow: hidden;
                padding: 0;
                margin: 0 auto;
            }
            .stl-look {
                height: 100%;
                width: 100%;
                overflow: visible;
                white-space: nowrap;
                padding: 0;
            }
            .look-thumbnail, .stl-item {
                display: inline-block;
                height: 95%;
                width: 47%;
                margin-right: 5px;
                position: relative;
                &:last-child {
                    margin-right: 0 !important;
                }
                img {
                    width: auto;
                    height: 100%;
                    opacity: 1 !important;
                    margin: auto;
                    object-fit: contain;
                }
            }
        }
        .product-info,
        .tagged-product {
            display: block;
            position: relative;
            width: 100%;
            > div {
                margin: 0;
            }
        }
        .info {
            width: 100%;
            padding: $mobile-details-height 20px 40px; /* height of info */
            .gallery-main-image {
                display: block;
                width: 100%;
                height: 100%;
                margin: 0;
                position: relative;
                .main-image-container {
                    padding: 0;
                    .main-image {
                        .image {
                            background-position: center;
                            background-repeat: no-repeat;
                            background-color: white;
                        }
                    }
                }
            }
            .gallery-dots {
                position: absolute;
                font-size: 10px;
                line-height: normal;
                height: 15px;
                bottom: 45px;
                .item {
                    width: 4px;
                    height: 4px;
                    margin: 0 3px;
                    border: 1px solid $grey-color;
                    border-radius: 4px;
                    background-color: #FFF;
                    &.selected {
                        background-color: $grey-color;
                    }
                }
            }
        }
        .product-image {
            position: relative;
            width: 100%;
            padding: $mobile-details-height 20px 40px; /* height of info */
            z-index: 0;
        }
        .product-image,
        .info {
            .buy {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                .button {
                    background-color: $orange-color;
                    border-radius: 0;
                    width: 100%;
                    font-size: 20px;
                    letter-spacing: 0px;
                    line-height: 40px;
                    padding: 0;
                    margin: 0;
                    white-space: normal;
                }
            }
        }
        &.landscape {
            height: 100% !important;

            .gallery-swipe-left {
                left: 15% !important;
            }

            .gallery-swipe-right {
                right: 15% !important;
            }

            .look-product-carousel {
                width: 80%;
                height: 100%;
                float: right;
            }
            &.shop {
                width: 20%;
                height: 100%;
                float: left;
                border-right: 1px solid #000;
                .stl-look-container {
                    width: 100%;
                    height: 95%;
                    position: absolute;
                    top: 0;
                }
                .stl-look {
                    height: 100%;
                    white-space: normal;
                    padding: 0;
                    position: absolute;
                    top: 0;
                    .look-thumbnail, .stl-item {
                        width: 100%;
                        height: 115px;
                        margin-right: 0;
                        margin-bottom: 5px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                        img {
                            width: auto !important;
                            height: 100%;
                            margin: auto;
                        }
                    }
                }
            }

            &.info, &.look-image {
                border-bottom: none;
                display: inline-block;
                .gallery-image-gallery {
                    width: 60%;
                    height: 90%;
                    margin: 0 auto;
                }
                .buy {
                    width: 75%;
                    right: 0;
                    margin: 0 auto !important;
                    a {
                        float: none;
                    }
                }
            }
        }
        .product-details {
            position: absolute;
            top: 0;
            left: 0;
            height: $mobile-details-height;
            width: 100%;
            padding: 6px;
            text-align: center;
            border-bottom: 1px solid #000;
            z-index: 1;
            .label {
                li {
                    font-size: 11px;
                    line-height: 15px;
                }
            }
            .price {
                li {
                    display: inline-block;
                    margin-bottom: 0;
                    &.old {
                        padding-left: 15px;
                    }
                }
            }
        }

        .fullscreen {
            max-height: none;
            max-width: 100%;
            position: fixed;
            .table {
                height: 100% !important;
            }
        }

        .close {
            padding: 0 36px;
            line-height: $mobile-details-height - 1px;
            background-color: $orange-color;
            font-family: $deichmann-font;
            font-weight: 100;
            color: white;
        }

        .image-with-tagged-products .info {
            width: 100%;
            height: 100%;
            padding: 0;
            .gallery-main-image {
                height: 100%;
            }
            .product-image {
                height: 100%;
            }
        }

        .look-image {
            width: 100%;
            height: auto;
        }

        .stl-title {
            font-family: $deichmann-font;
            font-size: 11px;
            color: $orange-color;
            line-height: 13px;
        }

        .price .price-wrapper {
            padding: 10px;
        }

        .buy .button {
            border-radius: 0;
            width: 100%;
            padding: 10px 30px;
            font-size: 18px;
            line-height: 30px;
            margin-top: 5px;
            &:first-child {
                margin-top: 0;
            }
        }

        .product-info, .tagged-product {
            height: auto;

        }

        .gallery-dots {
            position: absolute;
            bottom: 10px;
            left: 0;
            right: 0;
        }
        .cell > div {
            margin: 0;
        }
    }
}
