@charset "UTF-8";

$ad-border-width: 0;

@import 'src/components/ad/styles/base';

html, body, .container, #discovery-area {
    min-height: 100%;
}

body > .container {
    padding-top: 0;
}

html {
    border: 1px solid #eee;
    box-sizing: border-box;
}

body {
    margin: 0;
}

#discovery-area {
    margin-top: 0;
}

#bottom-padding {
    position: fixed;
    height: 5px;
    bottom: 0;
    z-index: 1;
    left: 1px;
    right: 1px;
    border-bottom: 1px solid #eee;
}

#topbar img {
    max-width: 100%;
}

html, body, .container {
    overflow: hidden;
}
