<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    @@include('shared/campaign_head.html')
    @@include('shared/campaign_opengraph_tags.html')
    <link rel="shortcut icon" href="http://www.aeropostale.com/aero_favicon.ico" />
    <link rel="stylesheet" href="/static/light/aeropostale/landingpage/default/styles/main.css"/>
    @@include('shared/campaign_respond.html')
    <!-- Add Optimizer Tests here -->
    <script type="text/javascript">
        window.TRACKING_PIXELS = {
            'A': {
                'view': 'http://pixel.watch/oetf',
                'click': 'http://pixel.watch/f08v'
            }
        };
        window.ACTIVE_TEST = 'A';
    </script>
    {% if environment == 'production' %}
        <script type='text/javascript'>
            var interval = setInterval(function() {
                var test, bindFn;

                if (!window.ACTIVE_TEST) {
                    return;
                }

                // Because we need to bind some events before anything else, use this fn
                // http://stackoverflow.com/a/2641047
                $.fn.bindFirst = function(name, fn) {
                    // bind as you normally would
                    // don't want to miss out on any jQuery magic
                    this.on(name, fn);

                    // Thanks to a comment by @Martin, adding support for
                    // namespaced events too.
                    this.each(function() {
                        var handlers = $._data(this, 'events')[name.split('.')[0]];
                        // take out the handler we just inserted from the end
                        var handler = handlers.pop();
                        // move it at the beginning
                        handlers.splice(0, 0, handler);
                    });
                };

                bindFn = function() {
                    (new Image).src = window.TRACKING_PIXELS[test].click;
                };

                clearInterval(interval);
                test = window.ACTIVE_TEST;

                // Append click pixel
                if (/Android|iPhone|iPad|iPod/i.test(navigator.userAgent)) {
                    $('.tile').bindFirst('click', bindFn);
                } else {
                    // Why doesn't bindFirst work on desktop?
                    $('body').on('click', '.tile', bindFn);
                }


                // Append page view pixel
                (new Image).src = window.TRACKING_PIXELS[test].view;
            }, 1000);
        </script>
    {% endif %}
    <title>{{ page.name|default:"Aeropostale" }}</title>
</head>
<body class="{% if tile %}stl{% endif %}">
    <div class='navbar'>
        <div class="container">
            <a href="http://www.aeropostale.com/" target="_blank">
                <img class="logo" src="/static/light/aeropostale/landingpage/default/images/logo.png" />
            </a>
            <a href="http://www.aeropostale.com/category/index.jsp?categoryId=43421136" target="_blank">
                <img class="logo" src="/static/light/aeropostale/landingpage/default/images/logo2.png" />
            </a>
            <a href="http://www.aeropostale.com/category/index.jsp?categoryId=3534620" target="_blank">
                <img class="logo" src="/static/light/aeropostale/landingpage/default/images/logo3.png" />
            </a>
        </div>
    </div>

    @@include('shared/campaign_body.html')

    <div>
        <script type="text/template" id="banner_tile_template">
            <div class="tile-border">
                <div class="image-container">
                    <img class="focus" src="<%= obj.images[0].url %>" alt="<%= caption %>" />
                </div>
                <% if (App.option('debug', 0) > 1) { %>
                    <span class="type"><%= obj['content-type'] %></span>
                <% } %>
                <div class="name">
                    <%= obj.title || obj.name %>
                </div>
                <div class="price">
                    <% if (obj.sale_price) { %>
                        <span class="strike">
                            <%- obj.price %>
                        </span>
                        Now <%- obj.sale_price %>
                    <% } else { %>
                        <%- obj.price %>
                    <% } %>
                </div>
            </div>
            <div class="overlay">
                <div class='table'>
                    <div class='cell'>
                        <div class="buy">
                            <a class='button' href='<%= obj.url %>' target='_blank'>
                                Shop Now
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </script>

        <script type="text/template" id="image_tile_template">
            <div class='relative'>
                <img class="focus" src="<%= obj.images[0].url %>" alt="<%= obj.caption %>" />
            </div>
            <% if (App.option("debug", 0) > 1) { %>
                <span class="type"><%= obj["content-type"] %></span>
            <% } %>
            <div class="overlay">
                <div class='table'>
                    <div class='cell'>
                        Shop the Look &gt;
                    </div>
                </div>
            </div>
        </script>

        <script type="text/template" id="product_galleryMainImage_template">
            <% if (obj.images.length > 1) { %>
                <div class="gallery-swipe-left"></div>
                <div class="gallery-swipe-right"></div>
            <% } %>
            <div class="main-image-container">
                <div class="main-image">
                    <% for (var i = 0; i < obj.images.length; i++) { %>
                        <img class="image" src="<%- obj.images[i].url %>" />
                    <% } %>
                </div>
            </div>
        </script>

        <script type="text/template" id="image_preview_template">
            <% if (obj['tagged-products'].length) { %>
                <% var product = obj['tagged-products'][0]; %>
                <div class="image-with-tagged-products">
                    <div class="table">
                        <div class="row">
                            <div class="cell desktop-only image-cell">
                                <img src="<%= obj.images[0].url %>" alt="image" class="image"/>
                                    <% if (obj['tagged-products'].length > 1 && obj.orientation === 'landscape') { %>
                                    <div class="landscape">
                                        <div class="stl-title">
                                            Shop the look
                                        </div>
                                        <div class="stl-look">
                                            <% var related = obj['tagged-products']; %>
                                            <% for (var i = 0; i < related.length; i++) { %>
                                                <div class="stl-item" data-index="<%- i %>">
                                                    <img src="<%- related[i].images[0].url %>" />
                                                    <%- related[i].name %>
                                                </div>
                                            <% } %>
                                        </div>
                                    </div>
                                <% } %>
                            </div>
                            <div class="cell mobile-only">
                                <img src="<%= obj.images[0].url %>" alt="image"/>
                            </div>
                            <% if (obj['tagged-products'].length > 1 && obj.orientation !== 'landscape') { %>
                                <div class="cell desktop-only shop">
                                    <div class="stl-title">
                                        Shop the look
                                    </div>
                                    <div class="stl-look">
                                        <% var related = obj['tagged-products']; %>
                                        <% for (var i = 0; i < related.length; i++) { %>
                                            <div class="stl-item" data-index="<%- i %>">
                                                <img src="<%- related[i].images[0].url %>" />
                                                <%- related[i].name %>
                                            </div>
                                        <% } %>
                                    </div>
                                </div>
                            <% } %>
                            <div class="cell info">
                                <% if (App.support.mobile()) { %>
                                    <div class='title'></div>
                                    <div class='price'></div>
                                <% } %>
                                <div class='relative'>
                                    <div class="gallery-main-image"></div>
                                    <div class='gallery-dots<% if (product.images.length < 2) { %> hide<% } %>'></div>
                                    <% if (App.support.mobile()) { %>
                                        <div class='buy'></div>
                                    <% } %>
                                </div>
                                <% if (!App.support.mobile()) { %>
                                    <div>
                                        <div class='title'></div>
                                        <div class='price'></div>
                                    </div>
                                    <div class='buy'></div>
                                    <div class='description'></div>
                                <% } %>
                            </div>
                            <% if (obj['tagged-products'].length > 1) { %>
                                <div class="cell mobile-only">
                                    <div class="stl-title">
                                        Shop the look
                                    </div>
                                    <div class="stl-look">
                                        <% var related = obj['tagged-products'] %>
                                        <% for (var i = 0; i < related.length; i++) { %>
                                            <div class="stl-item" data-index="<%- i %>">
                                                <img src="<%- related[i].images[0].url %>" />
                                                <%- related[i].name %>
                                            </div>
                                        <% } %>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            <% } else { %>
                <div class="image-without-tagged-products">
                    <div class="table">
                        <div class="row">
                            <div class="cell">
                                <img src="<%= obj.images[0].url %>" alt="image" class="main-image" />
                            </div>
                            <div class="cell info">
                                <div class="title">
                                    Coming soon to Aeropostale!
                                </div>
                                <div class="buy">
                                    <a class='button' href='http://www.aeropostale.com/' target='_blank'>
                                        Shop On Aeropostale
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
        </script>
    </div>

    <div class="container">
        <!-- .container is bootstrap magic, and has a viewport-dependent width. -->
        <div id="hero-area"></div>
        <div id="hero-sub-banner">
            {% if legal_copy %}
                <div class="legal us">
                    {{ legal_copy }}
                </div>
            {% endif %}
        </div>
        <div id="category-area"></div>
        <div id="discovery-area" class="discovery-area"></div>
        <div class="tile-sizer tile"></div>
        <div class="no-noscript loading"></div>
        <noscript>
            <!-- promotions to show when user does not have javascript.
             this is a 'we need javascript' message by default.
             -->
            <div class="alert alert-danger">
                <b>Oh no!</b> We need JavaScript enabled to show you this page.
            </div>
        </noscript>
    </div>

    <img src="{% url 'apps.tracking.views.pixel' %}"/>
    <div>
        @@include('shared/default_templates.html')
    </div>
    <script type="text/javascript" src="/static/light/aeropostale/landingpage/default/scripts/main.js" async></script>
    <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-3093561-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
    </script>

</body>
</html>
