html, body {
    margin: 0;
    margin-top: 1px;
    padding: 0;
    width: 100%;
    height: 100%;
    background: url('greyzz/greyzz_@2X.png') repeat;
}

.featured {
    width: 100%;
    height: 390px;
    background:url('https://s3-us-west-2.amazonaws.com/static-misc-secondfunnel/images/GAP-Web-Trial-heroimage.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.discovery-area {
    width: 100%;
    position: relative;
}

.loading {
    background: url('https://s3.amazonaws.com/elasticbeanstalk-us-east-1-056265713214/images/ajax-spinner.gif');
    background-repeat: no-repeat;
    margin-left: 50%;
    min-width: 20px;
    min-height: 20px;
    padding-bottom: 20px;
}


.discovery-area .tile.spinner:before {
    content: url('https://s3.amazonaws.com/elasticbeanstalk-us-east-1-056265713214/images/ajax-spinner.gif');
    display: block;
    position: absolute;
    top: 48%;
    left: 48%;
    width: 32px;
    height: 32px;
    z-index: 99;
}

.discovery-area .tile {
    margin: 5px;
    padding: 5px;
    display: inline-block;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
}

.discovery-area .tile img {
    min-width: 200px;
    max-width: 450px;
    min-height: 200px;
    max-height: 400px;
}

.discovery-area .tile:hover,
.discovery-area .tile:hover .type,
.discovery-area .tile:hover .caption {
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    visibility: visible;
}

.discovery-area .tile .caption {
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    font-size: 13px;
    z-index: 100;
    left:5px;
    bottom: 5px;
    width: 100%;
    min-height: 100px;
    padding-bottom: 5px;
    text-align: center;
    vertical-align: middle;
    display: table;
    visibility: hidden;
}

.discovery-area .tile .caption span {
    display: table-cell;
    vertical-align: middle;
}

.discovery-area .tile .type {
    position: absolute;
    left: 5px;
    top: 5px;
    color: #FFF;
    background-color: #2F2f2F;
}

.discovery-area .tile .caption,
.discovery-area .tile .type {
    display: none !important;
}