<!DOCTYPE html>
<html>
    <head>
        <title>BackboneJS Gap Landing Page</title>
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="default.css" />
        <!-- End CSS -->
    </head>

    <body>
        <div class="wrapper">
            <div class="featured"></div>
            <div class="discovery-area" id="discovery-area"></div>
            <div class="loading"></div>
        </div>
        <!-- Templates -->
        <script type="text/template" id="product">
            <div class="tile" type="<%= data['content-type'] %>">
                <img src="<%= data['image'] %>" alt="<%= data['caption'] %>" />
                <span class="type"><%= data['content-type'] %></span>
                <div class="caption">
                    <span><%= data['caption'] %></span>
                </div>
            </div>
        </script>
        <script type="text/template" id="youtube">
            <div class="tile" type="youtube">
              <iframe type="text/html" width="<%= data['width'] %>px" height="<%= data['height'] %>px"
                        src="http://www.youtube.com/embed/<%= data['original-id'] %>?autoplay=<%= data['autoplay'] %>"
                        frameborder="0" />
            </div>
        </script>
        <!-- End Templates -->
        <!-- Javascript Files -->
        <script type="text/javascript">
            window.PAGES_INFO = {
                'base_url': "http://www.secondfunnel.com",
                'store': {
                    'id': "38",
                    'name': "gap",
                },
                'campaign': 96
            };
        </script>
        <script type="text/javascript" src="jquery.min.js"></script>
        <script type="text/javascript" src="json2.js"></script>
        <script type="text/javascript" src="underscore.js"></script>
        <script type="text/javascript" src="backbone.js"></script>
        <script type="text/javascript" src="imagesloaded.pkgd.min.js"></script>
        <script type="text/javascript" src="jquery.masonry.pkgd.min.js"></script>
        <script type="text/javascript" src="pages.backbone.js"></script>
        <!-- End Javascript -->
    </body>
</html>
