<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <title>{% block head %}Secondfunnel {% endblock %}Console</title>


    <!--  Bootstrap  -->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link href="{% static "css/style-responsive.css" %}" rel="stylesheet">
    <link href="{% static "css/jquerysctipttop.css" %}" rel="stylesheet" type="text/css">
    <!--  HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries  -->
    <!--  WARNING: Respond.js doesn't work if you view the page via file://  -->
    <!-- [if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif] -->
</head>
<body class="dark-theme">

{% block body %}
{% endblock %}

<!--  jQuery (necessary for Bootstrap's JavaScript plugins)  -->
<script src="{% static "js/jquery-2.0.2.min.js" %}"></script>
<!--  Include all compiled plugins (below), or include individual files as needed  -->
<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
<script src="{% static "js/accordion.js" %}"></script>
<script src="{% static "js/common-script.js" %}"></script>
<script src="{% static "js/jquery.nicescroll.js" %}"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
{% block scripts %}{% endblock %}
</body>
</html>