<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <title>{% block head %}Secondfunnel {% endblock %}Console</title>


    <!--  Bootstrap  -->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link href="{% static "css/style-responsive.css" %}" rel="stylesheet">
    <link href="{% static "css/jquerysctipttop.css" %}" rel="stylesheet" type="text/css">
    <!--  HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries  -->
    <!--  WARNING: Respond.js doesn't work if you view the page via file://  -->
    <!-- [if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif] -->
</head>
<body class="dark-theme">
<div class="header navbar navbar-inverse box-shadow navbar-fixed-top">
    <div class="navbar-inner">
        <div class="header-seperation">
            <ul class="nav navbar-nav">
                <li class="sidebar-toggle-box"><a href="#"><i class="fa fa-bars"></i></a></li>
                <li class=""><a href="index.html"><strong>Second Funnel</strong></a></li>
                <li id="last-one"> <a href="/dashboard/logout/">Log Out <!-- i class="fa fa-angle-double-right"></i --></a> </li>
            </ul>
            <!-- /nav navbar-nav -->
        </div>
        <!-- /header-seperation -->
    </div>
    <!-- /navbar-inner -->
</div>
<!-- /header -->

<div class="page-container">
{% block sidebar %}
    <div class="nav-collapse top-margin fixed box-shadow2 hidden-xs" id="sidebar">
        <div class="leftside-navigation">
            <ul id="nav-accordion" class="sidebar-menu">
                <li><a href="#" class="active"> <i class="fa fa-dashboard"></i> <span>Dashboards</span> </a></li>
                <li class="sub-menu dcjq-parent-li"><a href="javascript:;" class="dcjq-parent"> <i
                        class="fa fa-book"></i>
                    <span>Your Campaign</span><i class="pull-right fa fa-sort-down"></i></a>
                    <ul class="sub">
                        <li><a href="calendar.html"><i class="fa fa-calendar-o"></i> Calender</a></li>
                        <li><a href="compose-mail.html"><i class="fa fa-envelope"></i> Send Message</a></li>
                        <li><a href="invoice.html"><i class="fa fa-money"></i> Invoice</a></li>
                    </ul>
                </li>
            </ul>
            <!--  /nav-accordion sidebar-menu  -->
        </div>
        <!--  /leftside-navigation  -->
    </div>
    <!--  /sidebar  -->
{% endblock %}
{% block main %}{% endblock %}
</div>
<!-- /page-container end -->

<!--  jQuery (necessary for Bootstrap's JavaScript plugins)  -->
<script src="{% static "js/jquery-2.0.2.min.js" %}"></script>
<!--  Include all compiled plugins (below), or include individual files as needed  -->
<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
<script src="{% static "js/accordion.js" %}"></script>
<script src="{% static "js/common-script.js" %}"></script>
<script src="{% static "js/jquery.nicescroll.js" %}"></script>
<script src="{% static "js/jquery.sparkline.js" %}"></script>
<script src="{% static "js/sparkline-chart.js" %}"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
{% block scripts %}{% endblock %}
</body>
</html>