{% extends 'dashboard_base.html' %}
{% block body %}
<div class="header navbar navbar-inverse box-shadow navbar-fixed-top">
    <div class="navbar-inner">
        <div class="header-seperation">
            <ul class="nav navbar-nav">
                <li class=""><a href="/dashboard/"><strong>Second Funnel</strong></a></li>
                <li id="last-one"> <a href="/dashboard/logout/">Log Out</a></li>
            </ul>
            <!-- /nav navbar-nav -->
        </div>
        <!-- /header-seperation -->
    </div>
    <!-- /navbar-inner -->
</div>
<!-- /header -->

<div class="page-container">
{% block sidebar %}
{% endblock %}
{% block main %}{% endblock %}
</div>
<!-- /page-container end -->
{% endblock %}
