<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <title>{% block head %}Secondfunnel {% endblock %}Console</title>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <!--  Bootstrap  -->
    <link rel="stylesheet" type='text/css' href="{% static "bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" type='text/css' href="{% static "multiselect/css/multi-select.css" %}">

    <link rel="stylesheet" type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:400,300'>
    <link rel="stylesheet" type='text/css' href="{% static "css/font-awesome.min.css" %}">
    <link rel="stylesheet" type='text/css' href="{% static "css/style.css" %}">
    <link rel="stylesheet" type='text/css' href="{% static "css/style-responsive.css" %}">
    <link rel="stylesheet" type='text/css' href="{% static "css/jquerysctipttop.css" %}">
    <!--  HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries  -->
    <!--  WARNING: Respond.js doesn't work if you view the page via file://  -->
    <!-- [if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif] -->
</head>
<body class="dark-theme">

{% block body %}
{% endblock %}

<!--  jQuery (necessary for Bootstrap's JavaScript plugins)  -->
<script type="text/javascript" src="{% static "js/jquery-2.0.2.min.js" %}"></script>
<!--  Include all compiled plugins (below), or include individual files as needed  -->

<script type="text/javascript" src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/accordion.js" %}"></script>
<script type="text/javascript" src="{% static "js/common-script.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.nicescroll.js" %}"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<script type="text/javascript" src="{% static "js/jquery-ui.min.js" %}"></script>
<script type="text/javascript" src='{% static 'js/underscore-min.js' %}'></script>
<script type="text/javascript" src="{% static "js/backbone-min.js" %}"></script>
<script type="text/javascript" src="{% static "js/backbone-forms.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/backbone.marionette.min.js" %}"></script>

<script type="text/javascript" src="{% static "js/simpleUpload.min.js" %}"></script>
<script type="text/javascript" src="{% static "multiselect/js/jquery.multi-select.js" %}"></script>


{% block scripts %}{% endblock %}
</body>
</html>