{% extends 'console_base.html' %}
{% load static %}

{% block scripts %}
    <script type="text/javascript">
        dashboard = {{ dashboard_id }}
    </script>
    <script type="text/javascript" src="{% static "dashboard_graphs.js" %}"></script>
    <script type='text/javascript' src='{% static 'js/underscore-min.js' %}'></script>
{% endblock %}

{% block main %}
    <div id="main-content">
    <div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <h2><i class="fa fa-dashboard"></i> {{ siteName }} Dashboard</h2>
            <a href="/manage">Manage</a>
        </div>
    </div>
    <!--  /row  -->

    <div class="row">
        <div class="col-md-3 col-xs-6">
            <div class="panel">
                <div class="analytics-label" style="background: #0066cc; color:#fff;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="">
                                    Total visitors:
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="label-text" id="sessionCount">
                                    Loading
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/panel-->
        </div>
        <!-- /col-md-3 -->
        <div class="col-md-3 col-xs-6">
            <div class="panel">
                <div class="analytics-label" style="background: #0066cc; color:#fff;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="">
                                    Unique Visitors:
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="label-text" id="uniqueVisitors">
                                    Loading
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/panel-->
        </div>
        <!-- /col-md-3 -->
        <div class="col-md-3 col-xs-6">
            <div class="panel">
                <div class="analytics-label" style="background: #0066cc; color:#fff;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="">
                                    Bounce Rate:
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="label-text" id="bounceRate">
                                    Loading
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/panel-->
        </div>
        <!-- /col-md-3 -->
        <div class="col-md-3 col-xs-6">
            <div class="panel">
                <div class="analytics-label" style="background: #0066cc; color:#fff;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="">
                                    Time on site:
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="label-text" id="sessionDuration">
                                    Loading
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/panel-->
        </div>
    </div>
    <!-- /row  -->

    <div class="row">
        <div class="col-md-3 col-xs-6">
            <div class="panel">
                <div class="analytics-label" style="background: #0066cc; color:#fff;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="">
                                    Scroll Rate:
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="label-text" id="scrollRate">
                                    Loading
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/panel-->
        </div>
        <!-- /col-md-3 -->
        <div class="col-md-3 col-xs-6">
            <div class="panel">
                <div class="analytics-label" style="background: #0066cc; color:#fff;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="">
                                    Preview Rate:
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="label-text" id="previewRate">
                                    Loading
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/panel-->
        </div>
        <!-- /col-md-3 -->
        <div class="col-md-3 col-xs-6">
            <div class="panel">
                <div class="analytics-label" style="background: #0066cc; color:#fff;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="">
                                    Buy Now Rate:
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="label-text" id="buyNowRate">
                                    Loading
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/panel-->
        </div>
        <!-- /col-md-3 -->
        <div class="col-md-3 col-xs-6">
            <div class="panel">
                <div class="analytics-label" style="background: #0066cc; color:#fff;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="">
                                    Purchase Rate:
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="label-text" id="purchaseRate"> N/A</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/panel-->
        </div>
    </div>
    <!-- /row  -->

    <div class="row">
        <div class="col-md-6">
            <div class="block-web graph-container" id="dash-quickview">
                <h3 class="content-header">
                    At a glance:
                    <div data-toggle="buttons" class="button-group pull-right">
                        <a class="btn active small border-gray right-margin" id="quickview-total">
                            <span class="button-content">
                                <input type="radio" value="yes" name="quickview">
                                Total
                            </span>
                        </a>
                        <a class="btn small border-gray" id="quickview-today">
                            <span class="button-content">
                                <input type="radio" value="no" name="quickview">
                                Today
                            </span>
                        </a>
                    </div>
                </h3>
                <div class="graph" id="quickview-graph">
                    Currently loading data... Thank you for your patience
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="block-web graph-container">
                <h3 class="content-header">
                    Traffic information:
                    <div class="button-group pull-right" data-toggle="buttons">
                        <a href="javascript:;" class="btn active small border-gray right-margin" id="sortview-device">
                            <span class="button-content">
                                <input type="radio" name="sortview">
                                Device
                            </span>
                        </a>
                        <a href="javascript:;" class="btn small border-gray" id="sortview-source">
                            <span class="button-content">
                                <input type="radio" name="sortview">
                                User Type
                            </span>
                        </a>
                    </div>
                    <!--  /button-group  -->
                </h3>
                <div class="graph" id="sortview-graph">
                    Currently loading data... Thank you for your patience
                </div>
            </div>
            <!--  /block-web  -->
        </div>
        <!--  /col-md-6  -->
    </div>
    <!--  /row  -->

    <div class="row">
        <div class="col-md-12">
            <div class="block-web">
                <h3 class="content-header"> Traffic by Source
                    <div class="button-group pull-right" data-toggle="buttons">
                        <a href="javascript:;" class="btn active small border-gray right-margin" id="table-traffic-total">
                            <span class="button-content">
                                <input type="radio" name="metrics">
                                Total
                            </span>
                        </a>
                        <a href="javascript:;" class="btn small border-gray" id="table-traffic-today">
                            <span class="button-content">
                                <input type="radio" name="metrics">
                                Today
                            </span>
                        </a>
                    </div>
                    <!--   /button-group   -->
                </h3>
                <div id="source-table-traffic">
                    Currently loading data... Thank you for your patience
                </div>
                <!--  /custom-bar-chart  -->
            </div>
            <!--   /block-web  -->
        </div>
        <!-- /col -->
    </div>
    <!-- /row -->

    <div class="row">
        <!--   /col-md-6  -->
        <div class="col-md-12">
            <div class="block-web">
                <h3 class="content-header"> Goals by Source
                    <div class="button-group pull-right" data-toggle="buttons">
                        <a href="javascript:;" class="btn active small border-gray right-margin" id="table-goals-total">
                            <span class="button-content">
                                <input type="radio" name="table-goals">
                                Total
                            </span>
                        </a>
                        <a href="javascript:;" class="btn small border-gray" id="table-goals-today">
                            <span class="button-content">
                                <input type="radio" name="table-goals">
                                Today
                            </span>
                        </a>
                    </div>
                    <!--   /button-group   -->
                </h3>
                <div id="source-table-goals">
                    Currently loading data... Thank you for your patience
                </div>
                <!--  /custom-bar-chart  -->
            </div>
            <!--   /block-web  -->
        </div>
        <!--   /col-md-6  -->
    </div>
    <!--   /row end  -->

    <div class="row">
        <div class="col-md-12">
            <div class="block-web">
                <h3 class="content-header">
                    Total Conversions
                </h3>

                <div class="row graph-container">
                    <div class="col-xs-4 graph" id="total-conversions-mobile-graph">
                        Loading graph...
                    </div>
                    <div class="col-xs-4 graph" id="total-conversions-tablet-graph">
                        Loading graph...
                    </div>
                    <div class="col-xs-4 graph" id="total-conversions-desktop-graph">
                        Loading graph...
                    </div>
                </div>
                <!--  /custom-bar-chart  -->
            </div>
            <!--   /block-web  -->
        </div>
        <!--   /col-md-12  -->
    </div>
    <!--   /row end  -->

    <div class="row">
        <div class="col-lg-4">
            <div class="block-web graph-container">
                <h3 class="content-header">
                    Scroll Rate
                </h3>

                <div class="graph" id="scrollRate-graph">
                    Currently loading data... Thank you for your patience
                </div>
                <!--  /custom-bar-chart  -->
            </div>
            <!--   /block-web  -->
        </div>
        <!--   /col-lg-4  -->
        <div class="col-lg-4">
            <div class="block-web graph-container">
                <h3 class="content-header">
                    Product Preview Rate
                </h3>

                <div class="graph" id="productPreview-graph">
                    Currently loading data... Thank you for your patience
                </div>
                <!--  /custom-bar-chart  -->
            </div>
            <!--   /block-web  -->
        </div>
        <!--   /col-lg-4  -->
        <div class="col-lg-4">
            <div class="block-web graph-container">
                <h3 class="content-header">
                    Buy Now Rate
                </h3>

                <div class="graph" id="buyNow-graph">
                    Currently loading data... Thank you for your patience
                </div>
                <!--  /custom-bar-chart  -->
            </div>
            <!--   /block-web  -->
        </div>
        <!--   /col-lg-4  -->
    </div>
    <!--   /row end  -->

    <div class="row">
        <div class="col-md-12">
            <div class="block-web graph-container">
                <h3 class="content-header"> Metrics over time
                    <div class="button-group pull-right" data-toggle="buttons">
                        <a href="javascript:;" class="btn active small border-gray right-margin" id="metrics-sessions">
                            <span class="button-content">
                                <input type="radio" name="metrics">
                                Sessions and Bounces
                            </span>
                        </a>
                        <a href="javascript:;" class="btn small border-gray" id="metrics-duration">
                            <span class="button-content">
                                <input type="radio" name="metrics">
                                Session Duration
                            </span>
                        </a>
                    </div>
                    <!--   /button-group   -->
                </h3>
                <div class="graph" id="metrics-graph">
                    Currently loading data... Thank you for your patience
                </div>
                <!--  /custom-bar-chart  -->
            </div>
            <!--   /block-web  -->
        </div>
        <!--   /col-md-12  -->
    </div>
    <!--   /row end  -->

    <div class="row">
        <div class="col-md-12">
            <div class="block-web graph-container">
                <h3 class="content-header">Tiles:
                    <div class="button-group pull-right" data-toggle="buttons">
                        <a href="javascript:;" class="btn active small border-gray right-margin" id="tiles-rate">
                            <span class="button-content">
                                <input type="radio" name="tiles">
                                Preview Rate
                            </span>
                        </a>
                        <a href="javascript:;" class="btn small border-gray right-margin" id="tiles-preview">
                            <span class="button-content">
                                <input type="radio" name="tiles">
                                Previews
                            </span>
                        </a>
                        <a href="javascript:;" class="btn small border-gray" id="tiles-impression">
                            <span class="button-content">
                                <input type="radio" name="tiles">
                                Impressions
                            </span>
                        </a>
                    </div>
                    <!--   /button-group   -->
                </h3>
                <div style="overflow: scroll;">
                    <div class="graph" id="tile-statistics" style="width: 9999px;">
                        Currently loading data... Thank you for your patience
                    </div>
                </div>
                <!--  /custom-bar-chart  -->
            </div>
            <!--   /block-web  -->
        </div>
        <!--   /col-md-12  -->
    </div>
    <!--   /row end  -->


    </div>
    <!--  /page-content end  -->
    </div>
    <!--  /main-content end  -->

{% endblock %}
