{% extends 'console_base.html' %}
{% load static %}
{% if user.is_authenticated %}
    {% block head %} {{ user.first_name }} {% endblock %}
{% endif %}
{% block main %}

    <div id="main-content">
        <div class="page-content">

            <div class="row">
                <div class="col-md-12">
                    <h2>Welcome&nbsp;
                        {% if user.is_authenticated %}
                            {{ user.first_name }}
                        {% endif %}
                    </h2>
                </div>
                <!--/col-md-12-->
            </div>
            <!--/row-->


            <div class="row">
                <div class="col-md-12">

                    <div class="block-web">
                        {% for dash in dashboards %}
                            <a href="/dashboard/{{ dash.pk }}">

                                <button class="btn btn-primary btn-lg" type="button"
                                        style="width: 100%; margin: 10px 0 10px 0;">
                                    <span style="float: left;">
                                        {{ dash.site }}
                                    </span>
                                </button>
                            </a>
                        {% endfor %}
                    </div>
                    <!--/block-web-->

                </div>
                <!--/col-md-12-->
            </div>
            <!--/row-->


        </div>
        <!--/page-content end-->
    </div><!--/main-content end-->
{% endblock %}
