{% extends 'console_base.html' %}
{% load static %}
{% if user.is_authenticated %}
    {% block head %} {{ user.first_name }} {% endblock %}
{% endif %}
{% block scripts %}
    <script>
        var url_slug = {{ url_slug }};
    </script>
    <script type='text/javascript' src='{% static 'js/underscore-min.js' %}'></script>
    <script type="text/javascript" src="{% static "js/backbone-min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/backbone-forms.min.js" %}"></script>
    <script type="text/javascript" src="{% static "products.js" %}"></script>
    <script type="text/javascript" src="{% static "common.js" %}"></script>
{% endblock %}

{% block main %}
    <div id="main-content">
        <div class="page-content">
            <div class="row">
                <div class="col-md-12">
                    <h2><i class="fa fa-dashboard"></i>
                        Welcome
                        {% if user.is_authenticated %}
                            {{ user.first_name }}
                        {% endif %} to {{ siteName }} 
                        Dashboard Management
                    </h2>
                </div>
                <!--/col-md-12-->
            </div>
            <!--/row-->
 
            <div class="row" id="allforms">
                <div class="col-md-12">
                    <div class="block-web">       
                        <table style="height: 100%; width: 100%;">  
                            <tr style="width: 50%;">
                                <td>   
                                    <h3 class="content-header">
                                        Add product with:
                                    </h3>
                                </td>
                                <td>
                                    <h3 class="content-header">
                                        Remove product with:
                                    </h3>
                                </td>
                            </tr>
                            <tr style="width: 50%;">
                                <td valign="top">
                                    <div id="addProductDiv"></div>
                                    <input type="checkbox" id="product-force-create">Force create tile<br>
                                    <input type="submit" id="product-add-button" value="Add">
                                </td>
                                <td valign="top">
                                    <div id="removeProductDiv"></div>
                                    <input type="submit" id="product-remove-button" value="Remove">
                                </td>
                            </tr>
                        </table>
                        <div id="product-add-result"></div>
                        <div id="product-remove-result"></div>


                    </div>                    
                    <div class="block-web">       
                        <table style="height: 100%; width: 100%;">  
                            <tr style="width: 50%;">
                                <td>   
                                    <h3 class="content-header">
                                        Add content with:
                                    </h3>
                                </td>
                                <td>
                                    <h3 class="content-header">
                                        Remove content with:
                                    </h3>
                                </td>
                            </tr>
                            <tr style="width: 50%;">
                                <td valign="top">
                                    <div id="addContentDiv"></div>
                                    <input type="checkbox" id="content-force-create">Force create tile<br>
                                    <input type="submit" id="content-add-button" value="Add">
                                </td>
                                <td valign="top">
                                    <div id="removeContentDiv"></div>
                                    <input type="submit" id="content-remove-button" value="Remove">
                                </td>
                            </tr>
                        </table>
                        <div id="content-add-result"></div>
                        <div id="content-remove-result"></div>
                    </div>   
                    <!--/block-web-->
                </div>
                <!--/col-md-12-->
            </div>
            <!--/row-->


        </div>
        <!--/page-content end-->
    </div><!--/main-content end-->
{% endblock %}
