{% extends 'console_base.html' %}
{% load static %}
{% if user.is_authenticated %}
    {% block head %} {{ user.first_name }} {% endblock %}
{% endif %}

{% block scripts %}
    <script>
        var tileIDs = {{ tileIDs }};
        var tiles = [];
        var completeTiles = [];
        var pageID = {{ pageID }};
        {% for tile in tileList %}
        	tiles.push({'id': {{ tile.id }}, 'priority': {{ tile.priority }} });
        {% endfor %}
    </script>
    <script type='text/javascript' src='{% static 'js/underscore-min.js' %}'></script>
    <script type="text/javascript" src="{% static "js/backbone-min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/backbone-forms.min.js" %}"></script>
    <script type="text/javascript" src="{% static "tiles.js" %}"></script>
    <script type="text/javascript" src="{% static "common.js" %}"></script>
	<script src="{% static "js/jquery-ui.min.js" %}"></script>
{% endblock %}

{% block main %}
    <div id="main-content">
        <div class="page-content">
            <div class="row">
                <div class="col-md-12">
                    <h2><i class="fa fa-dashboard"></i>
                        Welcome
                        {% if user.is_authenticated %}
                            {{ user.first_name }}
                        {% endif %} to {{ siteName }} 
                        Dashboard Management
                    </h2>
                </div>
                <!--/col-md-12-->
            </div>
            <!--/row-->
        	
            <div class="block-web" id="swapTiles">
            	<h3 class="content-header">
            		Swap tile positions
            	</h3>
            	Tile 1: <input type="text" id="tile1">
            	Tile 2: <input type="text" id="tile2"></br>
            	<button type="button" class="btn btn-default" onclick="swapTilePositions(document.getElementById('tile1').value,document.getElementById('tile2').value)">
		            Swap
		        </button>
		        <button type="button" class="btn btn-default" onclick="window.location.reload()">
		        	Refresh
		        </button>
		        <div id="swapResult"></div>
            </div>

            <div class="block-web">
		        <h3 class="content-header">
		            Backbone view List of tiles
		        </h3>    
		                
		    </div>
		    <!-- Prioritize/Re-order tiles -->
		    <div class="block-web">
		        <h3 class="content-header">
		            List of current tiles
		        </h3>
		        <div id="moveTilesResult"></div>

		        <div id="all-tiles">
		            {% for tile in tileList %}
		        	<div class='tile-list' class="sortable">
				        <a href="#{{ tile.id }}" role="button" data-toggle="modal">
				        	<img src={{ tile.img }} alt={{ tile.id }}>
				        </a>
		            	<div class='tile-info'>
		            		{{ tile.template }} </br> 
		            		{% if tile.priority == 0 %}
		            			<font color="red">Priority: {{ tile.priority }} </br></font>
		            		{% else %}
		            			Priority: {{ tile.priority }} </br>
		            		{% endif %}
		            		ID: {{ tile.id }} </br>
		            		{{ tile.name }}

		            		<!-- Modal -->
		            		<div class="modal fade" id="{{ tile.id }}" role="dialog">
		            			<div class="modal-dialog">
		            				<!-- Modal Content-->
		            				<div class="modal-content">
		            					<div class="modal-header">
		            						<button type="button" class="close" data-dismiss="modal">&times;</button>
		            						<h4 class="modal-title">{{ tile.name }}</h4>
		            					</div>
		            					<div class="modal-body">
		            						Current Priority: {{ tile.priority }}</br>
		            						New Priority: <input type="text" id="new_priority_{{ tile.id }}">
		            						<div id="result_{{ tile.id }}"></div>
		            						Tagged Products IDs: {{ tile.tagged_products }}
		            					</div>
		            					<div class="modal-footer">
		            						<button type="button" class="btn btn-default" onclick="editTile({{ tile.id }}, document.getElementById('new_priority_{{ tile.id }}').value)">
		            							Change Priority
		            						</button>
		            						<button type="button" class="btn btn-default" data-dismiss="modal" onclick="checkPrio({{ tile.id }})">
		            							Close
		            						</button>
		            					</div>
		            				</div>
		            			</div>
		            		</div>
		            	</div>
			        </div>
		            {% endfor %}
	        	</div>
		    </div>
		</div>
	</div>

{% endblock %}
