{% extends 'console_base.html' %}
{% load static %}
{% if user.is_authenticated %}
    {% block head %} {{ user.first_name }} {% endblock %}
{% endif %}

{% block scripts %}
    <script>
        var pageID = {{ pageID }};
    </script>
    <script src="{% static "js/jquery-ui.min.js" %}"></script>
    <script type='text/javascript' src='{% static 'js/underscore-min.js' %}'></script>
    <script type="text/javascript" src="{% static "js/backbone-min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/backbone-forms.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/backbone.marionette.min.js" %}"></script>
    <script type="text/javascript" src="{% static "tiles.js" %}"></script>
    <script type="text/javascript" src="{% static "common.js" %}"></script>
{% endblock %}

{% block main %}
    <div id="main-content">
        <div class="page-content">
            <div class="row">
                <div class="col-md-12">
                    <h2><i class="fa fa-dashboard"></i>
                        {{ siteName }}
                    </h2>
                </div>
                <!--/col-md-12-->
            </div>
            <!--/row-->

            <div class="block-web">
                <div id="moveTilesResult"></div>
                <ul id="backbone-tiles">
                    <script type="text/template" id="tile-template">
                        <div class='handle'><span class='ui-icon ui-icon-carat-2-n-s'></span></div>
                        <a href="#modal_<%= id %>" role="button" data-toggle="modal">
                            <img src="<%= defaultImage %>" alt={{ tile.id }}>
                        </a>
                        <div class='tile-info'>
                            <%= toTitleCase(template) %> </br>
                            <% if (priority <= 0) %>
                                <font color="red">Priority: <%= priority %></font> </br>
                            <% else { %>
                                Priority: <%= priority %> </br>
                            <% } %>
                            ID: <%= id %> </br>
                            <%= name %> </br>

                            <div class="modal" id="modal_<%= id %>" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title"><%= name %> </br></h4>
                                        </div>
                                        <div class="modal-body">
                                            Current Priority: <%= priority %></br>
                                            New Priority: <input type="text" id="new_priority_<%= id %>">
                                            <div id="error_<%= id %>"></div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" id="editTile" class="btn btn-default">
                                                Change Priority
                                            </button>
                                            <button type="button" id="closeButton"  class="btn btn-default" data-dismiss="modal">
                                                Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </script>
                </ul>  
            </div>
        </div>
    </div>

{% endblock %}
